<?php if(isset($display)){ 
?><div class="row">
    <div class="col-xs-12">
        <ul class="menu-btn">
          <li class="<?php echo (isset($notification)) ? 'active' : ''; ?>">
                    <?php echo $this->Html->link("<i class='fa fa-shopping-cart'></i>Notification", array('controller' => 'compliance', 'action' => 'notification'), array('escape' => false)); ?>
                </li>
              
         
               

       <li class="<?php echo (isset($upload_store_lic)) ? 'active' : ''; ?>">
                    <?php echo $this->Html->link("<i class='fa fa-shopping-cart'></i>Upload Store Lic", array('controller' => 'compliance', 'action' => 'upload_store_lic'), array('escape' => false)); ?>
                </li>
        </ul>
    </div>
</div><?php } ?>