<!--<script type="text/javascript">
jQuery( document ).ready(function() {  
	// validate the form when it is submitted
	$("#CompanyAdminAddForm").validate();
	
		$("#CompanyName").rules("add", {
			required:true,
			messages: {
				required: "Please enter Company Name"
			}
		});
		$("#CompanyEmail").rules("add", {
			required:true,
			messages: {
				required: "Please enter Email"
			}
		});
		$("#CompanyPassword").rules("add", {
			required:true,
			messages: {
				required: "Please enter password"
			}
		});
	   
   
 });  
</script>-->
<?php echo $this->Html->script(array('admin/custom')); ?>
 <?php echo $this->Form->create('RGroceryItem', array('role' => 'form', 'type' => 'file'), array('inputDefaults' => array('label' => false, 'div' => false, 'required' => false))); ?>

<div class="page-content">

     <div class="content-new">
      <div class="row">
        <div class="col-xs-12">
          <h3 class="page-title"> <i class="fa fa-reorder"></i> Add New Store DATA</h3>
        </div>
      </div>
    </div>
	
    <div class="row">
        <div class="col-md-12 ">
            <!-- BEGIN SAMPLE FORM PORTLET-->
            <div class="portlet box blue">
                <div class="portlet-title">
                </div></div>
                <!--  <p style="padding-left:20px;"><span class="star" >*</span> for mandetory field</p>-->
                </div>

        <div class="form-body col-xs-12">
                <div class="col-md-6 col-sm-12">
                  <p style="padding-left:20px;">Export Store Id</p>
                   <div class="portlet blue box">
                   
                           <div class="portlet-body">
                              <div class="row static-info">
                                <div class="col-md-5 name">
                                   Select Store:<span class="star">* </span>	 
                                </div>
                                <div class="col-md-7 value">
                                    <?php echo $this->Form->input('exp_store_id', array('class' => 'form-control', 'required' => 'false', 'label' => false, 'placeholder' => 'Select Store', 'options'=>$storedata,'empty'=>'Select Store','id'=>'exp_store_id')); ?>
                                </div>
                               </div>
               				 <div class="row">&nbsp;</div>
                              <div class="row static-info">
                                <div class="col-md-5 name">
                               
                                   Select Department:<span class="star">* </span>	 
                                </div> 
                               
                                <div class="col-md-7 value" id="description">
                                    <?php echo $this->Form->input('exp_dep_id', array('class' => 'form-control', 'required' => 'false', 'label' => false, 'placeholder' => 'Select Store','empty'=>'Select Department','id'=>'exp_dep_id')); ?>

                                </div>
                                
                            </div>
                            </div>             
                        </div>                
                 </div>
                <div class="col-md-6 col-sm-12">
                  <p style="padding-left:20px;">Import Store Id</p>
                   <div class="portlet blue box">
                  
                           <div class="portlet-body">
                              <div class="row static-info">
                                <div class="col-md-5 name">
                                   Select Store:<span class="star">* </span>	 
                                </div>
                                <div class="col-md-7 value">
                                    <?php echo $this->Form->input('imp_store_id', array('class' => 'form-control', 'required' => 'false', 'label' => false, 'placeholder' => 'Select Store', 'options'=>$storedata,'empty'=>'Select Store','id'=>'imp_store_id')); ?>
                                </div>
                               </div>
               				 <div class="row">&nbsp;</div>
                              <div class="row static-info">
                                <div class="col-md-5 name">
                                   Select Department:<span class="star">* </span>	 
                                </div>
                                <div class="col-md-7 value" id="description2">
                                    <?php echo $this->Form->input('imp_dep_id', array('class' => 'form-control', 'required' => 'false', 'label' => false, 'placeholder' => 'Select Store','empty'=>'Select Department','id'=>'imp_dep_id')); ?>

                                </div>
                            </div>
                            </div>             
                        </div>                
                 </div>
			</div>
	</div>
    <div class="form-actions" style="text-align:right;">
        <button type="submit" class="btn blue">Submit</button>
        <!--<button type="reset" class="btn default">Reset</button>-->
        <style>
        .tik{    margin-top: -10px !important;}
        </style>
            <?php 
		echo $this->Html->link("Reset",array('controller'=>'Rstores','action'=>'index'),array('escape' => false,'class'=>'btn default tik'));
		?>    
     
       <!-- <button type="button" onclick="javascript:history.back(1)"
                class="btn default">Cancel</button>-->
	</div>
</div>
<?php echo $this->form->end(); ?>

<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
	 
		$('#exp_store_id').change(function(){
		var store_id = $(this).val();
//		alert(pul);
		$.ajax({
				url: '<?php echo Router::url('/') ?>admin/Rstores/getdep',
                type: 'post',
                data: {store_id:store_id},
                success:function(data){
				//alert(data);
					$('#description').html(data);
				/*	getplu();*/
                }
            });
		});
		
		$('#imp_store_id').change(function(){
		var store_id = $(this).val();
//		alert(pul);
		$.ajax({
				url: '<?php echo Router::url('/') ?>admin/Rstores/getdep1',
                type: 'post',
                data: {store_id:store_id},
                success:function(data){
				//alert(data);
					$('#description2').html(data);
				/*	getplu();*/
                }
            });
		});
		
		
		
    });

</script>