<div class="page-content-wrapper">
<div class="portlet box blue">
               <div class="page-content portlet-body">
<div class="rubyUtierts index">
	<h3 class="page-title"><?php echo __('Daily Reporting'); ?> <span class="btn green fileinput-button" style="margin-right:10px;">
                        <a href="<?php echo Router::url('/') ?>admin/ruby_dailyreportings/add"><i class="fa fa-plus"></i>  <span>Add New</span></a> 
							
                    </span></h3>
                    
                    
         <div class="row">
                <div class="portlet-body col-md-12">
                    <?php                    	
                    echo $this->Form->create('RubyDailyreporting', array('action' => 'index', 'role' => 'form', 'type' => 'file'));
                    ?>	                   
                    <div class=" col-md-4">
                        <?php                        
                        include('multidatepicker.ctp');
                        ?>    
                    </div>	   
                    <div class=" col-md-1">
                        <button name="getdata" class="btn btn-success" type="submit">Submit</button>
                    </div>
                    <div class=" col-md-2">
                        <a href="<?php echo Router::url('/'); ?>admin/ruby_dailyreportings/index" class="btn btn-warning ">Reset</a> 
                    </div>		
                    <?php echo $this->form->end(); ?>                       
                </div>
            </div>           
    <br />                
    
<div class="row">
<div class="col-md-12">
       <div class="block-inner clearfix tooltip-examples">
 	   
 	 <div class="datatable">
	<table class="table table-striped table-bordered table-advance table-hover" id="example">
	<thead>
	<tr>
			<th><?php echo $this->Paginator->sort('Date'); ?></th>
			<th><?php echo $this->Paginator->sort('Zreading'); ?></th>
			<th><?php echo $this->Paginator->sort('Total In'); ?></th>
			<th><?php echo $this->Paginator->sort('Total Out'); ?></th>
			<th><?php echo $this->Paginator->sort('Short/OVer'); ?></th>
		
			
			<th><?php echo 'Action'; ?></th>
			
			
	</tr>
	</thead>
	<tbody>
	<?php 
	//echo '<pre>';print_r($reports);die;
	
	if(isset($reports)) { foreach ($reports as $rubyUtiert): ?>
	<tr>
	   <td><?php echo date('jS F Y',strtotime($rubyUtiert['RubyDailyreporting']['reporting_date'])); ?>&nbsp;</td>
		<td><?php echo h($rubyUtiert['RubyDailyreporting']['z_reading']); ?>&nbsp;</td>
		<td><?php echo $rubyUtiert['RubyDailyreporting']['Total_In']; ?>&nbsp;</td>
		<td><?php echo h($rubyUtiert['RubyDailyreporting']['Total_Out']); ?>&nbsp;</td>
		<td><?php echo h($rubyUtiert['RubyDailyreporting']['Short_Over']); ?>&nbsp;</td>
		<td>
                                      <?php echo $this->Html->link('<img src="'.Router::url('/').'img/edit.png"/>',array('controller'=>'ruby_dailyreportings','action'=>'edit/'.$rubyUtiert['RubyDailyreporting']['id']) ,array('class'=>'newicon red-stripe edit','escape' => false)); ?>
                                                        <?php echo $this->Html->link('<img src="'.Router::url('/').'img/delete.png"/>',array('controller'=>'ruby_dailyreportings','action'=>'index',$rubyUtiert['RubyDailyreporting']['id']) ,array('class'=>'newicon  red-stripe delete','escape' => false,'confirm'=>'Are you sure you want to delete?')); ?>
        
        
         
         
        <?php if($rubyUtiert['RubyDailyreporting']['file']!='')
        {
        ?>      
        <a href="<?php echo $this->webroot.'rubydailyreportingdocs/'.$rubyUtiert['RubyDailyreporting']['file'];?>" class="" target="_blank"><img src="<?php echo $this->webroot?>images/attachment.png" width="20px;"></a>
        <?php
        }else{
		?>
        <!--<h5 style="display:inline;">No file</h5>-->
        <?php
		}
        ?>
        
         <?php if($rubyUtiert['RubyDailyreporting']['note']!='')
        {
        ?> 
         <div class="z-reading hideleb">
           <a class=""  data-toggle="modal" data-target="#myModalNote<?php echo $rubyUtiert['RubyDailyreporting']['z_reading'];?>" style="padding-left:10px;"><img src="<?php echo $this->webroot?>images/note_icon.png" width="20px;"></a>
           </div>
         <div class="modal fade" id="myModalNote<?php echo $rubyUtiert['RubyDailyreporting']['z_reading'];?>" role="dialog">
                            <div class="modal-dialog modal-lg">                              
                                  <div class="modal-content">
                                    <div class="modal-header" style=" padding: 20px;">                                     
                                      <h3 class="modal-title">Note:</h3>
                                    </div>                                   
                                    <div class="modal-body credit-card-cont">
                                            <div class=""><!--<span>Note:</span> <br> --> 
                                     <?php echo $rubyUtiert['RubyDailyreporting']['note'];?>
                                            </div>                                           
                                        </div>                                 
                                      
        <div class="modal-footer">                                 
          <button type="button" id="note_finish" class="btn-primary finish" data-dismiss="modal" >Close</button>
          <button type="button" id="note_close" class="btn-default" data-dismiss="modal"  style="float: left;">Close</button>
        </div>
        
        </div>
                              
        </div>
        
        </div> 
        <?php
		}else{
        ?>
       <!-- <h5 style="display:inline;">No Note</h5>-->
        <?php 
		}
		?>
        </td>
		
	</tr>
<?php endforeach; } ?>
	</tbody>
	</table>
    <?php
if ($full_date == '' || $full_date == '// - //') {
    ?>        
    <script>
        $(document).ready(function () {
        $('#config-demo').val('');
        });
     </script>
    <?php
}
?>
    <style>       

	.view_file{
		width: 30px;
		border: medium none;
		padding: 10px;
		color: #FFF;		
		font-size: 13px;		
	}	
 
.ntestyl {
    color: #788288 !important;
    border-color: #D2DAE1 #D2DAE1 #CBD5DD;
    box-shadow: 0px 1px 1px rgba(90, 90, 90, 0.1);
    padding: 5.2px 10px;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 3px;
    display: inline-block;
    margin-bottom: 0px;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    box-shadow: 0px 1px 1px rgba(90, 90, 90, 0.1);
    color: #788288 !important;
    background-color: #EBEEF4;
    border-color: #B9C6D0;
    margin: 0;	
}
div.z-reading.hideleb{ display:inline;}
</style>
	</div>
</div>
</div>
	</div>
	</div>
</div>
</div>
</div>


