<div class="page-content-wrapper">
<div class="portlet box blue">
               <div class="page-content portlet-body" >


        <!-- BEGIN PAGE HEADER-->
        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                

                <!-- END PAGE TITLE & BREADCRUMB-->
            </div>
        </div>
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <div class="row">
		  <div class="col-md-12">
            <?php echo $this->Form->create('RGroceryItem', array('role' => 'form', 'type' => 'file'), array('inputDefaults' => array('label' => false, 'div' => false, 'required' => false))); ?>
            <div class="col-md-3" id="getplunos">
            <label>Scan Code</label>
            <?php echo $this->Form->input('scan_code', array('class' => 'form-control','type'=>'text', 'label' => false, 'required' => false, 'id' =>'scan_code','placeholder'=>'Scan Code')); ?>
            <br/>
            </div>
            <div class="col-md-3" id="getplunos">
            <label>Item Name</label>
            
            <?php echo $this->Form->input('item_name', array('class' => 'form-control','type'=>'text', 'label' => false, 'required' => false, 'id' =>'item_name','placeholder'=>'Item Name')); ?>
            <br/>
            </div>
            <div class="col-md-3">
            <label>Department</label>
            <?php echo $this->Form->input('department', array('class' => 'form-control','type'=>'select', 'label' => false, 'required' => false, 'id' =>'department','options'=>$departmentlist,'empty'=>'Filter by department')); ?>
            <br/>
            </div>
            
            <div class="col-md-3">
            <?php $taxtype=array('0'=>'NO','1'=>'YES'); ?>
            <label>Tax Type</label>
            <?php echo $this->Form->input('tax_type', array('class' => 'form-control','type'=>'select', 'label' => false, 'required' => false, 'id' =>'tax_type','options'=>$taxtype,'empty'=>'Filter by tax type')); ?>
            <br/>
            </div>
            
            <div class="col-md-3" id="getplunos">
            <label>Min Price</label>
            
            <?php echo $this->Form->input('min_price', array('class' => 'form-control','type'=>'text', 'label' => false, 'required' => false, 'id' =>'min_price','placeholder'=>'Min Price')); ?>
            <br/>
            </div>
            
            <div class="col-md-3" id="getplunos">
            <label>Max Price</label>
            <?php echo $this->Form->input('max_price', array('class' => 'form-control','type'=>'text', 'label' => false, 'required' => false, 'id' =>'max_price','placeholder'=>'Max Price')); ?>
            <br/>
            </div>
            
            
            
            <div class="col-md-1">
		  <label>&nbsp;</label>
		<?php echo $this->Form->input('search', array('class' => 'btn btn-success','type'=>'button', 'label' => false, 'required' => false,)); ?>
           

		<br/>
        
		</div>
         <div class="col-md-1">
		  <label>&nbsp;</label>
		<!--<?php echo $this->Form->input('search', array('class' => 'btn btn-success','type'=>'button', 'label' => false, 'required' => false,)); ?>-->
         <a href="<?php echo Router::url('/');?>admin/products/reset" class="btn btn-warning ">Reset</a>   

		<br/>
            
              <?php echo $this->form->end(); ?>
             
		</div>
        
          <div class="col-md-1 update">
		  <label>&nbsp;</label>
	
         <a href="#" class="btn btn-info ">UPDATE</a>   

		<br/>
        
		</div>
		
        <div class="row">
            <div class="col-md-12">
                <div class="tabbable tabbable-custom tabbable-full-width">
<div id="loading-image" style="display:none">
           <h3 style="text-align:center"> Loading...</h3>
           <div class="abc"></div>
            </div>
                    <div class="tab-content">

                        <div id="tab_1_5" class="tab-pane1">

                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-advance table-hover" >
                                    <thead>
                                        <tr>
                                            <th class="no-sort"> <?php //echo $this->Form->input('all', array('class' => 'form-control','type'=>'checkbox', 'label' => false, 'required' => false, 'id' =>'selecctall')); ?> 
											
											<input type="checkbox" name="all" class="brand" id="selecctall"/>  </th>
                                            <th><?php echo $this->Paginator->sort('plu_no', 'Scan code'); ?></th>
                                            <th><?php echo $this->Paginator->sort('description', 'Description'); ?></th>                                            
                                            <th><?php echo $this->Paginator->sort('plu_tax',' Tax Type'); ?><br />
                                            <select name="taxtype" id="taxtype" style="color:#000;">
                                            	<option value="">None</option>
                                                <option value="0">NO</option>
                                                <option value="1">YES</option>
                                            </select>
                                             <button type="button" class="taxbutt"><span class="glyphicon glyphicon-arrow-down"></span></button>
                                            
                                            </th>
                                            <th><?php echo $this->Paginator->sort('price'); ?></th>
                                            <th> <?php echo $this->Paginator->sort('New Price'); ?> <br />
                                             <input type="text" name="newpriceall" id="newprice" value=""/>
                                             <button type="button" class="icobutt"><span class="glyphicon glyphicon-arrow-down"></span></button>
                                            
                                            </th>
                                            <th><?php echo $this->Paginator->sort('margin','Margin'); ?></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <?php 
										$idarray= array();
										$idarray1="";
										
										if (isset($rGroceryItems) && !empty($rGroceryItems)) { 
										
										
										?>
                                            <?php foreach ($rGroceryItems as $data) { ?>
                                                <tr>
                                                    <td > 
													<input type="checkbox" name="id[]"  class="brand"   value="<?php echo $data['RGroceryItem']['id']; ?>"/>
													</td>
                                                    <td><?php 
													echo h($data['RGroceryItem']['plu_no']); ?>&nbsp;</td>
                                                    <td><?php echo h($data['RGroceryItem']['description']); ?>&nbsp;</td>
                                                    <td>
                                                    <select name="tax" id="tax_<?php echo $data['RGroceryItem']['id']; ?>" class="listtax">
                                                        <option value="">None</option>
                                                        <option value="0"<?php if($data['RGroceryItem']['plu_tax']==0){echo "selected";}  ?> >NO</option>
                                                        <option value="1" <?php if($data['RGroceryItem']['plu_tax']==1){echo "selected";} ?>>YES</option>
                                                    </select>
                                                  
													
													<?php
													/*if($data['RGroceryItem']['plu_tax']==0){
														echo "NO";
													}else if($data['RGroceryItem']['plu_tax']==1){
														echo "YES";
													}
												*/
													  ?>&nbsp;</td>
                                                    <td>$<?php echo h($data['RGroceryItem']['price']); ?>&nbsp;</td>
													<td>
                                                    <input type="text" name="newprice[<?php echo $data['RGroceryItem']['id']; ?>][price]" value="" class="listprice" id="price_<?php echo $data['RGroceryItem']['id']; ?>"/>&nbsp;</td>
                                                </td>
                                                   <td><?php echo h($data['RGroceryItem']['margin']); ?>&nbsp;</td>

                                                </tr>

                                            <?php 
											
										array_push($idarray, $data['RGroceryItem']['id']);
										
											}?>
                                        <?php } else { ?>
                                            <tr>
                                                <td colspan="10">  no result found </td>
                                            </tr>
                                        <?php } 
										//echo count($idarray); die;
										if(count($idarray)>1){
											$idarray1=implode(",",$idarray);
										}else{
											$idarray1=implode($idarray).",";
										}
										
										//echo $idarray1; die;
										?>
                                        
                                       
                                    </tbody>
                                </table>
                            </div>
                           <!--<div class="margin-top-20">
                                <ul class="pagination">
                                    <li>
                                        <?php echo $this->Paginator->prev('<i class="fa fa-angle-left"></i>', array('escape' => false)); ?> 
                                    </li>
                                    <?php echo $this->Paginator->numbers(array('tag' => 'li', 'separator' => '')); ?>                                    
                                    <li> 
                                        <?php echo $this->Paginator->next('<i class="fa fa-angle-right"></i>', array('escape' => false)); ?> 
                                    </li>
                                </ul>
                            </div>-->
                        </div>
                        <!--end tab-pane-->
                    </div>
                </div>
            </div>
            <!--end tabbable-->
        </div>
        <!-- END PAGE CONTENT-->
    </div>
</div>
<style>
    .current{
        background: rgb(238, 238, 238) none repeat scroll 0 0;
        border-color: rgb(221, 221, 221);
        color: rgb(51, 51, 51);
        border: 1px solid rgb(221, 221, 221);
        float: left;
        line-height: 1.42857;
        margin-left: -1px;
        padding: 6px 12px;
        position: relative;
        text-decoration: none;
    }
</style>
<div class="modal fade" id="basic" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Sync To POS</h4>
            </div>
            <div class="modal-body">
               Please Call Technical Support 
            </div>
            <div class="modal-footer">
                <button type="button" class="btn default" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
</div>


<!--<script>
  function showValues() {
 var brnd=''; 
 var brands = $( ".brand" ).serializeArray();
 
  jQuery.each( brands, function( i, field ) {
   brnd=brnd+","+field.value;
     
    });
 	//alert(brnd);
	 $( "#results1" ).val(brnd);
  }
  $( ".brand" ).click( showValues );
  showValues();
  

</script>-->




<script type="text/javascript">
$('[data-toggle=modal]').on('click', function (e) {
    var $target = $($(this).data('target'));
    $target.data('triggered',true);
    setTimeout(function() {
        if ($target.data('triggered')) {
            $target.modal('show')
                .data('triggered',false); // prevents multiple clicks from reopening
        };
    }, 1000); // milliseconds
    return false;
});
$(document).ready(function() {
	

	$('#newprice').keypress(function(event) {
  		if ((event.which != 46 || $(this).val().indexOf('.') != -1) && (event.which < 48 || event.which > 57)) {
   		 event.preventDefault();
  		}
	});
	
$('#selecctall').click(function(event) {  
	 $("input:checkbox").prop('checked', $(this).prop("checked"));
       
    });
	
	$('.icobutt').click(function(event) {  
	 var newprice = $('#newprice').val();
	   $('.listprice').val(newprice);
    });
	$('.taxbutt').click(function(event) {  
		var taxtype = $('#taxtype').val();
		if(taxtype!=""){
	   $('.listtax').val(taxtype);
		}else{
		 window.location.reload(); 	
		}
    });
	
	$('.update').click(function() { 
		var newprice = $('#newprice').val();
		
			var arr=[];
				$.each($("input[name='id[]']:checked"),function(){
   				 arr.push($(this).val());
				});
				var len=arr.length;
			//	alert(len);
				if(len<=1){
				 var id=arr+',';	
				}else{
				 var id= arr.toString();
				}
		
		//alert(id);
		var idstr= id;
		//var idstr= '<?php echo $idarray1; ?>';
		var idArray = idstr.split(',');
		//alert(idstr);
		var priceArray = [];
		$.each(idArray, function(index, value) {
			
			 priceVal = $("#price_"+value).val(); 
			 if(priceVal!=""){
				priceArray.push(priceVal);
			 }
		});
		var countprice= priceArray.length;
		//alert(countprice);
		
		if(countprice!="0"){
		var priceString = priceArray.join(',');
		}else{
			var priceString="";
		}
		
		//alert(priceString);
		var TaxArr = [];
		$.each(idArray, function(index, value) {
			 TaxVal = $("#tax_"+value).val(); 
			 TaxArr.push(TaxVal);
		});
		
		var counttax= TaxArr.length;
		//alert(counttax);
		
		if(counttax!="1"){
		var TaxString = TaxArr.join(',');
		}else{
			var TaxString=TaxArr;
		}
			$.ajax({
			url: '<?php echo Router::url('/') ?>admin/products/priceupdate',
			type: 'post',
			data: { idstr: idstr,priceString:priceString,TaxString:TaxString},
			 beforeSend: function() {
				  $("#loading-image").show();
			   },
			success:function(data){
				//alert(data);
				$("#loading-image").hide();
				 window.location.reload(); 
			}
			});
		});
    });

</script>

<style>
#getdata th.actionicons, #getdata td.actionicons {
    width: 153px !important;
}
#loading-image {
    background: #fff none repeat scroll 0 0;
    bottom: 0;
    left: 0;
    opacity: 0.8;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 9999;
}
#loading {
    width: 50px;
    height: 57px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -28px 0 0 -25px;
}
.btn-success{opacity:1 !important; padding:5px 15px!important;  position:relative !important;}
#newprice{ width:150px;}
.icobutt{ border:none; background-color:#fff;}
.taxbutt{ border:none; background-color:#fff;}
.update{padding-left: 225px;  padding-top: 40px;}
button.taxbutt span.glyphicon{ color:#000;}
button.icobutt span.glyphicon{ color:#000;}
input#newprice{ color:#666;} 
</style>