
//.add th { background: #ff9500 none repeat scroll 0 0;}
.input-group-btn.extra_button {position: relative;right: 0; width: 40px;}
.input-group-btn.extra_button button { position: absolute; top: 0;}
.extra_tt .input-group .form-control {width: 205px;}

.span_2{ height:32px;  float: left; width: 50%;}
.span_1 { float: left; height: 32px; margin-top: 0; padding: 8px 0; width: 48%;}
.list-unstyled .span_2 {border-left: 1px solid #fff;display: inline-table; float: right;margin: 0;padding: 6px 0 6px 3%;}
.credit_span {float: left; width: 50%;}
.credit_span .span_1 { margin-right: 13px;width: auto;}

.credit_span .form-control.exampleInputName {float: left; width: 125px;}
.select_list_mop {border: 1px solid lightgray; margin-top: 5px;outline: 0 none;width: 105px;}

/*#products_add_more td { background: #ff9500 none repeat scroll 0 0 !important;}*/
.list-unstyled .last_content_first { background: #f9c090 none repeat scroll 0 0;}
.list-unstyled li { border-bottom: 1px solid #fff; display: inline-block; overflow: auto; padding: 0 9px; width: 100%;}
.list-unstyled.amounts.total_last { border: medium none;  border-radius: 0; display: table;float: right; margin-right: 17px; padding: 0;width: 400px;}
.last_content_two { background: #8eb4e2 none repeat scroll 0 0;}
.last_content_three { background: #e9ecf4 none repeat scroll 0 0;}
.last_content_four { background: #d0d7e8 none repeat scroll 0 0;}
.last_content_five {  background: #e9ecf4 none repeat scroll 0 0;}


#tab_3{
        display: block;
    }
    .tabbable-custom.boxless > .tab-content {
 
  padding: 0;
}

#SettingIndexForm .medium {
  border: 1px solid gray;
}
#SettingIndexForm {
  padding: 15px 0 15px 15px;
}
#SettingIndexForm .control-group .controls .medium {
  border: 1px solid gray;
  padding-left: 5px;
}
/*edit file css use here */


/*    #products_add_more td {
        background: #ff9500 none repeat scroll 0 0 !important;
    }*/
    .list-unstyled .last_content_first {
        background: #f9c090 none repeat scroll 0 0;
    }
    .list-unstyled li {
        border-bottom: 1px solid #fff;
        display: inline-block;
        overflow: auto;
        padding: 0 9px;
        width: 100%;
    }
    .list-unstyled.amounts.total_last {
        border: medium none;
        border-radius: 0;
        display: table;
        float: right;
        margin-right: 17px;
        padding: 0;
        width: 400px;
    }
    .last_content_two {
        background: #8eb4e2 none repeat scroll 0 0;
    }
    .last_content_three {
        background: #e9ecf4 none repeat scroll 0 0;
    }
    .last_content_four {
        background: #d0d7e8 none repeat scroll 0 0;
    }
    .last_content_five {
        background: #e9ecf4 none repeat scroll 0 0;
    }
    
    .add th {
  background: #ff9500 none repeat scroll 0 0;
}

/* edit file botom css use here */

.input-group-btn.extra_button {
        position: relative;
        right: 0;
        width: 40px;
    }
    .input-group-btn.extra_button button {
        position: absolute;
        top: 0;
    }
    .extra_tt .input-group .form-control {
        width: 205px;
    }

    .span_2{ height:32px; 
             float: left;
             width: 50%;
    }
    .span_1 {
        float: left;
        height: 32px;
        margin-top: 0;
        padding: 8px 0;
        width: 48%;
    }
    .list-unstyled .span_2 {
        border-left: 1px solid #fff;
        display: inline-table;
        float: right;
        margin: 0;
        padding: 6px 0 6px 3%;
    }
    .credit_span {
        float: left;
        width: 50%;
    }
    .credit_span .span_1 {
        margin-right: 13px;
        width: auto;
    }

    .credit_span .form-control.exampleInputName {
        float: left;
        width: 125px;
    }
    .select_list_mop {
  border: 1px solid lightgray;
  margin-top: 5px;
  outline: 0 none;
  width: 105px;
}


// for upload files css //


.btn-file {
    overflow: hidden;
    position: relative;
    vertical-align: middle;
}
.btn-file > input {
  cursor: pointer;
  direction: ltr;
  font-size: 23px;
  height: 15px;
  margin: 0;
  opacity: 0;
  position: absolute;
  right: -193px;
  top: 37px;
  transform: translate(-300px, 0px) scale(4);
  width: 72px;
}
.fileinput {
    display: inline-block;
    margin-bottom: 9px;
}
.fileinput .uneditable-input {
    cursor: text;
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}
.fileinput .thumbnail {
    display: inline-block;
    margin-bottom: 5px;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
}
.fileinput .thumbnail > img {
    max-height: 100%;
}
.fileinput .btn {
    vertical-align: middle;
}
.fileinput-exists .fileinput-new, .fileinput-new .fileinput-exists {
    display: none;
}
.fileinput-inline .fileinput-controls {
    display: inline;
}
.fileinput .uneditable-input {
    white-space: normal;
}
.fileinput-new .input-group .btn-file {
    border-radius: 0 4px 4px 0;
}
.fileinput-new .input-group .btn-file.btn-xs, .fileinput-new .input-group .btn-file.btn-sm {
    border-radius: 0 3px 3px 0;
}
.fileinput-new .input-group .btn-file.btn-lg {
    border-radius: 0 6px 6px 0;
}
.form-group.has-warning .fileinput .uneditable-input {
    border-color: #faebcc;
    color: #c09853;
}
.form-group.has-warning .fileinput .fileinput-preview {
    color: #c09853;
}
.form-group.has-warning .fileinput .thumbnail {
    border-color: #faebcc;
}
.form-group.has-error .fileinput .uneditable-input {
    border-color: #ebccd1;
    color: #b94a48;
}
.form-group.has-error .fileinput .fileinput-preview {
    color: #b94a48;
}
.form-group.has-error .fileinput .thumbnail {
    border-color: #ebccd1;
}
.form-group.has-success .fileinput .uneditable-input {
    border-color: #d6e9c6;
    color: #468847;
}
.form-group.has-success .fileinput .fileinput-preview {
    color: #468847;
}
.form-group.has-success .fileinput .thumbnail {
    border-color: #d6e9c6;
}
.input-group-addon:not(:first-child) {
    border-left: 0 none;
}

.fileinput .input-large {
  display:inline;
  width: 288px !important;
}
.option_customer {
  color: #000;
  display: block;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 8px;
  text-align: center;
  text-transform: uppercase;
}
.col-md-7.value > span {
  font-size: 12px;
  font-weight: normal;
}
.send_invoice {
  float: right;
  margin-top: 5px;
  padding-right: 16px;
}
.row {
  margin-left: 0;
  margin-right: 0;
}