.skin-blue .sidebar {
    border-bottom: 1px solid #fff;
}
.skin-blue .sidebar > .sidebar-menu > li {
    border-bottom: 1px solid #dbdbdb;
    border-top: 1px solid #fff;
}
.skin-blue .sidebar > .sidebar-menu > li:first-of-type {
    border-top: 1px solid #dbdbdb;
}
.skin-blue .sidebar > .sidebar-menu > li:first-of-type > a {
    border-top: 1px solid #fff;
}
.skin-blue .sidebar > .sidebar-menu > li > a {
    margin-right: 1px;
}
.skin-blue .sidebar > .sidebar-menu > li > a:hover, .skin-blue .sidebar > .sidebar-menu > li.active > a {
    //background: #f9f9f9;
	background: #ffffff;
    color: #222;
}
.skin-blue .sidebar > .sidebar-menu > li > .treeview-menu {
    background: #ffffff;
    margin: 0 1px;
}
.skin-blue .left-side {
    background: #ffffff;
    box-shadow: -3px 0 8px -4px rgba(0, 0, 0, 0.07) inset;
}
.skin-blue .sidebar a {
    color: #555555;
}
.skin-blue .sidebar a:hover {
    text-decoration: none;
}
.skin-blue .treeview-menu > li > a {
    color: #777;
}
.skin-blue .treeview-menu > li.active > a, .skin-blue .treeview-menu > li > a:hover {
    color: #111;
}
.skin-blue .sidebar-form {
    border: 1px solid #dbdbdb;
    
    margin: 10px;
}
.skin-blue .sidebar-form input[type="text"], .skin-blue .sidebar-form .btn {
    background-color: #fafafa;
    border: 1px solid #fafafa;
    box-shadow: none;
    height: 35px;
}
.skin-blue .sidebar-form input[type="text"] {
    border-radius: 2px 0 0 2px !important;
    color: #666;
}
.skin-blue .sidebar-form input[type="text"]:focus, .skin-blue .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
    background-color: #fff;
    color: #666;
}
.skin-blue .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
    border-left-color: #fff;
}
.skin-blue .sidebar-form .btn {
    border-radius: 0 2px 2px 0 !important;
    color: #999;
}
.dropdown-toggle > span, .dropdown-toggle > .fa {
    color: #fff;
    font-weight: 400;
}
.skin-black .navbar {
    background-color: #36567a;
}
.skin-black .navbar .nav a {
    color: #333333;
}
.skin-black .navbar .nav > li > a:hover, .skin-black .navbar .nav > li > a:active, .skin-black .navbar .nav > li > a:focus, .skin-black .navbar .nav .open > a, .skin-black .navbar .nav .open > a:hover, .skin-black .navbar .nav .open > a:focus {
    background:none;
    color: #fff;
    padding-bottom: 14px;
}
.navbar .navbar-right {
    float: right;
    padding:5px;
    margin: 0!important;
}
.navbar-nav {
    padding:5px;
}

.navbar-nav > li > a {
    padding:0!important;
    line-height: 24px;
}

.skin-black .navbar .navbar-right > .nav {
    margin-right: 10px;
}
.skin-black .navbar .sidebar-toggle .icon-bar {
    background: #fff;
}
.skin-black .navbar .sidebar-toggle:hover .icon-bar {
    background: #fff none repeat scroll 0 0 !important;
}
.skin-black .logo {
    background-color: #5b5b5b;
    color: #f9f9f9;
}
.skin-black .logo > a {
    color: #f9f9f9;
}
.skin-black .logo:hover {
}
.skin-black .right-side > .content-header {
    background: #fff;
    box-shadow: none;
}
.skin-black .user-panel > .image > img {
    border: 1px solid #444;
}
.skin-black .user-panel > .info, .skin-black .user-panel > .info > a {
    color: #fff;
}
.skin-black .sidebar {
    border-bottom: 1px solid #313131;
}
.skin-black .sidebar > .sidebar-menu > li {
}
.skin-black .sidebar > .sidebar-menu > li:first-of-type {
    border-top: 1px solid #444;
}
.skin-black .sidebar > .sidebar-menu > li:first-of-type > a {
    border-top: 0 solid #333;
}
.skin-black .sidebar > .sidebar-menu > li > a {
    margin-right: 1px;
    font-size:9px;
    text-align: center;
}
.skin-black .sidebar > .sidebar-menu > li.active > a {
    /*background: #19222c!important;
    color: #fff!important;*/
	
	background: #2487fc!important;
    color: #fff!important;
}
.sidebar-menu ul
{
	background:#fff;
	
}
.sidebar .sidebar-menu ul a
{
	color:#454648;
}
.skin-black .sidebar > .sidebar-menu > li > a:hover {
    background:#2487fc!important;
    color:#fff!important;
}
.skin-black .sidebar > .sidebar-menu ul > li:hover a,
.skin-black .sidebar > .sidebar-menu li.third.active ul li a:hover{
    background:#2487fc;
    color:#fff;
}

.skin-black .sidebar > .sidebar-menu li.third.active a.nolink,
.skin-black .sidebar > .sidebar-menu li.third.active ul {
    background: #2487fc;
    color:#fff;
}

.skin-black .sidebar > .sidebar-menu li.third.active:hover ul a {
    background: #fff;
    color:#454648;
}

.skin-black .sidebar > .sidebar-menu > li > .treeview-menu {
    background: #fff;
    margin: 0 1px;
}
.skin-black .left-side {
    background: #fff;
}
.skin-black .sidebar a {
    color: #454648;
}
.skin-black .sidebar a:hover {
    text-decoration: none;
}
.skin-black .treeview-menu > li > a {
    color: #ccc;
}
.skin-black .treeview-menu > li.active, .skin-black .treeview-menu > li:hover {
    background-color: #fff;
    color: #fff;
}
.skin-black .sidebar-form input[type="text"]:focus, .skin-black .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
    background-color: #fff;
    border: 0 none;
}
.skin-black .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
    border-left: 0 none;
}
.skin-black .sidebar-form .btn {
    border-left: 0 none;
    border-radius: 0 2px 2px 0 !important;
    color: #999;
}
.skin-black .sidebar .sidebar-menu .treeview-menu > li:hover {
    background-color: #fff;
}
.user-panel
{
	background-color: #dcdadd;
	
}
.skin-black .user-panel > .info, .skin-black .user-panel > .info > a
{
	color:#454648;
}

.btn {
    background: #666467!important;
    border-radius: 0 !important;
    border-width: 0;
    box-shadow: none !important;
    color: #fff!important;
    font-size: 14px;
    outline: medium none !important;
    padding: 7px 14px;
    text-shadow: none;
}
.btn:hover {
    background: #2487fc!important;
    color: #fff!important;
}

.table-striped > thead th {background-color:#dcdadd!important; color:#4d4b4e!important;}
.table-striped > thead th a {color:#4d4b4e!important;}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th
{
	line-height:1!important;
}
.table>tbody>tr>td
{
	padding-top:1px!important;
	padding-bottom:1px!important;
}
.has-switch span.switch-left, .has-switch span.switch-primary
{
	color:#fff!important;
	background:#2487fc!important;
}
.portlet-title
{
	
	background:#fafafa!important;
}
.caption
{
	color:#656565!important;
}
.fa
{
	color:#656565!important;
}

.boderstyle
{
    border:1px solid #d9d9d9!important;
    padding-left: 0px;
    padding-right: 0px;
}
