html, body, body.skin-black  {
    background: #fff;
    font-family: Arial,sans-serif;
    min-height: 100%;
    overflow-x: hidden !important;
	font-size:13px;
}
a {
    color: #3c8dbc;
}
a:hover, a:active, a:focus {
    color: #72afd2;
    outline: medium none;
    text-decoration: none;
}
.portlet {
    clear: both;
    margin-bottom: 25px;
    margin-top: 0;
    padding: 0;
}
.portlet > .portlet-title {
    padding: 0 10px;
}
.portlet > .portlet-title::after, .portlet > .portlet-title::before {
    content: "";
    display: table;
    line-height: 0;
}
.portlet > .portlet-title::after {
    clear: both;
}
.portlet > .portlet-title > .caption {
    display: inline-block;
    float: left;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    padding: 10px 0;
}
.portlet > .portlet-title > .caption > i {
    color: #666;
    display: inline-block !important;
    float: left;
    font-size: 12px;
    margin-right: 5px;
    margin-top:3px;
}
.portlet.blue > .portlet-title > .caption, .portlet.green > .portlet-title > .caption, .portlet.yellow > .portlet-title > .caption, .portlet.red > .portlet-title > .caption, .portlet.purple > .portlet-title > .caption, .portlet.grey > .portlet-title > .caption {
    color: #fff;
}
.portlet.box.blue > .portlet-title > .caption > i, .portlet.box.green > .portlet-title > .caption > i, .portlet.box.grey > .portlet-title > .caption > i, .portlet.box.yellow > .portlet-title > .caption > i, .portlet.box.red > .portlet-title > .caption > i, .portlet.box.purple > .portlet-title > .caption > i, .portlet.box.light-grey > .portlet-title > .caption > i {
    color: #fff;
}
.sortable .portlet > .portlet-title {
    cursor: move;
}
.portlet > .portlet-title > .tools, .portlet > .portlet-title > .actions {
    display: inline-block;
    float: right;
    margin: 6px 0 0;
    padding: 0;
}
.portlet > .portlet-title > .tools > a {
    display: inline-block;
    height: 16px;
    margin-left: 5px;
}
.portlet > .portlet-title > .actions > .dropdown-menu i {
    color: #000 !important;
}
.portlet > .portlet-title > .tools > a.remove {
    background-image: url("../img/portlet-remove-icon.png");
    background-repeat: no-repeat;
    margin-bottom: 2px;
    width: 11px;
}
.portlet > .portlet-title > .tools > a.config {
    background-image: url("../img/portlet-config-icon.png");
    background-repeat: no-repeat;
    margin-bottom: 2px;
    width: 12px;
}
.portlet > .portlet-title > .tools > a.reload {
    background-image: url("../img/portlet-reload-icon.png");
    margin-bottom: 2px;
    width: 13px;
}
.portlet > .portlet-title > .tools > a.expand {
    background-image: url("../img/portlet-expand-icon-white.png");
    margin-bottom: 2px;
    width: 14px;
}
.portlet > .portlet-title > .tools > a.collapse {
    background-image: url("../img/portlet-collapse-icon-white.png");
    margin-bottom: 2px;
    width: 14px;
}
.portlet > .portlet-title > .tools > a:hover {
    opacity: 0.6;
    text-decoration: none;
    transition: all 0.1s ease-in-out 0s;
}
.portlet > .portlet-title > .actions > .btn-group {
    margin-top: -13px;
}
.portlet > .portlet-title > .actions > .btn {
    margin-top: -14px;
    padding: 4px 10px;
}
.portlet > .portlet-title > .actions > .btn-group > .btn {
    margin-top: -1px;
    padding: 4px 10px;
}
.portlet > .portlet-title > .actions > .btn.btn-sm {
    margin-top: -13px;
    padding: 3px 8px;
}
.portlet > .portlet-title > .actions > .btn-group > .btn-sm {
    margin-top: -1px;
    padding: 3px 8px;
}
.portlet > .portlet-title > .pagination.pagination-sm {
    display: inline-block !important;
    float: right !important;
    margin: -4px 0 0;
}
@media (max-width: 767px) {
.portlet > .portlet-title > .actions.btn-set > .btn-group, .portlet > .portlet-title > .actions.btn-set > .btn {
    margin-bottom: 5px;
    margin-top: 0;
}
}
.portlet > .portlet-body {
    background: #fff;
    clear: both;
    padding: 12px;
    
}
.portlet > .portlet-empty {
    min-height: 125px;
}
.portlet > .portlet-body.light-blue, .portlet.light-blue {
    background-color: #bfd5fa !important;
    
}
.portlet > .portlet-body.blue, .portlet.blue {
    background-color:#36567a !important;
    
    /*border:2px solid #ccc;*/
}
.portlet.blue .portlet.blue {
    border:0;
}
 .portlet > .portlet-body.red, .portlet.red {
    background-color: #e02222 !important;
     
}
.portlet > .portlet-body.yellow, .portlet.yellow {
    background-color: #36567a !important;
    
}
.portlet > .portlet-body.green, .portlet.green {
    background-color: #36567a !important;
    
}
.portlet > .portlet-body.purple, .portlet.purple {
    background-color: #36567a !important;
    
}
.portlet > .portlet-body.light-grey, .portlet.light-grey {
    background-color: #fafafa !important;
    
}
.portlet > .portlet-body.grey, .portlet.grey {
    background-color: #555555 !important;
    
}

/*.portlet > .portlet-body .col-md-2.top-space {
padding-top:22px;
}*/
.col-md-4 .portlet.box {
    padding: 2px !important;
}
.wrapper {
    min-height: 100%;
}
.wrapper::before, .wrapper::after {
    content: " ";
    display: table;
}
.wrapper::after {
    clear: both;
}
body > .header {
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1030;
}
.right-side, .left-side {
    display: block;
    min-height: 100%;
}
.right-side {
    background-color: #fff;
    margin-left:90px;
}
.left-side {
    position: absolute;
    top: 0;
    width:90px;
}
.right-side .content .admin_menu > .col-xs-12 {
    padding: 0;
}
.right-side .content .admin_menu > .col-xs-12 .main-cont {width:1216px;}
@media screen and (min-width: 992px) {
.left-side {
    top: 50px;
}
.right-side.strech {
    margin-left: 0;
}
.right-side.strech > .content-header {
    margin-top: 0;
}
.left-side.collapse-left {
    left: -220px;
}
}
@media screen and (max-width: 992px) {
.right-side {
    margin-left: 0;
}
}
body.fixed > .header, body.fixed .left-side, body.fixed .navbar {
    position: fixed;
}
body.fixed > .header {
    left: 0;
    right: 0;
    top: 0;
}
body.fixed .navbar {
    left: 0;
    right: 0;
}
body.fixed .wrapper {
    margin-top: 50px;
}
.content {
    background: #fff;
    overflow: auto;
    padding: 20px 15px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: Arial,sans-serif;
}
.page-header {
    font-size: 22px;
    margin: 10px 0 20px;
}
.page-header > small {
    color: #666;
    display: block;
    margin-top: 5px;
}
img {
    max-width: 100% !important;
}
.sort-highlight {
    background: #f4f4f4;
    border: 1px dashed #ddd;
    margin-bottom: 10px;
}
.pad {
    padding: 20px 10px 10px;
}
.margin {
    margin: 10px;
}
.pad-20 {
    padding: 20px;
}
.inline {
    display: inline;
    width: auto;
}
.alert-danger {
    background-color: #fad5d5;
}
.alert-success {
    background-color: #cffabd;
}
.alert-warning {
    background-color: #fcf4c9;
}
.badge-success {
    background-color: #27c24c;
    color: #dff5e4;
}
.badge-warning {
    background-color: #fad733;
    color: #fdf8e5;
}
.badge-info {
    background-color: #23b7e5;
    color: #e3f6fc;
}
.badge-danger {
    background-color: #f05050;
    color: #fae6e6;
}
.badge-primary {
    background-color: #4697ce;
}
.badge-inverse {
    background-color: #4f5259;
    color: #dfe2f0;
}
.badge, .label {
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
.label-primary {
    background-color: #4697ce;
}
.label-default {
    background-color: #a1a1a1;
}
.label-success {
    background-color: #27c24c;
    color: #dff5e4;
}
.label-info {
    background-color: #23b7e5;
    color: #e3f6fc;
}
.label-inverse {
    background-color: #4f5259;
    color: #dfe2f0;
}
.label-warning {
    background-color: #fad733;
    color: #fdf8e5;
}
.label-danger {
    background-color: #f05050;
    color: #fae6e6;
}
.bg-red, .bg-yellow, .bg-aqua, .bg-blue, .bg-light-blue, .bg-green, .bg-navy, .bg-teal, .bg-olive, .bg-lime, .bg-orange, .bg-fuchsia, .bg-purple, .bg-maroon, .bg-black .bg-violet {
    color: #f9f9f9 !important;
}
.twt-area {
    border-bottom: 1px dotted #eee;
    margin-bottom: 5px;
    padding-bottom: 3px;
}
.twt-area textarea {
    margin-bottom: 3px;
}
.m-lr-10 {
    margin-left: 10px;
    margin-right: 10px;
}
.m-t-15 {
    margin-top: 15px;
}
.m-b-5 {
    margin-bottom: 5px;
}
.m-b-10 {
    margin-bottom: 10px;
}
.m-b-15 {
    margin-bottom: 15px;
}
.m-b-20 {
    margin-bottom: 20px;
}
.teammates a {
    color: #505050;
}
.teammates img {
    border-radius: 5px;
    margin-right: 10px;
}
.teammates li {
    border: 1px solid #edf1f2;
}
.bg-white {
    background-color: #fff !important;
}
.bg-gray {
    background-color: #eaeaec !important;
}
.bg-black {
    background-color: #222222 !important;
}
.bg-red {
    background-color: #f05050 !important;
}
.bg-yellow {
    background-color: #fad733 !important;
}
.bg-aqua {
    background-color: #4fc1e9 !important;
}
.bg-blue {
    background-color: #0073b7 !important;
}
.bg-light-blue {
    background-color: #3c8dbc !important;
}
.bg-green {
    background-color: #27c24c !important;
}
.bg-navy {
    background-color: #001f3f !important;
}
.bg-teal {
    background-color: #39cccc !important;
}
.bg-olive {
    background-color: #3d9970 !important;
}
.bg-lime {
    background-color: #01ff70 !important;
}
.bg-orange {
    background-color: #ff851b !important;
}
.bg-fuchsia {
    background-color: #f012be !important;
}
.bg-purple {
    background-color: #932ab6 !important;
}
.bg-maroon {
    background-color: #85144b !important;
}
.bg-violet {
    background-color: #7266ba !important;
}
.bg-twitter {
    background-color: #00c7f7;
    color: white;
}
.bg-facebook {
    background-color: #335397;
    color: white;
}
.bg-google-plus {
    background-color: #df4a32;
    color: white;
}
.text-primary {
    color: #4697ce;
}
.text-info {
    color: #63b7e6;
}
.text-success {
    color: #7dcc93;
}
.text-warning {
    color: #e8db4f;
}
.text-red {
    color: #f56954 !important;
}
.text-yellow {
    color: #f39c12 !important;
}
.text-aqua {
    color: #00c0ef !important;
}
.text-blue {
    color: #0073b7 !important;
}
.text-black {
    color: #222222 !important;
}
.text-light-blue {
    color: #3c8dbc !important;
}
.text-green {
    color: #00a65a !important;
}
.text-navy {
    color: #001f3f !important;
}
.text-teal {
    color: #39cccc !important;
}
.text-olive {
    color: #3d9970 !important;
}
.text-lime {
    color: #01ff70 !important;
}
.text-orange {
    color: #ff851b !important;
}
.text-fuchsia {
    color: #f012be !important;
}
.text-purple {
    color: #932ab6 !important;
}
.text-maroon {
    color: #85144b !important;
}
#red .slider-selection {
    background: #f05050;
}
#blue .slider-selection {
    background: #4697ce;
}
#green .slider-selection {
    background: #27c24c;
}
#yellow .slider-selection {
    background: #fad733;
}
#aqua .slider-selection {
    background: #00c0ef;
}
.slider-handle {
    background-color: #fff;
    border: 2px solid #86d4fc;
}
#purple .slider-selection {
    background: #7266ba;
}
.hide {
    display: none !important;
}
.no-border {
    border: 0 none !important;
}
.no-padding {
    padding: 0 !important;
}
.no-margin {
    margin: 0 !important;
}
.no-shadow {
    box-shadow: none !important;
}
@media print {
.no-print {
    display: none;
}
.left-side, .header, .content-header {
    display: none;
}
.right-side {
    margin: 0;
}
}
body > .header {
    max-height: 100px;
    position: relative;
    z-index: 1030;
}
body > .header .navbar {
    height: 50px;
    margin-bottom: 0;
    margin-left: 220px;
}
body > .header .navbar .sidebar-toggle {
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0 !important;
    float: left;
    margin: 8px 0 8px 5px;
    padding: 9px 5px;
}
body > .header .navbar .sidebar-toggle:hover .icon-bar {
    background: #f6f6f6;
}
body > .header .navbar .sidebar-toggle .icon-bar {
    border-radius: 4px;
    display: block;
    height: 2px;
    width: 22px;
}
body > .header .navbar .sidebar-toggle .icon-bar + .icon-bar {
    margin-top: 4px;
}
body > .header .navbar .nav > li.user > a {
    font-weight: bold;
	margin-top:3px;
}
body > .header .navbar .nav > li.user > a > .fa, body > .header .navbar .nav > li.user > a > .glyphicon, body > .header .navbar .nav > li.user > a > .ion {
    margin-right: 5px;
}
body > .header .navbar .nav > li > a > .label {
    border-radius: 50%;
    font-size: 10px;
    font-weight: normal;
    height: 15px;
    line-height: 1em;
    padding: 2px;
    position: absolute;
    right: 2px;
    text-align: center;
    top: 7px;
    width: 15px;
}
body > .header .navbar .nav > li > a:hover > .label {
    top: 3px;
}
body > .header .logo {
    display: block;
    float: left;
    font-size: 20px;
    font-weight: 500;
    height: 50px;
    line-height: 50px;
    padding: 0 10px;
    text-align: center;
    width: 220px;
}
body > .header .logo .icon {
    margin-right: 10px;
}
.right-side > .content-header {
    padding: 15px;
    position: relative;
}
.right-side > .content-header > h1 {
    font-size: 24px;
    margin: 0;
}
.right-side > .content-header > h1 > small {
    display: inline-block;
    font-size: 15px;
    font-weight: 300;
    padding-left: 4px;
}
@media (max-width: 767px) {
.navbar .navbar-nav > li {
    float: left;
}
.navbar-nav {
    float: left;
    margin: 0;
}
.navbar-nav > li > a {
    line-height: 20px;
    padding-bottom: 15px;
    padding-top: 15px;
}
.navbar .navbar-right {
    float: right;
}
}
@media screen and (max-width: 560px) {
body > .header {
    position: relative;
}
body > .header .logo, body > .header .navbar {
    float: none;
    position: relative !important;
    width: 100%;
}
body > .header .navbar {
    margin: 0;
}
body.fixed > .header {
    position: fixed;
}
body.fixed > .wrapper, body.fixed .sidebar-offcanvas {
    margin-top: 100px !important;
}
}
.sidebar {
    margin-bottom: 5px;
}
.sidebar .sidebar-form input:focus {
    border-color: transparent !important;
    box-shadow: none;
}
.sidebar-menu {
    border: 0 none;
    line-height: 1;
    margin: 0;
    padding: 0;
}
.sidebar-menu, .sidebar-menu li, .sidebar-menu ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.sidebar-menu {
    float: left;
    position: relative;
    z-index: 9999;
}
.sidebar-menu li {
    float: left;
    line-height: 1em;
    min-height: 1px;
    position: relative;
    vertical-align: middle;
}
.sidebar-menu li.hover, .sidebar-menu li:hover {
    cursor: default;
    /*position: relative;*/
    z-index: 599;
}
.sidebar-menu .has-sub > ul {
    /*height: 100%;*/
}
/*.sidebar-menu .has-sub > ul li {
    position: relative;
}*/

.sidebar-menu ul {
    left: 0;
    position: absolute;
    top: 100%;
    display: none;
    width:170px;
    z-index: 598;
}
.sidebar-menu ul li {
    float: none;
	padding:0;
}
.sidebar-menu ul ul {

}
.sidebar-menu li:hover > ul {
 /*   visibility: visible;*/
}
.sidebar-menu ul {
    left: 99%;
    top: 0;
}
.sidebar-menu li {
    float: none;
}
.sidebar-menu ul {
    margin-top:0;
}
.sidebar-menu ul li {
    font-weight: normal;
}
.sidebar-menu {
    width: 100%;
}
.sidebar-menu::before {
    content: "";
    display: block;
}
.sidebar-menu::after {
    clear: both;
    content: "";
    display: table;
}
.sidebar-menu a {
    color: #fff;
    display: block;
    padding:10px 0;
    text-decoration: none;
}
.sidebar-menu {
    width: 100%;
}
/*.sidebar-menu ul {
    width: 210px;
}*/

.sidebar-menu > li > a {
    color: #fff;
    font-weight: 600;
}
.sidebar-menu > li > a:hover {
    color: #fff;
}
.sidebar-menu > li.active > a {
    background: #293544;
    color:#fff;
}
.sidebar-menu ul li:first-child a:hover {
    border-radius: 0 3px 0 0;
}
/*.sidebar-menu ul li:last-child a:hover {
    border-radius: 0 0 3px 3px;
}*/
.sidebar-menu > li a:hover, .sidebar-menu > li:hover a {

}
.has-sub ul li a{

}
.sidebar-menu li {
    position: relative;
}
.sidebar-menu li a {
    position: relative;
	padding:10px;
}
.sidebar-menu li.has-sub > a:after {
    content: "\f105";
    margin-top: -6px;
    position: absolute;
    right:5px;
    top:38%;
    font-family:'FontAwesome';
}
.has-sub li.third > a:hover {
    background: #19222c;
}
.has-sub li.third > a:after {
    content: "\f105";
    margin-top: -6px;
    position: absolute;
    right: 15px;
    top: 50%;
    font-family:'FontAwesome';
}
.sidebar-menu ul li.first {
    border-radius: 0 3px 0 0;
}
.sidebar-menu ul li.last {
    border-bottom: 0 none;
    border-radius: 0 0 3px;
}
.sidebar-menu ul {
    border-radius: 0 3px 3px 3px;
    background: #293544;
    box-shadow: 5px 5px 2px #2f2f2f;
}
.sidebar-menu ul {
}
.sidebar .sidebar-menu ul a {
    color: #fff;
    font-size: 12px;
}
.sidebar-menu ul a:hover {
    color: #fff;
}
.sidebar-menu ul li {
}
.sidebar-menu ul li:hover > a {
    background: #6b6c6f;
    color: #fff;
}
.sidebar-menu.align-right > ul > li > a {
    border-left: 4px solid #ff9500;
    border-right: medium none;
}
.sidebar-menu.align-right {
    float: right;
}
.sidebar-menu.align-right li {
    text-align: right;
}
.sidebar-menu.align-right ul li.has-sub > a::before {
    content: "+";
    left: 15px;
    margin-top: -6px;
    position: absolute;
    top: 50%;
}
.sidebar-menu.align-right ul li.has-sub > a::after {
    content: none;
}
.sidebar-menu.align-right ul ul {
    left: -100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    width: 100%;
    z-index: 598;
}
.sidebar-menu.align-right ul ul li.first {
    border-radius: 3px 0 0;
}
.sidebar-menu.align-right ul ul li.last {
    border-radius: 0 0 0 3px;
}
.sidebar-menu.align-right ul ul {
    border-radius: 3px 0 0 3px;
}

.sidebar-menu li a .fa {
    width:16px;
    text-align: center;
    display: block;
    margin: 0 auto 2px;
}
.sidebar-menu li ul li a .fa {display:none}
.user-panel {
    padding:5px;
    background: #36567a;
}
.user-panel::before, .user-panel::after {
    content: " ";
    display: table;
}
.user-panel::after {
    clear: both;
}
.user-panel > .image > img {
    height: 45px;
    width: 45px;
}
.user-panel > .info {
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    padding:0;
    text-align: center;
}
.user-panel > .info > p {
    margin-bottom: 9px;
}
.user-panel > .info > a {
    font-size: 11px;
    font-weight: normal;
    margin-top: 3px;
    padding-right: 5px;
    text-decoration: none;
}
.user-panel > .info > a > .fa, .user-panel > .info > a > .ion, .user-panel > .info > a > .glyphicon {
    margin-right: 3px;
}
@media screen and (max-width: 992px) {
.relative {
    position: relative;
}
.row-offcanvas-right .sidebar-offcanvas {
    right: -220px;
}
.row-offcanvas-left .sidebar-offcanvas {
    left: -220px;
}
.row-offcanvas-right.active {
    right: 220px;
}
.row-offcanvas-left.active {
    left: 220px;
}
.sidebar-offcanvas {
    left: 0;
}
body.fixed .sidebar-offcanvas {
    left: -220px;
    margin-top: 50px;
}
body.fixed .row-offcanvas-left.active .navbar {
    left: 220px !important;
    right: 0;
}
body.fixed .row-offcanvas-left.active .sidebar-offcanvas {
    left: 0;
}
}
.dropdown-menu {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    z-index: 2300;
}
.dropdown-menu > li > a > .glyphicon, .dropdown-menu > li > a > .fa, .dropdown-menu > li > a > .ion {
    margin-right: 10px;
}
.dropdown-menu > li > a:hover {
    background-color: #3c8dbc;
    color: #f9f9f9;
}
.dropdown-menu-right > li > a:hover {
    background-color: #39435c;
    color: #f9f9f9;
}
.skin-blue .navbar .dropdown-menu > li > a {
    color: #444444;
}
.navbar-nav > .notifications-menu > .dropdown-menu, .navbar-nav > .messages-menu > .dropdown-menu, .navbar-nav > .tasks-menu > .dropdown-menu {
    border: 1px solid #dfdfdf;
    border-radius: 4px !important;
    margin: 0 !important;
    padding: 0 !important;
    top: 100%;
    width: 260px;
}
.navbar-nav > .notifications-menu > .dropdown-menu > li.header, .navbar-nav > .messages-menu > .dropdown-menu > li.header, .navbar-nav > .tasks-menu > .dropdown-menu > li.header {
    background-color: #fff;
    border-bottom: 1px solid #f4f4f4;
    border-radius: 4px 4px 0 0;
    color: #444444;
    font-size: 14px;
    padding: 7px 10px;
}
.navbar-nav > .notifications-menu > .dropdown-menu > li.header::after, .navbar-nav > .messages-menu > .dropdown-menu > li.header::after, .navbar-nav > .tasks-menu > .dropdown-menu > li.header::after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) #fff;
    border-image: none;
    border-style: solid;
    border-width: 7px;
    bottom: 100%;
    content: " ";
    height: 0;
    left: 92%;
    margin-left: -7px;
    pointer-events: none;
    position: absolute;
    width: 0;
}
.navbar-nav > .notifications-menu > .dropdown-menu > li.footer > a, .navbar-nav > .messages-menu > .dropdown-menu > li.footer > a, .navbar-nav > .tasks-menu > .dropdown-menu > li.footer > a {
    background-color: #f4f4f4;
    border-bottom: 1px solid #eeeeee;
    border-radius: 0 0 4px 4px;
    color: #444444;
    font-size: 12px;
    padding: 7px 10px;
    text-align: center;
}
.navbar-nav > .notifications-menu > .dropdown-menu > li.footer > a:hover, .navbar-nav > .messages-menu > .dropdown-menu > li.footer > a:hover, .navbar-nav > .tasks-menu > .dropdown-menu > li.footer > a:hover {
    background: #f4f4f4;
    font-weight: normal;
    text-decoration: none;
}
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu, .navbar-nav > .messages-menu > .dropdown-menu > li .menu, .navbar-nav > .tasks-menu > .dropdown-menu > li .menu {
    list-style: outside none none;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
}
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a, .navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a, .navbar-nav > .tasks-menu > .dropdown-menu > li .menu > li > a {
    border-bottom: 1px solid #f4f4f4;
    display: block;
    white-space: nowrap;
}
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a:hover, .navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a:hover, .navbar-nav > .tasks-menu > .dropdown-menu > li .menu > li > a:hover {
    background: #fafafa;
    text-decoration: none;
}
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a {
    color: #444444;
    font-size: 12px;
}
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > i {
    border-radius: 30px;
}
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .glyphicon, .navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .fa, .navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .ion {
    background: #00c0ef;
    color: rgba(255, 255, 255, 0.7);
    font-size: 20px;
    margin-right: 5px;
    padding: 15px 0;
    text-align: center;
    width: 50px;
}
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .glyphicon.danger, .navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .fa.danger, .navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .ion.danger {
    background: #f56954;
}
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .glyphicon.warning, .navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .fa.warning, .navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .ion.warning {
    background: #f39c12;
}
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .glyphicon.success, .navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .fa.success, .navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .ion.success {
    background: #00a65a;
}
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .glyphicon.info, .navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .fa.info, .navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .ion.info {
    background: #00c0ef;
}
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a {
    border-radius: 4px;
    line-height: 20px;
    margin: 0;
    padding: 10px 5px;
}
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a > div > img {
    border: 1px solid #dddddd;
    height: 40px;
    margin: auto 10px auto auto;
    width: 40px;
}
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a > h4 {
    color: #444444;
    font-size: 15px;
    margin: 0 0 0 45px;
    padding: 0;
}
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a > h4 > small {
    color: #999999;
    float: right;
    font-size: 10px;
}
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a > p {
    color: #888888;
    font-size: 12px;
    margin: 0 0 0 45px;
}
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a::before, .navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a::after {
    content: " ";
    display: table;
}
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a::after {
    clear: both;
}
.navbar-nav > .tasks-menu > .dropdown-menu > li .menu > li > a {
    padding: 10px;
}
.navbar-nav > .tasks-menu > .dropdown-menu > li .menu > li > a > h3 {
    color: #666666;
    font-size: 14px;
    margin: 0 0 10px;
    padding: 0;
}
.navbar-nav > .tasks-menu > .dropdown-menu > li .menu > li > a > .progress {
    margin: 0;
    padding: 0;
}
.navbar-nav > .user-menu > .dropdown-menu {
    border-radius: 0;
    border-top-width: 0;
    padding: 0;
    width: 225px;
}
.navbar-nav > .user-menu > .dropdown-menu::after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) #f9fafc;
    border-image: none;
    border-style: solid;
    border-width: 10px;
    bottom: 100%;
    content: " ";
    height: 0;
    margin-left: -10px;
    pointer-events: none;
    position: absolute;
    right: 10px;
    width: 0;
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-header {
    background: #3c8dbc;
    height: 175px;
    padding: 10px;
    text-align: center;
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-header > img {
    border: 8px solid rgba(255, 255, 255, 0.2);
    height: 90px;
    width: 90px;
    z-index: 5;
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-header > p {
    color: rgba(255, 255, 255, 0.8);
    font-size: 17px;
    margin-top: 10px;
    text-shadow: 2px 2px 3px #333333;
    z-index: 5;
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-header > p > small {
    display: block;
    font-size: 12px;
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-body {
    border-bottom: 1px solid #f4f4f4;
    border-top: 1px solid #dddddd;
    padding: 15px;
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-body::before, .navbar-nav > .user-menu > .dropdown-menu > li.user-body::after {
    content: " ";
    display: table;
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-body::after {
    clear: both;
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-body > div > a {
    color: #0073b7;
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-footer {
    background-color: #f9f9f9;
    padding: 10px;
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-footer::before, .navbar-nav > .user-menu > .dropdown-menu > li.user-footer::after {
    content: " ";
    display: table;
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-footer::after {
    clear: both;
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-footer .btn-default {
    color: #666666;
}
.open > .dropdown-menu {
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-name: fadeAnimation;
    animation-timing-function: ease;
}
@keyframes fadeAnimation {
0% {
    opacity: 0;
    top: 120%;
}
100% {
    opacity: 1;
    top: 100%;
}
}
@media screen and (max-width: 767px) {
.navbar-nav > .notifications-menu > .dropdown-menu, .navbar-nav > .user-menu > .dropdown-menu, .navbar-nav > .tasks-menu > .dropdown-menu, .navbar-nav > .messages-menu > .dropdown-menu {
    background: #fff;
    border-bottom: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    left: auto;
    position: absolute;
    right: 0;
    top: 100%;
}
}
@media screen and (max-width: 480px) {
.navbar-nav > .notifications-menu > .dropdown-menu > li.header, .navbar-nav > .tasks-menu > .dropdown-menu > li.header, .navbar-nav > .messages-menu > .dropdown-menu > li.header {
}
.navbar-nav > .notifications-menu > .dropdown-menu > li.header::after, .navbar-nav > .tasks-menu > .dropdown-menu > li.header::after, .navbar-nav > .messages-menu > .dropdown-menu > li.header::after {
    border-width: 0 !important;
}
.navbar-nav > .tasks-menu > .dropdown-menu {
    left: auto;
    position: absolute;
    right: -120px;
}
.navbar-nav > .notifications-menu > .dropdown-menu {
    left: auto;
    position: absolute;
    right: -170px;
}
.navbar-nav > .messages-menu > .dropdown-menu {
    left: auto;
    position: absolute;
    right: -210px;
}
}
.btn {
    border: 1px solid transparent;
    border-radius: 3px;
    font-weight: 500;
}
.btn.btn-default {
    background-color: #fafafa;
    border-color: #ddd;
    color: #666;
    transition: all 0.3s ease 0s;
}
.btn.btn-default:hover, .btn.btn-default:active, .btn.btn-default.hover {
    background-color: #f4f4f4 !important;
    transition: all 0.3s ease 0s;
}
.btn.btn-default.btn-flat {
    border-bottom-color: #d9dadc;
    transition: all 0.3s ease 0s;
}
.btn.btn-primary {
    background-color: #4697ce;
    border: medium none;
    transition: all 0.3s ease 0s;
}
.btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary.hover {
    background-color: #2f7db2;
    border: medium none;
    transition: all 0.3s ease 0s;
}
.btn.btn-success {
    background-color: #109de5;
    border: medium none;
    transition: all 0.3s ease 0s;
}
.btn.btn-success:hover, .btn.btn-success:active, .btn.btn-success.hover {
    background-color: #0d8dcf;
    border: medium none;
    transition: all 0.3s ease 0s;
}
.btn.btn-info {
    background-color: #23b7e5;
    border: medium none;
    transition: all 0.3s ease 0s;
}
.btn.btn-info:hover, .btn.btn-info:active, .btn.btn-info.hover {
    background-color: #19a9d5;
    border: medium none;
    transition: all 0.3s ease 0s;
}
.btn.btn-danger {
    background-color: #f05050;
    border: medium none;
    transition: all 0.3s ease 0s;
}
.btn.btn-danger:hover, .btn.btn-danger:active, .btn.btn-danger.hover {
    background-color: #ee3939;
    border: medium none;
    transition: all 0.3s ease 0s;
}
.btn.btn-warning {
    background-color: #fad733;
    border: medium none;
    transition: all 0.3s ease 0s;
	color:#565655;
}
.btn.btn-warning:hover, .btn.btn-warning:active, .btn.btn-warning.hover {
    background-color: #f9d21a;
    border: medium none;
    transition: all 0.3s ease 0s;
}
.btn-round {
    border-radius: 30px;
}
.open .dropdown-toggle.btn-warning {
    background-color: #f9d21a;
    border-color: #f9d21a;
}
.open .dropdown-toggle.btn-info {
    background-color: #37a3df;
    border-color: #37a3df;
}
.btn.btn-flat {
    border-radius: 0;
    border-width: 1px;
    box-shadow: none;
}
.btn:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset;
}
.btn:focus {
    outline: medium none;
}
.btn.btn-file {
    height: 35px;
    overflow: hidden;
    position: relative;
    width: 120px;
}
.btn.btn-file > input[type="file"] {
    cursor: pointer;
    display: block !important;
    height: 35px !important;
    opacity: 0 !important;
    position: absolute;
    top: -10px;
    width: 100% !important;
}
.btn.btn-app {
    background-color: #fafafa;
    border: 1px solid #ddd;
    border-radius: 0;
    box-shadow: none;
    color: #666;
    font-size: 12px;
    height: 60px;
    margin: 0 0 10px 10px;
    min-width: 80px;
    padding: 15px 5px;
    position: relative;
    text-align: center;
}
.btn.btn-app > .fa, .btn.btn-app > .glyphicon, .btn.btn-app > .ion {
    display: block;
    font-size: 20px;
}
.btn.btn-app:hover {
    background: #f4f4f4;
    border-color: #aaa;
    color: #444;
}
.btn.btn-app:active, .btn.btn-app:focus {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset;
}
.btn.btn-app > .badge {
    font-size: 10px;
    font-weight: 400;
    position: absolute;
    right: -10px;
    top: -3px;
}
.btn.btn-social-old {
    box-shadow: none;
    opacity: 0.9;
    padding: 0;
}
.btn.btn-social-old > .fa {
    padding: 10px 0;
    width: 40px;
}
.btn.btn-social-old > .fa + span {
    border-left: 1px solid rgba(255, 255, 255, 0.3);
}
.btn.btn-social-old span {
    padding: 10px;
}
.btn.btn-social-old:hover {
    opacity: 1;
}
.btn.btn-circle {
    border-radius: 50%;
    height: 30px;
    line-height: 30px;
    padding: 0;
    width: 30px;
}
.skin-blue .navbar {
    background-color: #3c8dbc;
}
.skin-blue .navbar .nav a {
    color: rgba(255, 255, 255, 0.8);
}
.skin-blue .navbar .nav > li > a:hover, .skin-blue .navbar .nav > li > a:active, .skin-blue .navbar .nav > li > a:focus, .skin-blue .navbar .nav .open > a, .skin-blue .navbar .nav .open > a:hover, .skin-blue .navbar .nav .open > a:focus {
    background: rgba(0, 0, 0, 0.1);
    color: #f6f6f6;
}
.skin-blue .navbar .navbar-right > .nav {
    margin-right: 10px;
}
.skin-blue .navbar .sidebar-toggle .icon-bar {
    background: rgba(255, 255, 255, 0.8);
}
.skin-blue .navbar .sidebar-toggle:hover .icon-bar {
    background: #f6f6f6 none repeat scroll 0 0 !important;
}
.skin-blue .logo {
    background-color: #367fa9;
    color: #f9f9f9;
}
.skin-blue .logo > a {
    color: #f9f9f9;
}
.skin-blue .logo:hover {
}
.skin-blue .right-side > .content-header {
    background: #fbfbfb;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}
.skin-blue .user-panel > .image > img {
    border: 1px solid #dfdfdf;
}
.skin-blue .user-panel > .info, .skin-blue .user-panel > .info > a {
    color: #555555;
}
.skin-blue .sidebar {
    border-bottom: 1px solid #fff;
}
.skin-blue .sidebar > .sidebar-menu > li {
    border-bottom: 1px solid #dbdbdb;
    border-top: 1px solid #fff;
}
.skin-blue .sidebar > .sidebar-menu > li:first-of-type {
    border-top: 1px solid #dbdbdb;
}
.skin-blue .sidebar > .sidebar-menu > li:first-of-type > a {
    border-top: 1px solid #fff;
}
.skin-blue .sidebar > .sidebar-menu > li > a {
    margin-right: 1px;
}
.skin-blue .sidebar > .sidebar-menu > li > a:hover, .skin-blue .sidebar > .sidebar-menu > li.active > a {
    background: #f9f9f9;
    color: #222;
}
.skin-blue .sidebar > .sidebar-menu > li > .treeview-menu {
    background: #f9f9f9;
    margin: 0 1px;
}
.skin-blue .left-side {
    background: #f4f4f4;
    box-shadow: -3px 0 8px -4px rgba(0, 0, 0, 0.07) inset;
}
.skin-blue .sidebar a {
    color: #555555;
}
.skin-blue .sidebar a:hover {
    text-decoration: none;
}
.skin-blue .treeview-menu > li > a {
    color: #777;
}
.skin-blue .treeview-menu > li.active > a, .skin-blue .treeview-menu > li > a:hover {
    color: #111;
}
.skin-blue .sidebar-form {
    border: 1px solid #dbdbdb;
    
    margin: 10px;
}
.skin-blue .sidebar-form input[type="text"], .skin-blue .sidebar-form .btn {
    background-color: #fafafa;
    border: 1px solid #fafafa;
    box-shadow: none;
    height: 35px;
}
.skin-blue .sidebar-form input[type="text"] {
    border-radius: 2px 0 0 2px !important;
    color: #666;
}
.skin-blue .sidebar-form input[type="text"]:focus, .skin-blue .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
    background-color: #fff;
    color: #666;
}
.skin-blue .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
    border-left-color: #fff;
}
.skin-blue .sidebar-form .btn {
    border-radius: 0 2px 2px 0 !important;
    color: #999;
}
.dropdown-toggle > span, .dropdown-toggle > .fa {
    color: #fff;
    font-weight: 400;
}
.skin-black .navbar {
    background-color: #36567a;
}
.skin-black .navbar .nav a {
    color: #333333;
}
.skin-black .navbar .nav > li > a:hover, .skin-black .navbar .nav > li > a:active, .skin-black .navbar .nav > li > a:focus, .skin-black .navbar .nav .open > a, .skin-black .navbar .nav .open > a:hover, .skin-black .navbar .nav .open > a:focus {
    background:none;
    color: #fff;
    padding-bottom: 14px;
}
.navbar .navbar-right {
    float: right;
    padding:5px;
    margin: 0!important;
}
.navbar-nav {
    padding:5px;
}

.navbar-nav > li > a {
    padding:0!important;
    line-height: 24px;
}

.skin-black .navbar .navbar-right > .nav {
    margin-right: 10px;
}
.skin-black .navbar .sidebar-toggle .icon-bar {
    background: #fff;
}
.skin-black .navbar .sidebar-toggle:hover .icon-bar {
    background: #fff none repeat scroll 0 0 !important;
}
.skin-black .logo {
    background-color: #5b5b5b;
    color: #f9f9f9;
}
.skin-black .logo > a {
    color: #f9f9f9;
}
.skin-black .logo:hover {
}
.skin-black .right-side > .content-header {
    background: #fff;
    box-shadow: none;
}
.skin-black .user-panel > .image > img {
    border: 1px solid #444;
}
.skin-black .user-panel > .info, .skin-black .user-panel > .info > a {
    color: #fff;
}
.skin-black .sidebar {
    border-bottom: 1px solid #313131;
}
.skin-black .sidebar > .sidebar-menu > li {
}
.skin-black .sidebar > .sidebar-menu > li:first-of-type {
    border-top: 1px solid #444;
}
.skin-black .sidebar > .sidebar-menu > li:first-of-type > a {
    border-top: 0 solid #333;
}
.skin-black .sidebar > .sidebar-menu > li > a {
    margin-right: 1px;
    font-size:9px;
    text-align: center;
}
.skin-black .sidebar > .sidebar-menu > li.active > a {
    background: #19222c!important;
    color: #fff!important;
}
.skin-black .sidebar > .sidebar-menu > li > a:hover {
    background:#19222c;
    color:#fff;
}
.skin-black .sidebar > .sidebar-menu ul > li:hover a,
.skin-black .sidebar > .sidebar-menu li.third.active ul li a:hover{
    background:#19222c;
    color:#fff;
}

.skin-black .sidebar > .sidebar-menu li.third.active a.nolink,
.skin-black .sidebar > .sidebar-menu li.third.active ul {
    background: #19222c;
    color:#fff;
}

.skin-black .sidebar > .sidebar-menu li.third.active:hover ul a {
    background: #19222c;
    color:#fff;
}

.skin-black .sidebar > .sidebar-menu > li > .treeview-menu {
    background: #19222c;
    margin: 0 1px;
}
.skin-black .left-side {
    background: #36567a;
}
.skin-black .sidebar a {
    color: #fff;
}
.skin-black .sidebar a:hover {
    text-decoration: none;
}
.skin-black .treeview-menu > li > a {
    color: #ccc;
}
.skin-black .treeview-menu > li.active, .skin-black .treeview-menu > li:hover {
    background-color: #404b5f;
    color: #fff;
}
.skin-black .sidebar-form input[type="text"]:focus, .skin-black .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
    background-color: #444;
    border: 0 none;
}
.skin-black .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
    border-left: 0 none;
}
.skin-black .sidebar-form .btn {
    border-left: 0 none;
    border-radius: 0 2px 2px 0 !important;
    color: #999;
}
.skin-black .sidebar .sidebar-menu .treeview-menu > li:hover {
    background-color: #404b5f;
}
.input-group.color .add-on i, .input-prepend.color .add-on i {
    cursor: pointer;
    display: block;
    height: 16px;
    width: 16px;
}
.dropdown-menu.dropdown-custom > li {
    font-size: 12px;
    padding: 8px 10px;
}
.dropdown-menu li.dropdown-header:first-child {
    border-top: 0 none;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
li.dropdown-header {
    background-color: #f9fafc;
    border-bottom: 1px solid #eaedf1;
    border-top: 1px solid #eaedf1;
    color: #394263;
    padding: 5px 10px;
}
.dropdown-menu .divider {
    background-color: #f0f0f0;
    margin: 2px 0;
    padding: 0 !important;
}
.dropdown-menu.dropdown-custom > li > a {
    border-radius: 3px;
}
.dropdown-menu > li > a {
    padding: 6px 10px;
}
.dropdown-menu.dropdown-custom > li > a:hover {
    color: #fff;
}
.dropdown-menu.dropdown-custom {
    min-width: 200px;
}
.horizontal .dropdown-menu > li > a {
    padding: 8px 15px;
}
.horizontal .dropdown-menu > li > a:hover {
    background-color: #eee;
}
.footer-main {
    background-color: #fff;
    border-top: 1px solid #eee;
    padding: 7px 13px;
    text-align: center;
}
.stat-elem {
    background-color: #fff;
    border-radius: 40px;
    padding: 18px;
}
.stat-info {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
    font-style: italic;
    margin-top: -5px;
    padding: 8px;
    text-align: center;
}
.stat-icon {
    margin-bottom: 5px;
    text-align: center;
}
.st-red {
    background-color: #f05050;
}
.st-green {
    background-color: #27c24c;
}
.st-violet {
    background-color: #7266ba;
}
.st-blue {
    background-color: #23b7e5;
}
.navbar ul .select select {
    background: #fff;
    border: medium none;
    margin-right: 10px;
    margin-top:0;
    padding: 5px 12px;
}
.navbar ul .select label {
    color: #fff;
    font-weight: 400;
    margin-right: 10px;
}
.dash_bx {
    background: #fff;
    border: 1px solid #eaeaec;
    box-shadow: 0 2px 1px #ededee;
    list-style: outside none none;
    margin-left: 15px;
    padding: 0;
}
.dash_bx h5 {
    background: #424141;
    color: #fff;
    margin: 0;
    padding: 14px 30px;
    text-transform: uppercase;
}
.dash_bx ul {
    margin: 0;
    padding: 0;
}
.dash_bx ul li {
    border-bottom: 1px dashed #eaebed;
    font-size: 18px;
    font-weight: 300;
    list-style: outside none none;
    margin: 0;
    padding: 14px 15px;
}
.dash_bx ul li a.viewbtn {
    background: #ff9500;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    padding: 8px 20px;
}
.dash_bx ul li:last-child {
    border-bottom: medium none;
}
.content {
    background: #fff;
    overflow: auto;
    padding: 30px 15px;
}
.admin_menu ul li {
    list-style: outside none none;
}
.admin_menu ul li .admin_bx h4 {
    text-transform: uppercase;
}
.admin_bx {
    background: #fff;
    border: 1px solid #eaeaec;
    box-shadow: 0 2px 1px #ededee;
    padding: 29px 0 20px;
}
.admin_bx .fa {
    font-size: 30px;
    margin-bottom: 10px;
}
.admin_menu ul li .admin_bx:hover {
    background: #ff9500;
    cursor: pointer;
    transition: all 0.6s ease-in-out 0s;
}
.admin_menu ul li .admin_bx:hover h4, .admin_menu ul li .admin_bx:hover .fa {
    color: #fff;
}
h3.page-title {
    background: #fafafa;
    clear: both;
    margin: 12px 0;
    padding:10px;
    text-align: left;
    color: #656565;
    font-size:16px;
    text-transform:capitalize;
    font-weight: 600;
    border-bottom: 1px solid #eee;
}
.menu-btn {
    background: #fff;
    border: 2px solid #dbe1e8;
    border-radius: 5px;
    display: block;
    font-size: 0;
    padding: 10px;
    text-align: left;
    width: 100%;
}
.menu-btn li {
    display: inline-block;
    margin: 0 5px 10px;
    max-width: 150px;
    vertical-align: top;
    width: 100%;
}
.menu-btn li a {
    background: #f9fafc;
    border-radius: 5px;
    color: #5b5b5b;
    display: block;
    font-size: 12px;
    font-weight: bold;
    height: 100px;
    line-height: 14px;
    padding: 20px;
    text-align: center;
    text-transform: capitalize;
}
.menu-btn li a .fa {
    color: #dbe1e8;
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
}
.menu-btn li a:hover {
    background: #5b5b5b;
    color: #fff;
}
.menu-btn li a:hover .fa {
    color: #ff9500;
}
.menu-btn li.active a {
    background: #5b5b5b;
    color: #fff;
}
.menu-btn li.active a .fa {
    color: #ff9500;
}
.menu-btn li.active a:hover {
    background: #5b5b5b;
    color: #fff;
}
.menu-btn li.active a:hover .fa {
    color: #ff9500;
}
.menu-btn1 {
    background: #fff;
    border: 2px solid #dbe1e8;
    border-radius: 5px;
    display: block;
    font-size: 0;
    padding: 10px;
    text-align: center;
    width: 100%;
}
.menu-btn1 li {
    display: inline-block;
    margin: 0 5px 10px;
    max-width: 150px;
    vertical-align: top;
    width: 100%;
}
.menu-btn1 li a {
    background: #f9fafc;
    border-radius: 5px;
    color: #5b5b5b;
    display: block;
    font-size: 12px;
    font-weight: bold;
    height: 100px;
    line-height: 14px;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
}
.menu-btn1 li a .fa {
    color: #dbe1e8;
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
}
.menu-btn1 li a:hover {
    background: #5b5b5b;
    color: #fff;
}
.menu-btn1 li a:hover .fa {
    color: #ff9500;
}
.menu-btn1 li.active a {
    background: #5b5b5b;
    color: #fff;
}
.menu-btn1 li.active a .fa {
    color: #ff9500;
}
.menu-btn1 li.active a:hover {
    background: #5b5b5b;
    color: #fff;
}
.menu-btn1 li.active a:hover .fa {
    color: #ff9500;
}
.btn {
    background: #272727;
    border-radius: 0 !important;
    border-width: 0;
    box-shadow: none !important;
    color: #fff;
    font-size: 14px;
    outline: medium none !important;
    padding: 7px 14px;
    text-shadow: none;
}
.btn:hover {
    background: #ff9500;
    color: #fff;
}
.btn-group.btn-group-solid .btn + .btn, .btn-group.btn-group-solid .btn + .btn-group.btn-group-solid, .btn-group.btn-group-solid .btn-group.btn-group-solid + .btn, .btn-group.btn-group-solid .btn-group.btn-group-solid + .btn-group.btn-group-solid {
    margin-left: 0;
}
.btn-group-vertical.btn-group-solid > .btn + .btn, .btn-group-vertical.btn-group-solid > .btn + .btn-group, .btn-group-vertical.btn-group-solid > .btn-group + .btn, .btn-group-vertical.btn-group-solid > .btn-group + .btn-group {
    margin-left: 0;
    margin-top: 0;
}
.btn-default {
    border-width: 1px;
    padding: 6px 13px;
}
.btn.red-stripe {
    border-left: 3px solid #ff9500;
}
.btn.blue-stripe {
    border-left: 3px solid #ff9500;
}
.btn.purple-stripe {
    border-left: 3px solid #ff9500;
}
.btn.green-stripe {
    border-left: 3px solid #ff9500;
}
.btn.green.fileinput-button {
    background: #272727;
    color: #fff !important;
    display: block;
    float: right;
    text-transform: uppercase;
}
.btn.green.fileinput-button:hover {
    background: #ff9500;
}
.btn.green.fileinput-button a {
    color: #fff;
    font-size: 13px;
    font-weight: bold;
}
.getgame {
    border: 1px solid #ccc;
    margin-left: 12px;
    padding: 6px;
}
.notfinew {
    float: right;
    margin: -10px;
}
#btnExport {
    color: #fff !important;
}
h3 #btnExport {
    color: #fff !important;
}
button.Zebra_DatePicker_Icon {
    border-radius: 0 3px 3px;
    left: auto !important;
    right: 30px;
    /*top: 24px !important;*/
}
.datatable-scroll {
    overflow-x: auto;
    overflow-y: visible;
}
.backoffice {
    float: left !important;
    margin: 0;
}
.backoffice1 {
    float: right !important;
    margin: -25px 0 0;
}
.back-radio {
    background: #000;
    border: 1px solid #ccc;
    display: inline-block;
    height: 19px;
    left: 239px;
    margin: 27px 0 0 -118px !important;
    opacity: 1 !important;
    position: absolute;
    text-align: center;
    top: -53px;
    width: 19px;
}
.checker input {
    -moz-appearance: checkbox !important;
}
div.selector, div.selector span, div.checker span, div.radio span, div.uploader, div.uploader span.action, div.button, div.button span {
    background-image: none !important;
}
div.checker span {
    background-image: none;
}
.reset-me {
    font-size: 13px;
}
.place-add {
    float: right;
    margin: 0 0 30px 10px;
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
.place-add {
    float: right;
    padding: 10px 0 20px;
}
.nav.navbar-nav.pull-right.select_list {
    margin-right: 9px;
}
.store_div {
    left: 10px !important;
    position: relative !important;
    top: -38px !important;
}
.add-new-cont {
    margin: 6px 0 0 97px;
}
.input-small {
    width: 76px;
}
.back-radio {
    left: 300px;
    margin: 27px 0 0 -118px !important;
    opacity: 1 !important;
    position: absolute;
    text-align: center;
    top: -53px;
    width: 19px;
}
.reset-me {
    font-size: 12px;
}
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
.input-small {
    width: 86px;
}
.back-radio {
    left: 315px;
    margin: 27px 0 0 -118px !important;
    opacity: 1 !important;
    position: absolute;
    text-align: center;
    top: -53px;
}
.reset-me {
    font-size: 10px;
    font-weight: 600;
}
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
.input-small {
    width: 90px;
}
.back-radio {
    left: 322px;
    margin: 27px 0 0 -118px !important;
    opacity: 1 !important;
    position: absolute;
    text-align: center;
    top: -53px;
}
}
@media only screen and (width: 980px) {
.back-radio {
    left: 348px;
    margin: 27px 0 0 -118px !important;
    opacity: 1 !important;
    position: absolute;
    text-align: center;
    top: -53px;
}
}
.v-error {
    background-color: #d65c4f;
    border-radius: 2px;
    color: #fff;
    display: table;
    font-size: 11px;
    font-weight: 600;
    line-height: 14px;
    margin-bottom: 0;
    margin-top: 6px;
    padding: 10px 8px 0 !important;
    position: relative;
}
.static-info {
    margin-bottom: 1em;
}
#sample_editable_1_new {
    color: #fff !important;
}
#uniform-status #status {
    opacity: 1;
}
#addfile {
    position: relative;
    width: 100% !important;
    z-index: 1;
}
.attachhe i {
    font-size: 20px;
}
.yellow-box1 {
    margin: 0 0 0 24% !important;
}
/*button.Zebra_DatePicker_Icon {
    opacity: 0 !important;
}*/
#date {
    background: rgba(0, 0, 0, 0) url("http://aplus1.net/backoffice/img/calendar.png") no-repeat scroll 287px 0;
}
@media only screen and (min-width: 360px) and (max-width: 640px) {
#date {
    background: rgba(0, 0, 0, 0) url("http://aplus1.net/backoffice/img/calendar.png") no-repeat scroll 201px 0;
}
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
.yellow-box1 {
    margin: 0 0 0 0 !important;
}
#date {
    background: rgba(0, 0, 0, 0) url("http://aplus1.net/backoffice/img/calendar.png") no-repeat scroll 589px 0;
}
}
.rbanktable th {
    width: 100px !important;
}
#selecctall {
    opacity: 1 !important;
}
.dateleft {
    background: rgba(0, 0, 0, 0) url("http://aplus1.net/backoffice/img/calendar.png") no-repeat scroll 77px 0 !important;
}
.rbanktable th:first-child {
    width: 72px !important;
}
.page-title .btn.green.fileinput-button {
    margin-top: -9px;
}
#Tab_items {
    clear: both;
    float: right;
    padding-right: 2em;
    width: 100%;
}
.caption.collapsetabitemlist {
    border: 2px solid #36567a;
    clear: both;
    cursor: pointer;
    float: right;
    margin-left: 220px;
    margin-top: 10px;
    width: 200px;
}

.loading-mask {
  position: relative;
}


.loading-mask::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.25);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}


.loading-mask::after {
  content: "";
  position: absolute;
  border-width: 3px;
  border-style: solid;
  border-color: transparent rgb(255, 255, 255) rgb(255, 255, 255);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  top: calc(50% - 12px);
  left: calc(50% - 12px);
  animation: 2s linear 0s normal none infinite running spin;
  filter: drop-shadow(0 0 2 rgba(0, 0, 0, 0.33));
}
.input-icon i {
    color: #ccc;
    display: block;
    font-size: 14px;
    height: 16px;
    margin: 11px 2px 4px 10px;
    position: absolute;
    text-align: center;
    width: 16px;
}
.input-icon input {
    padding-left: 33px !important;
}
.input-icon {
    position: relative;
}
tr, td, th {
    border: medium none !important;
}
/*input, textarea, select {
    font-size: 12px !important;
}*/
.newicon {
   /* background: #fff;
    border-left: 4px solid orange;*/
    padding: 7px 10px;
}

.newicon  img{
	width:18px;
}

.newicon2 {
    padding: 7px 16px;
}

.newicon2  img{
	width:18px;
}
.delete_span{display:inline-block; border:none; float:right;}

.actionicons{
	text-align:left;
}

#newplufancy .form-control {  border: 1px solid #d4d4d4 !important;}
#newplufancy .name{ color:#525252 !important;}


/*All New Added Icon*/
.fa-car:before {
    content:"\f1b9";
}

.fa-gears:before,
.fa-cogs:before {
    content:"\f013";
}

/*For Forms*/
.form-body .row.static-info .name {
    float: none;
    margin-bottom:3px;
    width:100%;
}
.form-body .row.static-info .name + .value {
    clear: both;
    width:100%;
}
.form-body .col-md-7 .btn {
    border:1px solid #fff;
    top:-1px;
    position: relative;
}

.btn.focus, .btn:focus, .btn:hover {
    color:#fff;
}

.table-responsive table.table {
    border-collapse: collapse;
    border:1px solid #eaeef1;
}
.table-responsive table.table tr th,
.table-responsive table.table tr td{
    border-bottom: 1px solid #eaeef1!important;
    vertical-align: middle;
}
.table-responsive table.table tr td .label {
    font-size:100%;
}
.table-responsive table.table tr td .Delete_product {
    color:#fff;
}
.table-responsive table.table tr td {
    background: none!important;
}
.table-responsive table.table tr:hover td {
    background: #eaeef1!important;
}
.table-responsive table.table.table-advance tr th:last-child,
.table-responsive table.table.table-advance tr td:last-child {
    text-align: center;
    white-space: nowrap;
}
.table-responsive table.table .nobr {
    white-space: nowrap;
}
table.table-striped.dataTable {
    margin-bottom: 20px;
}
table.table-striped.dataTable thead th {
    padding:10px;
    border-bottom: 1px solid #eaeef1!important;;
}

table.table-striped.dataTable tbody td {
    border-bottom: 1px solid #eaeef1!important;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background:none;
}

.table-responsive table.payment-table th,
.table-responsive table.payment-table td  {
    text-align:center;
}
span.star {
    color:red;
}
.list-unstyled.amounts li {
    margin-bottom: 5px;
    padding-bottom: 10px;
}
.list-unstyled.amounts li span {
    display: block;
    margin:5px 0;
}
.form-actions button.btn {
    font-weight:500;
    text-transform: uppercase;
	border:1px solid #fff;
	border-radius:5px;
	margin:0 10px 10px 0;
}
.form-actions button.blue {
    background: #36567a;
}
.form-actions button.default {
    background: #555;
}
.form-actions button.default + button.default {
    background:#e02222;
}
.textarea textarea,
.twt-area textarea {
    resize: vertical;
    min-height: 100px;
    max-height: 300px;
}
.extra_tt button.Zebra_DatePicker_Icon {top:1px!important; right: 16px; margin: 0}
.search_button{ min-height:34px;}

#RubyDailyreportingAddReportingForm .inside-sales {margin-bottom:10px; max-width:100%;}
#RubyDailyreportingAddReportingForm .form-cont {border:none;}
#RubyDailyreportingAddReportingForm 	.form-container 	.grocery-cont, 
#RubyDailyreportingAddReportingForm 	.form-container 	.grocery-group {margin-bottom:5px;}
#RubyDailyreportingAddReportingForm 	.form-container 	.btn-default {margin-left:5px;}
#RubyDailyreportingAddReportingForm 	.form-container .grocery-tax-pos {margin:0 5px;}
#RubyDailyreportingAddReportingForm .enter-total {margin:30px auto; border:1px solid #eaeef1; border-radius:5px;}
#RubyDailyreportingAddReportingForm .col-md-6 .badge {margin:7px 0 0 5px;}
.admin_menu > .col-xs-12 > .portlet.box.blue:after {clear:both; overflow:hidden; display:block; content:""}

/*for Chart*/
.right-side #chart_div {width:80%!important; float:none;}
.table-striped > thead th {background-color:#36567a!important; color:#fff;}
.table-striped > thead th a {color:#fff;}
.table-striped > tbody > tr td.hiddenRow {padding:0!important}
.table-striped > tbody > tr.odd td {background:#f2f2f2!important}
.table-striped > tbody > tr td.action-buttons {width:202px; padding:8px 0;}
.table-striped > tbody > tr td.action-buttons i.fa {font-size:20px;}
.table-striped > tbody > tr td.action-buttons .btn.red-stripe {border:none;}
.table-striped > tbody > tr td.action-buttons * {float:left; display:block!important; margin:0 5px!important; padding:0!important;}
.table-hover > tbody > tr:nth-child(odd) td {background:#f2f2f2!important}

#TankReportsAdminTankReportForm button.Zebra_DatePicker_Icon,
#MopReportsAdminMopForm button.Zebra_DatePicker_Icon, 
.rubyUserlvts button.Zebra_DatePicker_Icon,
.rubyUtierts button.Zebra_DatePicker_Icon,
.rubyEdispts button.Zebra_DatePicker_Icon,
.rubyDcrstats button.Zebra_DatePicker_Icon {top:24px!important;}
#TankReportsAdminTankReportForm .col-md-2.col-xs-6,
#MopReportsAdminMopForm .col-md-2.col-xs-6,
#PurchasePacksAdminIndexForm .col-md-2.col-xs-6 {margin-bottom:10px;}

/*#RGroceryInvoiceAdminIndexForm #mpymt {display:none!important;}*/
#RGroceryInvoiceAdminIndexForm #mpymt {display: inline-block!important;}
.dtrng_pkr{ background-image:url('../../images/calender-rng.png'); background-repeat:no-repeat; background-position:right center; }