 <?php if (isset($rGroceryItems) && !empty($rGroceryItems)) { ?>
                                            <?php foreach ($rGroceryItems as $data) {
												$sales_inventory = @$pluItemBySale[$data['RGroceryItem']['plu_no']];
											?>
                                               <tr>
											   <td><?php echo h(@$rGroceryDepartments[$data['RGroceryItem']['r_grocery_department_id']]); ?>&nbsp;</td>
										
                                                    <td><?php echo h($data['RGroceryItem']['plu_no']); ?>&nbsp;</td>
                                                    <td><?php echo h($data['RGroceryItem']['description']); ?>&nbsp;</td>
                                                    <td><?php echo h($data['RGroceryItem']['current_inventory']); ?>&nbsp;</td>
                                                      <td><?php echo h($data['RGroceryItem']['purchase']); ?>&nbsp;</td>
                                                   <td><?php echo h($sales_inventory); ?>&nbsp;</td>
                                                    <td><?php echo ($data['RGroceryItem']['current_inventory'] + $data['RGroceryItem']['purchase']) - $sales_inventory; ?>&nbsp;</td>
													<td><?php $remaining = ($data['RGroceryItem']['current_inventory']+$data['RGroceryItem']['purchase']) - $sales_inventory;
													
													if($remaining<=0) echo '<p style="background:red;color:#fff;padding:0 10px;"><b>NO STOCK</b></p>';
if($remaining<10 && $remaining>0) echo '<p style="background:orange;color:#fff;padding:0 10px"><b>L-STOCK</b></p>';
if($remaining>=10) echo '<p style="background:green;color:#fff;padding:0 10px"><b>ON STOCK</b></p>';													?></td>
							
						</tr>

                                            <?php } ?>
                                        <?php } else { ?>
                                            <tr>
                                                <td colspan="10">  no result found </td>
                                            </tr>
                                        <?php } ?>