
<?php
//$currentDateTime = '08/04/2010 22:15:00';
//$newDateTime = date('h:i A', strtotime($currentDateTime));
//echo $newDateTime;
//die('i m here');
?>
<!--<style>
    #tab_3{
        display: block;
    }
    .tabbable-custom.boxless > .tab-content {
 
  padding: 0;
}

/*edit file css use here */


    #products_add_more td {
        background: #ff9500 none repeat scroll 0 0 !important;
    }
    .list-unstyled .last_content_first {
        background: #f9c090 none repeat scroll 0 0;
    }
    .list-unstyled li {
        border-bottom: 1px solid #fff;
        display: inline-block;
        overflow: auto;
        padding: 0 9px;
        width: 100%;
    }
    .list-unstyled.amounts.total_last {
        border: medium none;
        border-radius: 0;
        display: table;
        float: right;
        margin-right: 17px;
        padding: 0;
        width: 400px;
    }
    .last_content_two {
        background: #8eb4e2 none repeat scroll 0 0;
    }
    .last_content_three {
        background: #e9ecf4 none repeat scroll 0 0;
    }
    .last_content_four {
        background: #d0d7e8 none repeat scroll 0 0;
    }
    .last_content_five {
        background: #e9ecf4 none repeat scroll 0 0;
    }
/* Edit file css end here */



</style>-->
<!-- END SIDEBAR -->
<!-- BEGIN CONTENT -->
<div class="portlet box blue">
               <div class="page-content portlet-body" >

    <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
    
    <!-- /.modal -->
    <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->


    <!-- BEGIN PAGE CONTENT-->
    <div class="row">
	
	<div class="col-md-12 ">
            <!-- BEGIN SAMPLE FORM PORTLET-->
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-reorder"></i> View Fuel Purchase INVOICE Info : <?php echo $fuelInvoice['FuelInvoice']['id'];     ?>
                    </div>
                    <!--<div class="tools">
                        <a href="" class="collapse">
                        </a>
                        <a href="#portlet-config" data-toggle="modal" class="config">
                        </a>
                        <a href="" class="reload">
                        </a>
                        <a href="" class="remove">
                        </a>
                    </div>-->
                </div></div></div>

        <div class="col-md-12">
            <div class="tabbable tabbable-custom boxless tabbable-reversed">

                <div class="tab-content">

                    <div class="tab-pane" id="tab_3">
                        <div class="portlet box blue">

                            <div class="portlet-body form">
                                <!-- BEGIN FORM-->
                                    <div class="form-body">
                                        <!--<h2 class="margin-bottom-20"> View  Info - FuelInvoice : <?php echo $fuelInvoice['FuelInvoice']['id'];     ?> </h2>-->
                                        
                                        <div class="row">
                                        <div class="col-md-6 col-sm-12">
												<div class="portlet yellow box">
                                        <div class="portlet-title">
														<div class="caption">
															<i class="fa fa-cogs"></i>Order Details
														</div>
														<div class="actions">
															<!--<a href="#" class="btn default btn-sm">
																<i class="fa fa-pencil"></i> Edit
															</a>-->
														</div>
													</div>
                                                    <div class="portlet-body">
                                                        
                                                        <div class="row static-info">
															<div class="col-md-5 name">
															Bol:	 
															</div>
															<div class="col-md-7 value">
                                                                                                             <?php echo date('d F Y h:i A', strtotime($fuelInvoice['FuelInvoice']['bol'])); ?>
                                                                                                                            <?php //echo $fuelInvoice['FuelInvoice']['load_date']; ?>
																 
																
															</div>
														</div>
<!--														<div class="row static-info">
															<div class="col-md-5 name">
																 Bol:
															</div>
															<div class="col-md-7 value">
																<?php echo h($fuelInvoice['FuelInvoice']['bol']); ?>
																
															</div>
														</div>-->
                                                       
														<div class="row static-info">
															<div class="col-md-5 name">
															Load Date:	 
															</div>
															<div class="col-md-7 value">
                                                                                                             <?php echo date('d F Y h:i A', strtotime($fuelInvoice['FuelInvoice']['load_date'])); ?>
                                                                                                                            <?php //echo $fuelInvoice['FuelInvoice']['load_date']; ?>
																 
																
															</div>
														</div>
                                                        
														
                                                        
														<div class="row static-info">
															<div class="col-md-5 name">
																 Receving Date:
															</div>
															<div class="col-md-7 value">
                                                                                                                            <?php echo date('d F Y h:i A', strtotime($fuelInvoice['FuelInvoice']['receving_date'])); ?>
																<?php //echo $fuelInvoice['FuelInvoice']['receving_date']; ?>
																
															</div>
														</div>

        <div class="row static-info">
															<div class="col-md-5 name">
															Po:	 
															</div>
															<div class="col-md-7 value">
                                                                                                             <?php echo date('d F Y h:i A', strtotime($fuelInvoice['FuelInvoice']['po'])); ?>
                                                                                                                            <?php //echo $fuelInvoice['FuelInvoice']['load_date']; ?>
																 
																
															</div>
														</div>
<!--                                                        <div class="row static-info">
															<div class="col-md-5 name">
																Po: 
															</div>
															<div class="col-md-7 value">
															<?php echo $fuelInvoice['FuelInvoice']['po']; ?>	 
																
															</div>
														</div>-->
                                                        
														<div class="row static-info">
															<div class="col-md-5 name">
															Carrier:	 
															</div>
															<div class="col-md-7 value">
																<?php echo $fuelInvoice['FuelInvoice']['carrier']; ?>
																
															</div>
														</div>
                                                                                                               <div class="row static-info">
															<div class="col-md-5 name">
															FEIN:	 
															</div>
															<div class="col-md-7 value">
																<?php echo $fuelInvoice['FuelInvoice']['ship_via']; ?>
																
															</div>
														</div>
                                                        <div class="row static-info">
															<div class="col-md-5 name">
																 Status:
															</div>
															<div class="col-md-7 value">
                                                            <span class="label label-success">
																 <?php if($fuelInvoice['FuelInvoice']['status']==1){ echo 'Approval';} else { echo "Pending"; } ?>
                                                                 </span>
																<!--<span class="label label-info label-sm">
																	 Email confirmation was sent
																</span>-->
															</div>
														</div>
                                                        <!--<div class="row static-info">
															<div class="col-md-5 name">
																 Created Date:
															</div>
															<div class="col-md-7 value">
																 <?php echo date('F d,Y',strtotime($purchaseInvoice['PurchaseInvoice']['created'])); ?>
																
															</div>
														</div>-->
                                                    </div>
                                                    </div>
													</div>
                                                    <div class="col-md-6 col-sm-12">
												<div class="portlet blue box">
													<div class="portlet-title">
														<div class="caption">
															<i class="fa fa-cogs"></i>Supplier Details
														</div>
														<div class="actions">
															<!--<a href="#" class="btn default btn-sm">
																<i class="fa fa-pencil"></i> Edit
															</a>-->
														</div>
													</div>
                                                    <div class="portlet-body">
                                                    <div class="row static-info">
															<div class="col-md-5 name">
																Supplier: 
															</div>
															<div class="col-md-7 value">
																<?php echo $fuelInvoice['Customer']['name']; ?>
															</div>
														</div>
                                                        <div class="row static-info">
															<div class="col-md-5 name">
																 Export Supplier:
															</div>
															<div class="col-md-7 value">
																 <?php echo $fuelInvoice['FuelInvoice']['export_supplier']; ?>
															</div>
														</div>
                                                    
														<div class="row static-info">
															<div class="col-md-5 name">
																 Terminal:
															</div>
															<div class="col-md-7 value">
																 <?php echo $fuelInvoice['FuelInvoice']['terminal']; ?>
															</div>
														</div>
                                                        
                                                        <div class="row static-info">
															<div class="col-md-5 name">
																 Export Terminal:
															</div>
															<div class="col-md-7 value">
																 <?php echo $fuelInvoice['FuelInvoice']['export_terminal']; ?>
															</div>
														</div>
                                                        
                                                        <div class="row static-info">
															<div class="col-md-5 name">
																 Driver:
															</div>
															<div class="col-md-7 value">
																 <?php echo $fuelInvoice['FuelInvoice']['driver']; ?>
															</div>
														</div>
                                                        
                                                        <div class="row static-info">
															<div class="col-md-5 name">
																Comments:
															</div>
															<div class="col-md-7 value">
																 <?php echo $fuelInvoice['FuelInvoice']['comments']; ?>
															</div>
														</div>
                                                        <div class="row static-info">
															<div class="col-md-5 name">
																Upload file:
															</div>
															<div class="col-md-7 value">
                                                                                                                 <?php           if(!empty($fuelInvoice['FuelInvoice']['files'])){ ?>
                                                        <a href="<?php echo Router::url('/',true);?>uploads/invoice/<?php echo $fuelInvoice['FuelInvoice']['files'];?>" target="_blank" class="btn default btn-xs red-stripe">View File</a>
                      <?php      } else { ?>
                                                        <span class="btn default btn-xs red-stripe"> No  File  </span>
                     <?php  } ?>
																 <?php //echo $fuelInvoice['FuelInvoice']['comments']; ?>
															</div>
														</div>
                                                        </div>
                                                    </div>
													</div>
                                        
                                            
                                 
                                <!-- END FORM-->
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div></div></div>
    <!-- END PAGE CONTENT-->
    <div class="row">
											<div class="col-md-12 col-sm-12">
												<div class="portlet purple box">
													<div class="portlet-title">
														<div class="caption">
															<i class="fa fa-cogs"></i> Fuel Purchase Products
														</div>
														<div class="actions">
															<!--<a href="#" class="btn default btn-sm">
																<i class="fa fa-pencil"></i> Edit
															</a>-->
														</div>
													</div>
                                                    
                                                    <div class="portlet-body">
														<div class="table-responsive">
															<table class="table table-hover table-bordered table-striped add">
															<thead>
															<tr>
														<tr>
                                                                                                                    <th>
                                        Id
                                    </th>	
                                    <th>
                                        Products
                                    </th>
                                    <th>
                                        <!-- Vendor Price-->
                                        Gallons Delivered
                                    </th>
                                    <th>
                                        <!-- Tax Class-->
                                        Cost Per Gallons

                                    <th>
                                        Net Amount
                                    </th>
	
                                                                                                                        </tr>
															</thead>
                                                            <?php  $total = 0;  ?>
                                                            <tbody>
                                                              
                                                    <?php if (isset($fuelInvoice['FuelProduct']) && !empty($fuelInvoice['FuelProduct'])) { ?>
                                    <?php
                                    foreach ($fuelInvoice['FuelProduct'] as $key => $data) {
                                        
                                        $nameAndId = $this->Custom->GetProductName($data['product_id']);
                                        
                                        ?>            
                                                                <tr>
                                                                    <tr>
                                                    <td><?php echo h($data['id']); ?>&nbsp;</td>


                                                    <td><?php echo h($nameAndId['WholesaleProduct']['name']); ?></td>
                                                    
                                                    <td><?php echo  $data['gallons_delivered'];  ?>&nbsp;</td> 
                                                    <td><?php echo  $data['cost_per_gallon'];  ?>&nbsp;</td>
                                                    <td><?php echo $data['net_ammount']; ?>&nbsp;</td>
                                                   
                                                   
                                                                    
                                                                </tr>                      
                                                                <?php } }?>
                                       
                       
                                    </tbody>
                                                            </table>
                                                            
                                <table class="table table-hover table-bordered table-striped add">
                            <thead>
                                <tr>
                                    <th>
                                        Tax Zone
                                    </th>
                                    <th>

                                        USA State
                                    </th>
                                    <th>

                                        Tax Description
                                    </th>   
                                    <th>
                                        Tax on Gallon Delivered(Qty)
                                    </th>
                                    <th>
                                        Rate(%)on Gallon 
                                    </th>
                                    <th>
                                        Net Amount
                                    </th>


                                </tr>
                            </thead>
                            <tbody id="gallon_add_more">

<?php foreach ($fuelInvoice['TaxeZone'] as $data) {  ?>   
                                    <tr>
                                        <td><?php echo $data['tax_zone']; ?></td>
                                         <?php $state_name = classregistry::init('State')->find('first', array('conditions' => array('State.id' => $data['state_id']), 'fields' => array('State.name'))); ?>
                                        <td><?php if(isset($state_name['State']['name'])) echo $state_name['State']['name']; ?></td>
                                        <td><?php echo $data['tax_decription']; ?></td>
                                        <td><?php echo $data['tax_on_gallon_qty']; ?></td>
                                        <td><?php echo $data['rate_on_gallon']; ?></td>
                                        <td><?php echo $data['tax_net_amount_gallon']; ?></td>




                                    </tr>
<?php } ?>





                            </tbody>
                        </table>                                      
                                                            </div>
                                                            </div>
                                                    
                                                    </div>
                                                    
                                                    </div>
        
        
          <ul class="list-unstyled amounts total_last">
            <li class="last_content_first">
                <span class="span_1">Gallon Delivered Total</span><span class="span_2" id="Gallon_Delivered_Total"><?php echo $fuelInvoice['FuelInvoice']['max_qnty']; ?>
                </span>
            </li>
            <li class="last_content_two">
                <span class="span_1">Net Amount Total</span><span class="span_2" id="Net_Amount_Total"><?php echo $fuelInvoice['FuelInvoice']['total_invoice']; ?> </span>
            </li>
            <li class="last_content_three">
                <span class="span_1">Taxes</span><span class="span_2" id="Taxes"><?php echo  $fuelInvoice['FuelInvoice']['taxes'];  ?></span>
            </li>
            <li class="last_content_four">
                <span class="span_1">Gross Amount</span><span class="span_2" id="Taxes"><?php echo  $fuelInvoice['FuelInvoice']['gross_amount'];  ?></span>
            </li>
             <li class="last_content_four">
                <span class="span_1">Discount</span><span class="span_2" id="Taxes"><?php echo  $fuelInvoice['FuelInvoice']['discount'];  ?></span>
            </li>
             <li class="last_content_four">
                <span class="span_1">Total Amount</span><span class="span_2" id="Taxes"><?php echo  $fuelInvoice['FuelInvoice']['total_amount'];  ?></span>
            </li>
            <li class="last_content_five">
                <div class="credit_span"><span class="span_1">MOP :  </span></div><span class="span_2" id="MOP">
                <?php echo  $fuelInvoice['FuelInvoice']['mop'];  ?>
                </span>
            </li>
    </ul>
        
        
                                                    </div>
                                                    </div>
    
<!-- END CONTENT -->
<!--<style>
.add th {
  background: #ff9500 none repeat scroll 0 0;
}

/* edit file botom css use here */

.input-group-btn.extra_button {
        position: relative;
        right: 0;
        width: 40px;
    }
    .input-group-btn.extra_button button {
        position: absolute;
        top: 0;
    }
    .extra_tt .input-group .form-control {
        width: 205px;
    }

    .span_2{ height:32px; 
             float: left;
             width: 50%;
    }
    .span_1 {
        float: left;
        height: 32px;
        margin-top: 0;
        padding: 8px 0;
        width: 48%;
    }
    .list-unstyled .span_2 {
        border-left: 1px solid #fff;
        display: inline-table;
        float: right;
        margin: 0;
        padding: 6px 0 6px 3%;
    }
    .credit_span {
        float: left;
        width: 50%;
    }
    .credit_span .span_1 {
        margin-right: 13px;
        width: auto;
    }

    .credit_span .form-control.exampleInputName {
        float: left;
        width: 125px;
    }
    .select_list_mop {
  border: 1px solid lightgray;
  margin-top: 5px;
  outline: 0 none;
  width: 105px;
}

/* edit file botom css end use here */
</style>-->