<td style="background-color: rgb(249, 249, 249);">
<?php echo $this->Form->input('FuelProduct.product_id.', array('class' => 'form-control exampleInputName', 'type'=>'hidden','id' => false, 'label' => false, 'div' => false,'value'=>$id )); ?>
<?php  echo $product['WholesaleProduct']['name']; ?>&nbsp;
</td>
<td style="background-color: rgb(249, 249, 249); " class="max_open" ><?php echo $this->Form->input('FuelProduct.gallons_delivered.', array('label' => false,'size'=>8  ,'class' => 'form-control', 'type' => 'text', 'onkeyup'=>'quantity_amount()', 'placeholder'=>'0')); ?> <?php //echo $product['Rproduct']['opening_book_amount'];  ?>
</td>                                    
<td class="enter_product_quantity"><?php echo $this->Form->input('FuelProduct.cost_per_gallon.', array('class' => 'form-control', 'type' => 'text','size'=>8, 'label' => false,  'required' => 'false', 'placeholder' => '0','onkeyup'=>'quantity_amount()')); ?>
</td>
<td class="net_amount"><?php echo $this->Form->input('FuelProduct.net_ammount.', array('class' => 'form-control', 'type' => 'text', 'size'=>8, 'label' => false, 'required' => 'false', 'placeholder' => '0','readonly'=>true)); ?>
</td>                                   
<td style="background-color: rgb(249, 249, 249); ">
<span class="label label-success" href='#'> <a class='Delete_product'>Delete</a></span>
</td>

