<header class="header"> 
 <a href="#" class="logo"> 
<?php echo $this->Html->image('logo-main.png', array('alt' => 'logo', 'onclick' => 'javascript:history.back(1)')); ?></a> 
</header>
<style>
.right-sidetoggele {
    margin-left: 0;
}
.header .navbar.right-sidetoggele {
    margin-left: 0;
}
</style>