 <?php echo $this->Html->script('/fancybox/source/jquery.fancybox.pack'); ?>
 <?php   echo $this->Html->css(array('/fancybox/source/jquery.fancybox')); ?>
<div class="row">&nbsp;</div>
<div class="portlet box blue">
    <div class="portlet-title col-md-12">
        <div class="caption">
            <i class="fa fa-cogs"></i> Seup & Sync Pricebook
        </div>
        
    </div>
	
	<div class="portlet-body">
	
      <div class="row">
		<div class="col-md-12">
			<div class="col-md-5">
            <?php echo $this->Form->create('RGroceryItem', array('role' => 'form', 'type' => 'file'), array('inputDefaults' => array('label' => false, 'div' => false, 'required' => false))); ?>
            <div class="col-md-9">
			 <label>Global Categories</label>
		<?php 
		echo $this->Form->input('cat', array('class' => 'form-control','type'=>'select', 'label' => false, 'required' => true, 'id' =>'department','options'=>$GlobalCategorielist,'empty'=>'Search by catagory')); ?>
        </div>
        <div class="col-md-3 nopadd">
         <label>&nbsp;</label>
		<?php echo $this->Form->input('Search', array('class' => 'btn btn-success','type'=>'submit', 'label' => false, 'required' => false,)); ?>
        </div>
            <?php echo $this->form->end(); ?>   
        
 		
		</div>		
			<div class="col-md-6 nopadd">

<?php if(@$categoryname){
//	echo $categoryname; die;
	//pr($Globalupcslist);
	?>

<div class="col-md-7 nopadd">
<label>Your Store Department</label>
<div style="clear:both"></div>
						<?php if (isset($Globalupcslist) && !empty($Globalupcslist)) { ?>
                        				<?php echo $this->Form->input('department', array('class' => 'form-control','type'=>'select', 'label' => false, 'required' => false, 'id' =>'departmentidvalue','options'=>$departmentlist,'empty'=>'Filter by department')); ?>
</div>
<div class="col-md-5">
<label>&nbsp;</label>
<div style="clear:both"></div>
<span id="postimport" class="btn green">Import Selected items </span>
</div>
<?php }
}?>
</div>
       </div>
	 </div>
      <div style="clear:both"></div>
      <div class="row">
		<div class="col-md-12">
         <div class="col-md-6"></div>
          <div class="col-md-6">
            <div class="col-md-8 nopadd">
                      
            
                    </div>
       <?php if(@$categoryname){?>
            <div class="col-md-4">
             <label>&nbsp;</label>
             <div style="clear:both"></div>
            <a class=" various1  calculation1 sow" data-fancybox-type="iframe" href="javascript:void(0)"><div class="btn btn-danger"><span class="glyphicon glyphicon-th caliconpadd"></span>Search Item</div></a>
            </div>
            <?php } ?>
 
          </div>  
		</div>
	</div>
    
     <div style="clear:both"></div>

      <div class="row">
		<div class="col-md-12">			
			<hr/>
            <div style="clear:both"></div>
            <input type="text" id="plunosearch"/> Plu No
			  <div class="datatable">
                            <table class="table table-striped table-bordered table-advance table-hover"  id="example">
                            <!--<table class="table table-striped table-bordered table-advance table-hover" id="example">-->
						<thead>
						<tr>
							
								<th><?php echo $this->Paginator->sort('PLU No'); ?></th>
								<th><?php echo $this->Paginator->sort('Description'); ?></th>
                                <th><?php echo $this->Paginator->sort('Category'); ?></th>
								<th><?php echo $this->Paginator->sort('Starting Inventory'); ?></th>
								<th><?php echo $this->Paginator->sort('Cost'); ?></th>
								<th><?php echo $this->Paginator->sort('Tax_type'); ?> <i class="fa fa-arrow-up" aria-hidden="true" style="cursor:pointer;" id="changetax"></i><br/><select  class="" id="taxvalue" name="">
                                <option value="0">No Tax</option>
                                <option value="1">Tax</option>
                                </select> 
</th>
								<th>
								<input type="checkbox" id="selecctall"/></th>
								
						</tr>
						</thead>
						<tbody>
						<?php if (isset($Globalupcslist) && !empty($Globalupcslist)) { ?>
                                            <?php $i=0; foreach ($Globalupcslist as $data) { ?>
						<tr>
                        
                        <?php 
					$sessarr=array();
					$sessar=array();
					$sessarr=$this->Session->read('ScoreCardCriteria');
				//	pr($sessarr);
					$tax="";
					$notax="";
					$checked="";
					$current_inventory=$data['Globalupcs']['starting_inventory'];
					$price=$data['Globalupcs']['cost'];
			
					
							if(count($sessarr) > 0){
                            foreach ($sessarr as $sessar) {
                                if($data['Globalupcs']['id']==$sessar['id']){
                                    $checked='checked="checked"';
                                    $current_inventory=$sessar['current_inventory'];
                                    $price=$sessar['price'];
									if($sessar['tax']==1){
									$tax='selected="selected"';
									}elseif($sessar['tax']==0){
									$notax='selected="selected"';	
									}
                                }
                            }
							}
					?>
                        
                        
                        
										
                            <td><?php echo h($data['Globalupcs']['plu_no']); ?></td>
                            <td><?php echo h($data['Globalupcs']['description']); ?>&nbsp;</td>
                            <td><?php echo h($data['Globalupcs']['category']); ?>&nbsp;</td>
                         	<td><input type="text" class="" name="inventory" value="<?php echo h( $current_inventory); ?>"/>&nbsp;</td>
                            <td><input type="text"  class="" name="cost" value="<?php echo h($price); ?>"/>&nbsp;</td>
                            <td><select id="" name="taxtype" class="">
                                <option value="0" <?php echo $notax; ?> >No Tax</option>
                                <option value="1" <?php echo $tax; ?>>Tax</option>
                                </select></td>
                           <td> <input type="checkbox"  <?php echo $checked; ?> name="import"  class="importitem" style="margin-left:8px;"  value="<?php echo h($data['Globalupcs']['id']); echo '*'.$i;?>" <?php
$finditemplu =  ClassRegistry::init('RGroceryItem')->find('first',array('conditions'=>array('RGroceryItem.plu_no'=>$data['Globalupcs']['plu_no'],'RGroceryItem.store_id'=>$this->Session->read('stores_id')))); 
if(@$finditemplu['RGroceryItem']['plu_no']){
	echo 'disabled';
	} ?>/> </td>

						</tr>
					<?php $i++; } }?>
						</tbody>
						</table>
                        </div>
                        </div>
                         <!--<div class="margin-top-20">
                                <ul class="pagination">
                                    <li>
                                        <?php echo $this->Paginator->prev('<i class="fa fa-angle-left"></i>', array('escape' => false)); ?> 
                                    </li>
                                             <?php echo $this->Paginator->numbers(array('tag' => 'li', 'separator' => '')); ?>                                    
                                    <li> 
                                        <?php echo $this->Paginator->next('<i class="fa fa-angle-right"></i>', array('escape' => false)); ?> 
                                    </li>
                                </ul>
                            </div>-->
                            
          </div>                                             

<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
	  $('#example').DataTable({"pageLength": 100,bFilter: false,bSort:false});
		
		$('#saledate').Zebra_DatePicker({format:"m-d-Y"});

$('#selecctall').click(function(event) {  
	 $("input:checkbox").not('input[type=checkbox]:disabled').prop('checked', $(this).prop("checked"));
    });
	
	 $('#postimport').click(function(){
	
		 if(!$('#example input[type="checkbox"]').is(':checked')){
      alert("Please check at least one.");
      return false;
    }

if($('#departmentidvalue').val()){
	
		// alert('hi');
	   var data = new Array();
	   var taxtype = new Array();
	   var inventory = new Array();
	   var cost = new Array();
			$("input[name='import']:checked").each(function(i) {
				data.push($(this).val());
			});
			$("select[name='taxtype']").each(function(i) {
				if(!$(this).val()){
				taxtype.push('0');
					}else{
				taxtype.push($(this).val());
						}
			});
			$("input[name='inventory']").each(function(i) {
				if(!$(this).val()){
				inventory.push('0');
					}else{
				inventory.push($(this).val());
						}
			});
			$("input[name='cost']").each(function(i) {
				if(!$(this).val()){
				cost.push('0');
					}else{
				cost.push($(this).val());
						}
			});

var dpartid = $('#departmentidvalue').val();
var dpartname = $('#departmentidvalue  option:selected').text();
			    $.ajax({
                url: '<?php echo Router::url('/') ?>admin/storesettings/import_item',
                type: 'post',
                data: { ids: data,inventory:inventory,cost:cost,taxtype:taxtype,dpartid:dpartid,dpartname:dpartname},
                success:function(data){
					alert(data);
					console.log(data);
//					window.location='<?php echo Router::url('/') ?>admin/lottery/games';
                }
            });
		 }else{
			 alert('please select department');
			 }
			
        });
		$('#plunosearch').keyup(function(){
			var plunosearch = $('#plunosearch').val();
			$('.sorting_1').each(function(){
				var plu = $(this).html();
				if(plu==plunosearch){
					$(this).addClass('green');
					$('.sorting_1').not(this).removeClass('green');
					}else{
											$(this).removeClass('green');

						}
				});
			});
$('#changetax').click(function(){
var tax =	$('#taxvalue').val();
	$('#example select').each(function(){
		$(this).val(tax);
		});
	});
});
</script>
<script type="text/javascript" >
	$(document).ready(function() {

	
	$('.calculation1').click(function(){
				
					$(".various1").fancybox({
					maxWidth	: 600,
					maxHeight	: 850,
					fitToView	: false,
					width		: '40%',
					height		: '65%',
					autoSize	: false,
					closeClick	: false,
					openEffect	: 'none',
					closeEffect	: 'none',
                    afterClose	:  function () {
                        window.location.reload();
                    },
					href        :'<?php echo Router::url('/') ?>admin/storesettings/newplu'
					});
				});

		$('#plunosearch').keyup(function(){
			var plunosearch = $('#plunosearch').val();
			$('.sorting_1').each(function(){
				var plu = $(this).html();
				if(plu==plunosearch){
					$(this).addClass('green');
					$('.sorting_1').not(this).removeClass('green');
					}else{
											$(this).removeClass('green');

						}
				});
			});
});
</script>
<style>
.green{
	background:#090;
	}
	.importitem{
		margin-left:10px;
		}
		table.dataTable thead th{ padding:10px;}
		.nopadd{ padding:0px !important;}
		#selecctall{margin-left:8px;}
</style>