
                                    <td style="background-color: rgb(249, 249, 249); width: 200px"><?php echo $this->Form->input('PurchaseInvoice.product_id.', array('class' => 'form-control exampleInputName', 'id' => false, 'label' => false, 'div' => false, 'type' => 'select','selected'=>$id , "options" => $products)); ?>&nbsp;</td>
                                    <td style="background-color: rgb(249, 249, 249); width: 200px"><?php echo $product['WholesaleProduct']['vendor_price'];  ?></td>

                                    <td style="background-color: rgb(249, 249, 249); width: 200px"><?php echo $product['WholesaleProduct']['tax_class'];  ?>&nbsp;</td>
                                    <td style="background-color: rgb(249, 249, 249); width: 200px" class="max_qnty"><?php echo $product['WholesaleProduct']['max_qty'];  ?>&nbsp;</td>
                                    <td style="background-color: rgb(249, 249, 249); width: 200px" class="max_open"><?php echo $product['WholesaleProduct']['opening_book_amount'];  ?>&nbsp;</td>
                 <td style="background-color: rgb(249, 249, 249); width: 200px"><span class="label label-success" href='#'> <a class='Delete_product'>Delete</a></span></td>          