<style>
.noplu{ padding-left:40px;}
.pricell{ padding:0 3px !important;}
</style>
<div class="portlet box blue">
               <div class="page-content portlet-body" >
    <div class="row">
        <div class="col-md-12 ">
            <!-- BEGIN SAMPLE FORM PORTLET-->
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-reorder"></i> 
                    </div>
                </div></div></div>
		


        <div class="form-body col-md-12">
            <div class="row">
			  <div id="hello1">Item successfully added </div>
                <div class="col-md-6 col-sm-12">
                    <div class="portlet yellow box">

                        <div class="portlet-title">

                        </div>
                        <div class="portlet-body extra_tt">
                      
                            <div class="row static-info">
                                <div class=" name">
                                    PLU No:	 
                                </div>
                                <div class="">
                                <input type="text" id="pul" name="plu_no" class="form-control " placeholder="Enter PLU No"  value=""/>
                                <input type="hidden" id="id" name="id" class="form-control mplu" placeholder="Enter PLU No"  value=""/>
                                   

                                </div>
                                <div style="float: right;   margin-top: -36px;  margin-left: 10px;  position: absolute;    right: 0;" id="downarr"><i class="fa fa-arrow-down" aria-hidden="true" style="cursor:pointer;" id="changetax"></i></div>
                            </div>
							<div class="row static-info">
                                <div class=" name">
                                    Category:			 
                                </div>
                                <div class=" value">
                           <div id="categorydiv"></div>
                                  
                                  <?php 
									echo $this->Form->input('category', array('class' => 'form-control mplu','type'=>'select', 'label' => false, 'required' => true, 'id' =>'category','options'=>$GlobalCategorielist,'empty'=>'Select Catagory')); ?>
                                    
                                </div>
                            </div>

                            <div class="row static-info">
                                <div class=" name">
                                    Description:			 
                                </div>
                                <div class=" value">
                                <input type="text" id="description" name="description" class="form-control mplu" placeholder="Enter Description" />
                                    
                                </div>
                            </div>
                            <div class="col-xs-4 pricell">
                            <div class="row static-info">
                                <div class="name">
                                    Price:	 
                                </div>
                                <div class="value">
                                <input type="text" id="price" name="price" class="form-control mplu" placeholder="Enter Price" />
                                <input type="hidden" id="index" name="index" class="form-control mplu" placeholder="Enter Price" value="<?php echo $this->Session->read('index') ?>" />
                                  
                                </div>
                            </div>
							</div>
                              <div class="col-xs-4 pricell">
							 <div class="row static-info">
                                <div class=" name">
                                    Starting Inventory:
                                    
                                </div>
                                <div class="value">
                                <input type="text" id="current_inventory" name="current_inventory" class="form-control mplu" placeholder="Starting Inventory" />
                                    

                                </div>
                            </div>
                            </div>
                              <div class="col-xs-4 pricell">
                            <div class="row static-info">
                                <div class=" name">
                                    TAX:
                                    
                                </div>
                                <div class="value">
                                <select  class="form-control" name="tax" id="tax">
                                <option value="0">No Tax</option>
                                <option value="1">Tax</option>
                                </select> 

                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-actions" style="text-align:center;">
            <button type="submit"  id="submit"  class="btn blue closeclick">Submit</button>
            <button type="submit" id="new" class="btn default closeclick" >Save & New</button>
            <span id="buutondiv" style="float:right"><button id="newitem" class="btn btn-danger">Add Item</button></span>
            <!--<button type="button" class="btn default">Cancel</button>-->
        </div>
         <!--</form>   -->
         
         <div class="noplu">
       
   			 <span style="color:#060">List of PLU successfully added to queue. </span> <br/>
             <div id="hello"> </div>
    		<!--<a href="#" onclick="parent.jQuery.fancybox.close();" class="btn btn-info upl" >Submit</a>-->
		</div>
    </div>
    
  
    <?php echo $this->form->end(); ?>
</div>
</div>
<script type="text/javascript">
	jQuery(document).ready(function() {
	 //alert("hello");
	 var tplu = "";
	 jQuery('.noplu').hide();
	  jQuery('#categorydiv').hide();
	 jQuery('#buutondiv').hide();
	 
	 jQuery('#hello1').hide();
	 
		/*jQuery('#pul').change(function(){
		jQuery('#hello1').hide();
		var pul = $('#pul').val();
		
		jQuery.ajax({
				dataType: "json",
				url: '<?php echo Router::url('/') ?>admin/storesettings/getnewplu',
                type: 'post',
                data: {pul:pul},
                success:function(data){
					var obj = jQuery.parseJSON( JSON.stringify(data) );
					//alert(JSON.stringify(data));
					var count = JSON.stringify(data);
					if(count!=0){
					 jQuery('#categorydiv').show();	
					jQuery('#category').hide();		
					jQuery('#categorydiv').html('<select id="newcat" name="newcat" class="form-control"><option value="' + obj.category + '" selected="selected">' + obj.category + '</option></select>');
					
					jQuery('#id').val(obj.id);
					jQuery('#description').val(obj.description);
					jQuery('#price').val(obj.cost);
					jQuery('#current_inventory').val(obj.starting_inventory);
				}else{
					jQuery('#id').val('');
					jQuery('#description').val('');
					jQuery('#price').val('');
					jQuery('#current_inventory').val('');
					jQuery('#category').show();	
					jQuery('#categorydiv').hide();
					 
					jQuery('#buutondiv').show();
					 
				}
				
                }
            });
		});*/
		
		
		jQuery('#downarr').on('click ', function(e) {
		jQuery('#hello1').hide();
		var pul = $('#pul').val();
		
		jQuery.ajax({
				dataType: "json",
				url: '<?php echo Router::url('/') ?>admin/storesettings/getnewplu',
                type: 'post',
                data: {pul:pul},
                success:function(data){
					//alert(data);
					var obj = jQuery.parseJSON( JSON.stringify(data) );
					//alert(JSON.stringify(data));
					var count = JSON.stringify(data);
					if(count!=0){
					 jQuery('#categorydiv').show();	
					jQuery('#category').hide();		
					jQuery('#categorydiv').html('<select id="newcat" name="newcat" class="form-control"><option value="' + obj.category + '" selected="selected">' + obj.category + '</option></select>');
					
					jQuery('#id').val(obj.id);
					jQuery('#description').val(obj.description);
					jQuery('#price').val(obj.cost);
					jQuery('#current_inventory').val(obj.starting_inventory);
				}else{
					jQuery('#id').val('');
					jQuery('#description').val('');
					jQuery('#price').val('');
					jQuery('#current_inventory').val('');
					jQuery('#category').show();	
					jQuery('#categorydiv').hide();
					 
					jQuery('#buutondiv').show();
					 
				}
				
                }
            });
		});
	
		
		
		jQuery('#newitem').click(function(){
			
			//alert("hello");
			var price =	jQuery('#price').val();
			var plu = $('#pul').val();
			var current_inventory =	jQuery('#current_inventory').val();
			var category =	jQuery('#category').val();
			var description =	jQuery('#description').val();
			var tax =	jQuery('#tax').val();
			
				if(plu=='') {
					alert('Please enter PLU No.');
					 jQuery( "#pul" ).focus();
					return false;	
				}
				if(category=='') {
					alert('Please select catagory.');
					 jQuery( "#category" ).focus();
					return false;	
				}
				
					if(price=='') {
					alert('Please enter price.');
					 jQuery( "#price" ).focus();
					return false;	
				}
			//	alert(tax);
				jQuery.ajax({
					dataType: "json",
					url: '<?php echo Router::url('/') ?>admin/storesettings/newitem',
					type: 'post',
					data: {plu : plu, price : price, current_inventory : current_inventory, category : category,description:description,tax:tax},
					success:function(data){
						var obj = jQuery.parseJSON( JSON.stringify(data) );
					//alert(JSON.stringify(data));
					//var values = JSON.stringify(data);
					var index= obj.index;
					var id= obj.id;
					var description= obj.description;
					var price= obj.cost;
					var current_inventory= obj.starting_inventory;
					var plu= obj.plu_no;
					var tax= obj.tax;
					
					SaveAndNew(id, index,description,price,current_inventory,plu,tax) ;
					
						//get index, id
					//	alert(count);
						
						jQuery('#pul').val('');
						jQuery('#category').val('');
						jQuery('#price').val('');
						jQuery('#description').val('');
						jQuery('#current_inventory').val('');
						jQuery('#buutondiv').hide();
						jQuery('#hello1').show();
						
					}
           		 });
				
		});
		
		
		function SaveAndNew(id, index,description,price,current_inventory,plu,tax) {
			
			
				if (id!= "") {
				var id = id;
				var price =	price;
				var plu = plu;
				var index =	index;
				var current_inventory =	current_inventory;
				var posttype = "new";
				var tax =	tax;
				
				} else {

				var id = jQuery('#id').val();
				var price =	jQuery('#price').val();
				var plu = $('#pul').val();
				var index =	jQuery('#index').val();
				var current_inventory =	jQuery('#current_inventory').val();
				var posttype = jQuery(this).attr("id");
				var tax =	jQuery('#tax').val();
				}
				
				//alert(plu);
				
				if(tplu != '') {
					tplu = tplu + ', ' + plu;
				} else {
					tplu = plu;	
				}
				
			
				if(index==''){
					var index = 0;
					jQuery('#index').val(index);
				}else{
					var index = parseInt(index) + 1;
					jQuery('#index').val(index);
				}
				
				
		
				
				jQuery.ajax({
					url: '<?php echo Router::url('/') ?>admin/storesettings/addplu',
					type: 'post',
					data: {id : id, price : price, current_inventory : current_inventory, posttype : posttype,index:index,tax:tax},
					success:function(data){
						
						//alert(data);
						jQuery('.noplu').show();
						jQuery('#hello').html(tplu);
					
					if(posttype=='new'){
							jQuery('#pul').val("");
							jQuery('#price').val("");
							jQuery('#id').val("");
							jQuery('#description').val("");
							jQuery('#current_inventory').val("");
							jQuery('#category').show();	
							jQuery('#categorydiv').hide();
						}
					
						if(posttype=='submit'){
							parent.jQuery.fancybox.close();
						}
					}
           		 });
			
			
			
		}
		
		jQuery('.closeclick').click(function(){

				var id = jQuery('#id').val();
				var price =	jQuery('#price').val();
				var plu = $('#pul').val();
				var index =	jQuery('#index').val();
				var current_inventory =	jQuery('#current_inventory').val();
				var posttype = jQuery(this).attr("id"); 
				var tax =	jQuery('#tax').val();
				if(tplu != '') {
					tplu = tplu + ', ' + plu;
				} else {
					tplu = plu;	
				}
				
			
				if(index==''){
					var index = 0;
					jQuery('#index').val(index);
				}else{
					var index = parseInt(index) + 1;
					jQuery('#index').val(index);
				}
				
				
		
				
				jQuery.ajax({
					url: '<?php echo Router::url('/') ?>admin/storesettings/addplu',
					type: 'post',
					data: {id : id, price : price, current_inventory : current_inventory, posttype : posttype,index:index,tax:tax},
					success:function(data){
						
						//alert(data);
						jQuery('.noplu').show();
						jQuery('#hello').html(tplu);
					
					if(posttype=='new'){
							jQuery('#pul').val("");
							jQuery('#price').val("");
							jQuery('#id').val("");
							jQuery('#description').val("");
							jQuery('#current_inventory').val("");
							jQuery('#category').show();	
							jQuery('#categorydiv').hide();
						}
					
						if(posttype=='submit'){
							parent.jQuery.fancybox.close();
						}
					}
           		 });
			
			});
		

    });


</script>
<style>
#hello1{
margin-left: 30px;
    color: green;
}
</style>