<?php echo $this->Html->script(array('admin/bootstrap-datetimepicker.min', 'admin/components-pickers','admin/bootstrap-fileinput')); ?>
<?php echo $this->Html->script(array('admin/bootstrap-datetimepicker.min', 'admin/components-pickers')); ?>
<?php echo $this->Html->css(array('admin/datetimepicker')); ?>
<?php echo $this->Html->script(array('admin/bootstrap-switch.min')); ?>
<?php echo $this->Html->css(array('admin/bootstrap-switch.min')); ?>       
<?php echo $this->Form->create('RubyFtank', array('role' => 'form', 'type' => 'file'), array('inputDefaults' => array('label' => false, 'div' => false, 'required' => false))); ?>

<div class="portlet box blue">
               <div class="page-content portlet-body" >

    <div class="row">
        <div class="col-md-12 ">           
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-reorder"></i> Add Ftank
                    </div>
                </div></div></div>

        <div class="form-body">
            

                <div class="col-md-8 col-sm-12">
                    <div class="portlet yellow box">

                        <div class="portlet-title">

                        </div>
                        <div class="portlet-body extra_tt">
                        
                            <div class="row static-info">
                                <div class="col-md-5 name">
                                    Tank Number:			 
                                </div>
                                <div class="col-md-7 value">
                                    <?php echo $this->Form->input('tank_number', array('class' => 'form-control', 'required' => 'false', 'label' => false, 'placeholder' => 'Enter Tank Number ')); ?>
                                </div>
                            </div>
                            
                            <div class="row static-info">
                                <div class="col-md-5 name">
                                    Tank Name :			 
                                </div>
                                <div class="col-md-7 value">
                                    <?php echo $this->Form->input('name', array('class' => 'form-control', 'required' => 'false', 'label' => false, 'placeholder' => 'Enter Tank Name ')); ?>
                                </div>
                            </div>
                            
                            <div class="row static-info">
                                <div class="col-md-5 name">
                                     Status:
                                </div>
                                <div class="col-md-7 value">
                                    <?php 
									$statusoption=array('1'=>'Active','0'=>'Inactive');
									
									echo $this->Form->input('status', array('class' => 'form-control','type'=>'select','options'=>$statusoption ,'label' => false, 'required' => 'false')); ?>
                                </div>
                            </div>                            
                            
                             
                            <div class="row static-info">
                                <div class="form-actions" style="text-align:center;">
                                    <button type="submit" class="btn blue">Submit</button>
                                    <button type="reset" class="btn default">Reset</button>
                                    <button type="button" onclick="javascript:history.back(1)"
                                    class="btn default">Cancel</button>
                                </div>
                            </div> 
                             
                             
                        </div>
                    </div>
                </div>
                
               
           


        </div>
        

    </div>
    <?php echo $this->form->end(); ?>

</div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        // initiate layout and plugins
        //App.init();
        ComponentsPickers.init();
    });
     $('#RGroceryPromotionDiscType').change(function () {
        if (this.checked) {
          $('#RGroceryPromotionDiscAmountPercent').attr('placeholder','$');
        }else{
          $('#RGroceryPromotionDiscAmountPercent').attr('placeholder','%');
        }
    });
    $("input , textarea").keyup(function () {
        if ($(this).next().hasClass('error-message')) {
            $(this).next().hide('slow', function () {
                $(this).next().remove();
            });
        }
    });
    $("select , input").change(function () {
        if ($(this).next().hasClass('error-message')) {
            $(this).next().hide('slow', function () {
                $(this).next().remove();
            });
        }
    });
</script>


