 <div class="table-responsive">
                                <table class="table table-striped table-bordered table-advance table-hover" id="getdataa">
                        <thead>
                                        <tr>
                                            <th class="no-sort" style="padding:11px;"> <?php //echo $this->Form->input('all', array('class' => 'form-control','type'=>'checkbox', 'label' => false, 'required' => false, 'id' =>'selecctall')); ?> 
										
											<input type="checkbox" name="all" id="selecctall"/>  </th>
                                            <th><?php echo $this->Paginator->sort('department', 'Department'); ?></th>
                                            <th><?php echo $this->Paginator->sort('plu_no', 'PLU No'); ?></th>
                                            <th><?php echo $this->Paginator->sort('description'); ?></th>
                                            <th><?php echo $this->Paginator->sort('price'); ?></th>
                                            <th><?php echo $this->Paginator->sort('Inventory'); ?></th>
                                            <th><?php echo $this->Paginator->sort('On-Hand'); ?></th>
											 <th> Margin </th>
                                            <th class="no-sort"> Actions </th>
                                        </tr>
                                    </thead>
                                    <tbody>
									<?php if (isset($rGroceryItems) && !empty($rGroceryItems)) { ?>
                                            <?php foreach ($rGroceryItems as $data) { ?>
                                                <tr>
                                                    <td> <input type="checkbox" name="id[]"  value="<?php echo $data['RGroceryItem']['id']; ?>"/>
													</td>
                                                    
													<td><?php echo h(@$rGroceryDepartments[$data['RGroceryItem']['r_grocery_department_id']]); ?>&nbsp;</td>
                                                    <td><?php echo h($data['RGroceryItem']['plu_no']); ?>&nbsp;</td>
                                                    <td><?php echo h($data['RGroceryItem']['description']); ?>&nbsp;</td>
                                                    <td>$<?php echo h($data['RGroceryItem']['price']); ?>&nbsp;</td>
                                                            <td>
					<?php 
					
					     
					$findid =  ClassRegistry::init('RubyPluttl')->find('first',array('conditions'=>array('plu_no'=>$data['RGroceryItem']['plu_no'],'RubyPluttl.store_id'=>$this->Session->read('stores_id')),'limit'=>'1','order'=>array('RubyPluttl.id'=>'desc'),'joins'=> array( array(
                    'table' => 'ruby_headers',
					'alias' => 'ruby_heade',
                    'type' => 'INNER',
                    'conditions' => array('ruby_heade.id = RubyPluttl.ruby_header_id','ruby_heade.id='.$rubyid),
					'order'=>array('ending_date_time'=>'desc')))));
				
														 if(@$findid['RubyPluttl']['no_of_items_sold']) echo '
<a href="#" data-toggle="tooltip" title="Today Sale is '.floor(@$findid['RubyPluttl']['no_of_items_sold']).'"><i class="fa fa-rss"></i></a>
';
														 else echo '<a href="#" data-toggle="tooltip" title="Today Sale is 0"><i class="fa fa-rss"></i></a>';
														?></td>
														
														<td><?php 

											$data['RGroceryItem']['sales_inventory'] = @$pluItemBySale[$data['RGroceryItem']['plu_no']];
											
											if($data['RGroceryItem']['sales_inventory'] == "") $data['RGroceryItem']['sales_inventory'] = 0;
										//	echo $data['RGroceryItem']['sales_inventory'];
											echo ($data['RGroceryItem']['current_inventory'] + $data['RGroceryItem']['purchase']) - $data['RGroceryItem']['sales_inventory']; ?></td>
														
														 <td><?php
													 
													 $margin =  ClassRegistry::init('PurchasePack')->find('first',array('conditions'=>array('Item_Scan_Code'=>$data['RGroceryItem']['plu_no'],'PurchasePack.store_id'=>$this->Session->read('stores_id')),'order'=>array('PurchasePack.id'=>'desc'))); 
													
													 echo @$margin['PurchasePack']['Margin'];
													 ?></td>
													 
													 
                                                    <td class="actionicons">
                                                        <?php echo $this->Html->link('<img src="'.Router::url('/').'img/view.png"/>', array('action' => 'view', $data['RGroceryItem']['id']), array('escape' => false,'class' => 'newicon red-stripe view')); ?>
                                                        <?php echo $this->Html->link('<img src="'.Router::url('/').'img/edit.png"/>', array('action' => 'edit', $data['RGroceryItem']['id']), array('escape' => false,'class' => 'newicon red-stripe edit')); ?>
                                                        <?php echo $this->Form->postLink(__('<img src="'.Router::url('/').'img/delete.png"/>'), array('action' => 'delete', $data['RGroceryItem']['id']), array('escape' => false,'class' => 'newicon red-stripe delete')); ?>
                                                       
                                                    </td>
                                                </tr>

                                            <?php } ?>
                                        <?php } else { ?>
                                            <tr>
                                                <td colspan="9">  no result found </td>
                                            </tr>
                                        <?php } ?>
										</tbody>
										
										 </table>
                            </div>
						<script>				
$(document).ready(function() {

 $('[data-toggle="tooltip"]').tooltip();
  /* $('#getdataa').dataTable({
        "lengthMenu": [[25, 50, 100, -1], [25, 50, 100, "All"]],
		"bFilter": false,
		"aoColumnDefs": [
          { 'bSortable': false, 'aTargets': [0,-1] }
       ],
	   order: [],
columnDefs: [ { orderable: false, targets: [0] } ]
		
    });*/
 });
 </script>
<style>
#getdata th.actionicons, #getdata td.actionicons {
    width: 153px !important;
}
</style>