<?php
$rdepartments =  ClassRegistry::init('RubyDepartment')->find('list', array('fields' => array('number', 'name')));
?>
		<div class="portlet box blue">
               <div class="page-content portlet-body" >		
					<!-- BEGIN SAMPLE TABLE PORTLET-->
					<div class="portlet box blue">
					<div class="portlet-title col-md-12">
							<div class="caption">
								<i class="fa fa-cogs"></i> Bulk update 
							</div>
						
						</div>
						<div class="portlet-body ">
				  
				<?php echo $this->Form->create('RGroceryItem', array('role' => 'form', 'type' => 'file'), array('inputDefaults' => array('label' => false, 'enctype'=>'multipart/form-data' ,'div' => false, 'required' => false))); ?>
				
				
				
			 <div class="portlet-body col-md-1">
			 <label><i class="fa fa-file"></i> File</label> 
</div>			 
			 <div class="portlet-body col-md-3">
			 
			 <?php echo $this->Form->input('files', array('class' => 'textfile' ,'label' => false, 'required' => true, 'type' => 'file')); ?>
			  </div>
	
				 <div class="portlet-body col-md-4">

				 <button name="getdata" class="btn btn-success" type="submit"><i class="fa fa-arrow-left fa-fw"></i> Import</button>
</div>				
               
						    <?php echo $this->form->end(); ?>
			<p><a href="http://aplus1.net<?php echo Router::url('/'); ?>files/groceryitemsamplefile/060850_samplefile.xlsx" download><i class="fa fa-download"></i> Sample File</a></p>		
			
		</div>
					<!-- END SAMPLE TABLE PORTLET-->
	</div>
	</div>
	</div>

<div class="row">&nbsp;</div>