<div class="row">&nbsp;</div>
<div class="portlet box blue">
						<div class="portlet-title col-md-12">
							<div class="caption">
								<i class="fa fa-cogs"></i> Inventory Adustment</div>
							
						</div>
						<div class="portlet-body">
								<?php echo $this->Form->create('RGroceryItem', array('role' => 'form', 'type' => 'file'), array('inputDefaults' => array('label' => false, 'div' => false, 'required' => false))); ?>
                     
					   <div class="row">
		  <div class="col-md-12">
<div class="col-md-4">
			 <label>Select Department</label>
		<?php 
		echo $this->Form->input('cat', array('class' => 'form-control','type'=>'select', 'label' => false, 'required' => true, 'id' =>'department','options'=>$departmentlist,'empty'=>'search by department')); ?>
 		<br/>
		</div>
		
		<div class="col-md-3">
		  <label>&nbsp;</label>
		<?php echo $this->Form->input('search', array('class' => 'btn btn-success','type'=>'submit', 'label' => false, 'required' => false,)); ?>
            <?php echo $this->form->end(); ?>

		<br/>
		</div>
		</div>
		</div>
 							
            <?php echo $this->form->end(); ?>
			
			<hr/>
            <input type="text" id="plunosearch"/> Plu No
			  <div class="datatable">
						<?php 
							echo $this->Form->create('RGroceryItem', array('action' => 'blukupdate', 'role' => 'form', 'type' => 'file')); 
						?>
						
						
                             		<table class="table table-striped table-bordered table-advance table-hover" id="example">
						<thead>
						<tr>
							
								<th><?php echo $this->Paginator->sort('PLU No'); ?></th>
								<th><?php echo $this->Paginator->sort('Description'); ?></th>
								<th><?php echo $this->Paginator->sort('Starting Inventory'); ?></th>
								<th><?php echo $this->Paginator->sort('Cost'); ?></th>
								<th>
								<input type="checkbox" id="selecctall"/></th>
								
						</tr>
						</thead>
						
						<tbody>
						
						
						<?php if (isset($Globalupcslist) && !empty($Globalupcslist)) { ?>
                                            <?php $i=0; foreach ($Globalupcslist as $data) { ?>
											<tr>
										
                                                    <td><?php echo h($data['RGroceryItem']['plu_no']); ?></td>
                                                    <td>
													<?php echo h($data['RGroceryItem']['description']); ?>&nbsp;</td>
                                                    
												<td>
												<input type="text" 
												name="import[<?php echo $data['RGroceryItem']['id']; ?>][current_inventory]"
												value="<?php echo h($data['RGroceryItem']['current_inventory']); ?>"/>&nbsp;</td>
                                                
												<td>
												<input type="text" 
                                                name="import[<?php echo $data['RGroceryItem']['id']; ?>][price]"
												value="<?php echo h($data['RGroceryItem']['price']); ?>"/>&nbsp;
												
												<input type="hidden" 
                                                name="import[<?php echo $data['RGroceryItem']['id']; ?>][old_price]"
												value="<?php echo h($data['RGroceryItem']['price']); ?>"/>&nbsp;
												
												
												</td>
                                                 <td> 
             
                                                   <input class="importcheck" type="checkbox" name="import[<?php echo $data['RGroceryItem']['id']; ?>][checked]"  value="<?php echo h($data['RGroceryItem']['id']); ?>"/>
                                                       
                                                    </td>
                            
											</tr>
						<?php $i++;} }?>
						</tbody>
						
						</table>
                            </div>
						<?php if (isset($Globalupcslist) && !empty($Globalupcslist)) { ?>

<span id="postimport">
           
			
				<?php echo $this->Form->input('Update', array('class' => 'btn btn-success','type'=>'submit', 'label' => false, 'required' => false,)); ?>

						
						<?php echo $this->form->end(); ?>
						
						</span>
<?php } ?>						</div> </div> 

<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
	  $('#example').DataTable({"pageLength": 100,bFilter: false});
		
		$('#saledate').Zebra_DatePicker({format:"m-d-Y"});

$('#selecctall').click(function(event) {  
	 $("input:checkbox").prop('checked', $(this).prop("checked"));
       
    });
/*	
	 $('#postimport').click(function(){
	   var data = new Array();
	   var plu = new Array();
	   var descri = new Array();
	   var startinginven = new Array();
	   var cost = new Array();
			$("input[name='import']:checked").each(function(i) {
				data.push($(this).val());
			});
			$("input[name='plu_no']").each(function(i) {
				plu.push($(this).val());
			});
			$("input[name='description']").each(function(i) {
				descri.push($(this).val());
			});
			$("input[name='startinven']").each(function(i) {
				startinginven.push($(this).val());
			});
			$("input[name='cost']").each(function(i) {
				cost.push($(this).val());
			});


			    $.ajax({
                url: '<?php echo Router::url('/') ?>admin/lottery/import_game',
                type: 'post',
                data: { ids: data,plu:plu,descri:descri,startinginven:startinginven,cost:cost},
                success:function(data){
					alert(data);
//					window.location='<?php echo Router::url('/') ?>admin/lottery/games';
                }
            });
	

			
        });
	*/	$('#plunosearch').keyup(function(){
			var plunosearch = $('#plunosearch').val();
			$('.sorting_1').each(function(){
				var plu = $(this).html();
				if(plu==plunosearch){
					$(this).addClass('green');
					$('.sorting_1').not(this).removeClass('green');
					}else{
											$(this).removeClass('green');

						}
				});
			});
});
</script>

<style>
.green{
	background:#090;
	}
	.importcheck{
		margin-left:10px;}
</style> 