 <?php echo $this->Html->script('/fancybox/source/jquery.fancybox.pack'); ?>
 <?php   echo $this->Html->css(array('/fancybox/source/jquery.fancybox')); ?>  
<div class="page-content-wrapper">
<div class="portlet box blue">
               <div class="page-content portlet-body" >


        <!-- BEGIN PAGE HEADER-->
        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                

                <!-- END PAGE TITLE & BREADCRUMB-->
            </div>
        </div>
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <div class="row">
		  <div class="col-md-12">
            <?php echo $this->Form->create('RGroceryItem', array('role' => 'form', 'type' => 'file'), array('inputDefaults' => array('label' => false, 'div' => false, 'required' => false))); ?>
            <div class="col-md-3" id="getplunos">
            <label>Item</label>
            <?php echo $this->Form->input('scan_code', array('class' => 'form-control','type'=>'text', 'label' => false, 'required' => false, 'id' =>'scan_code','placeholder'=>'Scan Code')); ?>
            <br/>
            </div>
            <div class="col-md-3" id="getplunos">
            <label>Description</label>
            
            <?php echo $this->Form->input('item_name', array('class' => 'form-control','type'=>'text', 'label' => false, 'required' => false, 'id' =>'item_name','placeholder'=>'Item Name')); ?>
            <br/>
            </div>
            <div class="col-md-3">
            <label>Department</label>
            <?php echo $this->Form->input('department', array('class' => 'form-control','type'=>'select', 'label' => false, 'required' => false, 'id' =>'department','options'=>$departmentlist,'empty'=>'Filter by department')); ?>
            <br/>
            </div>
            
            
            <div class="col-md-1">
		  <label>&nbsp;</label>
		<?php echo $this->Form->input('Search', array('class' => 'btn btn-success','type'=>'submit', 'label' => false, 'required' => false,)); ?>
           

		<br/>
        
		</div>
         <div class="col-md-1">
		  <label>&nbsp;</label>
		<!--<?php echo $this->Form->input('Search', array('class' => 'btn btn-success','type'=>'button', 'label' => false, 'required' => false,)); ?>-->
         <a href="<?php echo Router::url('/');?>admin/ItemReconcilations/reset" class="btn btn-warning ">Reset</a>   

		<br/>
            
              <?php echo $this->form->end(); ?>
             
		</div>
        
        <div class="col-md-1">
                <form action="<?php echo Router::url('/');?>admin/ItemReconcilations/report" method="post" target="_blank">
                    <input type="hidden" value="<?php echo $this->Session->read('scan_code'); ?>" id="plu1"  name="plu1"/>
                    <input type="hidden" value="<?php echo $this->Session->read('item_name'); ?>" id="item1"  name="item1"/>
                    <input type="hidden" value="<?php echo $this->Session->read('department'); ?>" id="department1"  name="department1"/>
                
                  <label>&nbsp;</label>
                  <?php echo $this->Form->input('Report', array('class' => 'btn btn-danger','type'=>'submit', 'label' => false, 'required' => false,)); ?>
                 <!--<a href="<?php echo Router::url('/');?>admin/ItemReconcilations/report" class="btn btn-danger ">Report</a>   -->
                <?php echo $this->form->end(); ?>
                <br/>
                </div>

        <div style="clear:both;" class="clearfix"></div>
          <div class="col-md-12 update" id="updatatatat" style="text-align:right;">
		 <!-- <label>&nbsp;</label>
<input type="button" class="btn btn-warning" onclick="tableToExcel('example', 'W3C Example Table')" value="Report">-->
	 
       <a href="#" class="btn btn-info" id="updatedata">Update</a>

     <a href="#" class="btn btn-primary" id="adustment">Adustment</a>
         
         <?php	if (isset($rGroceryItems) && !empty($rGroceryItems)) {  ?>
										  
           <a class=" various1  calculation1 sow" data-fancybox-type="iframe" href="javascript:void(0)"><div class="btn btn-danger"><span class="glyphicon glyphicon-th caliconpadd"></span>Search Item</div></a>
          <?php } ?>
		<br/>
        
		</div>
		 <div style="clear:both;" class="clearfix"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="tabbable tabbable-custom tabbable-full-width">
<div id="loading-image" style="display:none">
          <!-- <h3 style="text-align:center"> Loading...</h3>
           <div class="abc"></div>-->
            </div>
                    <div class="tab-content">

                        <div id="tab_1_5" class="tab-pane1">

                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-advance table-hover">
                                <!--<table class="table table-striped table-bordered table-advance table-hover" id="example">-->
                                    <thead>
                                        <tr>
                                            <th>Item<?php //echo $this->Paginator->sort('plu_no', 'Item'); ?></th>
                                            <th>Description<?php //echo $this->Paginator->sort('description', 'Description'); ?></th>                                         
                                            <th>On Hand<?php //echo $this->Paginator->sort('remaining_inventory', 'On Hand'); ?></th>                                            
                                 
                                            <th>On Shelf <?php //echo $this->Paginator->sort('On shelf'); ?> <br />
                                             <input type="text" name="newpriceall" id="newprice" value=""/ style="color:#000;">
                                             <button type="button" class="icobutt"  id="applyprice"><span class="glyphicon glyphicon-arrow-down"></span></button>
                                            
                                            </th>
                                             <th>S/O<?php //echo $this->Paginator->sort('S/O'); ?></th>
                                            <th>Cost<?php //echo $this->Paginator->sort('Cost','Cost'); ?></th>
                                            <th>Price Difference<?php //echo $this->Paginator->sort('Price Difference'); ?></th>
								<th style="margin-left:20px;">
								<input type="checkbox" id="selecctall"/></th>
								
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <?php 
										$idarray= array();
										$idarray1="";
										//pr($this->Session->read('ScoreCardCriteria'));
										if (isset($rGroceryItems) && !empty($rGroceryItems)) { 
										
										
										?>
                                            <?php $i=0; foreach ($rGroceryItems as $data) { ?>
                                            
                                            
                                         		<?php 
					$sessarr=array();
					$sessar=array();
					$sessarr=$this->Session->read('ScoreCardCriteria');
					$checked="";
					$on_self='';
					$on_self=$data['RGroceryItem']['on_self'];
					
				/*	if($data['RGroceryItem']['id']==$sessarr['id']){
						//echo "checked";
						$checked='checked="checked"';
						$current_inventory=$sessarr['current_inventory'];
						$price=$sessarr['price'];
					}*/
					        
							if(count($sessarr) > 0){
                            foreach ($sessarr as $sessar) {
                                if($data['RGroceryItem']['id']==$sessar['id']){
                                    $checked='checked="checked"';
									$on_self=@$sessar['on_self'];
                                }
                            }
							} 
					?>   
                                            
                                            
                                            
                                            
<?php 
													$sales_inventory = @$pluItemBySale[$data['RGroceryItem']['plu_no']];

$handvalue =  (($data['RGroceryItem']['current_inventory'] + $data['RGroceryItem']['purchase']) - $sales_inventory);
?>                                                <tr>
                                                    <td><?php 
													$sales_inventory = @$pluItemBySale[$data['RGroceryItem']['plu_no']];
													
													echo h($data['RGroceryItem']['plu_no']); ?>&nbsp;</td>
                                                    <td><?php echo h($data['RGroceryItem']['description']); ?>&nbsp;</td>
                                                    <td><?php echo (($data['RGroceryItem']['current_inventory'] + $data['RGroceryItem']['purchase']) - $sales_inventory); ?>&nbsp;
                                                    
                                                  <input type="hidden" value="<?php echo $data['RGroceryItem']['id'] ?>" class="" name="itemid" />
                                                  <input type="hidden" id="oninput<?php echo $data['RGroceryItem']['id'] ?>" class="" name="onself" />  
                                                  
<input type="hidden" id="pluno<?php echo $data['RGroceryItem']['plu_no'] ?>" class="" name="pluno" value="<?php echo $data['RGroceryItem']['plu_no'] ?>"/>  
<input type="hidden" id="soinput<?php echo $data['RGroceryItem']['id'] ?>" class="" name="sellover" />  
<input type="hidden" id="pdinput<?php echo $data['RGroceryItem']['id'] ?>" class="" name="priced" />  
<input type="hidden" id="ohinput<?php echo $data['RGroceryItem']['id'] ?>" value="<?php echo (($data['RGroceryItem']['current_inventory'] + $data['RGroceryItem']['purchase']) - $sales_inventory); ?>" name="onhandval" />  

</td>
                                                    <!--<td>on_hand_
                                                    <select name="tax" id="tax_<?php echo $data['RGroceryItem']['id']; ?>" class="listtax">
                                                        <option value="">None</option>
                                                        <option value="0"<?php if($data['RGroceryItem']['plu_tax']==0){echo "selected";}  ?> >NO</option>
                                                        <option value="1" <?php if($data['RGroceryItem']['plu_tax']==1){echo "selected";} ?>>YES</option>
                                                    </select>
                                                  
													
													<?php
													  ?>&nbsp;</td>
                                                    <td>$<?php echo h($data['RGroceryItem']['on_self']); ?>&nbsp;</td>-->
													<td>
                                                    <input type="text" name="newonself" value="<?php echo $on_self; ?>" class="listprice onse" id="<?php echo $data['RGroceryItem']['id']; ?>" onkeyup="findcal(this.id);"/>&nbsp;</td>
                                                 <td><span id="so<?php echo $data['RGroceryItem']['id']; ?>" class="newonself">
												 <?php 
														 $onself  = $on_self - $handvalue;
														 echo $onself;
												  ?></span>&nbsp;</td>
                                                   <td><span id="co<?php echo $data['RGroceryItem']['id']; ?>"><?php echo h($data['RGroceryItem']['price']); ?></span>&nbsp;</td>
                                                   <td>
												   <span id="pd<?php echo $data['RGroceryItem']['id']; ?>">
												   <?php 
												   $price_diff = $onself*$data['RGroceryItem']['price'];
												   if($price_diff>0){ ?>
                                                    <div style="color:#05a105; font-weight:bold"><?php echo (round($price_diff,2)); ?></div>
													 
												   <?php }else{?>
													   
                                                       <div style="color:red; font-weight:bold"><?php echo (round($price_diff,2)); ?> </div>
												  <?php  }
												   
												 
												   ?>
                                                   
                                                   
                                                   </span>
                                                   </td>
                           <td> <input type="checkbox" <?php echo $checked; ?>  name="import"  class="importitem" style="margin-left:8px;"  value="<?php echo h($data['RGroceryItem']['id']); echo '*'.$i;?>" <?php if($data['RGroceryItem']['adujust']==1) echo 'disabled'; ?>/>
                                                </tr>

                                            <?php 

										array_push($idarray, $data['RGroceryItem']['id']);
										$i++;
											}?>
                                        <?php } else { ?>
                                            <tr>
                                                <td colspan="10">  no result found </td>
                                            </tr>
                                        <?php } 
										//echo count($idarray); die;
										if(count($idarray)>1){
											$idarray1=implode(",",$idarray);
										}else{
											$idarray1=implode($idarray).",";
										}
										//echo $idarray1; die;
										?>
                                        
                                        
                                    </tbody>
                                </table>
                            </div>
                           <!--<div class="margin-top-20">
                                <ul class="pagination">
                                    <li>
                                        <?php echo $this->Paginator->prev('<i class="fa fa-angle-left"></i>', array('escape' => false)); ?> 
                                    </li>
                                    <?php echo $this->Paginator->numbers(array('tag' => 'li', 'separator' => '')); ?>                                    
                                    <li> 
                                        <?php echo $this->Paginator->next('<i class="fa fa-angle-right"></i>', array('escape' => false)); ?> 
                                    </li>
                                </ul>
                            </div>-->
                        </div>
                        <!--end tab-pane-->
                    </div>
                </div>
            </div>
            <!--end tabbable-->
        </div>
        <!-- END PAGE CONTENT-->
    </div>
</div>
<style>
    .current{
        background: rgb(238, 238, 238) none repeat scroll 0 0;
        border-color: rgb(221, 221, 221);
        color: rgb(51, 51, 51);
        border: 1px solid rgb(221, 221, 221);
        float: left;
        line-height: 1.42857;
        margin-left: -1px;
        padding: 6px 12px;
        position: relative;
        text-decoration: none;
    }
</style>
<div class="modal fade" id="basic" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Sync To POS</h4>
            </div>
            <div class="modal-body">
               Please Call Technical Support 
            </div>
            <div class="modal-footer">
                <button type="button" class="btn default" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
</div>
<script type="text/javascript">
$('[data-toggle=modal]').on('click', function (e) {
    var $target = $($(this).data('target'));
    $target.data('triggered',true);
    setTimeout(function() {
        if ($target.data('triggered')) {
            $target.modal('show')
                .data('triggered',false); // prevents multiple clicks from reopening
        };
    }, 1000); // milliseconds
    return false;
});
$(document).ready(function() {
		
		$('#applyprice').click(function(){ 
			var newval = $('#newprice').val();
			$('input[name="newonself"]').each(function(){
				$(this).val(newval);
				var id = $(this).attr('id');
	var onhand = $('#ohinput'+id).val();
	if(onhand=="" || onhand=="0"){
		onhand=0;
		}
		
	var onsaleinputvalue = $('#'+id).val();
	var saleover = (+onsaleinputvalue) - (+onhand);
	$('#soinput'+id).val(saleover);
	$('#so'+id).html(saleover);
	
	var saleoverinput = $('#soinput'+id).val();
	var cost = $('#co'+id).html();
	var pd = saleoverinput*cost;
	$('#pd'+id).html(pd.toFixed(2));



				});
			});
			
				$('#updatedata').click(function(){

	   var inventory = new Array();
	   var cost = new Array();
			$("input[name='itemid']").each(function(i) {
				if(!$(this).val()){
				inventory.push('0');
					}else{
				inventory.push($(this).val());
						}
			});
			$("input[name='newonself']").each(function(i) {
				if(!$(this).val()){
				cost.push('0');
					}else{
				cost.push($(this).val());
						}
			});
									
		
				    $.ajax({
                url: '<?php echo Router::url('/') ?>admin/ItemReconcilations/on_hand_update',
                type: 'post',
                data: {ids:inventory,cost:cost},
                success:function(data){
					alert(data);
					console.log(data);
                }
            });



		});
		
					
				$('#adustment').click(function(){
	 if(!$('#example input[type="checkbox"]').is(':checked')){
      //alert("Please check at least one.");
      //return false;
    }
	
if($('#department').val()){
	
		// alert('hi');
	   var ids = new Array();
	   var shortover = new Array();
	   var plus = new Array();
			$("input[name='import']:checked").each(function(i) {
				ids.push($(this).val());
			});
			
			$(".newonself").each(function(i) {
				if(!$(this).html()){
				shortover.push('0');
					}else{
				shortover.push($(this).html());
						}
			});

			$("input[name='pluno']").each(function(i) {
				if(!$(this).val()){
				plus.push('0');
					}else{
				plus.push($(this).val());
						}
			});

				    $.ajax({
                url: '<?php echo Router::url('/') ?>admin/ItemReconcilations/shortover_update',
                type: 'post',
                data: {ids:ids,shortover:shortover,plus:plus},
                success:function(data){
					alert(data);
					window.location.reload();
//					console.log(data);
                }
            });



		}
		});
		
		$('#selecctall').click(function(event) {  
		 $("input:checkbox").not('input[type=checkbox]:disabled').prop('checked', $(this).prop("checked"));
		});

    }); 

function findcal(id){
	
	var onhand = $('#ohinput'+id).val();
	if(onhand=="" || onhand=="0"){
		onhand=0;
		}
		
	var onsaleinputvalue = $('#'+id).val();
	var saleover = (+onsaleinputvalue) - (+onhand);
	$('#soinput'+id).val(saleover);
	$('#so'+id).html(saleover);
	
	var saleoverinput = $('#soinput'+id).val();
	var cost = $('#co'+id).html();
	var pd = saleoverinput*cost;
	$('#pd'+id).html(pd.toFixed(2));
	

	}
	

</script>

<style>
#getdata th.actionicons, #getdata td.actionicons {
    width: 153px !important;
}
#loading-image {
    background: #fff none repeat scroll 0 0;
    bottom: 0;
    left: 0;
    opacity: 0.8;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 9999;
}
#loading {
    width: 50px;
    height: 57px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -28px 0 0 -25px;
}
.btn-success{opacity:1 !important; padding:5px 15px!important;  position:relative !important;}
#newprice{ width:150px;}
.icobutt{ border:none; background-color:#fff;}
.taxbutt{ border:none; background-color:#fff;}
/*.update{ clear: both;  text-align: right;}*/
	
	.btn.btn-success{ font-size: 14px !important;    padding: 7px 14px !important;}
	.clearfix:after { 
  content: "."; 
  display: block; 
  height: 0; 
  clear: both; 
  visibility: hidden; 
}
.clearfix { 
  display: inline-block;  
}
* html .clearfix {  
  height: 1%;  
} 
.clearfix {  
  display: block;  
}
</style>

<script type="text/javascript">
var tableToExcel = (function() {
  var uri = 'data:application/vnd.ms-excel;base64,'
    , template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--></head><body><table>{table}</table></body></html>'
    , base64 = function(s) { return window.btoa(unescape(encodeURIComponent(s))) }
    , format = function(s, c) { return s.replace(/{(\w+)}/g, function(m, p) { return c[p]; }) }
  return function(table, name) {
    if (!table.nodeType) table = document.getElementById(table)
    var ctx = {worksheet: name || 'Worksheet', table: table.innerHTML}
    window.location.href = uri + base64(format(template, ctx))
  }
})()
</script>
<script type="text/javascript" >
	$(document).ready(function() {

	
	$('.calculation1').click(function(){ 
				
					$(".various1").fancybox({
					maxWidth	: 600,
					maxHeight	: 850,
					fitToView	: false,
					width		: '40%',
					height		: '65%',
					autoSize	: false,
					closeClick	: false,
					openEffect	: 'none',
					closeEffect	: 'none',
                    afterClose	:  function () {
                        window.location.reload();
                    },
					href        :'<?php echo Router::url('/') ?>admin/ItemReconcilations/newplu'
					});
				});

		
});
</script>
