<style>
.perdate .Zebra_DatePicker_Icon_Inside{
		top: -25px !important;
	left: 148px !important;
	}
    .current{
        background: rgb(238, 238, 238) none repeat scroll 0 0;
        border-color: rgb(221, 221, 221);
        color: rgb(51, 51, 51);
        border: 1px solid rgb(221, 221, 221);
        float: left;
        line-height: 1.42857;
        margin-left: -1px;
        padding: 6px 12px;
        position: relative;
        text-decoration: none;
    }
#saveonly, #newandsave, .red-stripe{
color:#fff !important
}
.newiconp img{
padding:7px;}

.icon_image_style img{
width:30px;	
}

.colornbn{ color:#000;}
.newiconnn{ padding: 3px;  display: table;  vertical-align: middle;  margin-top: 9px;  margin-left: 3px;  margin-right: 3px;}
.newiconnn1{ padding: 3px;  display: table;  vertical-align: middle;  margin-top: 8px;  margin-left: 3px;  margin-right: 3px;}
/*div.radio input { opacity:1;  margin-left: -12px !important; height: 14px;  margin-top: 2px;}*/
#mpymt{ margin-bottom: 15px;}
#mpymt label.spciallab{ color:#666666; background-color:#e3e3e3; padding:5px 10px; display:inline-block; border: 1px solid #e3e3e3;}
#mpymt label.nobg{ color:#666666; background-color:#fff;  display:inline-block;}
#mpymt label.spciallab.active{ background-color:#fff;}
#mpymt div.radio input{ opacity:0; visibility:hidden;    display: none;} 
#mpymt div.radio{ width:0; height:0; margin-left: 0px; display: none;}
.txtrht{
	text-align:right !important;
}
tr.dblhead th{background-color: #177bbb; text-align:left; color:#fff; border-right:1px solid #fff !important;}
tr.dblhead th:last-child{text-align:left !important; }
tr.dblhead th a{text-decoration:none; color:#fff;}
tr.dblhead.aser th{ font-size:15px; text-transform: uppercase;}
.Zebra_DatePicker_Icon_Inside {
	top: 24px !important;
}
</style>

<div class="page-content-wrapper">
<div class="portlet box blue">
     <div class="page-content portlet-body" >
        <div class="row">
            <div class="col-md-12">
                <h3 class="page-title">
                   Tank Reconcilation Report
                </h3>
            </div>
        </div>
        

      
  
        <div class="row">
		  <div class="col-md-12">
          
        
           <?php echo $this->Form->create('TankRecs', array('role' => 'form', 'type' => 'file'), array('inputDefaults' => array('label' => false, 'div' => false, 'required' => false))); ?>
           
                  
 <div class="clearfix"></div>   
		 <div class="col-md-2">
         <label>Update Date</label>
          <?php echo $this->Form->input('date', array('class' => 'form-control', 'type' => 'text', 'label' => false, 'div' => false, 'required' => 'false', 'size' => '16','id'=>'to','value'=>$ends_date)); ?>
        <!-- <input type="text" id="to" name="data[TankReconcilation][form]" class="form-control" value="<?php echo $date; ?>">-->
			<?php //include('test.ctp'); ?>
			<br/>
		</div>
		
        
        <div class="col-md-1">
		  <label>&nbsp;</label>
			
            <input type="submit" class="btn btn-info" value="Search"  />
			<br/>
		</div>
          <?php echo $this->form->end(); ?>
        <div class="col-md-1">
		  <label>&nbsp;</label>
         <a href="<?php echo Router::url('/');?>admin/TankRecs" class="btn btn-warning ">Reset</a>   

		<br/>
        </div>
          
		</div>
		</div>
        
        
        <div class="row">
            <div class="col-md-12">
                <div class="tabbable tabbable-custom tabbable-full-width">

                    <div class="tab-content">

                        <div id="tab_1_5" class="tab-pane1">

                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-advance table-hover">
                                <?php $total_starting_volume=0;
										$total_delivery_volume=0;
										$total_dispense_volume=0;
										$total_ending_volume=0;
										$dispency=0; ?>
                                    <thead>
                                    <tr class="dblhead aser">
                                        <th>Store Name</th>
                                        <th>Ending Date Time</th>
                                        <th>SUPER</th>
                                        <th>PLUS</th>
                                        <th>REGULAR</th>
                                        <th>DIESEL</th>
                                        <th>KER</th>
                                        <th>HIGHSPEED</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <?php 
										//echo '<pre>'; print_r($result);
										if (isset($result) && !empty($result)) { 
										$valarr = array();
										$namearr = array();
										$storeArr = array();
										foreach ($result as $res) {
											$store_id = $res['ruby_tankrec']['store_id'];
											if (in_array($store_id, $storeArr)) {
												
												} else {
													array_push($storeArr, $store_id);
												}
												if($ends_date==''){
											$fetch= ClassRegistry::init('TankReconcilation')->query("SELECT `ruby_tankrec`.ending_volume, `ruby_ftanks`.name FROM `ruby_tankrec` INNER JOIN `ruby_ftanks` ON `ruby_tankrec`.tank_id=`ruby_ftanks`.tank_number WHERE `ruby_tankrec`.store_id=`ruby_ftanks`.store_id and ending_date_time like '".$res['ruby_tankrec']['ending_date_time']."%' and `ruby_tankrec`.store_id=".$store_id.""); 
												}else{
													
													$fetch= ClassRegistry::init('TankReconcilation')->query("SELECT `ruby_tankrec`.ending_volume, `ruby_ftanks`.name FROM `ruby_tankrec` INNER JOIN `ruby_ftanks` ON `ruby_tankrec`.tank_id=`ruby_ftanks`.tank_number WHERE `ruby_tankrec`.store_id=`ruby_ftanks`.store_id and ending_date_time like '".$ends_date."%' and `ruby_tankrec`.store_id=".$store_id.""); 
												}
											$namearr = array();
											foreach($fetch as $fet){
												$namearr[$fet['ruby_ftanks']['name']]=$fet['ruby_tankrec']['ending_volume'];
												$namearr['ending_date_timme']=$res['ruby_tankrec']['ending_date_time'];
											}
											$fineArr[$store_id] = $namearr;
											}
										?>
                                        <?php  
										//echo '<pre>'; print_r($fineArr);
										foreach ($fineArr as $key=> $data) {
											?>
                                            <tr>
                                                <td><?php $key;
												$strfetch= ClassRegistry::init('TankReconcilation')->query("SELECT * FROM stores WHERE id=".$key.""); 	
													echo $strfetch['0']['stores']['name'];
												 ?>&nbsp;</td>
                                                  <td><?php echo  $data['ending_date_timme'];?>&nbsp;</td>
                                                <td><?php echo  $data['Super'];?>&nbsp;</td>
                                                <td><?php echo  $data['Plus'];?>&nbsp;</td>
                                                <td><?php echo  $data['Regular'];?>&nbsp;</td>
                                                <td><?php echo  $data['Diesel'];?>&nbsp;</td>
                                                <td>&nbsp;</td>
                                                <td>&nbsp;</td>
                                              </tr>
									 <?php	}
                                        } else { ?>
                                            <tr>
                                                <td colspan="10">  no result found </td>
                                            </tr>
                                        <?php } ?>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!--end tab-pane-->
                    </div>
                </div>
            </div>
            <!--end tabbable-->
        </div>
        <!-- END PAGE CONTENT-->
    </div>
</div>
</div>

<script>
    $(document).ready(function(){
	 $('[data-toggle="tooltip"]').tooltip(); 
	$("form :input").attr("autocomplete", "off");
	//$('#to').Zebra_DatePicker({
		//format:'Y-m-d',
		//show_icon: False
		//});
	});
</script>
 <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> 
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#to" ).datepicker({ dateFormat: 'yy-mm-dd' });
  } );
  </script>