﻿
.bar-cont {
	width: 200px;
	float: right;
}
.bar-cont1 {
	width: 100%;
	margin: 0;
}
.bar-regular {
	background: #3366cc none repeat scroll 0 0;
	float: left;
	height: 13px;
	margin: 0 10px 0 0;
	width: 76px;
}
.bar-plus {
	background: #dc3912 none repeat scroll 0 0;
	float: left;
	height: 13px;
	margin: 0 10px 0 0;
	width: 76px;
}
.bar-super {
	background: #ff9600 none repeat scroll 0 0;
	float: left;
	height: 13px;
	margin: 0 10px 0 0;
	width: 76px;
}
.bar-diesel {
	background: #19981f none repeat scroll 0 0;
	float: left;
	height: 13px;
	margin: 0 10px 0 0;
	width: 76px;
}
.bar-reg {
	width: 90px;
	float: left;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif
}
.percentage {
	font-family: arial;
	font-weight: 600;
	text-align: right;
	width: 74%;
}
.gas-dashboard {
	margin: 10px 0 40px;
	overflow: hidden;
	width: 300px;
	float: left;
}
.gas-dashboard1 {
	margin: 10px 0 40px;
	overflow: hidden;
	width: 300px;
	text-align: right;
	float: right
}
.graph-bar {
	width: 100%;
	position: relative;
	overflow: hidden;
	margin: 40px 0 75px 0;
	background: #e0e6f0;
	padding: 29px 0 0 20px;
}
.gas-control {
	background: #fff;
	border: 1px solid #ddd;
	overflow: hidden;
	margin: 0 0 30px 20px;
}
.gas-control1 {
	background: #dff0d8;
	padding: 10px;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif
}
.triangle {
	float: left;
	overflow: hidden;
	padding: 9px 0 0 11px;
	width: 34px;
}
.triangle-text {
	float: left;
	font-family: arial;
	font-size: 12px;
	overflow: hidden;
	padding: 12px 0 0;
	width: 115px;
}
.main-cont {
	width: 1170px;
	margin: 0 auto;
}
.col-left {
	width: 50%;
	position: relative;
	overflow: hidden;
	float: left;
}

.backoffice-chart{width:900px;
 height:350px;
 float: left; 
 }
 
 
 
 
@media only screen and (max-width: 1160px)
  
   {
   	.main-cont {
    margin: 0 auto;
    width: 100%;
}

}


@media only screen 
  and (min-width: 768px) 
  and (max-width: 1024px) 
  {
.bar-cont {
    float: right;
    width: 127px;
}
.bar-cont1 {
    margin: 0 0 4px;
    overflow: hidden !important;
    width: 100%;
}

.bar-regular {
    background: #3366cc none repeat scroll 0 0;
    float: left;
    height: 13px;
    margin: 0 10px 0 0;
    width: 65px;
}

.bar-reg {
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    width: 49px;
}
.bar-plus {
    background: #dc3912 none repeat scroll 0 0;
    float: left;
    height: 13px;
    margin: 0 10px 0 0;
    width: 65px;
}
.bar-super {
    background: #ff9600 none repeat scroll 0 0;
    float: left;
    height: 13px;
    margin: 0 10px 0 0;
    width: 65px;
}
.bar-diesel {
    background: #19981f none repeat scroll 0 0;
    float: left;
    height: 13px;
    margin: 0 10px 0 0;
    width: 65px;
}

}

.dashboard-stat.blue {
    background-color: #27a9e3;
}

.dashboard-stat {
       margin-bottom: 25px;
    overflow: hidden;
    padding: 10px;
}
.dashboard-stat .details{ text-align:center;     float: none; padding-bottom: 16px;}
.dashboard-stat .details .number {padding-top: 15px;
    text-align: center;
    font-size: 26px;
    line-height: 34px;
    letter-spacing: -1px;
    margin-bottom: 5px;
    font-weight: 300;
    color: #fff;}
.dashboard-stat .details .desc{    text-align: center;
    font-size: 16px;
    letter-spacing: 0px;
    font-weight: 300;
    color: #fff;}
.dashboard-stat .visual {
    font-size: 35px;
    line-height: 35px;
}
.dashboard-stat .visual {
    width: 80px;
    height: 80px;
    display: block;
    float: left;
    padding-top: 10px;
    padding-left: 15px;
    margin-bottom: 10px;
}

.dashboard-stat .visual i {
    font-size: 65px;
    line-height: 65px;
    color: #fff;
}
[class^="fa-"], [class*=" fa-"] {
    display: inline-block;
    margin-top: 1px;
    font-size: 14px;
    line-height: 14px;
}

