@charset "utf-8";
/* CSS Document */

.form-container{
min-height: 150px;
height: 500px;
max-height: 90%;
overflow: auto;
width: 90%;
max-width: 1200px;
margin: 28px auto;
border: 1px solid #ccc;

}

.right-column{margin: 0 0 0 90px;}

.inside-sales {
    max-width: 310px;
	overflow: hidden;
	height: 61px;
}
.inside-sales h2 {
    background-color: rgba(218, 218, 218, 0.71);
	border-bottom: 1px solid transparent;
	font-size: 13px;
color: #666;
line-height: 1.53846;
padding: 10px;
border-radius: 2px 2px 0px 0px;
font-weight: 600;
margin-bottom: 0;
}

.grocery-cont{max-width: 410px; overflow: hidden;}

.grocery-group {
    position: relative;
    display: table;
    border-collapse: separate;
}


 .addon {
    border-color: #CBD5DD;
    background-color: #FCFCFD;
}
.addon {
    font-size: 14px;
    font-weight: normal;
    line-height: 1.4;
    color: #555;
    text-align: center;
    background-color: #EEE;
    border: 1px solid #CCC;
    border-radius: 4px;
    padding: 6px 12px;
}

.amount-field {
    border: none;width: 80px;
	background: none; 
	text-align: right;
}

.negetive-field {
    border: none;width: 80px;
	background: none; 
	text-align: right;
}



.total-field {
    border: none;width: 80px;
	background: none; 
	text-align: right;
}


.dollar-field {
    border: none;width: 80px;
	background: none; 
	text-align: right;
}

.hash-field {
    border: none;width: 80px;
	background: none; 
	text-align: right;
}


.common-field {
    border: none;width: 80px;
	background: none; 
	text-align: right;
}


.form-cont{width: 100px;
float: left;
 border: 1px solid #e5e5e5;
    border-radius: 0;
    box-shadow: none;
    color: #333333;
    font-size: 14px;
    font-weight: normal;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
height: 34px;
}


.form-cont:focus {
  background: #177BBB;
}

.form-cont-bg{background-color: #EEE;}


.grocery-tax{
   
	max-width: 168px;
    min-width: 168px;
text-align: left;
   
    padding: 7.5px 12px;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.4;
    color: #555;
    text-align: center;
    background-color: #fff;
    border: 1px solid #CBD5DD;
    border-radius: 4px;
	float: left;
	text-align: left;}
	
	
	
	
	.grocery-tax-pos{color: rgba(42, 197, 42, 0.94);
min-width: 41px;
max-width: 41px;
border-color: #CBD5DD;
background-color: #FCFCFD;
float: left;}


.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    color: #FFF;
    line-height: 1;
    vertical-align: baseline;
    white-space: nowrap;
    text-align: center;
    background-color: #177BBB;
    border-radius: 10px;
    margin: 5px;
}

.credit{color:#D51215}

.debit{color: rgba(42, 197, 42, 0.94);}

.neutral {
    color: #000;
    
}


.btn-default {
    color: #788288 !important;
    border-color: #D2DAE1 #D2DAE1 #CBD5DD;
    box-shadow: 0px 1px 1px rgba(90, 90, 90, 0.1);
	padding: 5.2px 10px;
font-size: 14px;
line-height: 1.5;
border-radius: 3px;
display: inline-block;
margin-bottom: 0px;
font-weight: normal;
text-align: center;
vertical-align: middle;
cursor: pointer;
background-image: none;
border: 1px solid transparent;
white-space: nowrap;
box-shadow: 0px 1px 1px rgba(90, 90, 90, 0.1);
color: #788288 !important;
    background-color: #EBEEF4;
    border-color: #B9C6D0;
	margin: 0;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
    color: #788288 !important;
    background-color: #EBEEF4;
    border-color: #B9C6D0;
}


.batch-add{float:left;width: 186px;
font-size: 12px;}

.credit-card-cont{overflow: hidden;}

.credit-add{width: 31px;
float: left;}

.credit-add1{width: 141px; float: left;}


.batch-type{float:left; width: 56px; overflow: hidden; font-size: 12px;}

.batch-field {
    width: 51px;
    border: 1px solid #ccc;
    height: 32px;
	margin: 2px 0 0 0;
}
.batch-field:focus {
  border: 1px solid #177BBB;
}


.batch-amount{float:left; width: 129px;
overflow: hidden;
font-size: 12px;
margin: 0 0 0 7px;}

.amount {
    width: auto;
    border: 1px solid #ccc;
    height: 32px;
	margin: 2px 0 0 0;
}
.amount:focus {
  border: 1px solid #177BBB;
}

.net {
    width: auto;
    border: 1px solid #ccc;
    height: 32px;
	margin: 2px 0 0 0;
	background-color: #EEE;
}
.net:focus {
  border: 1px solid #177BBB;
}

.no-report{width: 100%; padding: 0 20px 0 20px; text-align: center; color:#ccc}

.finish{width: 100px;
border: none;
padding: 10px;
color: #fff;
float: right;}


.enter-daily{text-align: left;
margin: 30px auto 0px auto;
font-size: 21px;
width: 1032px;}

.enter-total{text-align: left;
margin: 30px auto 0px auto;
font-size: 21px;
width: 90%;
border-top: 1px solid #EAEEF1; background-color: #F2F4F8;
color: #788288;
overflow: hidden;
padding: 10px;}


.z-reading {
    overflow: hidden;
    font-size: 12px;
}

.positive {
    color: rgba(42, 197, 42, 0.94);
    min-width: 41px;
    max-width: 41px;
	font-size: 24px;
font-weight: 600;
text-align: center;
}
.negetive {
    color: #F00;
    min-width: 41px;
    max-width: 41px;
	font-size: 24px;
font-weight: 600;
text-align: center;
}

.short-over {
    color: #ccc;
    min-width: 41px;
    max-width: 41px;
	font-size: 24px;
font-weight: 600;
text-align: center;
}

.attach {
    color: #3C4144;
    min-width: 32px;
    max-width: 32px;
	font-size: 22px;
font-weight: 600;
text-align: center;
float: left
}

.save-report {
    width: 107px;
    border: medium none;
    padding: 8px;
color: #FFF;
float: right;

font-size: 13px;
margin: 17px 0 0 -0;
}

.save-reportcont{margin: 0 0 0 70px;}




/* Portrait and Landscape */
@media only screen 
  and (min-width: 320px) 
  and (max-width: 480px)
   {


.enter-daily {
    text-align: left;
    margin: 30px auto 0px;
    font-size: 21px;
    width: 100%;
}


.form-container {
    min-height: 150px;
    height: 500px;
    max-height: 90%;
    overflow: auto;
    width: 100%;
    margin: 0px auto;
    border: 1px solid #ccc;
    height: 500px;
    margin: 28px 0 0 258px;
}

.grocery-tax {
    min-width: 0;
    max-width: 145px;
	width: 145px;
    padding: 7.5px 12px;
    font-size: 12px;
    font-weight: normal;
    line-height: 4.4;
    color: #555;
    background-color: #FFF;
    border: 1px solid #CBD5DD;
    border-radius: 4px;
    float: left;
    text-align: left;
}

}


