.pos{position:relative}.form-co{width:100%!important;height:34px;border:1px solid #ddd;padding:0 0 0 10px}.Zebra_DatePicker *{margin:0;padding:0;color:#000}.Zebra_DatePicker{position:absolute;background:#3a4b55;border:1px solid #3a4b55;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;display:none;z-index:1000;margin-left:-231px;top:212px!important;font-family:Tahoma,Arial,Helvetica,sans-serif;font-size:13px; margin-top:0;z-index: 10000}.Zebra_DatePicker table{border-collapse:collapse;border-spacing:0}.Zebra_DatePicker td,.Zebra_DatePicker th{text-align:center;padding:5px 0}.Zebra_DatePicker td{cursor:pointer}.Zebra_DatePicker .dp_daypicker,.Zebra_DatePicker .dp_monthpicker,.Zebra_DatePicker .dp_yearpicker{margin-top:3px}.Zebra_DatePicker .dp_daypicker td,.Zebra_DatePicker .dp_daypicker th,.Zebra_DatePicker .dp_monthpicker td,.Zebra_DatePicker .dp_yearpicker td{background:#fff;width:30px;border:1px solid #e8e8e8}.Zebra_DatePicker .dp_header td{color:#FFF}.Zebra_DatePicker .dp_header .dp_next,.Zebra_DatePicker .dp_header .dp_previous{width:30px}.Zebra_DatePicker .dp_header .dp_caption{font-weight:700}.Zebra_DatePicker .dp_header .dp_hover{background:#222;color:#FFF;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px}.Zebra_DatePicker .dp_header .dp_blocked{color:#888;cursor:default}.Zebra_DatePicker .dp_daypicker th{background:#93c5a9}.Zebra_DatePicker td.dp_not_in_month{background:#F3F3F3;color:#CDCDCD;cursor:default}.Zebra_DatePicker td.dp_weekend{background:#D8D8D8}.Zebra_DatePicker td.dp_weekend_disabled{color:#CCC;cursor:default}.Zebra_DatePicker td.dp_selected{background:#56ac7b;color:#FFF!important}.Zebra_DatePicker td.dp_week_number{background:#FC3;color:#555;cursor:text;font-style:italic}.Zebra_DatePicker .dp_monthpicker td,.Zebra_DatePicker .dp_yearpicker td{width:33%}.Zebra_DatePicker .dp_footer{margin-top:3px}.Zebra_DatePicker .dp_footer td{color:#FFF;padding:2px;font-weight:700}.Zebra_DatePicker .dp_footer .dp_hover{background:#222;color:#FFF;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px}.Zebra_DatePicker td.dp_current{background:#56ac7b;color:#FFF}.Zebra_DatePicker td.dp_disabled_current{color:#E38585}.Zebra_DatePicker td.dp_disabled{background:#F3F3F3;color:#CDCDCD;cursor:default}.Zebra_DatePicker td.dp_hover{background:#56ac7b;color:#FFF}
button.Zebra_DatePicker_Icon{background: rgba(0, 0, 0, 0) url("../img/calendar.png") no-repeat 0 0;
    border: medium none;
    cursor: pointer;
    height:32px;
    line-height:32px;
    margin: 0;
    padding: 0;
    position: absolute;
    text-indent: -9000px;
    width:35px;
    z-index: 999;
    border-radius: 0 3px 3px 0;}
button.Zebra_DatePicker_Icon_Disabled{background-image:url(../images/calendar-disabled.png)}button.Zebra_DatePicker_Icon_Inside{margin:0 -14px 0 0}
    #date {
    background: rgba(0, 0, 0, 0) url("http://aplus1.net/backoffice/img/calendar.png") no-repeat scroll 84px 0;
}
    
    @media only screen and (max-width:767px){
    	
    	.Zebra_DatePicker{margin-left:-100px}
    #date{
    background: rgba(0, 0, 0, 0) url("http://aplus1.net/backoffice/img/calendar.png") no-repeat scroll 83px 0;
}
}

@media screen and (max-width: 600px) {
	#date {
    background: rgba(0, 0, 0, 0) url("http://aplus1.net/backoffice/img/calendar.png") no-repeat scroll 84px 0;
}

}

@media only screen 
  and (min-width: 768px) 
  and (max-width: 1024px) {
#date {
    background: rgba(0, 0, 0, 0) url("http://aplus1.net/backoffice/img/calendar.png") no-repeat scroll 84px 0;
}
}

    @media all and (max-width: 1366px) and (min-width: 1025px){
  #date {
    background: rgba(0, 0, 0, 0) url("http://aplus1.net/backoffice/img/calendar.png") no-repeat scroll 53px 0;
}
}