<!DOCTYPE html>
<!-- 
Template Name: Metronic - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.1.1
Version: 2.0.2
Author: KeenThemes
Website: http://www.keenthemes.com/
Contact: support@keenthemes.com
Purchase: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
-->
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
<meta charset="utf-8"/>
 
<title><?php echo $title_for_layout; ?></title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<meta content="" name="description"/>
<meta content="" name="author"/>

<!-- BEGIN GLOBAL MANDATORY STYLES -->
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css"/>

<?php   echo $this->Html->css(array(
                                'admin/font-awesome.min',
                                'admin/bootstrap.min',
                                'admin/uniform.default',
//                                'admin/select2',
//                                'admin/select2-metronic',
                                'admin/style-metronic',
                                'admin/style',
                                'admin/style-responsive',
                                'admin/plugins',
                                'admin/default',
                                'admin/login',
//                                'admin/custom'
                    )); ?>  

<!-- END THEME STYLES -->
<link rel="shortcut icon" href="favicon.ico"/>
</head>
<!-- BEGIN BODY -->
<body class="login">
<!-- BEGIN LOGO -->
<div class="logo" style="color:#FBF9F9; font-size:24px; font-weight:bold;">
	<!--<a href="javascript:void(0)">-->
            <?php //echo $this->Html->image('logo-big.png',array('alt'=>'backoffice')); ?>
		<!--<img src="assets/img/logo-big.png" alt=""/>-->
        MY BACKOFFICE
	<!--</a>-->
</div>
<!-- END LOGO -->
<!-- BEGIN LOGIN -->
<div class="content">
	<?php echo $this->fetch('content');  ?>
</div>
<!-- END LOGIN -->
<!-- BEGIN COPYRIGHT -->
<!--<div class="copyright">
	 2014 &copy; Metronic. Admin Dashboard Template.
</div>-->
<!-- END COPYRIGHT -->
<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
<!-- BEGIN CORE PLUGINS -->
<!--[if lt IE 9]>
	<script src="assets/plugins/respond.min.js"></script>
	<script src="assets/plugins/excanvas.min.js"></script> 
	<![endif]-->
<?php
 echo $this->Html->script(array(
                                'admin/jquery-1.10.2.min',
                                'admin/jquery-migrate-1.2.1.min',
                                'admin/bootstrap.min',
//                                'admin/bootstrap-hover-dropdown.min',
//                                'admin/jquery.slimscroll.min',
//                                'admin/bootstrap-hover-dropdown.min',
//                                'admin/jquery.blockui.min',
//                                'admin/jquery.cokie.min',
                                'admin/jquery.uniform.min',
                                'admin/jquery.validate.min',
//                                'admin/select2.min',
                                'admin/app',
                                'admin/login'
                             ));
 
 ?>
<!-- END PAGE LEVEL SCRIPTS -->
<?php //echo $this->element('sql_dump'); ?>
<script>
		jQuery(document).ready(function() {     
		  App.init();
		  Login.init();
		});
	</script>
<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>