<?php
//$prodList = ClassRegistry::init('RubyFprod')->find('list', array('conditions' => array('store_id' => $_SESSION['store_id']), 'fields' => array('fuel_product_number', 'display_name')));

//print_r($prodList);exit;
$fMopList = array(0=>'All MOP',1 => 'CASH', 2 => 'CRED', 3 => 'CHEC');
?>

<div class="page-content-wrapper">
  <div class="portlet box blue">
               <div class="page-content portlet-body" >
	
<div class="portlet box blue">
						<div class="portlet-title col-md-12">
							<div class="caption">
								<i class="fa fa-cogs"></i> Ruby Uprodts 
							</div>
						
						</div>
						<div class="portlet-body">
						
	<div class="rubyUprodts index">
		
			 <div class="row">
					 <!--<div class="col-md-2">
							<label>From:</label>
							<input type="text" class="form-control" placeholder="Select From Date" value="<?php echo date('m-d-Y',strtotime(@$datevalue['RubyHeader']['beginning_date_time'])); ?>" id="from">
							</div>-->

					<div class="col-md-3 top-space">
							<label>Update Date:</label>
						<?php /*?>	<input type="text" class="form-control" placeholder="Select To Date" id="to" value="<?php echo date('m-d-Y',strtotime(@$datevalue['RubyHeader']['ending_date_time'])); ?>" ><?php */?>
                            
                             <?php include('test.ctp'); ?>  
							</div>


					 <!--<?php echo $this->element('table_filter_datepicker'); ?>-->
					  
					 <div class="col-md-2 top-space">
						<?php echo $this->Form->input('Method Of Payment ', array('div' => false, 'options' => $fMopList, 'empty' => false, 'class' => 'form-control select_box','id'=>'mop')); ?>
					 </div>		
						<div class="col-md-2 middel-space top-space" id="filter">
						 <label>&nbsp;</label>
							<button type="button" class="btn btn-block btn-info tank-filter" onclick="filter_utank();">Get Report</button>
						</div>
						<?php /*?><div class="col-md-2 middel-space top-space">
						<label>&nbsp;</label>
							<button type="button" class="btn btn-info btn-block dropdown-toggle pull-right action-text tank-filter" data-toggle="dropdown">Action <span class="caret"></span></button>
							<ul class="dropdown-menu btn-block icons-right dropdown-menu-right">
								<li><a href="#" target="_blank"><i class="icon-link"></i> Save as pdf</a></li>
								<li><a href="<?php echo $this->webroot; ?>RubyUprodts/get_dailysales_xls" target="_blank"><i class="icon-link"></i> Save as xls</a></li>
							</ul>
						</div><?php */?>  
					</div>
		<br>
</div>
</div>
</div>

	
	
	<div class="portlet box blue">
						<div class="portlet-title col-md-12">
							<div class="caption">
								<i class="fa fa-cogs"></i> Sales
							</div>
						
						</div>
						<div class="portlet-body">

						<div class="row">
		<div class="col-md-12 filterdata" >
		
        <?php echo $this->element('admin/summay_total_uprodt', array('rubyUprodts' =>@$rubyUprodts, 'prodList' => @$prodList)); ?>
	    <?php /*?><div class="block-inner clearfix tooltip-examples">	   
				 <div class="datatable">
					<table class="table table-striped table-bordered table-advance table-hover" id="example">
						<thead>
							<tr>
							   <th><?php echo $this->Paginator->sort('fuel_product_number'); ?></th>
								<th><?php echo $this->Paginator->sort('fmop1'); ?></th>
								<th><?php echo $this->Paginator->sort('fuel_volume'); ?></th>
								<th><?php echo $this->Paginator->sort('fuel_value'); ?></th>
								<th><?php echo 'Beginning Date'; ?></th>
								<th><?php echo 'Ending Date'; ?></th>
							</tr>
						</thead>
						<tbody>
							<?php if(!empty($rubyUprodts)) { ?>
							<?php  foreach ($rubyUprodts as $rubyUprodt): ?>
							<tr>
							   <td><?php echo @$prodList[$rubyUprodt['RubyUprodt']['fuel_product_number']];echo $rubyUprodt['RubyUprodt']['fuel_product_number']; ?>&nbsp;</td>
								<td><?php echo h($fMopList[$rubyUprodt['RubyUprodt']['fmop1']]); ?>&nbsp;</td>
								<td><?php echo h($rubyUprodt['RubyUprodt']['fuel_volume']); ?>&nbsp;</td>
								<td>$<?php echo h($rubyUprodt['RubyUprodt']['fuel_value']); ?>&nbsp;</td>
								
								<td><?php echo CakeTime::format($rubyUprodt['RubyHeader']['beginning_date_time'], '%m-%d-%Y'); ?></td>
								<td><?php echo CakeTime::format($rubyUprodt['RubyHeader']['ending_date_time'], '%m-%d-%Y'); ?></td>
							</tr>
							<?php endforeach; ?>
							<?php } ?>
						</tbody>
					</table>
				</div>
			</div><?php */?>
		</div>
        
        
		</div>
		</div>
		</div>
	</div>
	</div>
</div>
</div>

<style>

.Zebra_DatePicker_Icon_Inside{ margin-top: 45px!important; }

button.Zebra_DatePicker_Icon {
    border-radius: 0 3px 3px;
    left: auto !important;
    right: 30px;
    top: 1px !important;
}

</style>

<script type="text/javascript" charset="utf-8">
	var webroot='<?php echo $this->webroot;?>';
	function filter_utank() {	
		//var from_date=$('#from').val();
		//var to_date=$('#to').val();
		var full_date=$('#config-demo').val();
		//alert(full_date);	
		var full_datesplit = full_date.split(' - ');	
        var from_date=full_datesplit[0];
		var to_date=full_datesplit[1];
		//alert(from_date);alert(to_date);
		
		var mop=$('#mop').val();
		//$('#loaderdiv').show();
		$.ajax({
			type : 'POST',
			url : webroot+'ruby_uprodts/index/',
			dataType : 'html',
			data: {from_date:from_date,to_date:to_date,mop:mop},
			success:function(result){
					$("#example_info").hide();
					$("#example_paginate").hide();
			$("#example_filter").hide();
			$("#example_length").hide();
			//$(".filterdata .ajxhidediv ").hide();
			$(".filterdata").empty();		
			$("#filter").show();
			//alert(result);
		    $(".filterdata").append(result);
			//$("#example").html(result);

			}});
	}
</script>
<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
	  $('#example').DataTable({"pageLength": 100});	
		$('#to').Zebra_DatePicker({format:"m-d-Y"});
	});
</script>