<?php
$fMopList = array(1 => 'CASH', 2 => 'CRED', 3 => 'CHEC');
//print_r($products);exit;
echo $this->element('admin/summay_total_uprodt', array('rubyUprodts' => $rubyUprodts, 'prodList' => $prodList)); ?>
    <?php /*?><div class="block-inner clearfix tooltip-examples">
         <div class="datatable"  style="margin-top:152px;">
        <table class="table table-striped table-bordered table-advance table-hover" id="example1">
        <thead>
        <tr>
               <th><?php echo $this->Paginator->sort('fuel_product_number'); ?></th>
                <th><?php echo $this->Paginator->sort('fmop1'); ?></th>
                <th><?php echo $this->Paginator->sort('fuel_volume'); ?></th>
                <th><?php echo $this->Paginator->sort('fuel_value'); ?></th>
                <th><?php echo 'Beginning Date'; ?></th>
                <th><?php echo 'Ending Date'; ?></th>
                
                
                
                
        </tr>
        </thead>
        <tbody>
        <?php 
        //print_r($rubyUprodts);exit;
        foreach ($rubyUprodts as $rubyUprodt): ?>
        <tr>
           <td><?php echo @$prodList[$rubyUprodt['RubyUprodt']['fuel_product_number']]; ?>&nbsp;</td>
            <td><?php echo h($fMopList[$rubyUprodt['RubyUprodt']['fmop1']]); ?>&nbsp;</td>
            <td><?php echo h($rubyUprodt['RubyUprodt']['fuel_volume']); ?>&nbsp;</td>
            <td>$<?php echo h($rubyUprodt['RubyUprodt']['fuel_value']); ?>&nbsp;</td>
            
            <td><?php echo CakeTime::format($rubyUprodt['RubyHeader']['beginning_date_time'], '%m-%d-%Y'); ?></td>
            <td><?php echo CakeTime::format($rubyUprodt['RubyHeader']['ending_date_time'], '%m-%d-%Y'); ?></td>
        
            
        </tr>
    <?php endforeach; ?>
        </tbody>
        </table>
        </div>
    </div><?php */?>
<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
	  $('#example1').DataTable({"pageLength": 100});
           
	} );
  
</script>


