<?php // pr($salesInvoice);                    ?>
<div class="portlet box blue">
    <div class="page-content portlet-body" >
        <div class="page-content">
            <div class="content-new">
                <div class="row">
                    <div class="col-xs-12">
                        <h3 class="page-title">On hand ticket </h3>
                    </div>
                </div>
            </div>
            <!-- top header ends -->
            <!-- submit form -->
            <div class="content-new">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="lottery_setting clearfix">
                            <!-- hedaing title -->
                            <div class="confirm_heading clearfix">

                            </div>
                            <!-- heading title ends-->
                            <!-- form starts -->
                            <?php echo $this->Form->create('lottery_daily_readings', array('role' => 'form', 'type' => 'file'), array('inputDefaults' => array('label' => false, 'div' => false, 'required' => false))); ?>

                            <div class="confim_form">
                                <!-- row one -->

                                <div class="row">
                                    <div class="col-md-2 col-xs-2">
                                        <label>Scan/Type ticket code</label>
                                        <?php echo $this->Form->input('scan_ticket_code', array('id' => 'scan_ticket_code', 'class' => 'form-control', 'type' => 'text', 'label' => false, 'required' => false)); ?>
                                    </div>

                                    <div class="col-md-2 col-xs-2" style="width:130px; ">
                                        <label>Select Date</label>
                                        <?php echo $this->Form->input('packdate', array('id' => 'Date', 'class' => 'form-control', 'type' => 'text', 'label' => false, 'required' => false, 'value' => $pack_date)); ?>

                                    </div>
                                    <div class="col-md-2" style="width:120px;margin-top:4px;">

                                        <br>
                                        <input class="btn default updatebtn" type="button" id="search_report" name="search_report" value="Show Report" />
                                    </div>

                                </div>




                                <div class="row"><br/>
                                </div>

                                <div class="row">

                                </div>
                                <!-- row two ends -->
                            </div>
                            <?php echo $this->form->end(); ?>
                            <!-- form ends -->
                        </div>
                    </div>

                </div>
                <h1></h1>

                <div id="tab_1_5" class="tab-pane1">


                    <div class="table-responsive">


                        <table class="table table-striped table-bordered table-advance table-hover">



                            <thead>

                                <tr>

                                    <th><?php echo __($this->Paginator->sort('Bin#')); ?>  </th>
                                    <th><?php echo __($this->Paginator->sort('Game#')); ?>  </th>
                                    <th><?php echo $this->Paginator->sort('Pack#'); ?></th>
                                    <th><?php echo $this->Paginator->sort('Game Name'); ?></th>
                                    <th><?php echo $this->Paginator->sort('On Hand Tickets#'); ?></th>
    <!--                                <th><?php echo $this->Paginator->sort('End Ticket#'); ?></th>
                                    <th><?php echo $this->Paginator->sort('Ticket Value'); ?></th>
                                    <th><?php echo $this->Paginator->sort('Previous Ticket#'); ?></th>
                                    <th><?php echo $this->Paginator->sort('Current Ticket#'); ?></th>-->
    <!--                                    <th><?php echo $this->Paginator->sort('Available Tickets#'); ?></th>
                                    <th><?php echo $this->Paginator->sort('Sold Tickets#'); ?></th>-->

<!--                                <th><?php echo $this->Paginator->sort('Today Sold Tickets#'); ?></th>
                                <th><?php echo $this->Paginator->sort('$Today Sold Amount'); ?></th>
                                <th><?php echo $this->Paginator->sort('Pack Status'); ?></th>-->


                                </tr>
                            </thead>
                            <tbody id="reports">
                                <?php
                                if (isset($readings) && !empty($readings)) {
                                    $ms = "'Are you sure want delete it?'";
//pr($readings);
                                    $total_amount = 0;
                                    foreach ($readings as $data) {
                                        echo '<tr>
                                                      
                                                    <td>' . $data["e"]["bin_no"] . '</td>
                                                    <td>' . $data["e"]["game_no"] . '</td>
                                                    <td>' . $data["e"]["pack_no"] . '&nbsp;</td>
                                                    <td>' . $data["u"]["gamename"] . '&nbsp;</td>
                                                    
                                                    <td>' . $data["e"]["on_hand_tickets"] . '&nbsp;</td>
//                                                    <td>' . $data["e"]["end_ticket"] . '&nbsp;</td>
//                                                  <td>$' . $data["u"]["ticket_value"] . '&nbsp;</td>
//                                                    <td>' . $data["e"]["prev_ticket"] . '&nbsp;</td>
//                                                    <td>' . $data["e"]["today_reading"] . '&nbsp;</td>
//                                                    <!--<td>' . $data["u"]["available"] . '&nbsp;</td>
//                                                    <td>' . $data["e"]["sold"] . '&nbsp;</td>-->
//                                                    
//                                                    <td>' . $data["e"]["today_sold"] . '&nbsp;</td>
//                                                    <td>$' . $data["e"]["today_sold_value"] . '&nbsp;</td>
//                                                    <td>' . $data["e"]["status"] . '&nbsp;</td>
											    
                                                </tr>';
                                        //echo  '<td> <a href="'.Router::url('/').'admin/lottery/delete_apack/'.$data["GamePacks"]["id"].'" class="btn default btn-xs red-stripe" onClick="return confirm('.$ms.');">Delete</a></td>'
                                        //$total_amount = $total_amount + $data["e"]["today_sold_value"];
                                    }
                                } else {
                                    echo ' <tr>
                                                <td colspan="12">  no result found </td>
                                            </tr>';
                                }
                                ?>
                            </tbody>
                        </table>
<?php //echo "=============" . $total_amount;  ?>

                        <input type="hidden" id="totalamount" value="<?php echo (isset($total_amount)) ? $total_amount : ''; ?>" />
                    </div>

                </div>
            </div>


        </div>
    </div>

    <script type="text/javascript" charset="utf-8">
        var webroot = '<?php echo $this->webroot; ?>';
        $(document).ready(function () {

            //$('#Date').Zebra_DatePicker();
//            var totalamount = $('#totalamount').val();
//            if (totalamount != '')
//            {
//                totalamount = '$' + totalamount;
//                $('#amount').html(totalamount);
//            }
//            else
//            {
//                $('#amount').html('$' + 0);
//            }

            $('#search_report').click(function () {
                var date = $('#Date').val();
                $('#reports').html('');
                //alert('date-'+date);
                $.ajax({
                    type: 'POST',
                    url: webroot + 'admin/lottery/getonhand_tickets',
                    //dataType:'html',
                    data: {date: date},
                    success: function (data) {
                        //alert(data);

                        //$('#reports').html(data);
                        var result = JSON.parse(data);
                        var row = '';
                        if (jQuery.isEmptyObject(result))
                        {
                            //alert('no data');
                            row = "<tr><td colspan='5'>Sorry no data found.</td></tr>";
                        }
                        else
                        {
                            
                            var totamount = 0;

                            $.each(result, function (k, v) {
                                //alert(v.e.id);


                                row = row + '<tr>' +
                                        ' <td>' + v.e.bin_no + '</td>' +
                                        '<td>' + v.e.game_no + '</td>' +
                                        '<td>' + v.e.pack_no + '&nbsp;</td>' +
                                        '<td>' + v.u.gamename + '&nbsp;</td>' +
                                        '<td>' + v.e.on_hand_tickets + '&nbsp;</td>' +
//                                    '<td>' + v.e.end_ticket + '&nbsp;</td>' +
//                                    '<td>$' + v.u.ticket_value + '&nbsp;</td>' +
//                                    '<td>' + v.e.prev_ticket + '&nbsp;</td>' +
//                                    '<td>' + v.e.today_reading + '&nbsp;</td>' +
//                                    '<td>' + v.e.today_sold + '&nbsp;</td>' +
//                                    '<td>$' + v.e.today_sold_value + '&nbsp;</td>' +
//                                    '<td>' + v.e.status + '&nbsp;</td>' +
                                        '</tr>';

                                //totamount = parseInt(totamount) + parseInt(v.e.today_sold_value);

                            });
                        }

                        $('#reports').html(row);

//                        if (totamount != '')
//                        {
//                            totamount = '$' + totamount;
//                            $('#amount').html(totamount);
//                        }
//                        else
//                        {
//                            $('#amount').html('$' + 0);
//                        }

                    }
                });
            });


            //$('#lottery_daily_readingsGameNo').change(function () {




        });
    </script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> 
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#Date").datepicker({dateFormat: 'mm-dd-yy'});
        });
    </script>