<div class="page-content-wrapper">
    <div class="portlet box blue">
        <div class="page-content portlet-body" >

            <!-- BEGIN PAGE HEADER-->

            <div class="row">
                <div class="col-md-12 ">
                    <!-- BEGIN SAMPLE FORM PORTLET-->
                    <div class="portlet box blue">
                        <div class="portlet-title">
                            <div class="caption">
                                <h3>     <i class="fa fa-reorder"></i>Edit Game</h3>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="form-body">
                <div class="row">

                    <div class="col-md-9 col-sm-12">
                        <div class="portlet yellow box">


                            <div class="portlet-body extra_tt">                              
                                <?php echo $this->Form->create('ImportedGames');?>   

                                    <div class="row static-info">
                                      
                                        <div class="col-md-3 value">
                                            Game Number
                                            
                                            <?php echo $this->Form->input('game_no', array("class"=>"form-control",'label'=>false,'placeholder'=>'Game Number','value'=>$editgame["ImportedGames"]["game_no"]));?>
                                            <input type="hidden" name="id" value=""  class="form-control" readonly/>
                                        </div>
                                        
                                          <input type="hidden" name="id" value="<?php echo $editgame["ImportedGames"]["id"]; ?>" />   
                                        

                                        <div class="col-md-6 value">
                                            Game Name
                                            <?php echo $this->Form->input('game_name', array("class"=>"form-control",'label'=>false,'placeholder'=>'Game Name','value'=>$editgame["ImportedGames"]["game_name"]));?>
                                        </div>
                                        <div class="col-md-3 value">
                                            Ticket Per  Value
                                            <?php echo $this->Form->input('value', array("id"=>"ticktpervalue","class"=>"form-control",'label'=>false,'placeholder'=>'Ticket Per  Value','value'=>$editgame["ImportedGames"]["value"]));?>
                                        </div>
                                    </div>

                                
                                    <div class="row static-info">
                                        
                                        <div class="col-md-3 value">
                                            Starting Ticket Number:
                                            <?php echo $this->Form->input('start_ticket', array("id"=>"startTickt","class"=>"form-control",'label'=>false,'placeholder'=>'Starting Ticket Number','value'=>$editgame["ImportedGames"]["start_ticket"]));?>
                                        </div>
                                        <div class="col-md-3 value">
                                            Ending Ticket Number:
                                            <?php echo $this->Form->input('end_ticket', array("id"=>"endTickt","class"=>"form-control",'label'=>false,'placeholder'=>'Ending Ticket Number','value'=>$editgame["ImportedGames"]["end_ticket"]));?>
                                        </div>
                                        <div class="col-md-3 value">
                                            Tickets Per Pack:
                                            <?php echo $this->Form->input('tickets_pack', array("id"=>"ticktPack","class"=>"form-control",'label'=>false,'placeholder'=>'Tickets Per Pack','value'=>$editgame["ImportedGames"]["tickets_pack"]));?>
                                        </div>
                                        
                                         <?php /*?><div class="col-md-3 value">
                                            Pack Value:
                                            <?php echo $this->Form->input('pack_value', array("id"=>"pack_value","class"=>"form-control",'label'=>false,'placeholder'=>'Pack Value','value'=>$editgame["ImportedGames"]["pack_value"]));?>
                                        </div><?php */?>
                                        
                                        
                                        <div class="col-md-3 value">
                                            State
                    <select id="state" name="data[ImportedGames][state]" class="form-control">
                    <option value=""> Select State</option>          
                    <option value="TX" <?php if($editgame["ImportedGames"]["state"]=='TX'){echo 'selected';}?>>TX</option>
                    <option value="GA" <?php if($editgame["ImportedGames"]["state"]=='GA'){echo 'selected';}?>>GA</option>
                    <option value="LA" <?php if($editgame["ImportedGames"]["state"]=='LA'){echo 'selected';}?>>LA</option>
                    <option value="AZ" <?php if($editgame["ImportedGames"]["state"]=='AZ'){echo 'selected';}?>>AZ</option>
                    <option value="AR" <?php if($editgame["ImportedGames"]["state"]=='AR'){echo 'selected';}?>>AR</option>
                    <option value="FL" <?php if($editgame["ImportedGames"]["state"]=='FL'){echo 'selected';}?>>FL</option>
                    <option value="PA" <?php if($editgame["ImportedGames"]["state"]=='PA'){echo 'selected';}?>>PA</option>
                    <option value="TN" <?php if($editgame["ImportedGames"]["state"]=='TN'){echo 'selected';}?>>TN</option>
                    <option value="NY" <?php if($editgame["ImportedGames"]["state"]=='NY'){echo 'selected';}?>>NY</option>
                    <option value="MO" <?php if($editgame["ImportedGames"]["state"]=='MO'){echo 'selected';}?>>MO</option>
                    <option value="VA" <?php if($editgame["ImportedGames"]["state"]=='VA'){echo 'selected';}?>>VA</option>
                    <option value="IL" <?php if($editgame["ImportedGames"]["state"]=='IL'){echo 'selected';}?>>IL</option>
                    <option value="MA" <?php if($editgame["ImportedGames"]["state"]=='MA'){echo 'selected';}?>>MA</option>
                    <option value="SD" <?php if($editgame["ImportedGames"]["state"]=='SD'){echo 'selected';}?>>SD</option>
                    <option value="NC" <?php if($editgame["ImportedGames"]["state"]=='NC'){echo 'selected';}?>>NC</option>
                    <option value="SC" <?php if($editgame["ImportedGames"]["state"]=='SC'){echo 'selected';}?>>SC</option>
                    <option value="CO" <?php if($editgame["ImportedGames"]["state"]=='CO'){echo 'selected';}?>>CO</option>
                    <option value="KS" <?php if($editgame["ImportedGames"]["state"]=='KS'){echo 'selected';}?>>KS</option>
                    <option value="NJ" <?php if($editgame["ImportedGames"]["state"]=='NJ'){echo 'selected';}?>>NJ</option>
                    <option value="NE" <?php if($editgame["ImportedGames"]["state"]=='NE'){echo 'selected';}?>>NE</option>
                    <option value="IA" <?php if($editgame["ImportedGames"]["state"]=='IA'){echo 'selected';}?>>IA</option>
                    <option value="MI" <?php if($editgame["ImportedGames"]["state"]=='MI'){echo 'selected';}?>>MI</option>
                    <option value="IN" <?php if($editgame["ImportedGames"]["state"]=='IN'){echo 'selected';}?>>IN</option>
                    <option value="OK" <?php if($editgame["ImportedGames"]["state"]=='OK'){echo 'selected';}?>>OK</option>
                    <option value="WI" <?php if($editgame["ImportedGames"]["state"]=='WI'){echo 'selected';}?>>WI</option>
                    <option value="CA" <?php if($editgame["ImportedGames"]["state"]=='CA'){echo 'selected';}?>>CA</option>
                    </select>
                                        </div>
                                        
                                       
                                        
                                    </div>
                                    
                                <script>
                                
                                $(document).ready(function(){
									
                                    //alert();
                                    $('#startTickt').keyup(function(){
                                        var st = $(this).val();
                                        var et = $('#endTickt').val();
                                        var tp = (parseInt(et) - parseInt(st))+parseInt(1);
                                        tp = Math.abs(tp);
                                        $('#ticktPack').val(tp);
                                    });
                                    $('#endTickt').keyup(function(){
                                        var et = $(this).val();
                                        var st = $('#startTickt').val();
                                        var tp = (parseInt(et) - parseInt(st))+parseInt(1);
                                        tp = Math.abs(tp);
                                        $('#ticktPack').val(tp);
                                    });
									
									
									var $ticktPack = $("#ticktPack");									
									$ticktPack.data("value", $ticktPack.val());									
									setInterval(function() {
									var data = $ticktPack.data("value"),
									val = $ticktPack.val();									
									if (data !== val) {
									$ticktPack.data("value", val);
									//alert($("#ticktPack").val()); 
									var tp = $("#ticktPack").val();
									var tv = $('#ticktpervalue').val();
									var pv = (parseInt(tp) * parseInt(tv));
									pv = Math.abs(pv);
									//$('#pack_value').val(pv);
									}
									}, 100);							
									
									 $('#ticktPack').keyup(function(){
                                        var tp = $(this).val();
                                        var tv = $('#ticktpervalue').val();
                                        var pv = (parseInt(tp) * parseInt(tv));
                                        pv = Math.abs(pv);
                                       // $('#pack_value').val(pv);
                                    });
									 $('#ticktpervalue').keyup(function(){
                                        var tv = $(this).val();
                                        var tp = $('#ticktPack').val();
                                        var pv = (parseInt(tp) * parseInt(tv));
                                        pv = Math.abs(pv);
                                        //$('#pack_value').val(pv);
                                    });                                  
									
                                });</script>
                                
                                 

                                    <div class="row static-info">
                                        <div class="col-md-5 name">

                                        </div>

                                        <div class="col-md-7 value">
                                            <?php echo $this->Form->submit('Update',array('class'=>'btn btn-info'));?>
                                            <?php echo $this->Form->end();?>
                                        </div>

                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                    <!-- END FORM-->
                </div>
            </div>
        </div>
    </div>
    <style>
        .form-control{
            margin:10px;
        }</style>


















