
<div class="page-content-wrapper">
    <div class="portlet box blue">
        <div class="page-content portlet-body" >


            <!-- BEGIN PAGE HEADER-->

            <div class="row">
                <div class="col-md-12 ">
                    <!-- BEGIN SAMPLE FORM PORTLET-->
                    <div class="portlet box blue">
                        <div class="portlet-title">
                            <div class="caption">
                                <h3>     <i class="fa fa-reorder"></i> Edit imported game</h3>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="form-body">
                <div class="row">

                    <div class="col-md-12 col-sm-12 boderstyle">
                        <div class="portlet yellow box">


                            <div class="portlet-body extra_tt">
                                <form method="post" action="">    

                                    <div class="row static-info">
                                        <div class="col-md-2 value">
                                            <label>Game Number</label>

                                            <input type="text" name="game_no" value="<?php echo $editgame["ImportedGames"]["game_no"]; ?>"  class="form-control" readonly/>
                                            <input type="hidden" name="id" value="<?php echo $editgame["ImportedGames"]["id"]; ?>"  class="form-control" readonly/>
                                        </div>
                                        <div class="col-md-2 value">
                                            <label>Game Name</label>
                                            <input type="text" name="game_name" value="<?php echo $editgame["ImportedGames"]["game_name"]; ?>"  class="form-control"/>
                                        </div>
                                        <div class="col-md-2 value">
                                            <label>Ticket Value</label>
                                            <input type="text" name="value" value="<?php echo $editgame["ImportedGames"]["value"]; ?>"  class="form-control"/>
                                        </div>
                                        <div class="col-md-2 value">
                                            <label>Starting Ticket Number:</label>
                                            <?php echo $this->Form->input('start_ticket', array("id" => "startTickt", "class" => "form-control", 'label' => false, 'placeholder' => 'Starting Ticket Number')); ?>
                                        </div>
                                        <div class="col-md-2 value">
                                            <label>Ending Ticket Number:</label>
                                            <?php echo $this->Form->input('end_ticket', array("id" => "endTickt", "class" => "form-control", 'label' => false, 'placeholder' => 'Ending Ticket Number')); ?>
                                        </div>
                                    </div>


                                    <div class="row static-info">
                                        <div class="col-md-2 value">
                                            <label>Tickets Per Pack:</label>
                                            <input type="text" name="tickets_pack" value="<?php echo $editgame["ImportedGames"]["tickets_pack"]; ?>"  class="form-control"  />
                                        </div>
                                        <div class="col-md-2 value">
                                            <label>State</label>
                                            <select id="state" name="state" onchange="getgamesbystate(this);" class="form-control">
                                                <option value="<?php echo $editgame["ImportedGames"]["state"]; ?>"><?php echo $editgame["ImportedGames"]["state"]; ?></option>
                                                <option value="TX">TX</option>
                                                <option value="GA">GA</option>
                                                <option value="LA">LA</option>
                                                <option value="AZ">AZ</option>
                                                <option value="AR">AR</option>
                                                <option value="FL">FL</option>
                                                <option value="PA">PA</option>
                                                <option value="TN">TN</option>
                                                <option value="NY">NY</option>
                                                <option value="MO">MO</option>
                                                <option value="VA">VA</option>
                                                <option value="IL">IL</option>
                                                <option value="MA">MA</option>
                                                <option value="SD">SD</option>
                                                <option value="NC">NC</option>
                                                <option value="SC">SC</option>
                                                <option value="CO">CO</option>
                                                <option value="KS">KS</option>
                                                <option value="NJ">NJ</option>
                                                <option value="NE">NE</option>
                                                <option value="IA">IA</option>
                                                <option value="MI">MI</option>
                                                <option value="IN">IN</option>
                                                <option value="OK">OK</option>
                                                <option value="WI">WI</option>
                                                <option value="CA">CA</option>

                                            </select>
                                        </div>
                                        <div class="col-md-3 value">
                                            <br><br>
                                            <button type="submit" name ="submit" class="btn blue">Update</button>
                                        </div>


                                        

                                    </div>

                                </form>
                            </div>
                        </div>

                    </div>
                    <!-- END FORM-->
                </div>
            </div>
        </div>
    </div>
    <style>
        .form-control{
            margin:10px;
        }</style>