  
<td style="background-color: rgb(249, 249, 249);">
    <?php echo $this->Form->input('FuelProduct.product_id.', array('class' => 'form-control exampleInputName product_ajax', 'type'=>'hidden','id' => false, 'label' => false, 'div' => false,'value'=>$id )); ?>
    <?php  echo $product['WholesaleProduct']['name']; ?>&nbsp</td>
                                    <td style="background-color: rgb(249, 249, 249); " class="max_open" ><?php echo $this->Form->input('FuelProduct.gallons_delivered.', array('label' => false,'value'=>0,'size'=>8  ,'class' => 'form-control', 'type' => 'text', 'onkeyup'=>'quantity_amount()', 'placeholder'=>'0')); ?></td>
<td class="enter_product_quantity"><?php echo $this->Form->input('FuelProduct.cost_per_gallon.', array('class' => 'form-control', 'type' => 'text', 'value'=> $product['WholesaleProduct']['price'] ,'size'=>8, 'label' => false, 'id' => '', 'required' => 'false', 'placeholder' => '0','onkeyup'=>'quantity_amount()')); ?></td>
<td class="net_amount">    
    <?php echo $this->Form->input('FuelProduct.net_ammount.', array('class' => 'form-control','readonly'=>true, 'type' => 'text', 'value'=>0,'size'=>8, 'label' => false, 'id' => '', 'required' => 'false', 'placeholder' => '0')); ?>
 </td>
                                    
                            <td style="background-color: rgb(249, 249, 249); "><span class="label label-success" href='#'> <a class='Delete_product'>Delete</a></span></td>




