<style>
.perdate .Zebra_DatePicker_Icon_Inside{
		top: -25px !important;
	left: 148px !important;
	}
    .current{
        background: rgb(238, 238, 238) none repeat scroll 0 0;
        border-color: rgb(221, 221, 221);
        color: rgb(51, 51, 51);
        border: 1px solid rgb(221, 221, 221);
        float: left;
        line-height: 1.42857;
        margin-left: -1px;
        padding: 6px 12px;
        position: relative;
        text-decoration: none;
    }
#saveonly, #newandsave, .red-stripe{
color:#fff !important
}
.newiconp img{
padding:7px;}

.icon_image_style img{
width:30px;	
}

.colornbn{ color:#000;}
.newiconnn{ padding: 3px;  display: table;  vertical-align: middle;  margin-top: 9px;  margin-left: 3px;  margin-right: 3px;}
.newiconnn1{ padding: 3px;  display: table;  vertical-align: middle;  margin-top: 8px;  margin-left: 3px;  margin-right: 3px;}
/*div.radio input { opacity:1;  margin-left: -12px !important; height: 14px;  margin-top: 2px;}*/
#mpymt{ margin-bottom: 15px;}
#mpymt label.spciallab{ color:#666666; background-color:#e3e3e3; padding:5px 10px; display:inline-block; border: 1px solid #e3e3e3;}
#mpymt label.nobg{ color:#666666; background-color:#fff;  display:inline-block;}
#mpymt label.spciallab.active{ background-color:#fff;}
#mpymt div.radio input{ opacity:0; visibility:hidden;    display: none;} 
#mpymt div.radio{ width:0; height:0; margin-left: 0px; display: none;}
.txtrht{
	text-align:right !important;
}
tr.dblhead th{background-color: #177bbb; text-align:left; color:#fff; border-right:1px solid #fff !important;}
tr.dblhead th:last-child{text-align:left !important; }
tr.dblhead th a{text-decoration:none; color:#fff;}
tr.dblhead.aser th{ font-size:15px; text-transform: uppercase;}
.Zebra_DatePicker_Icon_Inside {
	top: 24px !important;
}
</style>

<div class="page-content-wrapper">
<div class="portlet box blue">
     <div class="page-content portlet-body" >
        <div class="row">
            <div class="col-md-12">
                <h3 class="page-title">
                   Tank Reconcilation Report
                </h3>
            </div>
        </div>
        

      
  
        <div class="row">
		  <div class="col-md-12">
          
        
           <?php echo $this->Form->create('TankReconcilation', array('role' => 'form', 'type' => 'file'), array('inputDefaults' => array('label' => false, 'div' => false, 'required' => false))); ?>
           
                  
 <div class="clearfix"></div>   
		 <div class="col-md-2">
         <label>Update Date</label>
          <?php echo $this->Form->input('date', array('class' => 'form-control', 'type' => 'text', 'label' => false, 'div' => false, 'required' => 'false', 'size' => '16','id'=>'to','value'=>$date)); ?>
        <!-- <input type="text" id="to" name="data[TankReconcilation][form]" class="form-control" value="<?php echo $date; ?>">-->
			<?php //include('test.ctp'); ?>
			<br/>
		</div>
		<div class="col-md-4">
		  <label style="padding-top: 30px;">Period Begin Date : <?php echo $date; ?></label>
			
           
			<br/>
		</div>
        
        <div class="col-md-1">
		  <label>&nbsp;</label>
			
            <input type="submit" class="btn btn-info" value="Search"  />
			<br/>
		</div>
          <?php echo $this->form->end(); ?>
        <div class="col-md-1">
		  <label>&nbsp;</label>
         <a href="<?php echo Router::url('/');?>admin/TankReconcilations/reset" class="btn btn-warning ">Reset</a>   

		<br/>
        </div>
          <div class="col-md-1 pull-right">
		  <label>&nbsp;</label>
           <a href="<?php echo Router::url('/');?>admin/TankReconcilations/reset" class="btn btn-info ">Live</a>   

			<br/>
		</div>
		</div>
		</div>
        
        
        <div class="row">
            <div class="col-md-12">
                <div class="tabbable tabbable-custom tabbable-full-width">

                    <div class="tab-content">

                        <div id="tab_1_5" class="tab-pane1">

                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-advance table-hover">
                                <?php $total_starting_volume=0;
										$total_delivery_volume=0;
										$total_dispense_volume=0;
										$total_ending_volume=0;
										$dispency=0; ?>
                                    <thead>
                                    <tr class="dblhead aser">
                                          
                                        <th  colspan="1">Tank</th>
                                        <th colspan="2">Starting Inventory</th>
                                        <th colspan="2">Delivery Inventory</th>
                                         <th colspan="1">Dispense</th>
                                        <th colspan="2">Ending Inventory</th>
                                        </tr>
                                        <tr  class="dblhead">
                                        <th>No.</th>
                                        <th><?php echo $this->Paginator->sort('starting_date_time','Date:Time '); ?></th>
                                        <th><?php echo $this->Paginator->sort('starting_volume','Volume'); ?></th>
                                           
                                        <th><?php echo $this->Paginator->sort('delivery_date_time','Date:Time '); ?></th>
                                        <th><?php echo $this->Paginator->sort('delivery_volume','Volume'); ?></th>
                                         <th><?php echo $this->Paginator->sort('dispense_volume','Volume'); ?></th>
                                         <th><?php echo $this->Paginator->sort('ending_date_time','Date:Time '); ?></th>
                                         <th><?php echo $this->Paginator->sort('ending_volume','Volume'); ?></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <?php if (isset($TankReconcilation) && !empty($TankReconcilation)) { 
										
										?>
                                        <?php $la=1; foreach ($TankReconcilation as $data) {?>
                                              <tr>
                                               <td><?php echo $data['TankReconcilation']['tank_id']; ?>&nbsp;</td>
                                              <td><?php 
											  
											  $starting_date_time = date_create($data['TankReconcilation']['starting_date_time']);
											  echo date_format($starting_date_time, 'm/d H:i:s');
											  
											 /* if($data['TankReconcilation']['starting_date_time']) echo  date('d F,Y', strtotime($data['TankReconcilation']['starting_date_time'])); */ ?>&nbsp;</td>
                                              <td><?php echo h($data['TankReconcilation']['starting_volume']); 
											  $total_starting_volume=$total_starting_volume+$data['TankReconcilation']['starting_volume'];
											  ?>&nbsp;</td>
                                             <td><?php 
											 
											  $delivery_date_time = date_create($data['TankReconcilation']['delivery_date_time']);
											  echo date_format($delivery_date_time, 'm/d H:i:s');
											 
											 
										/*	 if($data['TankReconcilation']['delivery_date_time']) echo  date('d F,Y', strtotime($data['TankReconcilation']['starting_date_time']));*/  ?>&nbsp;</td>
                                              <td><?php echo h($data['TankReconcilation']['delivery_volume']);
											  $total_delivery_volume=$total_delivery_volume+$data['TankReconcilation']['delivery_volume'];
											   ?>&nbsp;</td>
                                              <td><?php echo h($data['TankReconcilation']['dispense_volume']);
											  
											    $total_dispense_volume=$total_dispense_volume+$data['TankReconcilation']['dispense_volume'];
											   ?>&nbsp;</td>
                                             <td><?php 
											 	  $ending_date_time = date_create($data['TankReconcilation']['ending_date_time']);
											  echo date_format($ending_date_time, 'm/d H:i:s');
											 
											 
											 
											 //if($data['TankReconcilation']['ending_date_time']) echo  date('d F,Y', strtotime($data['TankReconcilation']['starting_date_time'])); 
											 
											  ?>&nbsp;</td>
                                             
                                               <td><?php echo h($data['TankReconcilation']['ending_volume']); 
											   
											    $total_ending_volume=$total_ending_volume+$data['TankReconcilation']['ending_volume'];
												$dispency=$data['TankReconcilation']['discrepancy'];
											   ?>&nbsp;</td>
                                              </tr>
                                            <?php $la++; } ?>
                                        <?php } else { ?>
                                            <tr>
                                                <td colspan="10">  no result found </td>
                                            </tr>
                                        <?php } ?>
                                    </tbody>
                                    <tfoot>
                   					 <tr>
                                    <td class=""><b>Totals</b></td> 
                                    <td class="header-style"><b>&nbsp;</b></td> 
                                    <td class="" style="border-top: 2px solid #000 !important;"><strong style="font-size:16px;"><?php echo $total_starting_volume;?></strong></td> 
                                    
                                    <td class="header-style"><b>&nbsp;</b></td> 
                                    <td class="" style="border-top: 2px solid #000 !important;"><strong style="font-size:16px;"><?php echo $total_delivery_volume;?></strong></td> 
                                    <td class="" style="border-top: 2px solid #000 !important;"><strong style="font-size:16px;"><?php echo $total_dispense_volume;?></strong></td> 
                                    <td class="header-style"><b>&nbsp;</b></td> 
                                    <td class="" style="border-top: 2px solid #000 !important;"><strong style="font-size:16px;"><?php echo $total_ending_volume;?></strong></td>  
                  
                                    </tr>
                                     </tfoot>
                                </table>
                            </div>
                            <div class="row">
            <div class="col-md-12">               
                <h4 class="txtrht">
                   <strong> Discrepancy = <?php echo h($dispency); 
				?>
                     </strong>					
                </h4>
            
            </div>
        </div>
                            <div class="margin-top-20">
                                <ul class="pagination">
                                    <li>
                                        <?php echo $this->Paginator->prev('<i class="fa fa-angle-left"></i>', array('escape' => false)); ?> 
                                    </li>
                                    <?php echo $this->Paginator->numbers(array('tag' => 'li', 'separator' => '')); ?>                                    
                                    <li> 
                                        <?php echo $this->Paginator->next('<i class="fa fa-angle-right"></i>', array('escape' => false)); ?> 
                                    </li>
                                </ul>
                            </div>
                            
                            
                        </div>
                        <!--end tab-pane-->
                    </div>
                </div>
            </div>
            <!--end tabbable-->
        </div>
        <!-- END PAGE CONTENT-->
    </div>
</div>
</div>
<script>
function showmodel(invoice, vendor){
$('#vendor').val(vendor);
$('#invoice').val(invoice);
}
</script>
<script>
    $(document).ready(function(){
	 $('[data-toggle="tooltip"]').tooltip(); 
	$("form :input").attr("autocomplete", "off");
	//$('#to').Zebra_DatePicker({
		//format:'Y-m-d',
		//show_icon: False		
		//});	
	});
</script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> 
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#to" ).datepicker({ dateFormat: 'yy-mm-dd' });	
  } );
  </script>
