<div class="page-content-wrapper">
    <div class="portlet box blue">

        <div class="page-content portlet-body">        


            <div class="row">
                <div class="col-md-12">                
                    <h3 class="page-title">
                       Live Inventory
                    </h3>

                </div>
            </div>
            <div class="content-new">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="lottery_setting clearfix">
                           
                            <div class="confirm_heading clearfix">
                                <h5><strong>Please enter date range for this report  </strong>
                                    <span>  
                                        <input type="button" class="btn btn-warning pull-right" onclick="tableToExcel('example', 'W3C Example Table')" value="Export to Excel">
                                    </span>
                                </h5>

                            </div>                           
                            <?php echo $this->Form->create('LiveInventory', array('role' => 'form', 'type' => 'file'), array('inputDefaults' => array('label' => false, 'div' => false, 'required' => false))); ?>

                            <div class="confim_form">
                             
                                <div class="row">
                                  
                                    <div class="col-md-2 col-xs-6">
                                        <label>Updated date</label>                            
                                        <?php
                                        //include('multidatepicker.ctp');
										echo $this->Form->input('date', array('id' => 'datepick', 'class' => 'form-control','type' => 'text', 'label' => false,  'value' => $date)); 
                                        ?>
                                    </div>
                                    <div class="col-md-2 ">
                                        <label>Department</label>
                                        <?php					
										 echo $this->Form->input('lvdepartment', array('options' =>$departments, 'empty' => 'All', 'class' => 'form-control', 'label' => false,'value'=>$department));
										  ?>
                                    </div>
                                    <div class="col-md-2 ">
                                        <label>Plu/Description</label>
                                        <?php					
										echo $this->Form->input('searchkey', array('id' => 'searchkey', 'class' => 'form-control','type' => 'text', 'label' => false, 'value' => $searchkey)); 
										  ?>
                                    </div>
                                   
                                    <div class="col-md-6">
                                        <label>&nbsp;</label>
                                        <button type="submit" name ="submit" class="btn default updatebtn" style=" margin-top:24px;">Run report</button>
                                        <label>&nbsp;</label>
                                        <a style=" margin-top:24px;" href="<?php echo Router::url('/'); ?>admin/live_inventories/reset" class="btn btn-warning ">Reset</a> 
                                       
                                    </div>

                                </div>
                            </div>                          
                            <?php echo $this->form->end(); ?>                           
                        </div>
                    </div>

                </div>
                <br>
                <div class="row">
                    <div class="col-md-12">
                        <div class="tabbable tabbable-custom tabbable-full-width">

                            <div class="tab-content">

                                <div id="tab_1_5" class="tab-pane1">
                                
                                    <table id="example" class="table table-striped table-bordered table-advance table-hover">
                                        <thead>
                                            <tr>
                                                <th>Date</th>
                                                <th>Upc Code</th>
                                                <th>Name</th>
                                                <th>On Hand</th>
                                                <th>Item Count</th>
                                                <th>Current Inventory</th>
                                                <th>Amount</th>
                                               <?php /*?> <th>Purchase</th><?php */?>
                                               
                                              <?php /*?>  <th>Action</th><?php */?>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <?php
                                            if (isset($live_inventories) && !empty($live_inventories)) {
                                            foreach ($live_inventories as $data) {
											//echo '<pre>';print_r($data);die;	
											$plu_no=$data["RGroceryItem"]["plu_no"];
											
											$sales_inventory=0;
										    $userObj = ClassRegistry::init('RubyPluttl');
											$pluItemBySale=$userObj->find('all', array('conditions'=>array('RubyPluttl.plu_no' =>$plu_no,'RubyPluttl.store_id' =>$this->Session->read('stores_id'))/*,'group'=>'RubyPluttl.plu_no'*/));
										//echo '<pre>';print_r($pluItemBySale);die;	
										foreach($pluItemBySale as $pluItemBySaleRow){
										$sales_inventory=$sales_inventory+$pluItemBySaleRow['RubyPluttl']['no_of_items_sold'];
										}
																						
											$on_hand=$data["RGroceryItem"]["current_inventory"]+$data["RGroceryItem"]["purchase"]-$sales_inventory;
											?>
                                            <tr>  
                                            <td><?php echo date('Y-m-d',strtotime($data["LiveInventory"]["periodBeginDate"])); ?></td>                                    
                                            <td><?php echo $data["LiveInventory"]["upc"]; ?></td>   
                                            <td><?php echo $data["LiveInventory"]["name"]; ?></td>
                                             <td><?php echo $on_hand; ?></td>
                                            <td><?php echo $data["LiveInventory"]["itemCount"]; ?></td>
                                            <td>
											<?php
											//echo $data["RGroceryItem"]["current_inventory"];
											$current_inventory=$on_hand-$data["LiveInventory"]["itemCount"];
											echo $current_inventory;
											?>
                                            </td>
                                            <td><?php echo $data["LiveInventory"]["amount"]; ?></td>
                                      <?php /*?>      <td><?php echo $data["RGroceryItem"]["purchase"]; ?></td>   <?php */?>  
                                             
                                           <?php /*?> <td>
                                            <?php echo $this->Html->link("<i class='fa fa-trash'></i>", array('controller' => 'live_inventories', 'action' => 'delete', $data['LiveInventory']['id']), array('escape' => false, 'class' => 'btn default btn-xs red-stripe delete', 'confirm' => 'Are you sure you want to delete?'));
                                            ?>
                                            </td><?php */?>
                                            </tr>
                                                
                                                <?php
                                                }
                                            } else {
                                                echo ' <tr>
                                                <td colspan="8">  No result found! </td>
                                            </tr>';
                                            }										
										  ?>  
                                            
                                        </tbody>
                                    </table>
                                    <div class="margin-top-20">
                                        <ul class="pagination">
                                            <li>
                                                <?php echo $this->Paginator->prev('<i class="fa fa-angle-left"></i>', array('escape' => false)); ?> 
                                            </li>
                                            <?php echo $this->Paginator->numbers(array('tag' => 'li', 'separator' => '')); ?>                                    
                                            <li> 
                                                <?php echo $this->Paginator->next('<i class="fa fa-angle-right"></i>', array('escape' => false)); ?> 
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                           
                            </div>
                        </div>
                    </div>
                  
                </div>
               
            </div>          
            
        </div>
        <style>
            .current{
                background: rgb(238, 238, 238) none repeat scroll 0 0;
                border-color: rgb(221, 221, 221);
                color: rgb(51, 51, 51);
                border: 1px solid rgb(221, 221, 221);
                float: left;
                line-height: 1.42857;
                margin-left: -1px;
                padding: 6px 12px;
                position: relative;
                text-decoration: none;
            }

            .view_file{
                width: 30px;
                border: medium none;
                padding: 10px;
                color: #FFF;		
                font-size: 13px;		
            }



        </style>

    </div>
</div>
<?php
if ($full_date == '' || $full_date == '// - //') {
    ?>        
    <script>
        $(document).ready(function () {
        $('#config-demo').val('');
        });
    </script>
    <?php
}
?>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> 
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#datepick" ).datepicker({ dateFormat: 'yy-mm-dd' });
  } );
  </script>  
<script>
                    var tableToExcel = (function () {
                            var uri = 'data:application/vnd.ms-excel;base64,'
                    , template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--></head><body><table>{table}</table></body></html>'
                                                , base64 = function (s) {
                                                return window.btoa(unescape(encodeURIComponent(s)))
                                                }
                                        , format= function (s, c) {
                        return s.replace(/{(\w+)}/g, function (m, p) {
                            return c[p];
                        })
                    }
                    return function (table, name) {
                        if (!table.nodeType)
                            table = document.getElementById(table)
                        var ctx = {worksheet: name || 'Worksheet', table: table.innerHTML}
                        window.location.href = uri + base64(format(template, ctx))
                    }
                })()
</script>

