                <?php 
				//echo '<pre>';print_r($Ruby2Livepo); die;
				?>                
                <div class="row">
                    <div class="col-md-12">
                        <!--<div style="text-align: center"><h4>Passyunk-Gulf<h4></div>-->
                        <div style="text-align: center"><?php echo $Ruby2Livepo['Ruby2Livepo']['ReceiptDate'].' '.$Ruby2Livepo['Ruby2Livepo']['ReceiptTime']; ?> </div>
                        <div>
                            <span class="pull-left"><!--Employee:&nbsp;&nbsp;1--></span>
                            <span class="pull-right">
                              <!--  Station:&nbsp;&nbsp;101&nbsp;(Primary)-->
                              </span>
                        </div>                       
                    </div>
                </div> 
                
                <?php 
				if($Ruby2Livepo['Ruby2Livepo']['ItemCode_Description']!='' && $Ruby2Livepo['Ruby2Livepo']['FuelLine_Description']!='')
				{
                ?>              
				<div class="row" style="padding:25px;">
                    <div class="" style="min-height:121px;">
                        <div class="col-md-11" style="border-bottom: 1px  dotted; margin-bottom:10px;" >
                            <div class="receipt-item-name col-md-5 " >
							<?php echo $Ruby2Livepo['Ruby2Livepo']['ItemCode_Description'];?>
                            </div>
                            <div class="receipt-item-qty col-md-2">
                            x  <?php echo $Ruby2Livepo['Ruby2Livepo']['ItemCode_SalesQuantity'];?>
                            </div>
                            <div class="receipt-item-price col-md-4">
                            $ <?php echo $Ruby2Livepo['Ruby2Livepo']['ItemCode_SalesAmount'];?>
                            </div>
                            <div class="clearfix">&nbsp;</div>
                                
                        </div>
                        <div class="col-md-11 ">
                            <div class="row" style="border-bottom: 1px  dotted">
                                <div class="col-md-5"></div>
                                <div class="col-md-2"></div>
                                <div class="col-md-4 ">TOTAL</div>
                            </div>
                            <div class="row">
                                <div class="col-md-5"></div>
                                <div class="col-md-2"></div>
                                <div class="col-md-4 ">
                                Gross  &nbsp;$ <?php echo $Ruby2Livepo['Ruby2Livepo']['ItemCode_SalesAmount'];?>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5"></div>
                                <div class="col-md-2"></div>
                                <div class="col-md-4 ">
                                <?php $tax=0;?>
                                Tax  &nbsp;$ <?php echo $Ruby2Livepo['Ruby2Livepo']['TaxCollectedAmount'];?>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5"></div>
                                <div class="col-md-2"></div>
                                <div class="col-md-4 ">
                                Net  &nbsp;$ <?php echo $Ruby2Livepo['Ruby2Livepo']['ItemCode_TenderAmount'];?>
                                </div>
                            </div>
                            
                                
                        </div>
                            
                    </div>
                    
                
                </div>	
                <div class="row" style="padding:25px;">
                    <div class="" style="min-height:121px;">
                        <div class="col-md-11" style="border-bottom: 1px  dotted; margin-bottom:10px;" >
                            <div class="receipt-item-name col-md-5 " >
							<?php echo $Ruby2Livepo['Ruby2Livepo']['FuelLine_Description'];?>
                            </div>
                            <div class="receipt-item-qty col-md-2">
                            x  <?php echo $Ruby2Livepo['Ruby2Livepo']['FuelLine_SalesQuantity'];?>
                            </div>
                            <div class="receipt-item-price col-md-4">
                            $ <?php echo $Ruby2Livepo['Ruby2Livepo']['FuelLine_SalesAmount'];?>
                            </div>
                            <div class="clearfix">&nbsp;</div>
                                
                        </div>
                        <div class="col-md-11 ">
                            <div class="row" style="border-bottom: 1px  dotted">
                                <div class="col-md-5"></div>
                                <div class="col-md-2"></div>
                                <div class="col-md-4 ">TOTAL</div>
                            </div>
                            <div class="row">
                                <div class="col-md-5"></div>
                                <div class="col-md-2"></div>
                                <div class="col-md-4 ">
                                Gross  &nbsp;$ <?php echo $Ruby2Livepo['Ruby2Livepo']['FuelLine_SalesAmount'];?>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5"></div>
                                <div class="col-md-2"></div>
                                <div class="col-md-4 ">
                                <?php $tax=0;?>
                                Tax  &nbsp;$ <?php echo $tax;?>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5"></div>
                                <div class="col-md-2"></div>
                                <div class="col-md-4 ">
                                Net  &nbsp;$ <?php echo $Ruby2Livepo['Ruby2Livepo']['FuelLine_TenderAmount'];?>
                                </div>
                            </div>
                            
                                
                        </div>
                            
                    </div>
                    
                
                </div>		   
				<?php
                }else{
				?>
                <div class="row" style="padding:25px;">
                    <div class="" style="min-height:290px;">
                        <div class="col-md-11" style="border-bottom: 1px  dotted; margin-bottom:10px;" >
                            <div class="receipt-item-name col-md-5 " >
							<?php if($Ruby2Livepo['Ruby2Livepo']['ItemCode_Description']!=''){echo $Ruby2Livepo['Ruby2Livepo']['ItemCode_Description'];}else{echo $Ruby2Livepo['Ruby2Livepo']['FuelLine_Description'];}?>
                            </div>
                            <div class="receipt-item-qty col-md-2">
                            x  <?php if($Ruby2Livepo['Ruby2Livepo']['ItemCode_Description']!=''){echo $Ruby2Livepo['Ruby2Livepo']['ItemCode_SalesQuantity'];}else{echo $Ruby2Livepo['Ruby2Livepo']['FuelLine_SalesQuantity'];}?>
                            </div>
                            <div class="receipt-item-price col-md-4">
                            $ <?php if($Ruby2Livepo['Ruby2Livepo']['ItemCode_Description']!=''){echo $Ruby2Livepo['Ruby2Livepo']['ItemCode_SalesAmount'];}else{echo $Ruby2Livepo['Ruby2Livepo']['FuelLine_SalesAmount'];}?>
                            </div>
                            <div class="clearfix">&nbsp;</div>
                                
                        </div>
                        <div class="col-md-11 ">
                            <div class="row" style="border-bottom: 1px  dotted">
                                <div class="col-md-5"></div>
                                <div class="col-md-2"></div>
                                <div class="col-md-4 ">TOTAL</div>
                            </div>
                            <div class="row">
                                <div class="col-md-5"></div>
                                <div class="col-md-2"></div>
                                <div class="col-md-4 ">
                                Gross  &nbsp;$ <?php if($Ruby2Livepo['Ruby2Livepo']['ItemCode_Description']!=''){echo $Ruby2Livepo['Ruby2Livepo']['ItemCode_SalesAmount'];}else{echo $Ruby2Livepo['Ruby2Livepo']['FuelLine_SalesAmount'];}?>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5"></div>
                                <div class="col-md-2"></div>
                                <div class="col-md-4 ">
                                <?php $tax=0;?>
                                Tax  &nbsp;$ <?php if($Ruby2Livepo['Ruby2Livepo']['ItemCode_Description']!=''){echo $Ruby2Livepo['Ruby2Livepo']['TaxCollectedAmount'];}else{echo $tax;}?>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5"></div>
                                <div class="col-md-2"></div>
                                <div class="col-md-4 ">
                                Net  &nbsp;$ <?php if($Ruby2Livepo['Ruby2Livepo']['ItemCode_Description']!=''){echo $Ruby2Livepo['Ruby2Livepo']['ItemCode_TenderAmount'];}else{echo $Ruby2Livepo['Ruby2Livepo']['FuelLine_TenderAmount'];}?>
                                </div>
                            </div>
                            
                                
                        </div>
                            
                    </div>
                    
                
                </div>
                <?php
                }
				?>