<?php 								
//echo '<pre>';print_r($ruby2Livepos);die;
foreach($ruby2Livepos as $ruby2Livepo): ?>
<a href="javascript:void(0);" id="<?php echo $ruby2Livepo['Ruby2Livepo']['id'];?>" class="lveps">
    <li style="border-bottom: 1px solid #e1e1e1;padding:3px ">
        <div class="row">
            <div class="col-sm-6">
<?php /*?><span class="tran-sum-span" ><?php echo $ruby2Livepo['Store']['name'] ?></span><br><?php */?>
             <small class="EnetUI-Font-De-Emphasize" style="font-size: 0.8em;"><span><?php echo h($ruby2Livepo['Ruby2Livepo']['ReceiptDate'])." ".h($ruby2Livepo['Ruby2Livepo']['ReceiptTime']); ?></span></small>
            </div>
            <div class="col-sm-4 tran-sum-dollar" >
                <?php echo h($ruby2Livepo['Ruby2Livepo']['TransactionID']); ?>
            </div>
            <div class="col-sm-2">
               <i class="fa fa-chevron-right ">&nbsp;</i>
            </div>
        </div>
    </li>
</a>                                
<?php endforeach; ?>                                
<script type="text/javascript">
    jQuery(document).ready(function(){      
		 jQuery(".lveps").click(function() {
			var lveps_id = $(this).attr('id');
			//alert(lveps_id);
				jQuery.ajax({
				url: '<?php echo Router::url('/') ?>admin/ruby2_livepos/getresult',
                type: 'post',
				 dataType: 'text',
                data: {lveps_id: lveps_id},
                success:function(data){				
				//alert(data);
				jQuery('#ajxdv').html(data);
                }
            });
        });	
		
	
		
       
    });   
       
</script>                        
