<?php
//$tankList = array(1 => 'REG', 2 => 'PREM', 3 => 'DIESEL', 4 => 'UNLD2');
$prodList = ClassRegistry::init('RubyFprod')->find('list', array('conditions' => array('store_id' => $_SESSION['store_id']), 'fields' => array('fuel_product_number', 'display_name')));




//print_r($prodList);exit;
$fMopList = array(1 => 'CASH', 2 => 'CRED', 3 => 'CHEC');


?>
<div class="page-content-wrapper">
<div class="portlet box blue">
               <div class="page-content portlet-body" >
<div class="rubyUhosets index">
<div class="portlet box blue">
						<div class="portlet-title col-md-12">
							<div class="caption">
								<i class="fa fa-cogs"></i> Ruby Uhosets
							</div>
						
						</div>
						<div class="portlet-body">
						
	
	<div class="row">
    <?php echo $this->Form->create('RubyUhoset', array('role' => 'form', 'type' => 'file','controller'=>'RubyUhosets','action'=>'ondex'), array('inputDefaults' => array('label' => false, 'div' => false, 'required' => false))); ?>
            <div class="col-md-2">
            <label>From:</label>
          
             <?php //echo $this->Form->input('fromdate', array('id' => 'from','class' => 'form-control','type' => 'text','label' => false,'value'=>date('m-d-Y',strtotime(@$datevalue['RubyHeader']['beginning_date_time'])))); ?>
              <?php include('test.ctp'); ?>  
            </div>
            
            <!--<div class="col-md-2">
            <label>To:</label>
         
             <?php //echo $this->Form->input('todate', array('id' => 'to','class' => 'form-control','type' => 'text','label' => false,'value'=>date('m-d-Y',strtotime(@$datevalue['RubyHeader']['ending_date_time'])))); ?>
            </div>-->
            
            
            
            <div class="col-md-2 top-space">
            <label>Filter by:</label>
            <?php echo $this->Form->input('fueling_point_number', array('class' => 'select_box form-control','id'=>'mop', 'label' => false, 'required' => 'false','options'=>$fueling_point_numbera, 'empty' => 'Select Number')); ?>
            
            
            </div>
          
		    <div class="col-md-2 middel-space top-space">
                      <label>&nbsp;</label>
                      <button type="submit" class="btn btn-block btn-info tank-filter">Filter</button>
                    </div> <?php echo $this->form->end(); ?>
                    <div class="col-md-2 middel-space top-space">
			                      <label>&nbsp;</label>
<button type="button" class="btn btn-info btn-block dropdown-toggle pull-right action-text tank-filter" data-toggle="dropdown">Action <span class="caret"></span></button>
   		  <ul class="dropdown-menu icons-right btn-block dropdown-menu-right">
        
         		<li><a href="#" target="_blank"><i class="icon-link"></i> Save as pdf</a></li>
        	        <li><a href="#" target="_blank"><i class="icon-link"></i> Save as xls</a></li>
                  </ul>
               </div>  
            </div>
<br>
</div>
</div>
<div class="row">
	<div class="col-md-12">
<div class="portlet box blue">
						<div class="portlet-title col-md-12">
							<div class="caption">
								<i class="fa fa-cogs"></i> Sales
							</div>
						
						</div>
						<div class="portlet-body">
	
       <div class="block-inner clearfix tooltip-examples">
 	   
 	 <div class="datatable">
	
    <?php 
	$i=1;
	$j=0;
	//echo $count= count($rubyUhosets);die;
	 foreach($fueling as $_i => $_valuei) { ?>
     
      <?php 
		$_summaryTotal = array();		
		
			foreach($rubyUhosets as $rubyUhoset) {
				if($rubyUhoset['RubyUhoset']['fueling_point_number']==$_valuei){
				$_ukey = @$prodList[$rubyUhoset['RubyUhoset']['fuel_product_number']];
				if($_ukey!=''){							
				if (!isset($_summaryTotal[$_ukey]['fuel_volume'])) {
					$_summaryTotal[$_ukey]['fuel_volume'] = $rubyUhoset['RubyUhoset']['fuel_volume'];
					$_summaryTotal[$_ukey]['fuel_value']  = $rubyUhoset['RubyUhoset']['fuel_value'];
				} else {
					$_summaryTotal[$_ukey]['fuel_volume'] += $rubyUhoset['RubyUhoset']['fuel_volume'];
					$_summaryTotal[$_ukey]['fuel_value']  += $rubyUhoset['RubyUhoset']['fuel_value'];
				}
					/*$_summaryTotal['RubyHeader']['beginning_date_time'] = $rubyUhoset['RubyHeader']['beginning_date_time'];
					$_summaryTotal['RubyHeader']['ending_date_time']  = $rubyUhoset['RubyHeader']['ending_date_time'];	*/
				if (isset($_summaryTotal['Total']['fuel_volume'])) {
					$_summaryTotal['Total']['fuel_volume'] += $rubyUhoset['RubyUhoset']['fuel_volume'];
					$_summaryTotal['Total']['fuel_value']  += $rubyUhoset['RubyUhoset']['fuel_value'];
				} else {
					$_summaryTotal['Total']['fuel_volume'] = $rubyUhoset['RubyUhoset']['fuel_volume'];
					$_summaryTotal['Total']['fuel_value']  = $rubyUhoset['RubyUhoset']['fuel_value'];
				}
			  }
			}
			}
			$count_summaryTotal = count($_summaryTotal);
		?>
     
     
        <table class="table table-striped table-bordered table-advance table-hover" id="example">
        	<?php if($count_summaryTotal > 0) { 
			echo "Fuieling Point #".$_valuei;
			?>
            <thead>
                <tr>
                    <th><?php echo $this->Paginator->sort('Display Name'); ?></th>
                    <th><?php echo $this->Paginator->sort('fuel_volume'); ?></th>
                    <th><?php echo $this->Paginator->sort('fuel_value'); ?></th>
                    <!--<th><?php echo 'Beginning Date '; ?></th>
                    <th><?php echo 'Ending Date '; ?></th>-->
                </tr>
            </thead>
            <?php } ?>
		<tbody id="dataget">
		<?php 
		$total_fuel_volume=0;
		$total_fuel_value=0;
		//pr($_summaryTotal);
		
		if($count_summaryTotal > 0) {
			foreach($_summaryTotal as $key => $val){ 
			?>
			<?php if($key!='Total'){ ?>
			<tr>
				<td><?php echo $key; ?></td>
				<td>
					<?php 
					echo h($_summaryTotal[$key]['fuel_volume']); 
					$total_fuel_volume=$total_fuel_volume+$_summaryTotal[$key]['fuel_volume']; 
					?>
				</td>
				<td>
					<?php 
					echo h($_summaryTotal[$key]['fuel_value']); 
					$total_fuel_value=$total_fuel_value+$_summaryTotal[$key]['fuel_value'];
					?>
				</td>
			</tr>
			<?php }
			}?>
        <?php } ?>
	 </tbody>
     <?php if($count_summaryTotal > 0) { ?>
     <tfoot>
        <tr>
        <td><b>TOTAL</b></td>
        <td><?php echo $total_fuel_volume;?></td>
        <td><?php echo $total_fuel_value;?></td>
        </tr>
     </tfoot>
	</table>	
    <?php }
	 }
	?>
   
    
<?php /*?>	<?php foreach ($rubyUhosets as $rubyUhoset){?>
	<tr>
	   <td><?php echo @$prodList[$rubyUhoset['RubyUhoset']['fuel_product_number']]; ?>&nbsp;</td>
			<td><?php echo h($rubyUhoset['RubyUhoset']['fuel_volume']); ?>&nbsp;</td>
		<td><?php echo h($rubyUhoset['RubyUhoset']['fuel_value']); ?>&nbsp;</td>
		<td><?php echo CakeTime::format($rubyUhoset['RubyHeader']['beginning_date_time'], '%m-%d-%Y'); ?></td>
		<td><?php echo CakeTime::format($rubyUhoset['RubyHeader']['ending_date_time'], '%m-%d-%Y'); ?></td>
						
	</tr>
<?php };
?>
	</tbody>
	</table><?php */?>
	
				</div>
		</div>
	</div>
</div>
	</div>

</div>
	</div>
	</div>


<!--<script type="text/javascript" charset="utf-8">
	var webroot='<?php echo $this->webroot;?>';
	function filter_utank() {	
		var from_date=$('#from').val();
		var to_date=$('#to').val();
		
		var mop=$('#mop').val();
		//$('#loaderdiv').show();
		$.ajax({
			type : 'POST',
			url : webroot+'ruby_uhosets/index/',
			dataType : 'html',
			data: {from_date:from_date,to_date:to_date,mop:mop},
			success:function(result){
					$("#example_info").hide();
					$("#example_paginate").hide();
			$("#example_filter").hide();
			$("#example_length").hide();
			$(".filterdata .col-md-2 ").hide();
			$("#filter").show();
			$("#dataget").html(result);

			}});
	}
</script>-->
<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		$('#to').Zebra_DatePicker({format:"m-d-Y"});
		$('#from').Zebra_DatePicker({format:"m-d-Y"});
		
	});
</script>