<?php
//$tankList = array(1 => 'REG', 2 => 'PREM', 3 => 'DIESEL', 4 => 'UNLD2');
$prodList = ClassRegistry::init('RubyFprod')->find('list', array('conditions' => array('store_id' => $_SESSION['store_id']), 'fields' => array('fuel_product_number', 'display_name')));

//print_r($prodList);exit;
$fMopList = array(1 => 'CASH', 2 => 'CRED', 3 => 'CHEC');


?>
	<?php foreach ($rubyUhosets as $rubyUhoset): ?>
	<tr>
		  <td><?php echo @$prodList[$rubyUhoset['RubyUhoset']['fuel_product_number']]; ?>&nbsp;</td>
<!--		<td><?php echo h($rubyUhoset['RubyUhoset']['id']); ?>&nbsp;</td>
		<td>
			<?php echo $this->Html->link($rubyUhoset['RubyHeader']['id'], array('controller' => 'ruby_headers', 'action' => 'view', $rubyUhoset['RubyHeader']['id'])); ?>
		</td>
		<td><?php echo h($rubyUhoset['RubyUhoset']['fueling_point_number']); ?>&nbsp;</td>
		<td><?php echo h($rubyUhoset['RubyUhoset']['fuel_product_number']); ?>&nbsp;</td>
	-->	<td><?php echo h($rubyUhoset['RubyUhoset']['fuel_volume']); ?>&nbsp;</td>
		<td><?php echo h($rubyUhoset['RubyUhoset']['fuel_value']); ?>&nbsp;</td>
		<!--<td><?php echo h($rubyUhoset['RubyUhoset']['fuel_product_id']); ?>&nbsp;</td>
		<td><?php echo h($rubyUhoset['RubyUhoset']['create']); ?>&nbsp;</td>
		<td class="actions">
			<?php echo $this->Html->link(__('View'), array('action' => 'view', $rubyUhoset['RubyUhoset']['id'])); ?>
			<?php echo $this->Html->link(__('Edit'), array('action' => 'edit', $rubyUhoset['RubyUhoset']['id'])); ?>
			<?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $rubyUhoset['RubyUhoset']['id']), array('confirm' => __('Are you sure you want to delete # %s?', $rubyUhoset['RubyUhoset']['id']))); ?>
		</td>-->
		<td><?php echo CakeTime::format($rubyUhoset['RubyHeader']['beginning_date_time'], '%m-%d-%Y'); ?></td>
		<td><?php echo CakeTime::format($rubyUhoset['RubyHeader']['ending_date_time'], '%m-%d-%Y'); ?></td>
	</tr>
<?php endforeach; ?>

	
