<?php
//$tankList = array(1 => 'REG', 2 => 'PREM', 3 => 'DIESEL', 4 => 'UNLD2');
?>
<div class="page-content-wrapper">
<div class="portlet box blue">
               <div class="page-content portlet-body" >
<div class="portlet box blue">
						<div class="portlet-title col-md-12">
							<div class="caption">
								<i class="fa fa-cogs"></i> Ruby Utankts
							</div><span style="margin-right:10px;" class="pull-right btn green fileinput-button">
						  <a href="<?php echo Router::url('/');?>admin/ruby_utankts/add"><i class="fa fa-plus"></i>  <span>Add New</span></a> </span>
						</div>
						<div class="portlet-body">
						
<div class="rubyUprodts index">

        <div class="row">
            <?php /*?> <div class="col-md-2">
							<label>From:</label>
                            <?php 
						
							if($tankdate['RubyHeader']['beginning_date_time']!=""){?>
							<input type="text" class="form-control" placeholder="Select From Date" value="<?php echo date('m-d-Y',strtotime($tankdate['RubyHeader']['beginning_date_time'])); ?>" id="from">
                            <?php } else{?>
                            <input type="text" class="form-control" placeholder="Select From Date" value="" id="from">
                            <?php } ?>
							</div>

			 <div class="col-md-2">
							<label>To:</label>
                             <?php 
							if($tankdate['RubyHeader']['ending_date_time']!=""){?>
							<input type="text" class="form-control" placeholder="Select To Date" id="to" value="<?php echo date('m-d-Y',strtotime($tankdate['RubyHeader']['ending_date_time'])); ?>" >
                             <?php } else{?>
                            <input type="text" class="form-control" placeholder="Select  To Date" value="" id="to">
                            <?php } ?>
							</div>
                           <?php */?> 
                            
            <div class="col-md-3">
            <label>Update Date</label>           	
            <?php include('test.ctp'); ?>  
            </div>


		<div class="col-md-2 top-space">
                      <label>Filter by:</label>
                      <select data-placeholder="Select Tank" class="form-control select_box" tabindex="2" id="tank">
                      <option value="">Select Tank</option>
                      <?php foreach($tank as $tanks) { ?>
                       
                        <option value="<?php echo $tanks['RubyUtankt']['tank_number']; ?>"> <?php  echo $tanks['RubyUtankt']['tank_number']; ?></option>
                      <?php } ?>
                      </select>
                    </div>
		    <div class="col-md-2 middel-space top-space" id="filter">
                      <label>&nbsp;</label>
                      <button type="button" class="btn btn-block btn-info tank-filter" onclick="filter_utank();">Filter</button>
                    </div>
                    <div class="col-md-2 middel-space top-space">
					 <label>&nbsp;</label>
			<button type="button" class="btn btn-info btn-block dropdown-toggle pull-right action-text tank-filter" data-toggle="dropdown">Action <span class="caret"></span></button>
   		  <ul class="dropdown-menu btn-block icons-right dropdown-menu-right">
        
         		<li><a href="#" target="_blank"><i class="icon-link"></i> Save as pdf</a></li>
        	        <li><a href="#" target="_blank"><i class="icon-link"></i> Save as xls</a></li>
                  </ul>
               </div>  
            </div>
            </div>
<br>
</div>
</div>
<div class="portlet box blue">
						<div class="portlet-title col-md-12">
							<div class="caption">
								<i class="fa fa-cogs"></i> Sales
							</div>
						
						</div>
						<div class="portlet-body">

       <div class="block-inner clearfix tooltip-examples">
 	   
 	 <div class="datatable">
	<table class="table table-striped table-bordered table-advance table-hover" id="example">
	<thead>
	<tr>

			<th><?php echo $this->Paginator->sort('tank_number'); ?></th>
			<th><?php echo $this->Paginator->sort('fuel_volume'); ?></th>
			<th><?php echo $this->Paginator->sort('fuel_value'); ?></th>
			<th><?php echo 'Beginning Date'; ?></th>
			<th><?php echo 'Ending Date '; ?></th>
		    <th><?php echo 'Status'; ?></th>
		
			
			
			
	</tr>
	</thead>
	<tbody id="utank_list">
	<?php	
	 //echo '<pre>';pr($rubyUtankts);die;	
	 foreach ($rubyUtankts as $rubyUtankt): 
	 ?>
	<tr>
		
		<td><?php echo $rubyUtankt['RubyUtankt']['tank_number']; ?>&nbsp;</td>
		<td><?php echo $rubyUtankt['RubyUtankt']['fuel_volume']; ?>&nbsp;</td>
		<td>$<?php echo $rubyUtankt['RubyUtankt']['fuel_value']; ?>&nbsp;</td>
		
		<td><?php echo CakeTime::format($rubyUtankt['RubyHeader']['beginning_date_time'], '%m-%d-%Y'); ?></td>
		<td><?php echo CakeTime::format($rubyUtankt['RubyHeader']['ending_date_time'], '%m-%d-%Y'); ?></td>
		<td>
		<?php 
		$tank_status=0;
		$RubyFtank = ClassRegistry::init('RubyFtank')->find('all',array('conditions'=>array('RubyFtank.store_id' => $this->Session->read('stores_id'),'RubyFtank.tank_number'=>$rubyUtankt['RubyUtankt']['tank_number'])));
		if(isset($RubyFtank[0])){													
		$tank_status= $RubyFtank[0]['RubyFtank']['status'];
		}			
		if($tank_status=='0'){
		?>
        <a href="<?php echo Router::url('/');?>admin/ruby_utankts/available/<?php echo $rubyUtankt['RubyUtankt']['tank_number'];?>" class="btn  btn-warning status_width">Unavailable</a>
		<?php
		}else{
		?>	
		<a href="<?php echo Router::url('/');?>admin/ruby_utankts/unavailable/<?php echo $rubyUtankt['RubyUtankt']['tank_number'];?>" class="btn  btn-success status_width">Available</a>	
		<?php
		}
		?>
        </td>
				
	</tr>
<?php endforeach; ?>
	</tbody>
	</table>
	       </div>
        </div>
	
       </div>
        </div>
	
</div>
</div>
</div>
</div>


<script type="text/javascript" charset="utf-8">
	var webroot='<?php echo $this->webroot;?>';
	function filter_utank() {	
		//var from_date=$('#from').val();
		//var to_date=$('#to').val();		
		var full_date=$('#config-demo').val();
		//alert(full_date);	
		var full_datesplit = full_date.split(' - ');	
        var from_date=full_datesplit[0];
		var to_date=full_datesplit[1];
		//alert(from_date);alert(to_date);
		var tank=$('#tank').val();
		
		$.ajax({
			type : 'POST',
			url : webroot+'ruby_utankts/tank_filter/',
			dataType : 'html',
			data: {from_date:from_date,to_date:to_date,tank:tank},
			success:function(result){
					$("#example_info").hide();example_filter
					$("#example_paginate").hide();
			$("#example_filter").hide();
			$("#example_length").hide();
			//$(".col-md-2").hide();
			$("#filter").show();
			$("#example").html(result);

			}});
	}
</script>
<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
	  $('#example').DataTable();
		$('#from').Zebra_DatePicker({direction: -1,format:"m-d-Y",pair: $('#to')});
		$('#to').Zebra_DatePicker({direction: 1,format:"m-d-Y"});
	});
</script>
<style type="text/css">
.status_width{ width:65%;}
</style>

