<div class="portlet box blue">
               <div class="page-content portlet-body" >
			   <div class="portlet box blue">
						<div class="portlet-title col-md-12">
							<div class="caption col-md-12">
								<i class="fa fa-cogs"></i> Recent RubyHeader Details
							</div>
						</div>
						<div class="portlet-body ">
						<div class="row">
						 <div class="col-xs-6 col-md-12">
		<?php
		echo '<div class="col-xs-6 col-md-3"> Beginning Date Time: '.$datevalue['RubyHeader']['beginning_date_time'].'</div>';
		echo '<div class="col-xs-6 col-md-3"> Ending Date Time: '.$datevalue['RubyHeader']['ending_date_time'].'</div>';
		echo '<div class="col-xs-6 col-md-3">Sequence Number:'.$datevalue['RubyHeader']['sequence_number'].'</div>';
		 ?>
 </div>
 </div>
 
						
						</div>
</div>
<div class="portlet box blue">
						<div class="portlet-title col-md-12">
							<div class="caption col-md-12">
								<i class="fa fa-cogs"></i> New Ruby Utankt 
							</div>
						</div>
						<div class="portlet-body ">
						<div class="row">
						
<div class="rubyUtierts form">
<?php echo $this->Form->create('RubyUtankt'); ?>
	
	  <div class="col-xs-6 col-md-3">
                <label>Tank Number  </label>
               <?php echo $this->Form->input('tank_number', array('id' => 'tank_number', 'class' => 'form-control','type' => 'text', 'label' => false, 'required' => true)); ?>
              </div>
			    <div class="col-xs-6 col-md-3">
                <label>Fuel volume  </label>
               <?php echo $this->Form->input('fuel_volume', array('id' => 'fuel_volume', 'class' => 'form-control','type' => 'text', 'label' => false, 'required' => true)); ?>
              </div>
			    <div class="col-xs-6 col-md-3">
                <label>Fuel value  </label>
               <?php echo $this->Form->input('fuel_value', array('id' => 'fuel_value', 'class' => 'form-control','type' => 'text', 'label' => false, 'required' => true)); ?>
              </div>
			        <div class="col-xs-6 col-md-3">
                <label>Sequence Number</label>
               <?php echo $this->Form->input('sequence_number', array('id' => 'price_tier_number', 'class' => 'form-control','type' => 'text', 'label' => false, 'required' => true)); ?>
              </div>
			      <div class="col-xs-6 col-md-3">
                <label>Created Date</label>
               <?php echo $this->Form->input('beginning_date_time', array('id' => 'beginning_date_time', 'class' => 'form-control','type' => 'text', 'label' => false, 'required' => true)); ?>
              </div>
			    <div class="col-xs-6 col-md-3">
                <label>  </label>
               <?php echo $this->Form->input('submit', array('id' => 'submit', 'class' => 'btn btn-success','type' => 'submit', 'label' => false, 'required' => true)); ?>
              </div>
<?php echo $this->Form->end(); ?>
</div>
</div>
</div>
</div>
</div>

<script type="text/javascript" charset="utf-8">
   $(document).ready(function (e) {

	$('#beginning_date_time').Zebra_DatePicker({format:"m-d-Y"});
	

	});

	</script>