	<h2><?php echo __('Ruby Utankts'); ?></h2>
	<table cellpadding="0" cellspacing="0">
	<thead>
	<tr>
			<th><?php echo $this->Paginator->sort('id'); ?></th>
			<th><?php echo $this->Paginator->sort('ruby_header_id'); ?></th>
			<th><?php echo $this->Paginator->sort('name'); ?></th>
			<th><?php echo $this->Paginator->sort('tank_number'); ?></th>
			<th><?php echo $this->Paginator->sort('fuel_volume'); ?></th>
			<th><?php echo $this->Paginator->sort('fuel_value'); ?></th>
			<th><?php echo $this->Paginator->sort('created'); ?></th>
			<th><?php echo $this->Paginator->sort('modified'); ?></th>
			<th class="actions"><?php echo __('Actions'); ?></th>
	</tr>
	</thead>
	<tbody>
	<?php foreach ($rubyUtankts as $rubyUtankt): ?>
	<tr>
		<td><?php echo h($rubyUtankt['RubyUtankt']['id']); ?>&nbsp;</td>
		<td>
			<?php echo $this->Html->link($rubyUtankt['RubyHeader']['id'], array('controller' => 'ruby_headers', 'action' => 'view', $rubyUtankt['RubyHeader']['id'])); ?>
		</td>
		<td><?php echo h($rubyUtankt['RubyUtankt']['name']); ?>&nbsp;</td>
		<td><?php echo h($rubyUtankt['RubyUtankt']['tank_number']); ?>&nbsp;</td>
		<td><?php echo h($rubyUtankt['RubyUtankt']['fuel_volume']); ?>&nbsp;</td>
		<td><?php echo h($rubyUtankt['RubyUtankt']['fuel_value']); ?>&nbsp;</td>
		<td><?php echo h($rubyUtankt['RubyUtankt']['created']); ?>&nbsp;</td>
		<td><?php echo h($rubyUtankt['RubyUtankt']['modified']); ?>&nbsp;</td>
		<td class="actions">
			<?php echo $this->Html->link(__('View'), array('action' => 'view', $rubyUtankt['RubyUtankt']['id'])); ?>
			<?php echo $this->Html->link(__('Edit'), array('action' => 'edit', $rubyUtankt['RubyUtankt']['id'])); ?>
			<?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $rubyUtankt['RubyUtankt']['id']), array('confirm' => __('Are you sure you want to delete # %s?', $rubyUtankt['RubyUtankt']['id']))); ?>
		</td>
	</tr>
<?php endforeach; ?>
	</tbody>
	</table>
	<p>
	<?php
	echo $this->Paginator->counter(array(
		'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
	));
	?>	</p>
	<div class="paging">
	<?php
		echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
		echo $this->Paginator->numbers(array('separator' => ''));
		echo $this->Paginator->next(__('next') . ' >', array(), null, array('class' => 'next disabled'));
	?>
	</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>
		<li><?php echo $this->Html->link(__('New Ruby Utankt'), array('action' => 'add')); ?></li>
		<li><?php echo $this->Html->link(__('List Ruby Headers'), array('controller' => 'ruby_headers', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Ruby Header'), array('controller' => 'ruby_headers', 'action' => 'add')); ?> </li>
	</ul>
</div>
