<div class="page-content-wrapper">
<div class="portlet box blue">
               <div class="page-content portlet-body" >
<div class="rubyUtierts index">
<div class="portlet box blue">
						<div class="portlet-title col-md-12">
							<div class="caption col-md-12">
								<i class="fa fa-cogs"></i> Ruby Utierts <span style="margin-right:10px;" class="pull-right btn green fileinput-button">
                        <a href="<?php echo Router::url('/');?>admin/ruby_utierts/add"><i class="fa fa-plus"></i>  <span>Add New</span></a> 
							
						
                    </span>
						</div>						
						</div>
						<div class="portlet-body">
                    <?php
                    echo $this->Form->create('RubyUtiert', array('action' =>'index', 'role' => 'form', 'type' => 'file'));
                    ?>
						<div class="row">                        
                        <div class="col-md-4">
                        <label>Date:</label>
                        <?php 
                        //echo $this->element('table_filter_datepicker'); 
                        include('multidatepicker.ctp');
                        ?>
                        </div>
					
		            <div class="col-md-2">
                       <label>&nbsp;</label>
                      <button type="submit" class="btn btn-block btn-info tank-filter" >Filter</button>
                    </div>
                    
                    <div class="col-md-1">
                     <label style="display:block;">&nbsp;</label>
                     <a href="<?php echo Router::url('/');?>admin/ruby_utierts/reset" class="btn btn-warning">Reset</a> 
                    </div>		
                    <?php echo $this->form->end(); ?>   
                    
                    
                     <form action=" <?php echo Router::url('/');?>admin/ruby_utierts/export" class="form-horizontal" id="" method="post" accept-charset="utf-8">                      
                    <div class="col-md-2"> 
                     <label style="display:block;">&nbsp;</label>
                    <?php
					echo $this->Form->input('full_date', array('id' =>'full_date','type' => 'hidden','value' => $full_date)); 
					echo $this->Form->button('Report', array('type'=>'submit', 'class' => 'btn green','id' => 'exportid'));
					?>                                   
                    </div>
                    </form>
                    
                    
                    
                    <?php /*?><div class="col-md-2">
					<label>&nbsp;</label>
			<button type="button" class="btn btn-info btn-block dropdown-toggle pull-right action-text tank-filter" data-toggle="dropdown">Action <span class="caret"></span></button>
   		  <ul class="dropdown-menu icons-right dropdown-menu-right">
        
         		<li><a href="#" target="_blank"><i class="icon-link"></i> Save as pdf</a></li>
        	        <li><a href="#" target="_blank"><i class="icon-link"></i> Save as xls</a></li>
                  </ul>
               </div><?php */?>  
            </div>
	
	</div>
	</div>
<div class="portlet box blue">
						<div class="portlet-title col-md-12">
							<div class="caption">
								<i class="fa fa-cogs"></i> Sales
							</div>
						
						</div>
						<div class="portlet-body">
				
<div class="row">
<div class="col-md-12">
       <div class="block-inner clearfix tooltip-examples">
 	   
 	 <div class="datatable">
     
  <?php 
    $nwrubyutr=array();	
	//echo '<pre>';print_r($rubyUtierts);die;
	foreach ($rubyUtierts as $rubyUtiert)
	{
	$RubyFprod= ClassRegistry::init('RubyFprod')->find('first',array('conditions'=>array('RubyFprod.fuel_product_number' => $rubyUtiert['RubyUtiert']['fuel_product_number'])));
	//echo '<pre>';print_r($RubyFprod);
	$prdtlst=array('Regular','Plus','Premium','Diesel');
	//echo '|'.trim($RubyFprod['RubyFprod']['display_name']).'|';echo '<br>';
	//print_r($prdtlst);
	if(in_array(trim($RubyFprod['RubyFprod']['display_name']),$prdtlst))	
	{	
	$sbarray=array('date'=>$rubyUtiert['RubyHeader']['ending_date_time'],'product'=>trim($RubyFprod['RubyFprod']['display_name']),'gal'=>$rubyUtiert['RubyUtiert']['fuel_volume'],'prof'=>$rubyUtiert['RubyUtiert']['fuel_value']);
	array_push($nwrubyutr,$sbarray);
	}
	}
	
	//echo '<pre>';print_r($nwrubyutr);
	$date_array=array();
	foreach($nwrubyutr as $nwrubyutr_row)
	{
	$date=$nwrubyutr_row['date'];	
	array_push($date_array,$date);
	}
	$date_array=array_unique($date_array);
	//echo '<pre>';print_r($date_array);
	$nwdate_array=array();
	foreach($date_array as $key=>$val)
	{
	array_push($nwdate_array,$val);	
	}
	//echo '<pre>';print_r($nwdate_array);
	
	$date_count=count($nwdate_array);
	//echo $date_count;die;	
	
	$cstmz_rubyutr=array();
	
	for($i=0;$i<$date_count;$i++)
	{
	$reg_gal_tot=0;
	$reg_prof_tot=0;
	
	$sup_gal_tot=0;
	$sup_prof_tot=0;
	
	$diesel_gal_tot=0;
	$diesel_prof_tot=0;
	
	$plus_gal_tot=0;
	$plus_prof_tot=0;	
		
	foreach($nwrubyutr as $nwrubyutr_row)	
	{	
	if($nwrubyutr_row['product']=='Regular' && $nwrubyutr_row['date']==$nwdate_array[$i]){
	$reg_gal_tot=$reg_gal_tot+$nwrubyutr_row['gal'];
	$reg_prof_tot=$reg_prof_tot+$nwrubyutr_row['prof'];
	}
	
	if($nwrubyutr_row['product']=='Premium' && $nwrubyutr_row['date']==$nwdate_array[$i]){
	$sup_gal_tot=$sup_gal_tot+$nwrubyutr_row['gal'];
	$sup_prof_tot=$sup_prof_tot+$nwrubyutr_row['prof'];
	}
	if($nwrubyutr_row['product']=='Diesel' && $nwrubyutr_row['date']==$nwdate_array[$i]){
	$diesel_gal_tot=$diesel_gal_tot+$nwrubyutr_row['gal'];
	$diesel_prof_tot=$diesel_prof_tot+$nwrubyutr_row['prof'];
	}
	if($nwrubyutr_row['product']=='Plus' && $nwrubyutr_row['date']==$nwdate_array[$i]){
	$plus_gal_tot=$plus_gal_tot+$nwrubyutr_row['gal'];
	$plus_prof_tot=$plus_prof_tot+$nwrubyutr_row['prof'];
	}	
	}	
	$sub_rubyutr=array('date'=>$nwdate_array[$i],'reg_gal_tot'=>$reg_gal_tot,'reg_prof_tot'=>$reg_prof_tot,'plus_gal_tot'=>$plus_gal_tot,'plus_prof_tot'=>$plus_prof_tot,'sup_gal_tot'=>$sup_gal_tot,'sup_prof_tot'=>$sup_prof_tot,'diesel_gal_tot'=>$diesel_gal_tot,'diesel_prof_tot'=>$diesel_prof_tot);
	array_push($cstmz_rubyutr,$sub_rubyutr);	
	}
	//echo '<pre>';print_r($cstmz_rubyutr);	
  
  ?>
     
     
	<table class="table table-striped table-bordered table-advance table-hover" id="example">
	<thead>
	<tr>
            <th></th>
			<th colspan=2>Regular</th>           
            <th colspan=2>Plus</th>
			<th colspan=2>Super</th>
			<th colspan=4>Diesel</th>
            
	</tr>
    <tr>
            <th>Date</th>
			<th>Gal Sold</th>
			<th>Value</th>
            <th>Gal Sold</th>
			<th>Value</th>
            <th>Gal Sold</th>
			<th>Value</th>
            <th>Gal Sold</th>
			<th>Value</th>
            <th>Total Gallon</th>
			<th>Total Value</th>
	</tr>
	</thead>
   <div id="dataget">
	<tbody>
	<?php 	
	$reg_gal_total=0;
	$reg_prof_total=0;
	$plus_gal_total=0;
	$plus_prof_total=0;
	$sup_gal_total=0;
	$sup_prof_total=0;
	$diesel_gal_total=0;
	$diesel_prof_total=0;
	$tot_tot_gallon=0;
	$tot_tot_value=0;
	foreach($cstmz_rubyutr as $cstmz_rubyutr_row)
	{
	$reg_gal_total=$reg_gal_total+$cstmz_rubyutr_row['reg_gal_tot'];
	$reg_prof_total=$reg_prof_total+$cstmz_rubyutr_row['reg_prof_tot'];
	$plus_gal_total=$plus_gal_total+$cstmz_rubyutr_row['plus_gal_tot'];
	$plus_prof_total=$plus_prof_total+$cstmz_rubyutr_row['plus_prof_tot'];
	$sup_gal_total=$sup_gal_total+$cstmz_rubyutr_row['sup_gal_tot'];
	$sup_prof_total=$sup_prof_total+$cstmz_rubyutr_row['sup_prof_tot'];
	$diesel_gal_total=$diesel_gal_total+$cstmz_rubyutr_row['diesel_gal_tot'];
	$diesel_prof_total=$diesel_prof_total+$cstmz_rubyutr_row['diesel_prof_tot'];
	$total_gallon=$cstmz_rubyutr_row['reg_gal_tot']+ $cstmz_rubyutr_row['plus_gal_tot']+$cstmz_rubyutr_row['sup_gal_tot']+$cstmz_rubyutr_row['diesel_gal_tot'];
	$total_value=$cstmz_rubyutr_row['reg_prof_tot']+$cstmz_rubyutr_row['plus_prof_tot']+$cstmz_rubyutr_row['sup_prof_tot']+$cstmz_rubyutr_row['diesel_prof_tot'];
	$tot_tot_gallon=$tot_tot_gallon+$total_gallon;
	$tot_tot_value=$tot_tot_value+$total_value;
	?>
    <tr>
        <td><?php echo $cstmz_rubyutr_row['date']; ?></td>
        <td><?php echo number_format((float)($cstmz_rubyutr_row['reg_gal_tot']), 2, '.', ''); ?></td>
        <td><?php echo '$ '.number_format((float)($cstmz_rubyutr_row['reg_prof_tot']), 2, '.', ''); ?></td>
        <td><?php echo number_format((float)($cstmz_rubyutr_row['plus_gal_tot']), 2, '.', ''); ?></td>
        <td><?php echo '$ '.number_format((float)($cstmz_rubyutr_row['plus_prof_tot']), 2, '.', ''); ?></td>
        <td><?php echo number_format((float)($cstmz_rubyutr_row['sup_gal_tot']), 2, '.', ''); ?></td>
        <td><?php echo '$ '.number_format((float)($cstmz_rubyutr_row['sup_prof_tot']), 2, '.', ''); ?></td>
        <td><?php echo number_format((float)($cstmz_rubyutr_row['diesel_gal_tot']), 2, '.', ''); ?></td>
        <td><?php echo '$ '.number_format((float)($cstmz_rubyutr_row['diesel_prof_tot']), 2, '.', ''); ?></td>
        <td><?php echo number_format((float)($total_gallon), 2, '.', ''); ?></td>
        <td><?php echo '$ '.number_format((float)($total_value), 2, '.', '');?></td>
	</tr>
    <?php
	}
	?> 
      
	</tbody>
    
    <thead>	
    <tr>
            <th>Total</th>
			<th><?php echo number_format((float)($reg_gal_total), 2, '.', ''); ?></th>
			<th><?php echo '$ '.number_format((float)($reg_prof_total), 2, '.', ''); ?></th>
            <th><?php echo number_format((float)($plus_gal_total), 2, '.', ''); ?></th>
			<th><?php echo '$ '.number_format((float)($plus_prof_total), 2, '.', ''); ?></th>
            <th><?php echo number_format((float)($sup_gal_total), 2, '.', ''); ?></th>
			<th><?php echo '$ '.number_format((float)($sup_prof_total), 2, '.', ''); ?></th>
            <th><?php echo number_format((float)($diesel_gal_total), 2, '.', ''); ?></th>
			<th><?php echo '$ '.number_format((float)($diesel_prof_total), 2, '.', ''); ?></th>
            <th><?php echo number_format((float)($tot_tot_gallon), 2, '.', ''); ?></th>
			<th><?php echo '$ '.number_format((float)($tot_tot_value), 2, '.', '');?></th>
            
	</tr>
	</thead> 
    
   <div> 
    
	</table>
	</div>
</div>
</div>
	</div>
</div>
</div>
</div>
</div>
<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
	  $('#example').DataTable();		
	});
</script>
<?php /*?><script type="text/javascript" charset="utf-8">
	var webroot='<?php echo $this->webroot;?>';
	function filter_utank() {	
		//var from_date=$('#from').val();
		//var to_date=$('#to').val();		
		var date=$('#config-demo').val();	
		//alert(date);
		$.ajax({
			type : 'POST',
			url : webroot+'ruby_utierts/index/',
			dataType : 'html',
			data: {date:date},
			success:function(result){
			$("#example_info").hide();
			$("#example_paginate").hide();			
			$("#dataget").html(result);
			}});
	}
</script><?php */?>