
	<?php foreach ($rubyUtierts as $rubyUtiert): ?>
	<tr>
		<!--<td><?php echo h($rubyUtiert['RubyUtiert']['name']); ?>&nbsp;</td>
		<td><?php echo h($rubyUtiert['RubyUtiert']['price_tier_number']); ?>&nbsp;</td>
	-->	<td><?php echo @$prodList[$rubyUtiert['RubyUtiert']['fuel_product_number']]; ?>&nbsp;</td>
		<td><?php echo h($rubyUtiert['RubyUtiert']['fuel_volume']); ?>&nbsp;</td>
		<td><?php echo h($rubyUtiert['RubyUtiert']['fuel_value']); ?>&nbsp;</td>
		
		<td><?php echo CakeTime::format($rubyUtiert['RubyHeader']['beginning_date_time'], '%m-%d-%Y'); ?></td>
		<td><?php echo CakeTime::format($rubyUtiert['RubyHeader']['ending_date_time'], '%m-%d-%Y'); ?></td>
	</tr>
<?php endforeach; ?>
	