<?php
$_summaryTotal = array();
if(!empty($rubyUprodts)) {
	//pr($rubyUprodts);die;	
	foreach($rubyUprodts as $_k => $_value) {
		$_ukey = @$prodList[$_value['RubyUprodt']['fuel_product_number']];
		
		if (!isset($_summaryTotal[$_ukey]['fuel_volume'])) {
			$_summaryTotal[$_ukey]['fuel_volume'] = $_value['RubyUprodt']['fuel_volume'];
			$_summaryTotal[$_ukey]['fuel_value']  = $_value['RubyUprodt']['fuel_value'];
		} else {
			$_summaryTotal[$_ukey]['fuel_volume'] += $_value['RubyUprodt']['fuel_volume'];
			$_summaryTotal[$_ukey]['fuel_value']  += $_value['RubyUprodt']['fuel_value'];
		}
		
		if (isset($_summaryTotal['Total']['fuel_volume'])) {
			$_summaryTotal['Total']['fuel_volume'] += $_value['RubyUprodt']['fuel_volume'];
			$_summaryTotal['Total']['fuel_value']  += $_value['RubyUprodt']['fuel_value'];
		} else {
			$_summaryTotal['Total']['fuel_volume'] = $_value['RubyUprodt']['fuel_volume'];
			$_summaryTotal['Total']['fuel_value']  = $_value['RubyUprodt']['fuel_value'];
		}
	}
}else{
echo 'No results available';	
}

?>
<?php if(!empty($rubyUprodts) && !empty($_summaryTotal)) { ?>
<?php /*?>	<?php foreach($prodList as $key => $value){ ?> 
		<div class="col-md-2">
			<h4><?php echo $value;?></h4>
			<input type="text" class="form-control" value="<?php echo @$_summaryTotal[$value]['fuel_volume']; ?>" readonly /> <br/>
			<input type="text" class="form-control" value="$<?php echo @$_summaryTotal[$value]['fuel_value']; ?>" readonly />
		</div>	
	<?php  } ?>
	<div class="col-md-2">
		<h4>Total </h4>
		<input type="text" class="form-control" value="<?php echo $_summaryTotal['Total']['fuel_volume']; ?>" readonly /> <br/>
		<input type="text" class="form-control" value="$<?php echo $_summaryTotal['Total']['fuel_value']; ?>" readonly />
	</div><?php */?>
    
    
    <div class="block-inner clearfix tooltip-examples ajxhidediv">	   
				 <div class="datatable">
					<table class="table table-striped table-bordered table-advance table-hover" id="new_tablegrdnbn">
						<thead>
							<tr>
							   <th><h4>Grade</h4></th>
								<th><h4>Gallons</h4></th>
								<th><h4>Value</h4></th>
                                <th><h4>Avg Price</h4></th>
							</tr>
						</thead>
						<tbody>
					<?php 
					//print_r($prodList);die;
					
					foreach($prodList as $key => $value){ ?> 
							<tr>
								<td><?php echo h($value); ?>&nbsp;</td>
                                <td><?php echo @$_summaryTotal[$value]['fuel_volume']; ?>&nbsp;</td>
                                <td>$<?php echo @$_summaryTotal[$value]['fuel_value']; ?>&nbsp;</td>
                                <td>$<?php echo @number_format((float)($_summaryTotal[$value]['fuel_value']/$_summaryTotal[$value]['fuel_volume']), 2, '.', ''); ?>&nbsp;</td>
                                
							</tr>
				    <?php  } ?>
                    
                      </tbody>
                     
                    <tr>
                        <td><b>Net Fuel Sales&nbsp;</b></td> 
                        <td><b><?php echo $_summaryTotal['Total']['fuel_volume']; ?>&nbsp;</b></td>
                        <td><b>$<?php echo $_summaryTotal['Total']['fuel_value']; ?>&nbsp;</b></td>
                        <td></td>
                    </tr>
                   
					</table>
				</div>
	</div>
    
<?php  } ?>

<div class="col-md-12">&nbsp;</div>
<style>
#new_tablegrdnbn tbody tr td{ border-top:1px solid #ddd !important;}
</style>