
<style>

button.Zebra_DatePicker_Icon{visibility: hidden !important;}
.datatable-scroll {
    overflow-x: auto;
    overflow-y: visible;
}
.backoffice{float:left !important;
margin: 0 0 0 0;}


.backoffice1{
    float: right !important;
    margin: -25px 0 0;
}

.back-radio{
    margin: 27px 0 0 -118px !important;
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    display: inline-block;
    opacity: 1 !important;
    text-align: center;
    position: absolute;
left: 239px;
top: -53px;
background: #000 none repeat scroll 0 0;
    border: 1px solid #ccc;
    height: 19px;
    width: 19px;
    }
    
.checker input, input[type="search"], input[type="search"]:active {
    -moz-appearance: checkbox !important;
	-webkit-appearance: checkbox !important;
   appearance: checkbox !important;
}

div.selector, div.selector span, div.checker span, div.radio span, div.uploader, div.uploader span.action, div.button, div.button span{ background-image: none !important;} 

div.checker span{ background-image: none;}  

    .reset-me {
    font-size: 13px;
}


.place-add {
    float: right;
    margin: 0 0 30px 422px;
}


</style>


<style type="text/css">


@media only screen 
  and (min-width: 320px) 
  and (max-width: 480px)
  {
  
  
.place-add {
    float: right;
    padding: 10px 0 20px;
}  
  
  
  
  .nav.navbar-nav.pull-right.select_list {
    margin-right: 9px;
}
.store_div {
    left: 10px !important;
    position: relative !important;
    top: -38px !important;
}

.add-new-cont {
    margin: 6px 0 0 97px;
}
.input-small {
    width: 76px;
}
.back-radio {
   
    left: 300px;
    margin: 27px 0 0 -118px !important;
    opacity: 1 !important;
    position: absolute;
    text-align: center;
    top: -53px;
    width: 19px;
}

.reset-me {
    font-size: 12px;
}
}



@media only screen 
  and (min-width: 768px) 
  and (max-width: 1024px) 
and (orientation: portrait) 
  {
  .input-small {
    width: 86px;
}

.back-radio {
    
    left: 315px;
    margin: 27px 0 0 -118px !important;
    opacity: 1 !important;
    position: absolute;
    text-align: center;
    top: -53px;
   
}

.reset-me {
    font-size: 10px;
    font-weight: 600
}

}

/* Landscape */
@media only screen 
  and (min-width: 768px) 
  and (max-width: 1024px) 
  and (orientation: landscape) 
   {
   
   .input-small {
    width: 90px;
}
.back-radio {
    
    left: 322px;
    margin: 27px 0 0 -118px !important;
    opacity: 1 !important;
    position: absolute;
    text-align: center;
    top: -53px;
   
}
}
/* Landscape */
@media only screen 
  and (width: 980px) 

   {
.back-radio {
    left: 348px;
    margin: 27px 0 0 -118px !important;
    opacity: 1 !important;
    position: absolute;
    text-align: center;
    top: -53px;
}

}

.v-error {
    background-color: #d65c4f;
    border-radius: 2px;
    color: #fff;
    display: table;
    font-size: 11px;
    font-weight: 600;
    line-height: 14px;
    margin-bottom: 0;
    margin-top: 6px;
    padding: 10px 8px 0 !important;
    position: relative;
}
</style>
<!--<div class="row">
	<div class="col-xs-12">
		<ul class="menu-btn">
			<li class="<?php echo ((isset($rbankin))) ? 'active' : ''; ?>">
				<?php echo $this->Html->link("<i class='fa fa-university'></i>Account Register ", array('controller' => 'r_banks', 'action' => 'index'), array('escape' => false)); ?>
			 </li>
		    <li class="<?php echo (($this->params['controller'] ==  'r_bank_accounts')) ? 'active' : ''; ?>">
			<?php echo $this->Html->link("<i class='fa fa-user-secret'></i>Bank Account", array('controller' => 'r_bank_accounts', 'action' => 'index'), array('escape' => false)); ?>
		    </li>
		     <li class="<?php echo ((isset($rbanklist))) ? 'active' : ''; ?>">
			<?php echo $this->Html->link("<i class='fa fa-user-secret'></i>Bank Report", array('controller' => 'r_banks', 'action' => 'report'), array('escape' => false)); ?>
		    </li>
		</ul>
	</div>
</div>-->
<div class="page-content-wrapper">
    <div class="portlet box blue">
               <div class="page-content portlet-body">
		<div class="rubyUprodts index">
			   <div class="row">
            <div class="col-md-12">
                <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                <h3 class="page-title">
                  Bank Account Register 
                </h3>

                <!-- END PAGE TITLE & BREADCRUMB-->
            </div>
        </div>
		<div class="row">
				<div class="col-md-12">
					<!-- BEGIN EXAMPLE TABLE PORTLET-->
					<div class="portlet box blue">
					
						<div class="portlet-body">
		<div class="col-md-3 backoffice">

							<?php echo $this->Form->input('corporation', array('class' => 'form-control', 'options'=>$corporation_list,'label' => false,'required' => 'false', 'empty' => 'Select Corporation','id'=>'cpt_id','onchange'=>'storelist()')); ?>
							<div class="v-error" style="display:none;" id="verr1"><p>Please Select Corporation</p></div>
						</div>
					
						
                <div class="col-md-4 backoffice" id="store">
                
							
						</div>
						
						
						
						<!--<div class="col-md-2 backoffice">
							  <?php echo $this->Form->input('bank_name', array('class' => 'form-control' ,'required' => false, 'label' => false, 'placeholder' => 'Enter Account Name')); ?>
						</div>-->
						
						
						
						<!--<div class="col-md-1 backoffice1">
							<button data-toggle="dropdown" class="btn btn-info dropdown-toggle pull-right action-text tank-filter" type="button">Action <span class="caret"></span></button>
							<ul class="dropdown-menu icons-right dropdown-menu-right">
								<li><a href="#" target="_blank"><i class="icon-link"></i> Save as pdf</a></li>
								<li><a href="<?php echo $this->webroot; ?>RBanks/get_bankaccount_xls" target="_blank"><i class="icon-link"></i> Save as xls</a></li>
							</ul>
						</div>-->
						
						
						
						
							<div class="table-toolbar">
							
					
								<div class="btn-group add-new-cont place-add">
									<button id="sample_editable_1_new" class="btn green button">
									Add New <i class="fa fa-plus"></i>
									</button>
								</div>
								
							</div>
							<table class="table table-striped table-hover table-bordered new-list" id="example">
							<thead>
							<tr>
								<th>
									 Date
								</th>
								<!--<th>
									 O/P
								</th>-->
								<th>
									  Check No
								</th>
								<th>
									 Transaction Description
								</th>
								<th>
									 Deposit, Credit (+)
								</th>
								<th>
									Payment, Fee Withdrawal (-)
								</th>
								<!--<th>
									 Receive Check
								</th>-->
								
								<th>
									 Balance
								</th>
								<th>
									 Action
								</th>
								
							</tr>
							</thead>
							<tbody>
							<form id="form">
							<tr style="display:none;" id="add_box">
								<td>
									 <input type="text" value="" class="form-control input-small" id="date" placeholder="mm/dd/yy"  >
								</td>
							<!--	<td>
									 <input type="text" value="" class="form-control input-small" id="opening" onkeypress="return numbervalonly(event)">
								</td>-->
								<td>
									<input type="text" value="" class="form-control input-small" id="payee" >
								</td>
								<td class="center">
									<input type="text" value="" class="form-control input-small" id="paidcheckno">
								</td>
								<td>
									 <input type="text" value="" placeholder="0.00" class="form-control input-small" id="ramount" onkeypress="return numbervalonly(event)"/>
                          
                            <input type="checkbox" id="status"  value="" style="border: none;"  />						
								</td>
								<td>
									<input type="text" value="" class="form-control input-small" placeholder="0.00" id="paidamount"  onkeyup="calculate_balance();" onkeypress="return numbervalonly(event)">
								</td>
								<!--<td>
									<input type="text" value="" class="form-control input-small" id="rcheck">
								</td>-->
								
								<td class="center">
									 <input type="text" value="" class="form-control input-small" placeholder="0.00" id="balance" onkeypress="return numbervalonly(event)">
								</td>
								
								<td>
									
								<input type="submit" id="save" value="Save" class="btn btn-block btn-info" name="Save" onclick="saveaccount();" />	
								<!--<button type="button" id="save1" class="btn btn-block btn-info " onclick="saveaccount();">Save</button>-->
								
								<button type="reset" class="btn btn-block btn-info reset-me " onclick="javascript:history.back();" >Cancel</button>
									
								</td>
							</tr>
							</form>
							<tbody id="bankdetail">
							<?php foreach($account as $bank){ ?>
							<tr>
								<td>
								     <div id="date_<?php echo $bank['Rbank']['id']; ?>" style="display:none"><input type="text" class="date"  class="form-control" id="get_date_<?php echo $bank['Rbank']['id']; ?>" value="<?php echo $bank['Rbank']['date']; ?>"></div>
               
									  <div id="date_show_<?php echo $bank['Rbank']['id']; ?>"> <?php echo $bank['Rbank']['date']; ?></div>
								</td>
								<!--<td>
									 
									  <div id="obalance_<?php echo $bank['Rbank']['id']; ?>" style="display:none"><input type="text"  class="form-control" id="get_obalance_<?php echo $bank['Rbank']['id']; ?>" value="<?php echo $bank['Rbank']['opening_balance']; ?>"></div> 
									  <div id="obalance_show_<?php echo $bank['Rbank']['id']; ?>"> <?php echo $bank['Rbank']['opening_balance']; ?></div>
								</td>-->
								<td>
									 <div id="payee_<?php echo $bank['Rbank']['id']; ?>" style="display:none"><input type="text"  class="form-control" id="get_payee_<?php echo $bank['Rbank']['id']; ?>" value="<?php echo $bank['Rbank']['payee']; ?>"></div> 
									 <div id="payee_show_<?php echo $bank['Rbank']['id']; ?>"> <?php echo $bank['Rbank']['payee']; ?></div>
								</td>
								<td class="center">
									 <div id="pcheck_<?php echo $bank['Rbank']['id']; ?>" style="display:none"><input type="text"  class="form-control" id="get_pcheck_<?php echo $bank['Rbank']['id']; ?>" value="<?php echo $bank['Rbank']['paid_check']; ?>"></div> 
									 <div id="pcheck_show_<?php echo $bank['Rbank']['id']; ?>"> <?php echo $bank['Rbank']['paid_check']; ?></div>
								</td>
								
								<td>
									 <div id="ramount_<?php echo $bank['Rbank']['id']; ?>" style="display:none"><input type="text" class="form-control input-small" id="get_ramount_<?php echo $bank['Rbank']['id']; ?>" value="<?php echo $bank['Rbank']['receive_amount']; ?>"></div> 
								     
								
							    <?php
                        if($bank['Rbank']['deposit_status']==1)
                         { ?>
		  	                <div style="background-color:yellow" id="ramount_show_<?php echo $bank['Rbank']['id']; ?>"> <?php echo $bank['Rbank']['receive_amount']; ?></div>
		                   <?php }
	               	   else
		                  { ?>
		 	                 <div style="background-color:white" id="ramount_show_<?php echo $bank['Rbank']['id']; ?>"> <?php echo $bank['Rbank']['receive_amount']; ?></div>
		                  <?php  } ?>
							 
							  
                           									 
								</td>
								<td class="center">
									 <div id="pamount_<?php echo $bank['Rbank']['id']; ?>" style="display:none"><input type="text"  class="form-control" id="get_pamount_<?php echo $bank['Rbank']['id']; ?>" value="<?php echo $bank['Rbank']['paid_amount']; ?>"></div> 
									 <div id="pamount_show_<?php echo $bank['Rbank']['id']; ?>"> <?php echo $bank['Rbank']['paid_amount']; ?></div>
								</td>
								
								<td>
									  <div id="balance_<?php echo $bank['Rbank']['id']; ?>" style="display:none"><input type="text"  class="form-control" id="get_balance_<?php echo $bank['Rbank']['id']; ?>" value="<?php echo $bank['Rbank']['balance']; ?>"></div> 
									  <div id="balance_show_<?php echo $bank['Rbank']['id']; ?>"> <?php echo $bank['Rbank']['balance']; ?></div>
								</td>
								
								
								<td>
									
                           <input type="hidden" id="accountid" value="<?php echo $bank['Rbank']['id']; ?>" />
                           	
					
								<a class="newicon"  href="<?php echo $this->webroot;?>admin/r_banks/edit/<?php echo $bank['Rbank']['id']; ?>"  id="account_edit">
										 <?php echo '<img src="'.Router::url('/').'img/edit.png"/>';?>
									</a>
							
									
									
									<a data-original-title="Delete"  data-toggle="modal"  data-target=".bs-example-modal-sm-<?php echo $bank['Rbank']['id']; ?>" class="newicon"> <?php echo '<img src="'.Router::url('/').'img/delete.png"/>';?>
									</a>
									
									<div class="modal fade bs-example-modal-sm-<?php echo $bank['Rbank']['id']; ?>" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
										<div class="modal-dialog modal-sm">
											<div class="modal-content">
												<div class="modal-header">
													<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
													<h4 class="modal-title" id="mySmallModalLabel">&nbsp;&nbsp;</h4>
												</div>
												<div class="modal-body clearfix">
													<div class="with-padding text-center clearfix">
														<h6>Are you sure you want to delete this Account?</h6>
															<?php
																echo $this->Form->postLink(
																	'<input type="button" name="" value="OK" class="btn btn-info">',
																	array('action' => 'delete',  $bank['Rbank']['id']),
																	array('escape'=>false,'title'=>'')
																);
												?>  
														<input type="button" name="" value="Cancel" class="btn btn-primary"  data-dismiss="modal">
			 
													</div>
												</div>
											</div>
										</div>
									</div>
								</td>
							</tr>
					<?php } ?>		
							
							
							</tbody>
							</table>
						</div>
					</div>
					<!-- END EXAMPLE TABLE PORTLET-->
				</div>
			</div>	 

	</div>
</div>
</div>
</div>



<script> 
  
$(document).ready(function(){
    $(".button").click(function(){
        $("#add_box").toggle();
        
    });
});
</script>
<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
	var table = $('#example').DataTable(
	{
   "sDom": '<"datatable-header"fl><"datatable-scroll"t><"datatable-footer"ip>', 
		dom: 'Alfrtip',
		"oSearch": { "bSmart": false, "bRegex": true }		
   }
	);
		//$('#date').Zebra_DatePicker({format:"m-d-Y"});
		//$('.date').Zebra_DatePicker({format:"m-d-Y"});
		
	});
</script>
<script>
function calculate_balance() {
	//var opening=parseFloat($('#opening').val());
	var paidamount=parseFloat($('#paidamount').val());
	var ramount=parseFloat($('#ramount').val());
   var balanceamount=parseFloat(ramount-paidamount);
		$('#balance').val(balanceamount);
	    // alert(ramount);
	     
}
</script>
<script type="text/javascript" charset="utf-8">
	var webroot='<?php echo $this->webroot;?>';
	function saveaccount() {
	
	  var chk=0;
		
		var cpt_id = $('#cpt_id').val();
		
		if(cpt_id.trim()==""){
		$("#verr1").show();
		chk++;
		}else{
         $("#verr1").hide();
		}
		
		if(chk==0){
		$( "#form" ).submit();
		}else{
			return false;
		}
		
		
		if($("#status").prop("checked")){
		var deposit_status=1;
		}else {
			var deposit_status="";
		}
      
		//var deposit_status=$('#status').val();
		var corporation=$('#cpt_id').val();
		var accountid=$('#account_id').val();
	
		var bankname=$('#bank_name').val();
		var date=$('#date').val();
		var opening=parseFloat($('#opening').val());
		var payee=$('#payee').val();
		var paidcheckno=$('#paidcheckno').val();
		var paidamount=parseFloat($('#paidamount').val());
		
		 
		var amount=($('#ramount').val());
		
		if (amount=='') 
		{
			var ramount=0;
			//alert(ramount);
		}	
		else 
		{
			var ramount=parseFloat($('#ramount').val());
		}
		var balance=parseFloat($('#balance').val());
		var balanceamount=parseFloat(ramount-paidamount);
		$('#balance').val(balanceamount);
	     //alert(balanceamount);
		$.ajax({
			type : 'POST',
			url : webroot+'r_banks/save_bank_detail/',
			dataType : 'text',
			data:{corporation:corporation,accountid:accountid,date:date,payee:payee,paidcheckno:paidcheckno,paidamount:paidamount,ramount:ramount,balance: balanceamount,deposit_status:deposit_status},
			success:function(result){
			//alert(result);
			if (result.trim()=="Save") {
				
				location.reload();
			}
			else {
				alert("Try Again");
			}
			
			}});
	}
</script>


<script type="text/javascript">
function numbervalonly(evt){
	var charCode = (evt.which) ? evt.which : event.keyCode
    if (charCode == 8 || charCode == 127 || charCode == 46 || (charCode > 47 && charCode < 58))
    return true;
    return false;
}
</script>
<style>
	.dataTables_filter
	{
		display: none;
	}
.dataTables_length {
display: none;
}
	.panel .dataTables_length {
padding: 6px 14px;
}
</style>

<script type="text/javascript" charset="utf-8">
	var webroot='<?php echo $this->webroot;?>';
	function storelist() {	
		var corporation=$('#cpt_id').val();
		
		
		$.ajax({
			type : 'POST',
			url : webroot+'r_bank_accounts/get_account_id/',
			dataType : 'html',
			data: {corporation:corporation},
			success:function(result){
			
			$('#store').html(result);
		
			
			}});
	}
</script>
<script type="text/javascript" charset="utf-8">
	var webroot='<?php echo $this->webroot;?>';
	function banklist() {	
		var corporation=$('#cpt_id').val();account_id
		var account_id=$('#account_id').val();
		
		$.ajax({
			type : 'POST',
			url : webroot+'r_banks/get_all_banks/',
			dataType : 'html',
			data: {corporation:corporation,account_id:account_id},
			success:function(result){
			
			$('#bankdetail').html(result);
		
			
			}});
	}
</script>

<script type="text/javascript">
$(document).ready(function(){
    $('input:radio').change(function(){
        
       $('#ramount').css('background-color', 'yellow');
    });
});

</script>
<script type="text/javascript">
$("input[type='checkbox']").change(function(){
    if($(this).is(":checked")){
       $('#ramount').css('background-color', 'yellow');
     
    }else{ 
       $('#ramount').css('background-color', 'white');
         
    }
});
</script>
 <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> 
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#date" ).datepicker({ dateFormat: 'mm-dd-yy' });
  } );
  </script>




