
<style>

button.Zebra_DatePicker_Icon{visibility: hidden !important;}
.datatable-scroll {
    overflow-x: auto;
    overflow-y: visible;
}
.backoffice{float:left !important;
margin: 0 0 0 0;}


.backoffice1{
    float: right !important;
    margin: -25px 0 0;
}

.back-radio{
    margin: 27px 0 0 -118px !important;
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    display: inline-block;
    opacity: 1 !important;
    text-align: center;
    position: absolute;
left: 239px;
top: -53px;
background: #000 none repeat scroll 0 0;
    border: 1px solid #ccc;
    height: 19px;
    width: 19px;
    }
    
.checker input, input[type="search"], input[type="search"]:active {
    -moz-appearance: checkbox !important;
	-webkit-appearance: checkbox !important;
   appearance: checkbox !important;
}

div.selector, div.selector span, div.checker span, div.radio span, div.uploader, div.uploader span.action, div.button, div.button span{ background-image: none !important;} 

div.checker span{ background-image: none;}  

    .reset-me {
    font-size: 13px;
}


.place-add {
    float: right;
    margin: 0 0 30px 422px;
}


</style>


<style type="text/css">


@media only screen 
  and (min-width: 320px) 
  and (max-width: 480px)
  {
  
  
.place-add {
    float: right;
    padding: 10px 0 20px;
}  
  
  
  
  .nav.navbar-nav.pull-right.select_list {
    margin-right: 9px;
}
.store_div {
    left: 10px !important;
    position: relative !important;
    top: -38px !important;
}

.add-new-cont {
    margin: 6px 0 0 97px;
}
.input-small {
    width: 76px;
}
.back-radio {
   
    left: 300px;
    margin: 27px 0 0 -118px !important;
    opacity: 1 !important;
    position: absolute;
    text-align: center;
    top: -53px;
    width: 19px;
}

.reset-me {
    font-size: 12px;
}
}



@media only screen 
  and (min-width: 768px) 
  and (max-width: 1024px) 
and (orientation: portrait) 
  {
  .input-small {
    width: 86px;
}

.back-radio {
    
    left: 315px;
    margin: 27px 0 0 -118px !important;
    opacity: 1 !important;
    position: absolute;
    text-align: center;
    top: -53px;
   
}

.reset-me {
    font-size: 10px;
    font-weight: 600
}

}

/* Landscape */
@media only screen 
  and (min-width: 768px) 
  and (max-width: 1024px) 
  and (orientation: landscape) 
   {
   
   .input-small {
    width: 90px;
}
.back-radio {
    
    left: 322px;
    margin: 27px 0 0 -118px !important;
    opacity: 1 !important;
    position: absolute;
    text-align: center;
    top: -53px;
   
}
}
/* Landscape */
@media only screen 
  and (width: 980px) 

   {
.back-radio {
    left: 348px;
    margin: 27px 0 0 -118px !important;
    opacity: 1 !important;
    position: absolute;
    text-align: center;
    top: -53px;
}

}

.v-error {
    background-color: #d65c4f;
    border-radius: 2px;
    color: #fff;
    display: table;
    font-size: 11px;
    font-weight: 600;
    line-height: 14px;
    margin-bottom: 0;
    margin-top: 6px;
    padding: 10px 8px 0 !important;
    position: relative;
}
</style>
<!--<div class="row">
	<div class="col-xs-12">
		<ul class="menu-btn">
			<li class="<?php echo ((isset($rbankin))) ? 'active' : ''; ?>">
				<?php echo $this->Html->link("<i class='fa fa-university'></i>Account Register ", array('controller' => 'r_banks', 'action' => 'index'), array('escape' => false)); ?>
			 </li>
		    <li class="<?php echo (($this->params['controller'] ==  'r_bank_accounts')) ? 'active' : ''; ?>">
			<?php echo $this->Html->link("<i class='fa fa-user-secret'></i>Bank Account", array('controller' => 'r_bank_accounts', 'action' => 'index'), array('escape' => false)); ?>
		    </li>
		     <li class="<?php echo ((isset($rbanklist))) ? 'active' : ''; ?>">
			<?php echo $this->Html->link("<i class='fa fa-user-secret'></i>Bank Report", array('controller' => 'r_banks', 'action' => 'report'), array('escape' => false)); ?>
		    </li>
		</ul>
	</div>
</div>-->
<div class="page-content-wrapper">
 <div class="portlet box blue">
               <div class="page-content portlet-body">
		<div class="rubyUprodts index">
						   <div class="row">
            <div class="col-md-12">
                <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                <h3 class="page-title">
                   Reports
                </h3>

                <!-- END PAGE TITLE & BREADCRUMB-->
            </div>
        </div>
		<div class="row">
				<div class="col-md-12">
					<!-- BEGIN EXAMPLE TABLE PORTLET-->
					<div class="portlet  blue">
						

						<div class="portlet-body">
							<div class="col-md-2 backoffice">

							<input type="text" value="" class="form-control" placeholder="Select From Date" id="date1" />
							
						</div>
						<div class="col-md-2 backoffice">

						  <input type="text" value="" class="form-control" placeholder="Select To Date" id="date2" />
							
						</div>
		<div class="col-md-3 backoffice">

							<?php echo $this->Form->input('corporation', array('class' => 'form-control', 'options'=>$corporation_list,'label' => false,'required' => 'false', 'empty' => 'Select Corporation','id'=>'cpt_id','onchange'=>'storelist()')); ?>
							<div class="v-error" style="display:none;" id="verr1"><p>Please Select Corporation</p></div>
						</div>
					
						
                <div class="col-md-4 backoffice" id="store">
                
							
				    </div>
						
						
					      <div class="table-toolbar">
							
					
								<div class="btn-group add-new-cont place-add">
									<button data-toggle="dropdown" class="btn btn-info dropdown-toggle pull-right action-text tank-filter" type="button">Export <span class="caret"></span></button>
							<ul class="dropdown-menu icons-right dropdown-menu-right">
								
								<li><a onclick="savefile();" href="javascript:void(0);" ><i class="icon-link"></i> Save as xls</a></li>
							</ul>
								</div>
								
							</div>	
				
					
						
						
						
						
							<table class="table table-striped table-hover table-bordered new-list" id="example">
							<thead>
							<tr>
								<th>
									 Date
								</th>
								<!--<th>
									 O/P
								</th>-->
								<th>
									  Check No
								</th>
								<th>
									 Transaction Description
								</th>
								<th>
									 Deposit, Credit (+)
								</th>
								<th>
									Payment, Fee Withdrawal (-)
								</th>
								<!--<th>
									 Receive Check
								</th>-->
								
								<th>
									 Balance
								</th>
								<th>
									 Action
								</th>
								
							</tr>
							</thead>
							
							
							<tbody id="bankdetail">
						
						
							</tbody>
							</table>
						</div>
					</div>
					<!-- END EXAMPLE TABLE PORTLET-->
				</div>
			</div>	 

	</div>
	</div>
</div>
</div>



<script> 
  
$(document).ready(function(){
    $(".button").click(function(){
        $("#add_box").toggle();
        
    });
});
</script>
<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
	var table = $('#example').DataTable(
	{
   "sDom": '<"datatable-header"fl><"datatable-scroll"t><"datatable-footer"ip>', 
		dom: 'Alfrtip',
		"oSearch": { "bSmart": false, "bRegex": true }		
   }
	);
		//$('#date2').Zebra_DatePicker({format:"m-d-Y"});
		//$('#date1').Zebra_DatePicker({format:"m-d-Y"});
		
	});
</script>


<style>
	.dataTables_filter
	{
		display: none;
	}
.dataTables_length {
display: none;
}
	.panel .dataTables_length {
padding: 6px 14px;
}
</style>

<script type="text/javascript" charset="utf-8">
	var webroot='<?php echo $this->webroot;?>';
	function storelist() {	
		var corporation=$('#cpt_id').val();
		
		
		$.ajax({
			type : 'POST',
			url : webroot+'r_bank_accounts/get_account_id/',
			dataType : 'html',
			data: {corporation:corporation},
			success:function(result){
			
			$('#store').html(result);
		
			
			}});
	}
</script>
<script type="text/javascript" charset="utf-8">
	var webroot='<?php echo $this->webroot;?>';
	function banklist() {
	   var datefrom=$('#date1').val();
	   var dateto=$('#date2').val();	
		var corporation=$('#cpt_id').val();account_id
		var account_id=$('#account_id').val();
		
		$.ajax({
			type : 'POST',
			url : webroot+'r_banks/get_all_reports/',
			dataType : 'html',
			data: {corporation:corporation,account_id:account_id,datefrom:datefrom,dateto:dateto},
			success:function(result){
			
			$('#bankdetail').html(result);
		
			
			}});
	}
</script>
<script type="text/javascript" charset="utf-8">
	var webroot='<?php echo $this->webroot;?>';
	function savefile() {	
	   var datefrom=$('#date1').val();
	    var dateto=$('#date2').val();
		var corporation=$('#cpt_id').val();account_id
		var account_id=$('#account_id').val();
		
		$.ajax({
			type : 'POST',
			url : webroot+'r_banks/get_xlsreport/',
			dataType : 'text',
			
			data: {corporation:corporation,account_id:account_id,datefrom:datefrom,dateto:dateto},
			success:function(result){
			
			  window.open('http://aplus1.net/backoffice/r_banks/get_xlsreport/','_blank');
		
			
			   
			}});
	}
</script>
 <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> 
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
	$( "#date1" ).datepicker({ dateFormat: 'mm-dd-yy' });
    $( "#date2" ).datepicker({ dateFormat: 'mm-dd-yy' });
  } );
  </script>

