	<?php foreach($banks as $bank){ ?>
							<tr>
								<td>
								     <div id="date_<?php echo $bank['Rbank']['id']; ?>" style="display:none"><input type="text" class="date"  class="form-control" id="get_date_<?php echo $bank['Rbank']['id']; ?>" value="<?php echo $bank['Rbank']['date']; ?>"></div>
               
									  <div id="date_show_<?php echo $bank['Rbank']['id']; ?>"> <?php echo $bank['Rbank']['date']; ?></div>
								</td>
								<!--<td>
									 
									  <div id="obalance_<?php echo $bank['Rbank']['id']; ?>" style="display:none"><input type="text"  class="form-control" id="get_obalance_<?php echo $bank['Rbank']['id']; ?>" value="<?php echo $bank['Rbank']['opening_balance']; ?>"></div> 
									  <div id="obalance_show_<?php echo $bank['Rbank']['id']; ?>"> <?php echo $bank['Rbank']['opening_balance']; ?></div>
								</td>-->
								<td>
									 <div id="payee_<?php echo $bank['Rbank']['id']; ?>" style="display:none"><input type="text"  class="form-control" id="get_payee_<?php echo $bank['Rbank']['id']; ?>" value="<?php echo $bank['Rbank']['payee']; ?>"></div> 
									 <div id="payee_show_<?php echo $bank['Rbank']['id']; ?>"> <?php echo $bank['Rbank']['payee']; ?></div>
								</td>
								<td class="center">
									 <div id="pcheck_<?php echo $bank['Rbank']['id']; ?>" style="display:none"><input type="text"  class="form-control" id="get_pcheck_<?php echo $bank['Rbank']['id']; ?>" value="<?php echo $bank['Rbank']['paid_check']; ?>"></div> 
									 <div id="pcheck_show_<?php echo $bank['Rbank']['id']; ?>"> <?php echo $bank['Rbank']['paid_check']; ?></div>
								</td>
								
								<td>
									 <div id="ramount_<?php echo $bank['Rbank']['id']; ?>" style="display:none"><input type="text" class="form-control input-small" id="get_ramount_<?php echo $bank['Rbank']['id']; ?>" value="<?php echo $bank['Rbank']['receive_amount']; ?>"></div> 
								     
								
							    <?php
                        if($bank['Rbank']['deposit_status']==1)
                         { ?>
		  	                <div style="background-color:yellow" id="ramount_show_<?php echo $bank['Rbank']['id']; ?>"> <?php echo $bank['Rbank']['receive_amount']; ?></div>
		                   <?php }
	               	   else
		                  { ?>
		 	                 <div style="background-color:white" id="ramount_show_<?php echo $bank['Rbank']['id']; ?>"> <?php echo $bank['Rbank']['receive_amount']; ?></div>
		                  <?php  } ?>
							 
							  
                           									 
								</td>
								<td class="center">
									 <div id="pamount_<?php echo $bank['Rbank']['id']; ?>" style="display:none"><input type="text"  class="form-control" id="get_pamount_<?php echo $bank['Rbank']['id']; ?>" value="<?php echo $bank['Rbank']['paid_amount']; ?>"></div> 
									 <div id="pamount_show_<?php echo $bank['Rbank']['id']; ?>"> <?php echo $bank['Rbank']['paid_amount']; ?></div>
								</td>
								
								<td>
									  <div id="balance_<?php echo $bank['Rbank']['id']; ?>" style="display:none"><input type="text"  class="form-control" id="get_balance_<?php echo $bank['Rbank']['id']; ?>" value="<?php echo $bank['Rbank']['balance']; ?>"></div> 
									  <div id="balance_show_<?php echo $bank['Rbank']['id']; ?>"> <?php echo $bank['Rbank']['balance']; ?></div>
								</td>
								
								
								<td>
									
                           <input type="hidden" id="accountid" value="<?php echo $bank['Rbank']['id']; ?>" />
                           	
					
								<a class="newicon"  href="<?php echo $this->webroot;?>r_banks/edit/<?php echo $bank['Rbank']['id']; ?>"  id="account_edit">
									<?php echo '<img src="'.Router::url('/').'img/edit.png"/>';?>	
									</a>
							
									
									
									<a data-original-title="Delete"  data-toggle="modal"  data-target=".bs-example-modal-sm-<?php echo $bank['Rbank']['id']; ?>" class="newicon"><?php echo '<img src="'.Router::url('/').'img/delete.png"/>';?>
									</a>
									
									<div class="modal fade bs-example-modal-sm-<?php echo $bank['Rbank']['id']; ?>" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
										<div class="modal-dialog modal-sm">
											<div class="modal-content">
												<div class="modal-header">
													<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
													<h4 class="modal-title" id="mySmallModalLabel">&nbsp;&nbsp;</h4>
												</div>
												<div class="modal-body clearfix">
													<div class="with-padding text-center clearfix">
														<h6>Are you sure you want to delete this Account?</h6>
															<?php
																echo $this->Form->postLink(
																	'<input type="button" name="" value="OK" class="btn btn-info">',
																	array('action' => 'delete',  $bank['Rbank']['id']),
																	array('escape'=>false,'title'=>'')
																);
												?>  
														<input type="button" name="" value="Cancel" class="btn btn-primary"  data-dismiss="modal">
			 
													</div>
												</div>
											</div>
										</div>
									</div>
								</td>
							</tr>
					<?php } ?>		
							