<div class="page-content">    <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->

    <!-- /.modal -->
    <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->

    <!-- BEGIN PAGE CONTENT-->
    <div class="row">
        <div class="col-md-12 ">
            <!-- BEGIN SAMPLE FORM PORTLET-->
            <div class="portlet box blue">
               <div class="page-content portlet-body">
  <div class="content-new">
      <div class="row">
        <div class="col-xs-12">
          <h3 class="page-title">Users
		  
		  	<a href="<?php echo Router::url('/');?>admin/users/new_add/" class="btn  notfinew default btn-xs red-stripe"  ><i class="fa fa-plus"></i> Test Data</a>
</h3>
        </div>
      </div>
    </div>

  <div class="row">
            <div class="col-md-12">
                <div class="tabbable tabbable-custom tabbable-full-width">

                    <div class="tab-content">

                        <div id="tab_1_5" class="tab-pane1">
					<div class="row"><br/>
				</div>
                            <div class="table-responsive">
                                TEST BY SUAMAN
                            </div>
                           
                        </div>
                        <!--end tab-pane-->
                    </div>
                </div>
            </div>
            <!--end tabbable-->
        </div>
		
        </div>
   

    </div>


    
  



