<div class="page-content-wrapper">
<div class="portlet box blue">
     <div class="page-content portlet-body" > 
         
         <div class="row">
            <div class="col-md-12">               
                <h3 class="page-title">
                    Z index report				
                </h3>
            
            </div>
        </div>
		<?php echo $this->Form->create('revenue_sales', array('role' => 'form'), array('inputDefaults' => array('label' => false, 'div' => false, 'required' => false))); ?>
		<div class="row">
         <div class="col-md-12">
            <div class=" col-md-2">Update Date</div>
            <div class="col-md-3">
           		 <?php /*?><input type="text"  placeholder="Select End Date" class="form-control icon_position" id="end_date" name="end_date" value="<?php echo $end_date;?> "> <?php */?> 
                 
            <?php
			
			//echo $full_date;die;
			
			 include('test.ctp'); ?>  
            </div>
            <div class=" col-md-1">
            	<button  class="btn btn-success search_button" type="submit">Search</button>
            </div>
            <?php echo $this->form->end(); ?>	 
            <div class=" col-md-2">
           		 <a href="<?php echo Router::url('/');?>admin/revenue_sales/reset" class="btn btn-warning ">Reset</a> 
            </div> 
              <?php echo $this->Form->create('revenue_sales',array('action' => 'create_pdf'), array('role' => 'form'), array('inputDefaults' => array('label' => false, 'div' => false, 'required' => false))); ?>
              <div class=" col-md-2">
              <input type="hidden" name="data[RGroceryInvoice][full_date]" value="<?php echo $full_date; ?>">	
           		 <input  class="btn btn-success search_button" value="Create PDF" type="submit">
            </div> 
             <?php echo $this->form->end(); ?>
            </div>
		</div>
       
         
         <div class="row">
            <div class="col-md-6">               
                <h3 class="page-title">
                    Revenue Sales 					
                </h3>
                <div class="tabbable tabbable-custom tabbable-full-width">
<div id="loading-image" style="display:none">
           <h3 style="text-align:center"> Loading...</h3>
            </div>
                    <div class="tab-content">

                        <div id="tab_1_5" class="tab-pane1">

                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-advance table-hover" id="getdata">
                                <?php 								
								if($this->Session->read('pos_type')=='ruby2'){									
										//echo '<pre>';print_r($ruby2summary);die;										
										if (isset($ruby2summarytotal) && ($ruby2summarytotal['Ruby2Summary']['id']!='')) { ?>
                                    <thead>
                                        <tr>                                        
                                            <th class="header-style">Description</th>
                                            <th class="txtrht header-style">Sales</th>
                                        </tr>
                                    </thead>
                                    <tbody>                                        
                                                <tr>
                                                    <td>Total Inside Fuel Sales&nbsp;</td>
                                                    <td class="txtrht">$<?php echo h(number_format((float)($ruby2summarytotal['Ruby2Summary']['fuel_sales']), 2, '.', '')); ?>&nbsp;</td>                                                
                                                </tr>                                              
                                              
                                               
                                                <tr>
                                                   <td>Net Department Sales&nbsp;</td>
                                                   <td class="txtrht">$<?php echo h(number_format((float)($ruby2summarytotal['Ruby2Summary']['merch_sales']), 2, '.', '')); ?>&nbsp;</td>                                                
                                               </tr>  
                                               
                                               
                                              <tr>
                                                    <td>Total Lottery Net Sales&nbsp;</td>
                                                    <td class="txtrht">$0.00&nbsp;</td>                                                
                                              </tr> 
                                               
                                              <tr>
                                                    <td>Total Money Orders Sales&nbsp;</td>
                                                    <td class="txtrht">$0.00&nbsp;</td>                                             
                                              </tr>
                                              
                              
                                              <tr>
                                                    <td>Total Car Wash Sales&nbsp;</td>
                                                    <td class="txtrht">$0.00&nbsp;</td>                                                
                                              </tr>
                                               
                                      
                                       
                                        <?php } else { ?>
                                            <tr>
                                                <td colspan="2">No results found!</td>
                                            </tr>
                                        <?php }
										?>
										
									    </tbody>
                                    
                                   <?php if (isset($ruby2summarytotal) && ($ruby2summarytotal['Ruby2Summary']['id']!='')) { ?>
                                    <thead>
                                        <tr>                                        
                                            <th class="header-style">Total Sales</th>
                                            <th class="txtrht">$<?php echo number_format((float)($ruby2summarytotal['Ruby2Summary']['fuel_sales']+$ruby2summarytotal['Ruby2Summary']['merch_sales']), 2, '.', '');?>
                                            </th>                                        
                                        </tr>
                                    </thead>
                                    <?php }										
										
								}else{								
										//pr($revenuesales);die;										
										if (isset($revenuesales) && ($revenuesales[0]['RevenueSale']['id']!='')) { ?>
                                    <thead>
                                        <tr>                                        
                                            <th class="header-style">Description</th>
                                            <th class="txtrht header-style">Sales</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                            
                                                <tr>
                                                    <td>Total Inside Fuel Sales&nbsp;</td>
                                                    <td class="txtrht">$<?php echo h(number_format((float)($revenuesales[0]['RevenueSale']['total_inside_fuel_sales']), 2, '.', '')); ?>&nbsp;</td>                                                
                                                </tr>
                                                
                                               <tr>
                                                    <td>Total Outside Fuel Sales&nbsp;</td>
                                                    <td class="txtrht">$<?php echo h(number_format((float)($revenuesales[0]['RevenueSale']['total_outside_fuel_sales']), 2, '.', '')); ?>&nbsp;</td>                                                
                                               </tr>  
                                               
                                                <tr>
                                                   <td>Net Department Sales&nbsp;</td>
                                                   <td class="txtrht">$<?php echo h(number_format((float)($revenuesales[0]['RevenueSale']['total_merchandise_sales']), 2, '.', '')); ?>&nbsp;</td>                                                
                                               </tr>  
                                               
                                               
                                              <tr>
                                                    <td>Total Lottery Net Sales&nbsp;</td>
                                                    <td class="txtrht">$0.00&nbsp;</td>                                                
                                              </tr> 
                                               
                                              <tr>
                                                    <td>Total Money Orders Sales&nbsp;</td>
                                                     <td class="txtrht">$<?php echo h(number_format((float)($RubyTotsum[0]['RubyTotsum']['value_of_money_order_sales']), 2, '.', '')); ?>&nbsp;</td>                                              
                                              </tr>
                                              
                              
                                              <tr>
                                                    <td>Total Car Wash Sales&nbsp;</td>
                                                    <td class="txtrht">$0.00&nbsp;</td>                                                
                                              </tr>
                                               
                                      
                                       
                                        <?php } else { ?>
                                            <tr>
                                                <td colspan="2">No results found!</td>
                                            </tr>
                                        <?php }?>
                                    </tbody>
                                    
                                   <?php if (isset($revenuesales) && ($revenuesales[0]['RevenueSale']['id']!='')) { ?>
                                    <thead>
                                        <tr>                                        
                                            <th class="header-style">Total Sales</th>
                                            <th class="txtrht">$<?php echo number_format((float)($revenuesales[0]['RevenueSale']['total_inside_fuel_sales']+$revenuesales[0]['RevenueSale']['total_outside_fuel_sales']+$revenuesales[0]['RevenueSale']['total_merchandise_sales']+$RubyTotsum[0]['RubyTotsum']['value_of_money_order_sales']), 2, '.', '');?>
                                            </th>                                        
                                        </tr>
                                    </thead>
                                    <?php }}?>
                                    
                                </table>
                            </div>
                           
                                
                            </div>
                    
                    </div>
                </div>
                
           
            </div>
            
            <div class="col-md-6">               
                <h3 class="page-title">
                    Other Revenue Sales/Sales Taxes					
                </h3>
            <div class="col-md-6">
                <div class="tabbable tabbable-custom tabbable-full-width">
<div id="loading-image" style="display:none">
           <h3 style="text-align:center"> Loading...</h3>
            </div>
                    <div class="tab-content">

                        <div id="tab_1_5" class="tab-pane1">

                            <div class="table-responsive">                              
                                <table class="table table-striped table-bordered table-advance table-hover" id="getdata">
                                 <?php 								 
								        if($this->Session->read('pos_type')=='ruby2'){										
										//pr($ruby2tax);die;										
										if (isset($ruby2tax) && $ruby2tax['Ruby2Tax']['id']!='') { ?>
                                    <thead>
                                        <tr>
                                            <th class="header-style">Description</th>
                                            <th class="txtrht header-style">Sales</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                       
                                            
                                        <tr>
                                            <td>Tax Id&nbsp;</td>
                                            <td class="txtrht"><?php echo $ruby2tax['Ruby2Tax']['tax_sysid']; ?>&nbsp;</td>                                                
                                        </tr>
                                        
                                        <tr>
                                            <td>Tax Name&nbsp;</td>
                                            <td class="txtrht"><?php echo $ruby2tax['Ruby2Tax']['name']; ?>&nbsp;</td>                                                
                                        </tr>
                                        
                                        
                                        <tr>
                                            <td>Tax Rate&nbsp;</td>
                                            <td class="txtrht">$<?php echo h(number_format((float)($ruby2tax['Ruby2Tax']['tax_rate']), 2, '.', '')); ?>&nbsp;</td>                                                
                                        </tr>
                                 
                                        <tr>
                                            <td>Actual Tax Rate&nbsp;</td>
                                            <td class="txtrht">$<?php echo h(number_format((float)($ruby2tax['Ruby2Tax']['actual_tax_rate']), 2, '.', '')); ?>&nbsp;</td>                                                
                                        </tr>
                                            
                                         <tr>
                                            <td>Taxable Sales&nbsp;</td>
                                            <td class="txtrht">$<?php echo h(number_format((float)($ruby2tax['Ruby2Tax']['taxable_sales']), 2, '.', '')); ?>&nbsp;</td>                                                
                                        </tr> 
                                               
                                       <tr>
                                            <td>Non Taxable Sales&nbsp;</td>
                                            <td class="txtrht">$<?php echo h(number_format((float)($ruby2tax['Ruby2Tax']['non_taxable_sales']), 2, '.', '')); ?>&nbsp;</td>                                                
                                       </tr>     
                                       
                                       <tr>
                                            <td>Sales Tax&nbsp;</td>
                                            <td class="txtrht">$<?php echo h(number_format((float)($ruby2tax['Ruby2Tax']['sales_tax']), 2, '.', '')); ?>&nbsp;</td>                                                
                                       </tr>  
                                       
                                       
                                       <tr>
                                            <td>Refund Tax&nbsp;</td>
                                            <td class="txtrht">$<?php echo h(number_format((float)($ruby2tax['Ruby2Tax']['refund_tax']), 2, '.', '')); ?>&nbsp;</td>                                                
                                       </tr>   
                                       
                                       
                                       <tr>
                                            <td>Net Tax&nbsp;</td>
                                            <td class="txtrht">$<?php echo h(number_format((float)($ruby2tax['Ruby2Tax']['net_tax']), 2, '.', '')); ?>&nbsp;</td>                                                
                                       </tr> 
                                         
                                       
                                        <?php } else { ?>
                                            <tr>
                                                <td colspan="2">No result found!</td>
                                            </tr>
                                        <?php } 	
											
										}else{
										//pr($otherrevenuesales);die;										
										if (isset($otherrevenuesales) && $otherrevenuesales[0]['RubyTottaxe']['id']!='') { ?>
                                    <thead>
                                        <tr>
                                            <th class="header-style">Description</th>
                                            <th class="txtrht header-style">Sales</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                       
                                            
                                                <tr>
                                                    <td>Total Taxable Sales&nbsp;</td>
                                                    <td class="txtrht">$<?php echo h(number_format((float)($otherrevenuesales[0]['RubyTottaxe']['total_taxable_sales']), 2, '.', '')); ?>&nbsp;</td>                                                
                                                </tr>
                                 
                                               <tr>
                                                    <td>Total Taxes Collected&nbsp;</td>
                                                    <td class="txtrht">$<?php echo h(number_format((float)($otherrevenuesales[0]['RubyTottaxe']['total_taxes']), 2, '.', '')); ?>&nbsp;</td>                                                
                                               </tr>  
                                               
                                              
                                       
                                        <?php } else { ?>
                                            <tr>
                                                <td colspan="2">No result found!</td>
                                            </tr>
                                        <?php } }?>
                                    </tbody>
                                    
                                    
                                   
                                    
                                </table>                                 
                            </div>
                           
                                
                            </div>
                    
                    </div>
                </div>
            </div>
            </div>
            
        </div>      

        
   
        
         <div class="row">
            <div class="col-md-6">               
                <h3 class="page-title">
                    Miscellaneous Summary			
                </h3>
            <div class="tabbable tabbable-custom tabbable-full-width">
<div id="loading-image" style="display:none">
           <h3 style="text-align:center"> Loading...</h3>
            </div>
                    <div class="tab-content">
                        <div id="tab_1_5" class="tab-pane1">
                            <div class="table-responsive">                              
                                <table class="table table-striped table-bordered table-advance table-hover" id="getdata">
                                 <?php	
								 
								      if($this->Session->read('pos_type')=='ruby2'){								 
								 
									if (isset($ruby2summarytotal) && $ruby2summarytotal['Ruby2Summary']['id']!='') {?>
                                    <thead>
                                        <tr>
                                            <th class="header-style">Miscellaneous Summary</th>
                                            <th class="txtrht header-style">Count</th>                                            <th class="txtrht header-style">Value</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    
                                    <tr>
                              <td>Payment Out&nbsp;</td>
                               <td class="txtrht">0&nbsp;</td> 
                              <td class="txtrht"><?php echo h(number_format((float)($ruby2summarytotal['Ruby2Summary']['total_payment_out']), 2, '.', '')); ?>&nbsp;</td>  
                           </tr>
                           
                                    <tr>
                              <td>Payment In&nbsp;</td>
                               <td class="txtrht">0&nbsp;</td>  
                              <td class="txtrht"><?php echo h(number_format((float)($ruby2summarytotal['Ruby2Summary']['total_payment_in']), 2, '.', '')); ?>&nbsp;</td>  
                           </tr>
                           
                                    <tr>
                              <td>Sales Tax&nbsp;</td>
                              <td class="txtrht">0&nbsp;</td>
                              <td class="txtrht"><?php echo h(number_format((float)($ruby2summarytotal['Ruby2Summary']['total_taxes']), 2, '.', '')); ?>&nbsp;</td>  
                           </tr>
                           
                                    <tr>
                              <td>Item Count&nbsp;</td>
                              <td class="txtrht"><?php echo h(number_format((float)($ruby2summarytotal['Ruby2Summary']['item_count']), 2, '.', '')); ?>&nbsp;</td>  
                              <td class="txtrht">0&nbsp;</td> 
                           </tr>
                           
                                    <tr>
                              <td>Customer Count&nbsp;</td>
                              <td class="txtrht"><?php echo h(number_format((float)($ruby2summarytotal['Ruby2Summary']['customer_count']), 2, '.', '')); ?>&nbsp;</td> 
                              <td class="txtrht">0&nbsp;</td>  
                           </tr>
                           
                           
                                    <tr>
                              <td>Safe Drop&nbsp;</td>
                                
                              <td class="txtrht"><?php echo h(number_format((float)($ruby2summarytotal['Ruby2Summary']['safe_drop_count']), 2, '.', '')); ?>&nbsp;</td>  
                              <td class="txtrht"><?php echo h(number_format((float)($ruby2summarytotal['Ruby2Summary']['safe_drop_amount']), 2, '.', '')); ?>&nbsp;</td> 
                           </tr>
                           
                           
                                    <tr>
                              <td>Void Line&nbsp;</td>
                                
                              <td class="txtrht"><?php echo h(number_format((float)($ruby2summarytotal['Ruby2Summary']['void_line_count']), 2, '.', '')); ?>&nbsp;</td>  
                              <td class="txtrht"><?php echo h(number_format((float)($ruby2summarytotal['Ruby2Summary']['void_line_amount']), 2, '.', '')); ?>&nbsp;</td>
                           </tr>
                           
                           
                         
                                        <?php } else { ?>
                                            <tr>
                                                <td colspan="2">No result found!</td>
                                            </tr>
                                        <?php } 	
						  
										  
									  }else{
								 
										if (isset($RubyMemo1[0]) && isset($RubyPmtout[0]) ) {										
										if($RubyMemo1[0]['RubyMemo1']['id']!='' && $RubyPmtout[0]['RubyPmtout']['id']!=''){?>
                                    <thead>
                                        <tr>
                                            <th class="header-style">Miscellaneous Summary</th>
                                            <th class="txtrht header-style">Count</th>
                                            <th class="txtrht header-style">Value</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                           <tr>
                              <td>Voids&nbsp;</td>
                              <td class="txtrht"><?php echo h(number_format((float)($RubyMemo1[0]['RubyMemo1']['total_number_of_void_items']), 2, '.', '')); ?>&nbsp;</td>      
                              <td class="txtrht"><?php echo h(number_format((float)($RubyMemo1[0]['RubyMemo1']['value_of_void_items_positive_value']), 2, '.', '')); ?>&nbsp;</td>  
                           </tr>
                           <tr>
                              <td>No Sales&nbsp;</td>
                              <td class="txtrht"><?php echo h(number_format((float)($RubyMemo1[0]['RubyMemo1']['total_number_of_no_sales']), 2, '.', '')); ?>&nbsp;</td>    
                               <td>&nbsp;</td>    
                           </tr>
                        <tr>
                            <td>Safe Drops&nbsp;</td>
                            <td class="txtrht"><?php echo h(number_format((float)($RubyPmtout[0]['RubyPmtout']['number_of_safe_drops']), 2, '.', '')); ?>&nbsp;</td>                            
                            <td class="txtrht"><?php echo h(number_format((float)($RubyPmtout[0]['RubyPmtout']['value_of_safe_drops']), 2, '.', '')); ?>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>Error Corrections&nbsp;</td>
                            <td class="txtrht"><?php echo h(number_format((float)($RubyMemo1[0]['RubyMemo1']['total_number_of_corrections']), 2, '.', '')); ?>&nbsp;</td>                            
                            <td class="txtrht"><?php echo h(number_format((float)($RubyMemo1[0]['RubyMemo1']['value_of_corrections']), 2, '.', '')); ?>&nbsp;</td>
                        </tr>
                                        <?php }} else { ?>
                                            <tr>
                                                <td colspan="2">No result found!</td>
                                            </tr>
                                        <?php } }?>
                                    </tbody>
                                </table>                                 
                            </div>
                            </div>
                    </div>
                </div>
            </div>
            <?php
            if($this->Session->read('pos_type')=='ruby2'){	
            ?>
            <div class="col-md-6">               
                <h3 class="page-title">
                    Grand Totalizer Network
                </h3>
            <div class="tabbable tabbable-custom tabbable-full-width">
<div id="loading-image" style="display:none">
           <h3 style="text-align:center"> Loading...</h3>
            </div>
                    <div class="tab-content">

                        <div id="tab_1_5" class="tab-pane1">

                            <div class="table-responsive">                              
                                <table class="table table-striped table-bordered table-advance table-hover" id="getdata">
                                 <?php 
																		
										if (isset($ruby2summarytotal)) {										
										
										if($ruby2summarytotal['Ruby2Summary']['id']!=''){?>
                                    <thead>
                                        <tr>                                        
                                            <th class="header-style">Name</th>
                                            <th class="txtrht header-style">Start</th>
                                            <th class="txtrht header-style">End</th>
                                            <th class="txtrht header-style">Difference</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                       
                                            
                   <tr>
                      <td>Inside Grand&nbsp;</td>
                      <td class="txtrht"><?php echo $ruby2summarytotal['Ruby2Summary']['start_insidegrand']; ?>&nbsp;</td>                      <td class="txtrht"><?php echo $ruby2summarytotal['Ruby2Summary']['end_insidegrand']; ?>&nbsp;</td> 
                      <td class="txtrht"><?php echo $ruby2summarytotal['Ruby2Summary']['diff_insidegrand']; ?>&nbsp;</td>    
                   </tr>
                   
                   
                   <tr>
                      <td>Inside Sales&nbsp;</td>
                      <td class="txtrht"><?php echo $ruby2summarytotal['Ruby2Summary']['start_insidesales']; ?>&nbsp;</td>                      <td class="txtrht"><?php echo $ruby2summarytotal['Ruby2Summary']['end_insidesales']; ?>&nbsp;</td> 
                      <td class="txtrht"><?php echo $ruby2summarytotal['Ruby2Summary']['diff_insidesales']; ?>&nbsp;</td>    
                   </tr>
                   
                   
                   <tr>
                      <td>Outside Grand&nbsp;</td>
                      <td class="txtrht"><?php echo $ruby2summarytotal['Ruby2Summary']['start_outsidegrand']; ?>&nbsp;</td>                      <td class="txtrht"><?php echo $ruby2summarytotal['Ruby2Summary']['end_outsidegrand']; ?>&nbsp;</td> 
                      <td class="txtrht"><?php echo $ruby2summarytotal['Ruby2Summary']['diff_outsidegrand']; ?>&nbsp;</td>    
                   </tr>
                   
                   
                   <tr>
                      <td>Outside Sales&nbsp;</td>
                      <td class="txtrht"><?php echo $ruby2summarytotal['Ruby2Summary']['start_outsidesales']; ?>&nbsp;</td>                      <td class="txtrht"><?php echo $ruby2summarytotal['Ruby2Summary']['end_outsidesales']; ?>&nbsp;</td> 
                      <td class="txtrht"><?php echo $ruby2summarytotal['Ruby2Summary']['diff_outsidesales']; ?>&nbsp;</td>    
                   </tr>
                   
                   
                     <tr>
                      <td>Overall Grand&nbsp;</td>
                      <td class="txtrht"><?php echo $ruby2summarytotal['Ruby2Summary']['start_overallgrand']; ?>&nbsp;</td>                      <td class="txtrht"><?php echo $ruby2summarytotal['Ruby2Summary']['end_overallgrand']; ?>&nbsp;</td> 
                      <td class="txtrht"><?php echo $ruby2summarytotal['Ruby2Summary']['diff_overallgrand']; ?>&nbsp;</td>    
                   </tr>
                   
                   
                   <tr>
                      <td>Overall Sales&nbsp;</td>
                      <td class="txtrht"><?php echo $ruby2summarytotal['Ruby2Summary']['start_overallsales']; ?>&nbsp;</td>                      <td class="txtrht"><?php echo $ruby2summarytotal['Ruby2Summary']['end_overallsales']; ?>&nbsp;</td> 
                      <td class="txtrht"><?php echo $ruby2summarytotal['Ruby2Summary']['diff_overallsales']; ?>&nbsp;</td>    
                   </tr>
                   
                              
                                        <?php }
										} else { ?>
                                            <tr>
                                                <td colspan="4">No result found!</td>
                                            </tr>
                                        <?php } ?>
                                    </tbody>
                                    
                                   
                                    
                                    
                                </table>                                 
                            </div>
                           
                                
                            </div>
                    
                    </div>
                </div>
            </div>
            <?php
            }else{
			?>
            <div class="col-md-6">               
                <h3 class="page-title">
                    Grocery Sales	
                </h3>
            <div class="tabbable tabbable-custom tabbable-full-width">
<div id="loading-image" style="display:none">
           <h3 style="text-align:center"> Loading...</h3>
            </div>
                    <div class="tab-content">

                        <div id="tab_1_5" class="tab-pane1">

                            <div class="table-responsive">                              
                                <table class="table table-striped table-bordered table-advance table-hover" id="getdata">
                                 <?php 
																		
										if (isset($RubyTottaxe[0]) && isset($RubyTottaxe[0]) ) {										
										
										if($RubyTottaxe[0]['RubyTottaxe']['id']!='' && $RubyTottaxe[0]['RubyTottaxe']['id']!=''){?>
                                    <thead>
                                        <tr>
                                        
                                            <th class="header-style">Index</th>
                                            <th class="txtrht header-style">Value</th>
                                           
                                        </tr>
                                    </thead>
                                    <tbody>
                                       
                                            
                           <tr>
                              <td>Grocery Taxable Sales&nbsp;</td>
                              <td class="txtrht"><?php echo h(number_format((float)$RubyTottaxe[0]['RubyTottaxe']['total_taxable_sales'], 2, '.', '')); ?>&nbsp;</td>                           
                           </tr>
                           
                           <tr>
                              <td>Grocery Non-Taxable Sales&nbsp;</td>
                              <td class="txtrht"><?php echo h(number_format((float)($RubyMemo3[0]['RubyMemo3']['total_merchandise_sales']-$RubyTottaxe[0]['RubyTottaxe']['total_taxable_sales']), 2, '.', '')); ?>&nbsp;</td>  
                           
                           </tr>
                           
                             
                           <tr>
                              <td>Totals&nbsp;</td>
                              <td class="txtrht"><?php echo h(number_format((float)$RubyMemo3[0]['RubyMemo3']['total_merchandise_sales'], 2, '.', '')); ?>&nbsp;</td>                        
                           </tr>  
                                       
                                        <?php }
										} else { ?>
                                            <tr>
                                                <td colspan="2">No result found!</td>
                                            </tr>
                                        <?php } ?>
                                    </tbody>
                                    
                                   
                                    
                                    
                                </table>                                 
                            </div>
                           
                                
                            </div>
                    
                    </div>
                </div>
            </div>
            <?php
            } 
            ?>
        </div>		
         
        
      
         <div class="row">
         
            <?php
            if($this->Session->read('pos_type')=='ruby2'){	            
			?>
			<div class="col-md-6">               
                <h3 class="page-title">
                    Money Totals	
                </h3>
            <div class="tabbable tabbable-custom tabbable-full-width">
<div id="loading-image" style="display:none">
           <h3 style="text-align:center"> Loading...</h3>
            </div>
                    <div class="tab-content">

                        <div id="tab_1_5" class="tab-pane1">

                            <div class="table-responsive">                              
                                <table class="table table-striped table-bordered table-advance table-hover" id="getdata">
                                 <?php 																			
										if(isset($ruby2summary) && $ruby2summary[0]['Ruby2Summary']['id']!=''){										
										?>
                                    <thead>
                                        <tr>
                                        
                                           <th class="header-style">Index</th>
                                           <th class="txtrht header-style">No Of Sales</th>
                                           <th class="txtrht header-style">Value Of Sales</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                             <?php 
							 $ruby2_total_value_of_sales=0;
							 foreach($ruby2summary as $ruby2summary_row)
							 {
							 ?>        
                           <tr>
                             <td><?php echo h($ruby2summary_row['Ruby2Summary']['mop_name']); ?>&nbsp;</td>
                             <td class="txtrht"><?php echo h($ruby2summary_row['Ruby2Summary']['mop_count']); ?>&nbsp;</td>
                             <td class="txtrht"><?php echo h($ruby2summary_row['Ruby2Summary']['mop_amount']); ?>&nbsp;</td>
                           </tr>                           
							<?php 
							$ruby2_total_value_of_sales=$ruby2_total_value_of_sales+$ruby2summary_row['Ruby2Summary']['mop_amount'];
                            }
                            ?>
                            <thead>
                                <tr>
                                    <th class="header-style">Total</th>
                                    <th class="txtrht header-style"></th>
                                    <th class="txtrht header-style"><?php echo $ruby2_total_value_of_sales; ?></th>
                                </tr>
                            </thead>
                            <?php
                            }else { ?>
                            <tr>
                              <td colspan="3">No result found!</td>
                            </tr>
                             <?php
							}
							?>
                          </tbody>
                              
                                </table>                                 
                            </div>
                           
                                
                            </div>
                    
                    </div>
                </div>
            </div>
			<?php
            }else{
			?>
            <div class="col-md-6">               
                <h3 class="page-title">
                    Money Totals	
                </h3>
            <div class="tabbable tabbable-custom tabbable-full-width">
<div id="loading-image" style="display:none">
           <h3 style="text-align:center"> Loading...</h3>
            </div>
                    <div class="tab-content">

                        <div id="tab_1_5" class="tab-pane1">

                            <div class="table-responsive">                              
                                <table class="table table-striped table-bordered table-advance table-hover" id="getdata">
                                 <?php 
										//pr($RubyMemo1);	
										//pr($RubyPmtout);die;										
										if (isset($RubyTotmop[0]) && isset($RubyTotmop[0]) ) {										
										
										if($RubyTotmop[0]['RubyTotmop']['id']!='' && $RubyTotmop[0]['RubyTotmop']['id']!=''){?>
                                    <thead>
                                        <tr>
                                        
                                           <th class="header-style">Index</th>
                                           <th class="txtrht header-style">No Of Sales</th>
                                           <th class="txtrht header-style">Value Of Sales</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                       
                                            
                           <tr>
                              <td>CASH&nbsp;</td>
                              <td class="txtrht"><?php echo h($RubyTotmop[0]['RubyTotmop']['number_of_sales']); ?>&nbsp;</td>                              <td class="txtrht"><?php echo h($RubyTotmop[0]['RubyTotmop']['value_of_sales']); ?>&nbsp;</td>
                           </tr>
                           
                         <tr>
                              <td>CREDIT&nbsp;</td>
                              <td class="txtrht"><?php echo h($RubyTotmop[1]['RubyTotmop']['number_of_sales']); ?>&nbsp;</td>                              <td class="txtrht"><?php echo h($RubyTotmop[1]['RubyTotmop']['value_of_sales']); ?>&nbsp;</td>
                           </tr>
                           
                           
                        <tr>
                              <td>FOODSTAMP&nbsp;</td>
                              <td class="txtrht"><?php echo h($RubyTotmop[2]['RubyTotmop']['number_of_sales']); ?>&nbsp;</td>                              <td class="txtrht"><?php echo h($RubyTotmop[2]['RubyTotmop']['value_of_sales']); ?>&nbsp;</td>
                        </tr>
                           
                       <tr>
                              <td>LOTTERY&nbsp;</td>
                              <td class="txtrht"><?php echo h($RubyTotmop[3]['RubyTotmop']['number_of_sales']); ?>&nbsp;</td>                              <td class="txtrht"><?php echo h($RubyTotmop[3]['RubyTotmop']['value_of_sales']); ?>&nbsp;</td>
                       </tr>
                                              
                                       
                                        <?php }
										} else { ?>
                                            <tr>
                                                <td colspan="3">No result found!</td>
                                            </tr>
                                        <?php } ?>
                                    </tbody>
                                    
                                   
                                    
                                    
                                </table>                                 
                            </div>
                           
                                
                            </div>
                    
                    </div>
                </div>
            </div>
            <?php
            }
            if($this->Session->read('pos_type')=='ruby2'){	
            ?>
            <div class="col-md-6">               
                <h3 class="page-title">
                    Credit Card Details
                </h3>
            <div class="tabbable tabbable-custom tabbable-full-width">
<div id="loading-image" style="display:none">
           <h3 style="text-align:center"> Loading...</h3>
            </div>
                    <div class="tab-content">

                        <div id="tab_1_5" class="tab-pane1">

                            <div class="table-responsive">                              
                                <table class="table table-striped table-bordered table-advance table-hover" id="getdata">
                                 <?php 																			
										if(isset($ruby2network) && $ruby2network[0]['Ruby2Network']['id']!=''){										
										?>
                                    <thead>
                                        <tr>                                           
                                           <th class="header-style">Card Name</th>
                                           <th class="txtrht header-style">Count</th>
                                           <th class="txtrht header-style">Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                             <?php
							 $ruby2_network_total_amount=0; 
							 foreach($ruby2network as $ruby2network_row)
							 {
							 ?>        
                           <tr>                          
                             <td><?php echo h($ruby2network_row['Ruby2Network']['card_name']); ?>&nbsp;</td>
                             <td class="txtrht"><?php echo h($ruby2network_row['Ruby2Network']['count']); ?>&nbsp;</td>
                             <td class="txtrht"><?php echo h($ruby2network_row['Ruby2Network']['amount']); ?>&nbsp;</td>
                           </tr>                           
						   <?php 
						   $ruby2_network_total_amount=$ruby2_network_total_amount+$ruby2network_row['Ruby2Network']['amount'];
                           }
                           ?>
                            <thead>
                                <tr>                                           
                                   <th class="header-style">Total</th>
                                   <th class="txtrht header-style"></th>
                                   <th class="txtrht header-style"><?php echo $ruby2_network_total_amount;?></th>
                                </tr>
                            </thead>
                            <?php
                            }else { ?>
                            <tr>
                              <td colspan="3">No result found!</td>
                            </tr>
                             <?php
							}
							?>
                          </tbody>
                              
                                </table>                                 
                            </div>
                           
                                
                            </div>
                    
                    </div>
                </div>
            </div>
            <?php
            }else{
			?>
            <div class="col-md-6">               
                <h3 class="page-title">
                    Credit Card Details	
                </h3>
            <div class="tabbable tabbable-custom tabbable-full-width">
<div id="loading-image" style="display:none">
           <h3 style="text-align:center"> Loading...</h3>
            </div>
                    <div class="tab-content">

                        <div id="tab_1_5" class="tab-pane1">

                            <div class="table-responsive">                              
                                <table class="table table-striped table-bordered table-advance table-hover" id="getdata">
                                 <?php 
										//pr($RubyMemo1);	
										//pr($RubyPmtout);die;										
										if (isset($RubyTotnet[0]) && isset($RubyTotnet[0]) ) {										
										
										if($RubyTotnet[0]['RubyTotnet']['id']!='' && $RubyTotnet[0]['RubyTotnet']['id']!=''){?>
                                    <thead>
                                        <tr>
                                        
                                           <th class="header-style">Index</th>
                                           <th class="txtrht header-style">Value</th>
            
                                        </tr>
                                    </thead>
                                    <tbody>
                                       
                                            
                           <tr>
                              <td>No Check Authorization&nbsp;</td>
                              <td class="txtrht"><?php echo h($RubyTotnet[0]['RubyTotnet']['number_of_check_authorizations']); ?>&nbsp;</td>                
                           </tr>
                           
                           <tr>
                              <td>No Of Manual Charges&nbsp;</td>
                              <td class="txtrht"><?php echo h($RubyTotnet[0]['RubyTotnet']['number_of_manual_charges']); ?>&nbsp;</td>                
                           </tr>
                           
                           <tr>
                              <td>No Of Network Charges&nbsp;</td>
                              <td class="txtrht"><?php echo h($RubyTotnet[0]['RubyTotnet']['number_of_network_charges']); ?>&nbsp;</td>                
                           </tr>
                           
                            <tr>
                              <td>Amount of Network Charges&nbsp;</td>
                              <td class="txtrht"><?php echo h($RubyTotnet[0]['RubyTotnet']['amount_of_network_charges']); ?>&nbsp;</td>                
                           </tr>
                           
                           
                            <tr>
                              <td>No Of Network Correction&nbsp;</td>
                              <td class="txtrht"><?php echo h($RubyTotnet[0]['RubyTotnet']['number_of_network_corrections']); ?>&nbsp;</td>                
                           </tr>
                           
                           <tr>
                              <td>Amount Of Network Correction&nbsp;</td>
                              <td class="txtrht"><?php echo h($RubyTotnet[0]['RubyTotnet']['amount_of_network_corrections']); ?>&nbsp;</td>                
                           </tr>
                           
                           
                                       
                                        <?php }
										} else { ?>
                                            <tr>
                                                <td colspan="2">No result found!</td>
                                            </tr>
                                        <?php } ?>
                                    </tbody>
                                    
                                   
                                    
                                    
                                </table>                                 
                            </div>
                           
                                
                            </div>
                    
                    </div>
                </div>
            </div>
            <?php
            } 
            ?>
        </div>		
         
         
         <?php
            if($this->Session->read('pos_type')=='ruby2'){	
            
            }else{
			?>
         
         <div class="row">
            <div class="col-md-12">               
                <h3 class="page-title">
                    Card
                </h3>
            
            </div>
        </div>		
         <div class="row">
            <div class="col-md-12">
                <div class="tabbable tabbable-custom tabbable-full-width">
<div id="loading-image" style="display:none">
           <h3 style="text-align:center"> Loading...</h3>
            </div>
                    <div class="tab-content">

                        <div id="tab_1_5" class="tab-pane1">

                            <div class="table-responsive">                              
                                <table class="table table-striped table-bordered table-advance table-hover" id="getdata">
                                 <?php 
										//pr($RubyMemo1);	
										//pr($RubyPmtout);die;										
										if (isset($RubyTotcard[0]) && isset($RubyTotcard[0]) ) {										
										
										if($RubyTotcard[0]['RubyTotcard']['id']!='' && $RubyTotcard[0]['RubyTotcard']['id']!=''){?>
                                    <thead>
                                        <tr>
                                        
                      <th class="header-style">Card Name</th>
                      <th class="txtrht header-style">Card Type Charges</th>
                      <th class="txtrht header-style">No Of Card Charges</th>
                      <th class="txtrht header-style">Amount of Card Charges</th>
                      <th class="txtrht header-style">Card Type Corrections</th>
                      <th class="txtrht header-style">No Of Card Correction</th>
                      <th class="txtrht header-style">Amount of Card Correction</th>
                                  
                                        </tr>
                                    </thead>
                                    <tbody>
                                       
                                            
        <tr>
        <td>MASTERCARD&nbsp;</td>
        <td class="txtrht"><?php echo h($RubyTotcard[0]['RubyTotcard']['card_type_charges']); ?>&nbsp;</td>
        <td class="txtrht"><?php echo h($RubyTotcard[0]['RubyTotcard']['number_of_card_charges']); ?>&nbsp;</td>
        <td class="txtrht">$<?php echo h($RubyTotcard[0]['RubyTotcard']['amount_of_card_charges']); ?>&nbsp;</td>
        <td class="txtrht"><?php echo h($RubyTotcard[0]['RubyTotcard']['card_type_corrections']); ?>&nbsp;</td>
        <td class="txtrht"><?php echo h($RubyTotcard[0]['RubyTotcard']['number_of_card_corrections']); ?>&nbsp;</td>
        <td class="txtrht">$<?php echo h($RubyTotcard[0]['RubyTotcard']['amount_of_card_corrections']); ?>&nbsp;</td>     
        </tr>
                   
        <tr>
        <td>VISA&nbsp;</td>
        <td class="txtrht"><?php echo h($RubyTotcard[1]['RubyTotcard']['card_type_charges']); ?>&nbsp;</td>
        <td class="txtrht"><?php echo h($RubyTotcard[1]['RubyTotcard']['number_of_card_charges']); ?>&nbsp;</td>
        <td class="txtrht">$<?php echo h($RubyTotcard[1]['RubyTotcard']['amount_of_card_charges']); ?>&nbsp;</td>
        <td class="txtrht"><?php echo h($RubyTotcard[1]['RubyTotcard']['card_type_corrections']); ?>&nbsp;</td>
        <td class="txtrht"><?php echo h($RubyTotcard[1]['RubyTotcard']['number_of_card_corrections']); ?>&nbsp;</td>
        <td class="txtrht">$<?php echo h($RubyTotcard[1]['RubyTotcard']['amount_of_card_corrections']); ?>&nbsp;</td>     
        </tr>       
        
        <tr>
        <td>AMEX&nbsp;</td>
        <td class="txtrht"><?php echo h($RubyTotcard[2]['RubyTotcard']['card_type_charges']); ?>&nbsp;</td>
        <td class="txtrht"><?php echo h($RubyTotcard[2]['RubyTotcard']['number_of_card_charges']); ?>&nbsp;</td>
        <td class="txtrht">$<?php echo h($RubyTotcard[2]['RubyTotcard']['amount_of_card_charges']); ?>&nbsp;</td>
        <td class="txtrht"><?php echo h($RubyTotcard[2]['RubyTotcard']['card_type_corrections']); ?>&nbsp;</td>
        <td class="txtrht"><?php echo h($RubyTotcard[2]['RubyTotcard']['number_of_card_corrections']); ?>&nbsp;</td>
        <td class="txtrht">$<?php echo h($RubyTotcard[2]['RubyTotcard']['amount_of_card_corrections']); ?>&nbsp;</td>     
        </tr>  
        
        <tr>
        <td>DISCOVER&nbsp;</td>
        <td class="txtrht"><?php echo h($RubyTotcard[3]['RubyTotcard']['card_type_charges']); ?>&nbsp;</td>
        <td class="txtrht"><?php echo h($RubyTotcard[3]['RubyTotcard']['number_of_card_charges']); ?>&nbsp;</td>
        <td class="txtrht">$<?php echo h($RubyTotcard[3]['RubyTotcard']['amount_of_card_charges']); ?>&nbsp;</td>
        <td class="txtrht"><?php echo h($RubyTotcard[3]['RubyTotcard']['card_type_corrections']); ?>&nbsp;</td>
        <td class="txtrht"><?php echo h($RubyTotcard[3]['RubyTotcard']['number_of_card_corrections']); ?>&nbsp;</td>
        <td class="txtrht">$<?php echo h($RubyTotcard[3]['RubyTotcard']['amount_of_card_corrections']); ?>&nbsp;</td>     
        </tr>
        
        <tr>
        <td>WEX&nbsp;</td>
        <td class="txtrht"><?php echo h($RubyTotcard[4]['RubyTotcard']['card_type_charges']); ?>&nbsp;</td>
        <td class="txtrht"><?php echo h($RubyTotcard[4]['RubyTotcard']['number_of_card_charges']); ?>&nbsp;</td>
        <td class="txtrht">$<?php echo h($RubyTotcard[4]['RubyTotcard']['amount_of_card_charges']); ?>&nbsp;</td>
        <td class="txtrht"><?php echo h($RubyTotcard[4]['RubyTotcard']['card_type_corrections']); ?>&nbsp;</td>
        <td class="txtrht"><?php echo h($RubyTotcard[4]['RubyTotcard']['number_of_card_corrections']); ?>&nbsp;</td>
        <td class="txtrht">$<?php echo h($RubyTotcard[4]['RubyTotcard']['amount_of_card_corrections']); ?>&nbsp;</td>     
        </tr>
        
        <tr>
        <td>VOYAGER&nbsp;</td>
        <td class="txtrht"><?php echo h($RubyTotcard[5]['RubyTotcard']['card_type_charges']); ?>&nbsp;</td>
        <td class="txtrht"><?php echo h($RubyTotcard[5]['RubyTotcard']['number_of_card_charges']); ?>&nbsp;</td>
        <td class="txtrht">$<?php echo h($RubyTotcard[5]['RubyTotcard']['amount_of_card_charges']); ?>&nbsp;</td>
        <td class="txtrht"><?php echo h($RubyTotcard[5]['RubyTotcard']['card_type_corrections']); ?>&nbsp;</td>
        <td class="txtrht"><?php echo h($RubyTotcard[5]['RubyTotcard']['number_of_card_corrections']); ?>&nbsp;</td>
        <td class="txtrht">$<?php echo h($RubyTotcard[5]['RubyTotcard']['amount_of_card_corrections']); ?>&nbsp;</td>     
        </tr>
        
        <tr>
        <td>Total&nbsp;</td>
        <td class="txtrht">&nbsp;</td>
        <td class="txtrht">&nbsp;</td>        
        <td class="txtrht">$<?php echo h($RubyTotcard[0]['RubyTotcard']['amount_of_card_charges']+$RubyTotcard[1]['RubyTotcard']['amount_of_card_charges']+$RubyTotcard[2]['RubyTotcard']['amount_of_card_charges']+$RubyTotcard[3]['RubyTotcard']['amount_of_card_charges']+$RubyTotcard[4]['RubyTotcard']['amount_of_card_charges']+$RubyTotcard[5]['RubyTotcard']['amount_of_card_charges']); ?>  &nbsp;</td>
        <td class="txtrht">&nbsp;</td>
        <td class="txtrht">&nbsp;</td>
        <td class="txtrht">&nbsp;</td>     
        </tr>
               
                 
                     
                                              
                                       
                                        <?php }
										} else { ?>
                                            <tr>
                                                <td colspan="7">No result found!</td>
                                            </tr>
                                        <?php } ?>
                                    </tbody>
                                    
                                   
                                    
                                    
                                </table>                                 
                            </div>
                           
                                
                            </div>
                    
                    </div>
                </div>
            </div>
          
        </div>
          <?php
            } 
            ?>
         
         
         
         <?php
         $_summaryTotal1 = array();
         if(!empty($rubyUprodts1)) {
	     //pr($rubyUprodts1);die;	
	    foreach($rubyUprodts1 as $_k1 => $_value1) {
		
		if (isset($_summaryTotal1['Total']['fuel_volume'])) {
			$_summaryTotal1['Total']['fuel_volume'] += $_value1['RubyUprodt']['fuel_volume'];
			$_summaryTotal1['Total']['fuel_value']  += $_value1['RubyUprodt']['fuel_value'];
		} else {
			$_summaryTotal1['Total']['fuel_volume'] = $_value1['RubyUprodt']['fuel_volume'];
			$_summaryTotal1['Total']['fuel_value']  = $_value1['RubyUprodt']['fuel_value'];
		}
	    }
       }		   
	   //echo 'fuel_value1: '.$_summaryTotal1['Total']['fuel_value']; echo '<br/>';
	   
	   
	    $_summaryTotal2= array();
         if(!empty($rubyUprodts2)) {
	     //pr($rubyUprodts1);die;	
	    foreach($rubyUprodts2 as $_k2 => $_value2) {
		
		if (isset($_summaryTotal2['Total']['fuel_volume'])) {
			$_summaryTotal2['Total']['fuel_volume'] += $_value2['RubyUprodt']['fuel_volume'];
			$_summaryTotal2['Total']['fuel_value']  += $_value2['RubyUprodt']['fuel_value'];
		} else {
			$_summaryTotal2['Total']['fuel_volume'] = $_value2['RubyUprodt']['fuel_volume'];
			$_summaryTotal2['Total']['fuel_value']  = $_value2['RubyUprodt']['fuel_value'];
		}
	    }
       }		   
	   //echo 'fuel_value2: '.$_summaryTotal2['Total']['fuel_value']; echo '<br/>';
	   
       ?>  
      
        <!--<div class="row">
            <div class="col-md-12">               
                <h3 class="page-title">
                    Money Flow Breakdown	
                </h3>
            
            </div>
        </div>		
        <div class="row">
            <div class="col-md-12">
                <div class="tabbable tabbable-custom tabbable-full-width">
<div id="loading-image" style="display:none">
           <h3 style="text-align:center"> Loading...</h3>
            </div>
                    <div class="tab-content">

                        <div id="tab_1_5" class="tab-pane1">

                            <div class="table-responsive">                              
                                <table class="table table-striped table-bordered table-advance table-hover" id="getdata">
                                 <?php 
																		
										if (isset($RubyTotmop[0]) && isset($RubyTotmop[0]) ) {										
										
										if($RubyTotmop[0]['RubyTotmop']['id']!='' && $RubyTotmop[0]['RubyTotmop']['id']!=''){?>
                                    <thead>
                                        <tr>
                                           <th class="header-style">Index</th>
                                           <th class="txtrht header-style">Cash</th>
                                           <th class="txtrht header-style">Credit</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                       
                                            
                           <tr>
                              <td>Fuel&nbsp;</td>
                              <td class="txtrht"><?php echo h($_summaryTotal1['Total']['fuel_value']); ?>&nbsp;</td>  
                              <td class="txtrht"><?php echo h($_summaryTotal2['Total']['fuel_value']); ?>&nbsp;</td>
                           </tr>
                           
                           <tr>
                              <td>Grocery&nbsp;</td>
                              <td class="txtrht"><?php echo h($RubyTotmop[0]['RubyTotmop']['value_of_sales']-$_summaryTotal1['Total']['fuel_value']); ?>&nbsp;</td>  
                              <td class="txtrht"><?php echo h($RubyTotmop[1]['RubyTotmop']['value_of_sales']-$_summaryTotal2['Total']['fuel_value']); ?>&nbsp;</td>
                           </tr>
                           
                           <tr>
                              <td>Total&nbsp;</td>
                              <td class="txtrht"><?php echo h($RubyTotmop[0]['RubyTotmop']['value_of_sales']); ?>&nbsp;</td>  
                              <td class="txtrht"><?php echo h($RubyTotmop[1]['RubyTotmop']['value_of_sales']); ?>&nbsp;</td>
                           </tr>
                                
                                       
                                        <?php }
										} else { ?>
                                            <tr>
                                                <td colspan="3">No result found!</td>
                                            </tr>
                                        <?php } ?>
                                    </tbody>
                                    
                                   
                                    
                                    
                                </table>                                 
                            </div>
                           
                                
                            </div>
                    
                    </div>
                </div>
            </div>
          
        </div>-->
     
      
    </div>
</div>


</div>


<style>

.Zebra_DatePicker_Icon_Inside{ margin-top: 0px!important; }

button.Zebra_DatePicker_Icon {
    border-radius: 0 3px 3px;
    left: auto !important;
    right: 30px;
    top: 1px !important;
}
.Zebra_DatePicker {
    position: absolute;
    background: #3a4b55;
    border: 1px solid #3a4b55;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    display: none;
    z-index: 1000;
    margin-left: -224px;
    top: 191px!important;
    font-family: Tahoma,Arial,Helvetica,sans-serif;
    font-size: 13px;
    margin-top: 0;
    z-index: 10000;
}
.txtrht{
	text-align:right !important;
}
</style>
<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
	  $('#example').DataTable({
	  "bPaginate": false
	  });
		//$('#end_date').Zebra_DatePicker({direction: -1,format:"Y-m-d"});
		$('#end_date').Zebra_DatePicker({format:"Y-m-d"});
	});
</script>
 <?php 
$full_date = $this->Session->read('full_date'); 
if($full_date=='')
{
?>        
<script>
$(document).ready(function(){
$('#config-demo').val('');		
});
</script>
<?php 
}
?>