<?php /*?><div class="row">
    <div class="col-xs-12">
   
            <ul class="menu-btn">
	<li><?php echo $this->Html->link(__('List Ruby Fprods'), array('action' => 'index')); ?></li>
		<li><?php echo $this->Html->link(__('List Ruby Headers'), array('controller' => 'ruby_headers', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Ruby Header'), array('controller' => 'ruby_headers', 'action' => 'add')); ?> </li>
        </ul>
               
     
    </div>
</div><?php */?>

<div class="page-content">
  <div class="content-new">
      <div class="row">
        <div class="col-xs-12">
          <h3 class="page-title">Add New
</h3>
        </div>
      </div>
    </div>
   <div class="content-new">
<div class="rubyFprods form">
<?php echo $this->Form->create('RubyFprod'); ?>
      <div class="row">
        <div class="col-xs-12">
        
                  <div class="col-md-2 col-xs-6">
                    <label>Fuel product number</label>                 
					<?php echo $this->Form->input('fuel_product_number', array( 'class' => 'form-control','type' => 'text', 'label' => false,));				
					 ?>
                  </div>
	
	              <div class="col-md-2 col-xs-6">
                    <label>Fuel product name</label>                 
					<?php echo $this->Form->input('fuel_product_name', array( 'class' => 'form-control','type' => 'text', 'label' => false,));				
					 ?>
                  </div>
				     <div class="col-md-2 col-xs-6">
                    <label>Display name</label>                  
					<?php 
					/*echo $this->Form->input('display_name', array( 'class' => 'form-control','type' => 'text', 'label' => false, 'required' => false));*/					
					echo $this->Form->input('display_name',array('options' => $ruby_fproducts,'empty'=>'Display Name ' ,'label' => false, 'required' => 'false','class' => 'form-control'));
					
					 ?>
                  </div>

				    <div class="col-md-2 col-xs-6">
                    <label>Status</label>
                    <!-- important for developer please place your clander code on this input-->
                	
					<?php echo $this->Form->input('status', array( 'class' => 'form-control','type' => 'select', 'label' => false, 'required' => false,'options'=>array('0' => 'Inactive', 1 => 'active'))); ?>
                  </div>
				   <div class="col-xs-6 col-md-2">
			   <label>&nbsp;</label>
			   <?php echo $this->Form->input('submit', array( 'class' => ' btn default updatebtn','type' => 'submit', 'label' => false, 'required' => false)); ?>
              
              </div>
				  </div>
				  </div>
      <?php echo $this->form->end(); ?>
</div>

</div>