<?php /*?><div class="row">
    <div class="col-xs-12">
   
            <ul class="menu-btn">
	<li><?php echo $this->Html->link(__('List Ruby Fprods'), array('action' => 'index')); ?></li>
		<li><?php echo $this->Html->link(__('List Ruby Headers'), array('controller' => 'ruby_headers', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Ruby Header'), array('controller' => 'ruby_headers', 'action' => 'add')); ?> </li>
        </ul>
               
     
    </div>
</div><?php */?>

<div class="page-content">
  <div class="content-new">
      <div class="row">
        <div class="col-xs-12">
          <h3 class="page-title">Edit Product
</h3>
        </div>
      </div>
    </div>
	<div class="page-content">
    <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->

    <!-- /.modal -->
    <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->

    <!-- BEGIN PAGE CONTENT-->
    <div class="row">
		<?php echo $this->Form->create('RubyFprod'); ?>
			
				<?php
					echo $this->Form->input('id');?>
					
					 <div class="row">
        <div class="col-xs-12">
        
        
                    <div class="col-md-2 col-xs-6">
                    <label>Fuel product number</label>                 
					<?php echo $this->Form->input('fuel_product_number', array( 'class' => 'form-control','type' => 'text', 'label' => false,));				
					 ?>
                  </div>
	
	              <div class="col-md-2 col-xs-6">
                    <label>Fuel product name</label>                 
					<?php echo $this->Form->input('fuel_product_name', array( 'class' => 'form-control','type' => 'text', 'label' => false,));				
					 ?>
                  </div>
        
        
	   <div class="col-md-2 col-xs-6">
                    <label>Display name</label>
                    <!-- important for developer please place your clander code on this input-->
                	
					<?php /*echo $this->Form->input('display_name', array( 'class' => 'form-control','type' => 'text', 'label' => false,)); */
					
					echo $this->Form->input('display_name',array('options' => $ruby_fproducts,'empty'=>'Select Display Name ' ,'label' => false, 'required' => 'false','class' => 'form-control'));
					
					?>
                  </div>
				  
				   <div class="col-md-2 col-xs-6">
                    <label>Sequence</label>
                    <!-- important for developer please place your clander code on this input-->
                	
					<?php echo $this->Form->input('sequence', array( 'class' => 'form-control','type' => 'text', 'label' => false,)); ?>
                  </div>
				  <div class="col-md-2 col-xs-6">
                    <label>Status</label>
                    <!-- important for developer please place your clander code on this input-->
                	
					<?php echo $this->Form->input('status', array( 'class' => 'form-control','type' => 'select', 'label' => false, 'required' => false,'options'=>array('0' => 'Inactive', 1 => 'active'))); ?>
                  </div>
				 <div class="col-xs-6 col-md-2">
			   <label>&nbsp;</label>
			   <?php echo $this->Form->input('submit', array( 'class' => ' btn default updatebtn','type' => 'submit', 'label' => false, 'required' => false)); ?>
              
              </div>
			<?php echo $this->Form->end(); ?>
			
	</div>
	</div>
</div>
