<?php
$rdepartments =  ClassRegistry::init('RubyDepartment')->find('list', array('fields' => array('number', 'name'), 'conditions'=>array('store_id'=>$this->Session->read('stores_id'))));

$description =  ClassRegistry::init('RGroceryItem')->find('list', array('fields' => array('plu_no', 'description'),'conditions'=>array('store_id'=>$this->Session->read('stores_id'))));

$depart =  ClassRegistry::init('RGroceryItem')->find('list', array('fields' => array('plu_no', 'r_grocery_department_id'),'conditions'=>array('store_id'=>$this->Session->read('stores_id'))));
?>
				
					<!-- BEGIN SAMPLE TABLE PORTLET-->
					<div class="portlet box blue">
						<div class="portlet-body col-md-12">
						  
			<?php echo $this->Form->create('ruby_deptotals', array('role' => 'form'), array('inputDefaults' => array('label' => false, 'div' => false, 'required' => false))); ?>
			
	 <div class=" col-md-4">
	<div class=" col-md-5"><i class="fa fa-calendar"></i> Update Date </div><div class=" col-md-7"><input type="text"  placeholder="Select From Date" class="form-control" id = "from" name ="from" value="<?php if(isset($enddate)) echo date("m-d-Y", strtotime($enddate)); ?>"></div>
	</div>
			 <div class=" col-md-4">
			<?php echo $this->Form->input('department', array('id' => 'department', 'class' => 'form-control','type' => 'select', 'options'=>$rdepartments,'empty'=>'All Departments','label' => false,'required' => false)); ?>

	</div>
	 <div class=" col-md-4">

				 <button name="getdata" class="btn btn-success" type="submit"><i class="fa fa-arrow-left fa-fw"></i> Get Report</button>
    			 <?php if(isset($enddate)) { ?>	

<input type="button" class="btn btn-warning" onclick="tableToExcel('example', 'W3C Example Table')" value="Export to Excel">
														<?php } ?>	
	
				
	</div>
               
						    <?php echo $this->form->end(); ?>
						<p>&nbsp;</p>
							<h4>Total Item Sold = <?php if($somevalue[0][0]['no_of_items_sold']) echo round($somevalue[0][0]['no_of_items_sold'],2); else echo '0'; ?>
							
									<?php $margintotal = 0; foreach ($pluttls as $findmargin): 
									
									$margintotal = $margintotal + ($findmargin['RubyPluttl']['no_of_items_sold'] * $findmargin['PurchasePack']['Margin']);
									
									endforeach; 
									
									echo ', Total Margin = '.$margintotal;
									if($somevalue[0][0]['no_of_items_sold']) 
									echo ', Average Margin = '.round($margintotal/$somevalue[0][0]['no_of_items_sold'],2).'</h4>';
?>
		</div>
					<!-- END SAMPLE TABLE PORTLET--> 
	</div>

<div class="row"> </div>
<div class="portlet box blue">
						<div class="portlet-title col-md-12">
							<div class="caption">
								<i class="fa fa-cogs"></i> Dashboard
							</div>
							<!--	<div class="tools">
								<a href="javascript:;" class="collapse">
								</a> </div>	
							-->
<div class="caption pull-right">
																<i class="fa fa-calendar"></i> <?php if(isset($enddate)) echo date("m-d-Y", strtotime($enddate));?>													
							</div>
						</div>
						<div class="portlet-body">
							
                     
					
                            <div class="datatable">
                             		<table class="table table-striped table-bordered table-advance table-hover" id="example">
						<thead>
						<tr>
								<th><?php echo $this->Paginator->sort('Department'); ?></th>
								<th><?php echo $this->Paginator->sort('PLU No'); ?></th>
								<th><?php echo $this->Paginator->sort('Description'); ?></th>
								<th><?php echo $this->Paginator->sort('Selling Price'); ?></th>
								<th><?php echo $this->Paginator->sort('Base Price'); ?></th>
								<th><?php echo $this->Paginator->sort('Items Sold'); ?></th>
								<th><?php echo $this->Paginator->sort('No of customers'); ?></th>
								<th><?php echo $this->Paginator->sort('Margin'); ?></th>
								<th><?php echo $this->Paginator->sort('Total Margin'); ?></th>
						</tr>
						</thead>
						<tbody>
						<?php 
		foreach ($pluttls as $rubyDeptotal): ?>
						<tr>
						<td><?php 
							$departId = @$depart[$rubyDeptotal['RubyPluttl']['plu_no']];
							echo str_replace(' ','',@$rdepartments[$departId]); ?>&nbsp;</td>
							<td id="<?php echo $departId ; ?>" ><?php echo h($rubyDeptotal['RubyPluttl']['plu_no']); ?>&nbsp;</td>
								<td><?php echo @$description[$rubyDeptotal['RubyPluttl']['plu_no']]; ?>&nbsp;</td>
								
								
							<td><?php echo h($rubyDeptotal['RubyPluttl']['selling_price']); ?>&nbsp;</td>
							<td><?php echo h($rubyDeptotal['RubyPluttl']['base_seling_price']); ?>&nbsp;</td>
							<td><?php echo h($rubyDeptotal['RubyPluttl']['no_of_items_sold']); ?>&nbsp;</td>
							<td><?php echo h($rubyDeptotal['RubyPluttl']['no_of_customer']); ?>&nbsp;</td>
							<td><?php echo h($rubyDeptotal['PurchasePack']['Margin']); ?>&nbsp;</td>
							<td><?php echo h($rubyDeptotal['RubyPluttl']['no_of_items_sold'] * $rubyDeptotal['PurchasePack']['Margin']); ?>&nbsp;</td>
							
						</tr>
					<?php endforeach; ?>
						</tbody>
						</table> 
                            </div>
                           
            </div>
						</div>
						
						


<script type="text/javascript" charset="utf-8">
	var webroot='<?php echo $this->webroot;?>';
	function filter_utank() {	
		var from_date=$('#from').val();
		var to_date=$('#to').val();
		
		var department_number=$('#department_number').val();
		//$('#loaderdiv').show();
		$.ajax({
			type : 'POST',
			url : webroot+'ruby_deptotals/index/',
			dataType : 'html',
			data: {from_date:from_date,to_date:to_date,department_number:department_number},
			success:function(result){
				//$("#example_info").hide();example_filter
				//$("#example_paginate").hide();
				//$("#example_filter").hide();
				//$("#example_length").hide();
				//$(".col-md-2").hide();
				$("#filter").show();
				$("#example").html(result);
			}});
	}
</script>
<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
	  $('#example').DataTable({
	  "bPaginate": false
	  });
		//$('#from').Zebra_DatePicker({direction: -1,format:"m-d-Y",pair: $('#to')});
		//$('#to').Zebra_DatePicker({direction: 1,format:"m-d-Y"});
	});
</script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> 
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
$( function() {
$( "#from" ).datepicker({ dateFormat: 'mm-dd-yy' });
} );
</script>
<style>
#example th,#example td{
width:100px!important;}
</style>
<script type="text/javascript">
var tableToExcel = (function() {
  var uri = 'data:application/vnd.ms-excel;base64,'
    , template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--></head><body><table>{table}</table></body></html>'
    , base64 = function(s) { return window.btoa(unescape(encodeURIComponent(s))) }
    , format = function(s, c) { return s.replace(/{(\w+)}/g, function(m, p) { return c[p]; }) }
  return function(table, name) {
    if (!table.nodeType) table = document.getElementById(table)
    var ctx = {worksheet: name || 'Worksheet', table: table.innerHTML}
    window.location.href = uri + base64(format(template, ctx))
  }
})()
</script>
