<div class="portlet box blue">
               <div class="page-content portlet-body" >
  <div class="content-new">
      <div class="row">
        <div class="col-xs-12">
          <h3 class="page-title">Notification
		 <?php  if (isset($report) && !empty($report)) {?> <button id="btnExport" class="notfinew btn default updatebtn">Export</button><?php } ?>
</h3>
        </div>
      </div>
    </div>
    <!-- top header ends -->
    <!-- submit form -->
   <div class="content-new">
      <div class="row">
        <div class="col-xs-12">
          <div class="lottery_setting clearfix">
            <!-- hedaing title -->
            <div class="confirm_heading clearfix">
           
            </div>
            <!-- heading title ends-->
            <!-- form starts -->
          	<?php echo $this->Form->create('ComplianceNotification', array('role' => 'form', 'type' => 'file'), array('inputDefaults' => array('label' => false, 'div' => false, 'required' => false))); ?>
			
              <div class="confim_form">
              <!-- row one -->
                <div class="row">
                  <!-- input 1-->
				  
                   <div class="col-md-2 col-xs-6">
                    <label>Expire Date From</label>
                    <!-- important for developer please place your clander code on this input-->
                	
					<?php echo $this->Form->input('expiry_from', array('id' => 'from', 'class' => 'form-control','type' => 'text', 'label' => false, 'required' => true)); ?>
                  </div>
           <div class="col-md-2 col-xs-6">
                    <label>Expire Date To</label>
                    <!-- important for developer please place your clander code on this input-->
                	
					<?php echo $this->Form->input('expiry_to', array('id' => 'to', 'class' => 'form-control','type' => 'text', 'label' => false, 'required' => true)); ?>
                  </div>
				  
				   <div class="col-xs-6 col-md-2">
                <label>License Name </label>
				<?php	
				echo $this->Form->input('license_name', array('type'=>'select','class' => 'form-control','required' => true, 'label'=>false, 'options'=>array('all'=>'-- All LIC --','Air Pollution License'=>'Air Pollution License','Business License'=>'Business License','Cigerette Dealer License'=>'Cigerette Dealer License','Cigarette license'=>'Cigarette license','Commercial Activity License'=>'Commercial Activity License','Dumpster'=>'Dumpster','EPA'=>'EPA','Food Establishment License'=>'Food Establishment License','Food Establishment License QR Code'=>'Food Establishment License QR Code','Gas License'=>'Gas License','Hazardous Materials'=>'Hazardous Materials','Hazardous Materials QR Code'=>'Hazardous Materials QR Code','Lottery License'=>'Lottery License','Motor Vehicle Repair'=>'Motor Vehicle Repair','Motor Vehicle Repair  QR Code'=>'Motor Vehicle Repair  QR Code','Sales Tax License'=>'Sales Tax License','Sales & Scanners'=>'Sales & Scanners','Sales & Scanners QR Code'=>'Sales & Scanners QR Code','Storage Tank Registration'=>'Storage Tank Registration','Tank License'=>'Tank License','Tobacco Retailer Permit'=>'Tobacco Retailer Permit','Other License'=>'Other License')));?>
              </div>

                  
                 
                  <div class="col-md-2 col-xs-6">
                    <label>Select Store</label>
                    <!-- important for developer please place your clander code on this input-->
					
					<?php	
				echo $this->Form->input('store_id', array('type'=>'select','class' => 'form-control','required' => false, 'label'=>false, 'options'=>$storeslist, 'empty'=>'-- All Store --'));?>
				
                  </div>
				    <div class="col-xs-6 col-md-2">
			   <label>&nbsp;</label>
                <button type="submit" id="sunmit" name ="submit" class="btn default updatebtn" id="confirmpackid">Generate Report</button>
              </div>
         
                </div>
				
			   <div class="row"><br/>
				</div>
			   

              <!-- row two ends -->
              </div>
          <?php echo $this->form->end(); ?>
            <!-- form ends -->
          </div>
		  
		   <div class="table-responsive">
                                <table class="table table-striped table-bordered table-advance table-hover">
                                    <thead>
                                        <tr>
                                       
                                     <th><?php echo __($this->Paginator->sort('License Name'));?>  </th>
                                            <th><?php echo $this->Paginator->sort('Store'); ?></th>
                                            <th><?php echo $this->Paginator->sort('Expiry'); ?></th>
                           
                                              </tr>
                                    </thead>
                                    <tbody>
                               <?php         if (isset($report) && !empty($report)) { 
							   
						
							$ms = "'Are you sure want delete it?'";
                                             foreach ($report as $data) { 
                                               echo '<tr>
                                                      
                                                      <td>'.$data["ComplianceNotification"]["license_name"].'</td>
                                                    <td>'.$data["ComplianceNotification"]["store_name"].'&nbsp;</td>
                                                    <td>'.$data["ComplianceNotification"]["expiry_date"].'&nbsp;</td>
                                                     	
                                               
												</tr>';
												
											}
                                              
                                       } else { 
                                           echo ' <tr>
                                                <td colspan="10">  no result found </td>
                                            </tr>';
                                        } ?>
                                    </tbody>
                                </table>
                            </div>
							
							
							 <div id="dvData" style="display:none">
                                <table>
                                    <thead>
                                        <tr>
                                       
                                     <th><?php echo __($this->Paginator->sort('License Name'));?>  </th>
                                            <th><?php echo $this->Paginator->sort('Store'); ?></th>
                                            <th><?php echo $this->Paginator->sort('Expiry'); ?></th>
                           
                                              </tr>
                                    </thead>
                                    <tbody>
                               <?php         if (isset($report) && !empty($report)) { 
							   
						
							$ms = "'Are you sure want delete it?'";
                                             foreach ($report as $data) { 
                                               echo '<tr>
                                                      
                                                      <td>'.$data["ComplianceNotification"]["license_name"].'</td>
                                                    <td>'.$data["ComplianceNotification"]["store_name"].'&nbsp;</td>
                                                    <td>'.$data["ComplianceNotification"]["expiry_date"].'&nbsp;</td>
                                                     	
                                               
												</tr>';
												
											}
                                              
                                       } else { 
                                           echo ' <tr>
                                                <td colspan="10">  no result found </td>
                                            </tr>';
                                        } ?>
                                    </tbody>
                                </table>
                            </div>
                           
        </div>
		
        </div>
   

    </div>
    </div>
<script type="text/javascript" charset="utf-8">
   $(document).ready(function () {

/*$('#from').Zebra_DatePicker({
  readonly_element: false,
    pair: $('#to')
});
 
$('#to').Zebra_DatePicker({
    direction: 1,
	 readonly_element: false,
});*/

$("#btnExport").click(function (e) {
    window.open('data:application/vnd.ms-excel,' + $('#dvData').html());
    e.preventDefault();
	});
});
</script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> 
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
	$( "#from" ).datepicker({ dateFormat: 'dd-mm-yy' });
    $( "#to" ).datepicker({ dateFormat: 'dd-mm-yy' });
  } );
  </script>
