<div class="portlet box blue">
               <div class="page-content portlet-body" >
  <div class="content-new">
      <div class="row">
        <div class="col-xs-12">
          <h3 class="page-title">Upload License
 <a href="<?php echo Router::url('/');?>admin/compliance/new_upload_store_lic/" class="btn  notfinew default btn-xs red-stripe"  ><i class="fa fa-plus"></i> Add New</a>
</h3> 	

        </div>
      </div>
    </div>
    <!-- top header ends -->
    <!-- submit form -->
   <div class="content-new">
      <div class="row">
        <div class="col-xs-12">
          <div class="lottery_setting clearfix">
            <!-- hedaing title -->
            <div class="confirm_heading clearfix">
           
            </div>
            <!-- heading title ends-->
         
          </div>
        </div>
      </div>
  <div class="table-responsive">
                                <table class="table table-striped table-bordered table-advance table-hover">
                                    <thead>
                                        <tr>
                                       
                                     <th><?php echo __($this->Paginator->sort('License Name'));?>  </th>
                                            <th><?php echo $this->Paginator->sort('Store'); ?></th>
                                            <th><?php echo $this->Paginator->sort('message'); ?></th>
                                            <th><?php echo $this->Paginator->sort('attachment'); ?></th>
                                                 <th><?php echo $this->Paginator->sort('Action'); ?></th>
                                            
                                         
                                              </tr>
                                    </thead>
                                    <tbody>
                               <?php         if (isset($list) && !empty($list)) { 
							   
						
				$ms = "'Are you sure want delete it?'"; $u = 1;
                                             foreach ($list as $data) { 
                                               echo '<tr>
                                                      
                                                      <td>'.$data["ComplianceUploadstores"]["license_name"].'</td>
                                                    <td>'.$data["ComplianceUploadstores"]["store_name"].'&nbsp;</td>
                                                    <td>'.$data["ComplianceUploadstores"]["message"].'&nbsp;</td>
                                        <td>
										<a href="'.Router::url('/').'/files/'.$data["ComplianceUploadstores"]["store_file"].'"   target="_blank" download=""><i class="fa fa-download"></i></a>
										<a href="https://docs.google.com/gview?url=http://aplus1.net'.Router::url('/').'files/'.$data["ComplianceUploadstores"]["store_file"].'"   target="_blank"><i class="fa fa-eye"></i></a> &nbsp;';
                                                    ?>
                                          
													 </td>
													 <?php
                                                 	echo ' <td>   
													
													<a href="'.Router::url('/').'admin/compliance/edit_upload_store_lic/'.$data["ComplianceUploadstores"]["id"].'" class="btn default btn-xs red-stripe"><i class="fa fa-pencil"></i></a>
													<a href="'.Router::url('/').'admin/compliance/upload_store_lic/'.$data["ComplianceUploadstores"]["id"].'"  onClick="return confirm('.$ms.');" class="btn default btn-xs red-stripe" ><i class="fa fa-trash"></i></a>
												';
												echo '</td>
                                               
												</tr>';
												     $u++;  
											}
                                       
                                       } else { 
                                           echo ' <tr>
                                                <td colspan="10">  no result found </td>
                                            </tr>';
                                        } ?>
                                    </tbody>
                                </table>
                            </div>
                            </div>
                           
 
<script type="text/javascript" charset="utf-8">
   $(document).ready(function () {

	$('#expiry').Zebra_DatePicker();
	});
	
	function printfile(id){

           document.getElementById('loaderFrame'+id).contentWindow.print();
            return false;
	}
	</script>