<?php
//pr($data);die;
//echo $filename;die;

App::import('Vendor','xtcpdf');
 
//$pdf = new XTCPDF('L', PDF_UNIT, 'A4', true, 'UTF-8', false);
$pdf = new TCPDF(PDF_PAGE_ORIENTATION, PDF_UNIT, PDF_PAGE_FORMAT, true, 'UTF-8', false);

$pdf->SetTopMargin(10);
$pdf->setPrintHeader(false);
$pdf->SetFooterMargin(0);
$pdf->setPrintFooter(false);
$pdf->setCellPaddings(0,0,0,0);
$pdf->SetAutoPageBreak(TRUE);
$pdf->AddPage();

$html='<html>
		<head></head>
		<body>
		<div>		
		<table border="0" >
			';
			$i = 0;
			foreach($data as $dat){
				$barimage =  WWW_ROOT . DS . $dat['barimage'];			
				if ($i % 4 == 0){
					$html.= '<tr>';
				}
				$html.=  '<td align="center"><img src="'.$barimage.'" alt="" height="37.5" width="148" /></td>';
				if ($i % 4 == 3){
					$html.= '</tr>';
				}
				$i++;
			}
			if ($i % 4 != 0){
				$html.= '</tr>';
			}

			$html.=	
			'		 
		</table>		
		</div>
		</body>
		</html>';
//echo $html; die;

$pdf->writeHTML($html, true, false, true, false, '');
 
$pdf->lastPage();
 
$full_path = WWW_ROOT . 'files/pdf' . DS . $filename;
$pdf->Output($full_path, 'FD');
exit();
?>
<style>table:last-child {page-break-after:auto;}</style>
<?php
