<?php
//echo '<pre>'; print_r($data);
//echo $data[0]['page_no'];
//die;
//echo $filename;die;
App::import('Vendor','xtcpdf'); 
//$pdf = new XTCPDF('L', PDF_UNIT, 'A4', true, 'UTF-8', false);
$pdf = new TCPDF(PDF_PAGE_ORIENTATION, PDF_UNIT, PDF_PAGE_FORMAT, true, 'UTF-8', false);
$pdf->SetTopMargin(10);
$pdf->setPrintHeader(false);
$pdf->SetFooterMargin(10);
$pdf->setPrintFooter(false);
$pdf->setCellPaddings(0,0,0,0);
$pdf->SetAutoPageBreak(TRUE);
$pdf->AddPage();

$page_no = $data[0]['page_no'];
$total_bar = ($page_no*80); //echo 'hhh'.$total_bar; die;

$html='<html>
		<head></head>
		<body>			
			<table border="0" >';
			$i = 0;
			for($j=1; $j<=$total_bar; $j++){
				$barimage =  WWW_ROOT . DS . $data[0]['barimage'];			
				if ($i % 4 == 0){
					$html.= '<tr>';
				}
			    $html.=  '<td align="center"><img src="'.$barimage.'" alt="" height="40" width="148" /></td>';
				if ($i % 4 == 3){
					$html.= '</tr>';
				}
				$i++;
			}
			if ($i % 4 != 0){
				$html.= '</tr>';
			}

			$html.=	
			'		 
		</table>
		
		</body>
		</html>';
//echo $html; die;

$pdf->writeHTML($html, true, false, true, false, '');
 
$pdf->lastPage();
 
$full_path = WWW_ROOT . 'files/pdf' . DS . $filename;
$pdf->Output($full_path, 'FD');
exit();
?>
<style>table:last-child {page-break-after:auto;}</style>
<?php
