<div class="row">
	<div class="col-md-12 page-404">
		
		<div class="details">
			<img src="http://aplus1.net/backoffice/images/coming-soon-2.jpg" alt="Coming Soon version 1.2"/>
		
		</div>
	</div> 
</div>