
<div class="page-content-wrapper">
<div class="portlet box blue">
               <div class="page-content portlet-body" >
		<div class="rubyDcrstats index">
			<h3 class="page-title"><?php echo __('Ruby Deptotals'); ?></h3>   
			
			 <div class="row">
              <!--<div class="col-md-3">
	<label>From:</label>
	<input type="text" class="form-control" placeholder="Select From Date" id="from" value="<?php if(isset($startdate)) echo date("m-d-Y", strtotime($startdate)); ?>">
</div>-->

<div class="col-md-3">
	<label>Update Date:</label>
	<input type="text" class="form-control" placeholder="Select To Date" id="to"  value="<?php if(isset($enddate)) echo date("m-d-Y", strtotime($enddate));  ?>">
</div>

		<!--<div class="col-md-4 top-space">
                      <label>Filter by:</label>
					  <?php echo $this->Form->input('department_number', array('options' => $rdepartments, 'div' => false)); ?>
                    </div> -->
					
		    <div class="col-md-2 middel-space top-space">
                      <label>&nbsp;</label>
                      <button type="button" class="btn btn-block btn-info tank-filter" onclick="filter_utank();">Filter</button>
                    </div>
                    <div class="col-md-2 middel-space top-space">
                      <label>&nbsp;</label>
			<button type="button" class="btn btn-info btn-block dropdown-toggle pull-right action-text tank-filter" data-toggle="dropdown">Action <span class="caret"></span></button>
   		  <ul class="dropdown-menu btn-block icons-right dropdown-menu-right">
        
         		<li><a href="#" target="_blank"><i class="icon-link"></i> Save as pdf</a></li>
        	        <li><a href="#" target="_blank"><i class="icon-link"></i> Save as xls</a></li>
                  </ul>
               </div>  
            </div>
			<br>
			<div class="row">
				<div class="col-md-12">
					<div class="block-inner clearfix tooltip-examples">
					
						<div class="datatable">
						<table class="table table-striped table-bordered table-advance table-hover" id="example">
						<thead>
						<tr>
								<th><?php echo $this->Paginator->sort('beginning_date_time'); ?></th>
								<th><?php echo $this->Paginator->sort('ending_date_time'); ?></th>
								<th><?php echo $this->Paginator->sort('department_number'); ?></th>
								<th><?php echo $this->Paginator->sort('number_of_trasactions'); ?></th>
								<th><?php echo $this->Paginator->sort('number_items'); ?></th>
								<th><?php echo $this->Paginator->sort('net_sales'); ?></th>
						</tr>
						</thead>
						<tbody>
						<?php foreach ($rubyDeptotals as $rubyDeptotal): ?>
						<tr>
							<td><?php echo h($rubyDeptotal['RubyDeptotal']['beginning_date_time']); ?>&nbsp;</td>
							<td><?php echo h($rubyDeptotal['RubyDeptotal']['ending_date_time']); ?>&nbsp;</td>
							<td><?php echo @$rdepartments[$rubyDeptotal['RubyDeptotal']['department_number']]; ?>&nbsp;</td>
							<td><?php echo h($rubyDeptotal['RubyDeptotal']['number_of_trasactions']); ?>&nbsp;</td>
							<td><?php echo h($rubyDeptotal['RubyDeptotal']['number_items']); ?>&nbsp;</td>
							<td><?php echo h($rubyDeptotal['RubyDeptotal']['net_sales']); ?>&nbsp;</td>
							
						</tr>
					<?php endforeach; ?>
                    
                    <tr>
                        <td><p style="display:none;">Total Net Sales</p></td> 
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><b>Total Net Sales</b></td>
                        <td><b><?php echo $total[0][0]['ctotal']; ?></b></td>
                    </tr>
						</tbody>
						</table>
                       
						<p>
						<?php
						echo $this->Paginator->counter(array(
							'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
						));
						?>	</p>
						<div class="paging">
						<?php
							echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
							echo $this->Paginator->numbers(array('separator' => ''));
							echo $this->Paginator->next(__('next') . ' >', array(), null, array('class' => 'next disabled'));
						?>
						</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
</div>

<script type="text/javascript" charset="utf-8">
	var webroot='<?php echo $this->webroot;?>';
	function filter_utank() {	
		var from_date=$('#from').val();
		var to_date=$('#to').val();
		
		var department_number=$('#department_number').val();
		//$('#loaderdiv').show();
		$.ajax({
			type : 'POST',
			url : webroot+'ruby_deptotals/index/',
			dataType : 'html',
			data: {from_date:from_date,to_date:to_date,department_number:department_number},
			success:function(result){
				//alert(result);
				//$("#example_info").hide();example_filter
				//$("#example_paginate").hide();
				//$("#example_filter").hide();
				//$("#example_length").hide();
				//$(".col-md-2").hide();
				$("#filter").show();
				$("#example").html(result);
			}});
	}
</script>
<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
	  $('#example').DataTable( {
        "pageLength": 50
    } );
		//$('#from').Zebra_DatePicker({direction: -1,format:"m-d-Y",pair: $('#to')});
		//$('#to').Zebra_DatePicker({format:"m-d-Y"});
	});
</script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> 
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#to" ).datepicker({ dateFormat: 'mm-dd-yy' });
  } );
  </script>