<?php
$rdepartments =  ClassRegistry::init('RubyDepartment')->find('list', array('fields' => array('number', 'name')));
$description =  ClassRegistry::init('RGroceryItem')->find('list', array('fields' => array('plu_no', 'description')));

$depart =  ClassRegistry::init('RGroceryItem')->find('list', array('fields' => array('plu_no', 'r_grocery_department_id'),'conditions'=>array('store_id'=>$this->Session->read('stores_id'))));
?> 
		
			
					<!-- BEGIN SAMPLE TABLE PORTLET-->
					<div class="portlet box blue">
						<div class="portlet-body col-md-12">
			 <form method="post" action=""> 
			
	 <div class=" col-md-4">
			<?php include('test.ctp'); ?>
	</div>
		 <div class=" col-md-4">
			<?php echo $this->Form->input('department', array('id' => 'department', 'class' => 'form-control','type' => 'select', 'options'=>$rdepartments,'empty'=>'All Departments','label' => false,'required' => false)); ?>

	</div>

	<div class=" col-md-4">
				 <button name="getdata" class="btn btn-success" type="submit"><i class="fa fa-arrow-left fa-fw"></i> Get Report</button>
				
		</div>
				
               
						    <?php echo $this->form->end(); ?>
						
							
		</div>
					<!-- END SAMPLE TABLE PORTLET-->
	</div>

<div class="row">&nbsp;</div>
<div class="portlet box blue">
						<div class="portlet-title col-md-12">
							<div class="caption">
								<i class="fa fa-cogs"></i> Department Sales
							</div>
							<!--	<div class="tools">
								<a href="javascript:;" class="collapse">
								</a> </div>	
							-->
<div class="caption pull-right">
																<i class="fa fa-print fa-2x"></i>					<i class="fa fa-download fa-2x"></i>					<i class="fa fa-file fa-2x"></i>												
							</div>
						</div>
						<div class="portlet-body">
							
                     
					
                            <div class="datatable">
                             		<table class="table table-striped table-bordered table-advance table-hover" id="example">
						<thead>
						<tr>
								<th><?php echo $this->Paginator->sort('Department'); ?></th>
								<th><?php echo $this->Paginator->sort('Dept ID '); ?></th>
								<th><?php echo $this->Paginator->sort('Gross '); ?></th>
								<th><?php echo $this->Paginator->sort('Discount '); ?></th>
								<th><?php echo $this->Paginator->sort('Promotion'); ?></th>
								<th><?php echo $this->Paginator->sort('Refund'); ?></th>
								<th><?php echo $this->Paginator->sort('Void'); ?></th>
								<th><?php echo $this->Paginator->sort('Net Sales '); ?></th>
						</tr>
						</thead>
						<tbody>
						<tr><td colspan="8">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                          <h3>No data exists for this report criteria.</h3>
                          <h4>Try running the report again with different criteria values.</h4>
                        </div>
						</td></tr>
						</tbody>
						</table>
                            </div>
                           
            </div>
						</div>
						
						
						<?php
$rdepartments =  ClassRegistry::init('RubyDepartment')->find('list', array('fields' => array('number', 'name')));
?>

<script type="text/javascript" charset="utf-8">
	var webroot='<?php echo $this->webroot;?>';
	function filter_utank() {	
		var from_date=$('#from').val();
		var to_date=$('#to').val();
		
		var department_number=$('#department_number').val();
		//$('#loaderdiv').show();
		$.ajax({
			type : 'POST',
			url : webroot+'ruby_deptotals/index/',
			dataType : 'html',
			data: {from_date:from_date,to_date:to_date,department_number:department_number},
			success:function(result){
				//$("#example_info").hide();example_filter
				//$("#example_paginate").hide();
				//$("#example_filter").hide();
				//$("#example_length").hide();
				//$(".col-md-2").hide();
				$("#filter").show();
				$("#example").html(result);
			}});
	}
</script>
<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
	 /* $('#example').DataTable({
	  "bPaginate": false,
	   aaSorting: [[5, 'desc']]
	  });*/
		$('#from').Zebra_DatePicker({direction: -1,format:"m-d-Y",pair: $('#to')});
		$('#to').Zebra_DatePicker({direction: 1,format:"m-d-Y"});
		
		    
	});
</script>
<style>
#example th,#example td{
width:100px!important;}
body{
font-size:12px;}
</style>